<div id="feedback" class="container">
    <div class="pull-right">
        <h2 class="panel-title" style="margin-bottom:0">{{ processFeedback.submission.feedback_date | date:'longDate' }}</h2>
    </div>
    <div style="padding-top:20px">
            <h1><a href="#/feedback">Feedback</a> &raquo; for {{ processFeedback.submission.subject.full_name }}</h1>
            <div class="panel" style="min-height:auto">
                <form name="processFeedback.form">
                    <h3 class="panel-title" >{{ processFeedback.questions.excelsAtQuestion }}</h3>
                    <table class="table table-striped" style="margin-bottom:45px">
                        <thead>
                            <tr>
                              <th style="width:20%"></th>
                              <th class="centered" style="width:65%"></th>
                              <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="processFeedback.submission.excels_at">
                                <td class="centered">
                                    <span class="large-headshot" style="margin: 10px auto 5px;">
                                        <img class="headshot-image" ng-src="{{ processFeedback.submission.reviewer.avatar_small }}" alt="{{ processFeedback.submission.reviewer.full_name }}'s avatar" />
                                    </span>
                                    <strong>{{ processFeedback.submission.reviewer.full_name }}</strong>
                                    <span ng-show="processFeedback.submission.anonymous" class="tag tag-anonymous pull-right">Anonymous</span>
                                </td>
                                <td style="padding:20px">
                                    <span ng-bind-html="processFeedback.submission.excels_at | new_line"></span>
                                    <div ng-show="processFeedback.submission.excels_at_helpful.date">
                                        <div class="comment-text">
                                            <div style="background:#fff;padding:20px; margin-top:25px">
                                                <div class="activity-header pull-left">
                                                    <div class="activity-owner-avatar-container">
                                                        <span class="medium-headshot"><img class="headshot-image" ng-src="{{ processFeedback.submission.subject.avatar_small }}" alt="{{ processFeedback.submission.subject.full_name }}'s avatar" /></span>
                                                    </div>
                                                </div>
                                                <div class="activity-description" style="margin: 0 0 15px 68px;">
                                                    <strong>{{ processFeedback.submission.subject.full_name }}</strong> said {{ processFeedback.submission.excels_at_helpful.date | fromNow }}
                                                    <div class="helpfulness-tag">👍{{ submission.excels_at_helpful.helpfulness_verbose }}</div>

                                                    <p style="margin-top:15px;">{{ processFeedback.submission.excels_at_helpful.reason }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <h3 class="panel-title" >{{ processFeedback.questions.couldImproveOnQuestion }}</h3>
                    <table class="table table-striped" style="margin-bottom:45px">
                        <thead>
                            <tr>
                              <th style="width:20%"></th>
                              <th class="centered" style="width:65%"></th>
                              <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="processFeedback.submission.could_improve_on">
                                <td class="centered">
                                    <span class="large-headshot" style="margin: 10px auto 5px;">
                                        <img class="headshot-image" ng-src="{{ processFeedback.submission.reviewer.avatar_small }}" alt="{{ processFeedback.submission.reviewer.full_name }}'s avatar" />
                                    </span>
                                    <strong>{{ processFeedback.submission.reviewer.full_name }}</strong>
                                    <span ng-show="processFeedback.submission.anonymous" class="tag tag-anonymous pull-right">Anonymous</span>
                                </td>
                                <td style="padding:20px">
                                    <span ng-bind-html="processFeedback.submission.could_improve_on | new_line"></span>
                                    <div ng-show="processFeedback.submission.could_improve_on_helpful.date">
                                        <div class="comment-text">
                                            <div style="background:#fff;padding:20px; margin-top:25px">
                                                <div class="activity-header pull-left">
                                                    <div class="activity-owner-avatar-container">
                                                        <span class="medium-headshot"><img class="headshot-image" ng-src="{{ processFeedback.submission.subject.avatar_small }}" alt="{{ processFeedback.submission.subject.full_name }}'s avatar" /></span>
                                                    </div>
                                                </div>
                                                <div class="activity-description" style="margin: 0 0 15px 68px;">
                                                    <strong>{{ processFeedback.submission.subject.full_name }}</strong> said {{ processFeedback.submission.could_improve_on_helpful.date | fromNow }}
                                                    <div class="helpfulness-tag">👍{{ submission.could_improve_on_helpful.helpfulness_verbose }}</div>

                                                    <p style="margin-top:15px;">{{ processFeedback.submission.could_improve_on_helpful.reason }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <button class="btn btn-default" type="button" ng-click="processFeedback.back()">&larr; Back</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>