<div id="feedback" class="container" data-hj-masked>
    <div>
        <a href="" ng-click="feedback.showWelcome()" data-toggle="modal" data-target=".feedback-welcome-modal" class="pull-right show-welcome-modal">Show welcome message</a>
        <h1>Feedback
            <div class="button-group">
                <button class="btn btn-success btn-feedback" ng-click="feedback.requestFeedback()" type="button"><i class="fa fa-comment"></i> Ask <span class="hide-for-mobile">for Feedback</span></button>
                <button class="btn btn-success btn-feedback" ng-click="feedback.giveUnsolicitedFeedback()" type="button"><i class="fa fa-pencil"></i> Give <span class="hide-for-mobile">Feedback</span></button>
            </div>
        </h1>
    </div>  
    <div class="panel panel-empty fade-in" ng-show="feedback.showEmptyScreen">
        <img class="grumpycat" src="../static/images/grumpycat.png" alt="Grumpy Cat" />
        <h2>"Mmmmeeh... i see you don't have any activity yet. Use the buttons above or these links to 
            <a href="" ng-click="feedback.requestFeedback()">ask for feedback</a> or 
            <a href="" ng-click="feedback.giveUnsolicitedFeedback()">give someone feedback</a>.""
        </h2>
    </div>    
    
    <!-- Feedback successfully sent message -->
    <div ng-class="{'slide-up-active': hideMessage}" class="alert alert-success slide-up" role="alert" ng-show="successMessage">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <i class="fa fa-paper-plane sent-icon"></i>
        <h2 class="alert-title">Congratulations!</h2>
        <p class="alert-message">Your feedback is in-flight and will be delivered to {{ successMessageRecipient.full_name }}'s feedback coach.</p>    
    </div>

    <!-- Feedback request message -->
    <div ng-class="{'slide-up-active': hideRequestMessage}" class="alert alert-success slide-up" role="alert" ng-show="successRequestMessage">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <i class="fa fa-paper-plane sent-icon"></i>
        <h2 class="alert-title">Request<span ng-show="successRequestMessageRecipient.length>1">s</span> Sent!</h2>
        <p class="alert-message">
            Your request for feedback has been sent to 
            <span ng-repeat="employee in successRequestMessageRecipient">{{ employee.full_name }}{{$last ? '' : ($index==successRequestMessageRecipient.length-2) ? ' and ' : ', '}}</span>.
        </p>    
    </div>
    <div class="panel" ng-show="feedback.myDigests.length>0">
        <table class="table responsive-table">
            <caption class="panel-title">
                My Feedback
            </caption>
            <thead>
                <tr>
                    <th scope="col" class="width-15-percent">Delivered</th>
                    <th scope="col" class="width-45-percent">Summary</th>
                    <th scope="col" class="width-15-percent">Coach</th>
                    <th scope="col" class="width-15-percent centered">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="digest in feedback.myDigests | orderBy:'delivery_date':true">
                    <td class="timeago">{{ digest.delivery_date | fromNow }}</td>
                    <td>{{ digest.summary }}</td>
                    <td>
                        <span class="tiny-headshot">
                            <img class="headshot-image" ng-src="{{ digest.delivered_by.avatar_small }}" alt="{{ digest.delivered_by.full_name }}'s avatar" />
                        </span>
                        <span>{{ digest.delivered_by.full_name }}</span>
                    </td>
                    <td class="centered">
                        <a class="btn btn-default btn-md give-feedback-btn" ng-href="#/feedback/{{ digest.id }}" type="button">
                            <i class="fa fa-eye"></i> View Feedback
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="panel" ng-show="feedback.feedbackRequests.length>0">
        <table class="table responsive-table">
            <caption class="panel-title">
                {{ feedback.feedbackRequests.length }} 
                <span ng-show="feedback.feedbackRequests.length == 1">Person wants</span> 
                <span ng-show="feedback.feedbackRequests.length != 1">People want</span> 
                feedback
            </caption>
            <thead>
                <tr>
                  <th scope="col" class="width-15-percent">Person</th>
                  <th scope="col" class="width-15-percent">Sent</th>
                  <th scope="col" class="width-40-percent hide-for-mobile-and-tablet">Where they'd like feedback</th>
                  <th scope="col" class="width-15-percent centered">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="request in feedback.feedbackRequests | orderBy:'request.requester.full_name'">
                    <td>
                        <span class="tiny-headshot">
                            <img class="headshot-image" ng-src="{{ request.requester.avatar_small }}" alt="{{ request.requester.full_name }}'s avatar" />
                        </span>  
                        <span>{{ request.requester.full_name }}</span>
                    </td>
                    <td class="timeago">{{ request.request_date | fromNow }}</td>
                    <td class="message hide-for-mobile-and-tablet">{{ request.message }}</td>    
                    <td class="right-align">
                        <a class="btn btn-default btn-md give-feedback-btn" ng-href="#/feedback/request/{{ request.id }}/reply/" type="button">
                            <i class="fa fa-pencil"></i> Give Feedback
                        </a>
                    </td>
                </tr>
                <tr ng-show="!feedback.feedbackRequests.length">
                    <td colspan="4">You currently don't have any requests for feedback.</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel" ng-show="feedback.myRecentlySentRequests.length">
        <table class="table responsive-table">
            <caption class="panel-title">People I've asked for feedback</caption>
            <thead>
                <tr>
                  <th scope="col" class="width-15-percent">Person</th>
                  <th scope="col" class="width-15-percent">Sent</th>
                  <th scope="col" class="width-40-percent hide-for-mobile-and-tablet">Where you'd like feedback</th>
                  <th scope="col" class="width-15-percent centered">Completed</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="request in feedback.myRecentlySentRequests | reverse">
                    <td>
                        <span class="tiny-headshot">
                            <img class="headshot-image" ng-src="{{ request.reviewer.avatar_small }}" alt="{{ request.reviewer.full_name }}'s avatar" />
                        </span>
                        <span>{{ request.reviewer.full_name }}</span>
                    </td>
                    <td class="timeago">
                        {{ request.request_date | fromNow }}
                    </td>
                    <td class="message hide-for-mobile-and-tablet">
                        <p style="white-space:pre-line">{{ request.message }}</p>
                    </td>                          
                    <td class="centered">
                        <i ng-show="{{ request.has_been_answered }}" class="fa fa-check" title="Completed"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel" ng-show="feedback.mySubmissions.length">
        <h2 class="panel-title">People I've given feedback to
            <i class="fa fa-chevron-down pull-right collapse-toggle" ng-show="!feedback.collapseFeedbackGiven" ng-click="feedback.toggleCollapse()"></i>
            <i class="fa fa-chevron-right pull-right collapse-toggle" ng-show="feedback.collapseFeedbackGiven" ng-click="feedback.toggleCollapse()"></i>
        </h2>
        <div collapse="feedback.collapseFeedbackGiven">
            <table class="table responsive-table">
                <thead>
                    <tr>
                      <th scope="col" class="width-20-percent">Person</th>
                      <th scope="col" class="width-20-percent">Sent</th>
                      <th scope="col" class="width-10-percent hide-for-mobile-and-tablet centered">Anonymous</th>
                      <th scope="col" class="width-10-percent hide-for-mobile-and-tablet centered">Delivered</th>
                      <th scope="col" class="width-20-percent hide-for-mobile-and-tablet centered">Helpful?</th>
                      <th scope="col" class="width-20-percent centered">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="submission in feedback.mySubmissions | reverse">
                        <td>
                            <span class="tiny-headshot">
                                <img class="headshot-image" ng-src="{{ submission.subject.avatar_small }}" alt="{{ submission.subject.full_name }}'s avatar" />
                            </span>
                            {{ submission.subject.full_name }}
                        </td>
                        <td class="timeago">
                            {{ submission.feedback_date | fromNow }}
                        </td>
                        <td class="centered hide-for-mobile-and-tablet">
                            <i ng-show="{{ submission.anonymous }}" class="fa fa-check" title="Anonymous"></i>
                        </td>
                        <td class="centered hide-for-mobile-and-tablet">
                            <i ng-show="{{ submission.has_been_delivered }}" class="fa fa-check" title="Delivered"></i>
                        </td>
                        <td class="centered hide-for-mobile-and-tablet">
                            <span ng-show="submission.excels_at_helpful || submission.could_improve_on_helpful">
                                <a href="#/feedback/submission/{{ submission.id }}/">yes</a>
                            </span>
                        </td>
                        <td class="centered">
                            <a class="btn btn-default btn-md btn-view-feedback" ng-href="#/feedback/submission/{{ submission.id }}/" type="button">
                                <i class="fa fa-eye"></i> View Feedback
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>