<div class="profile" ng-if="profile.employee">
    <div style="height: 46px;">
        <div class="pull-right"  ng-if="profile.filter.self && profile.filter.view=='employee'">
            <button ng-class="{'btn-success': profile.filter.type!='checkin', 'btn-default': profile.filter.type=='checkin'}" style="height: 35px;padding: 4px 20px;" class="btn" ng-click="profile.requestFeedback()" type="button"><i class="fa fa-send"></i> Ask<span class="hide-for-mobile"> for Feedback</span></button>
            <button ng-class="{'btn-default': profile.filter.type!='checkin', 'btn-success': profile.filter.type=='checkin'}" style="height: 35px;padding: 4px 20px;" class="btn btn-default" ng-click="profile.requestCheckIn()" type="button"><i class="fa fa-check"></i> Request<span class="hide-for-mobile"> Check-In</span></button>
        </div>
        <div class="pull-right" style="height: 40px;" ng-if="profile.filter.self && profile.filter.view!='employee'">
            <a ng-class="{'btn-success': profile.filter.type=='feedbackdigest', 'btn-default': profile.filter.type!='feedbackdigest'}" style="height: 35px;padding: 6px 20px;" class="btn" ng-href="#/feedback/submit/" type="button"><i class="fa fa-send"></i> Give Feedback</a>
            <a ng-class="{'btn-success': profile.filter.type!='feedbackdigest', 'btn-default': profile.filter.type=='feedbackdigest'}" style="height: 35px;padding: 6px 20px;" class="btn" ng-href="#/checkin/" type="button"><i class="fa fa-check"></i> Check-In</a>
        </div>
        <div class="pull-right" style="height: 40px;" ng-if="!profile.filter.self && profile.filter.view=='employee'">
            <a ng-class="{'btn-success': profile.filter.type!='checkin', 'btn-default': profile.filter.type=='checkin'}" class="btn" style="height: 35px;padding: 6px 20px;" ng-href="#/feedback/submit/{{profile.filter.employee.id}}" type="button"><i class="fa fa-send"></i> Give Feedback</a>
            <a ng-class="{'btn-default': profile.filter.type!='checkin', 'btn-success': profile.filter.type=='checkin'}" class="btn" style="height: 35px;padding: 6px 20px;" ng-href="#/checkin/{{profile.filter.employee.id}}" type="button"><i class="fa fa-check"></i> Check-In</a>
        </div>
        <tabset class="profile-tabs" ng-show="(profile.employee.is_lead && profile.employee.requester_has_access_to_team) || (profile.employee.is_coach && profile.employee.requester_has_access_to_coachees)">
            <!-- tabs for profile view -->
            <tab ng-if="!profile.filter.self" index="0" heading="Profile" select="profile.filterCommentsByView('employee')"></tab>
            <tab ng-if="!profile.filter.self" index="1" ng-show="profile.employee.is_lead && profile.employee.requester_has_access_to_team" heading="Team" select="profile.filterCommentsByView('leader')"></tab>
            <tab ng-if="!profile.filter.self" index="2" ng-show="profile.employee.is_coach && profile.employee.requester_has_access_to_coachees" heading="Coachees" select="profile.filterCommentsByView('coach')"></tab>
            <!-- tabs for self view -->
            <tab ng-if="profile.filter.self" index="0" heading="Me" select="profile.filterCommentsByView('employee')"></tab>
            <tab ng-if="profile.filter.self" index="1" ng-show="profile.employee.is_lead" heading="My Team" select="profile.filterCommentsByView('leader')"></tab>
            <tab ng-if="profile.filter.self" index="2" ng-show="profile.employee.is_coach" heading="My Coachees" select="profile.filterCommentsByView('coach')"></tab>
        </tabset>
    </div>
    <div class="profile-demographic panel" ng-class="{'has-top-tabs': (profile.employee.is_lead && profile.employee.requester_has_access_to_team) || (profile.employee.is_coach && profile.employee.requester_has_access_to_coachees), 'profile-tab-selected': profile.filter.view=='employee'}">
        <div class="xxlarge-avatar-container" style="display: inline-block;">
            <div class="xxlarge-headshot centered">
                <img ng-src="{{ profile.employee.avatar }}" alt="{{ profile.employee.full_name }}'s avatar" class="headshot-image" />
            </div>
        </div>
        <div class="profile-info-container" style="display: inline-block;width: 504px;">
            <h2 class="profile-info-lablel">{{profile.employee.full_name}}</h2>
            <div class="profile-info-sub-lablel">
                <a href data-toggle="modal" data-target="#distributions-modal" style="color: #aaa;">
                    More about
                    <span ng-if="profile.filter.self && profile.filter.view=='employee'">Me</span>
                    <span ng-if="profile.filter.self && profile.filter.view!='employee'">My</span>
                    <span ng-if="!profile.filter.self && profile.filter.view=='employee'">{{profile.employee.first_name}}</span>
                    <span ng-if="!profile.filter.self && profile.filter.view!='employee'">{{profile.employee.first_name}}'s</span>
                    <span ng-if="profile.filter.view=='leader'">Team</span>
                    <span ng-if="profile.filter.view=='coach'">Coachees</span>
                    <span class="fa fa-info-circle" style="font-size:17px"></span>
                </a>
            </div>
            <div class="profile-info-sub-lablel"></div>
        </div>
        <div class="activity-filters">
            <div class="activity-filter-item" ng-class="{'selected': profile.filter.type==null}" ng-click="profile.filterCommentsByType(null)"><span class="fa fa-globe activity-filter-item-icon"></span><span class="activity-filter-item-label">All</span></div>
            <div class="activity-filter-item" ng-class="{'selected': profile.filter.type=='checkin'}" ng-click="profile.filterCommentsByType('checkin')"><span class="fa fa-check activity-filter-item-icon"></span><span class="activity-filter-item-label">Check-Ins</span></div>
            <div class="activity-filter-item" ng-class="{'selected': profile.filter.type=='feedbackdigest'}" ng-click="profile.filterCommentsByType('feedbackdigest')"><span class="fa fa-send activity-filter-item-icon"></span><span class="activity-filter-item-label">Feedback</span></div>
            <div class="activity-filter-item" ng-class="{'selected': profile.filter.type=='employeezone'}" ng-click="profile.filterCommentsByType('employeezone')"><span class="fa fa-heartbeat activity-filter-item-icon"></span><span class="activity-filter-item-label">ID</span></div>
            <div ng-if="!profile.filter.self" class="activity-filter-item" ng-class="{'selected': profile.filter.type=='comment'}" ng-click="profile.filterCommentsByType('comment')"><span class="fa fa-pencil-square-o activity-filter-item-icon"></span><span class="activity-filter-item-label">Notes</span></div>
            <div ng-repeat="third_party in profile.third_parties" class="activity-filter-item" ng-class="{'selected': profile.filter.third_party==third_party.name}" ng-click="profile.filterCommentsByThirdParty(third_party.name)"><img ng-src="{{ third_party.image_url }}" alt="Third party image" class="activity-filter-item-icon"/><span class="activity-filter-item-label">{{third_party.name}}</span></div>
        </div>
    </div>

    <div ng-controller="ActivityCtrl" data-show-header="false">
        <div ng-include="'/static/angular/activity/partials/activity.html'"></div>
    </div>
</div>
<div class="checkin" ng-if="!profile.employee">
    <div class="panel panel-empty fade-in" style="background-color: inherit;">
        <img class="grumpycat" src="../static/images/grumpycat.png" alt="Grumpy Cat" />
        <h2>"Mmmmeeh... you don't have access to this page"</h2>
    </div>
</div>

<div class="modal fade in" id="distributions-modal" data-keyboard="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-body">
                <div ng-if="profile.filter.view=='employee'" ng-include="'/static/angular/profile/partials/_widgets/employee-summary.html'"></div>
                <div ng-if="profile.filter.view=='leader'" ng-include="'/static/angular/profile/partials/_widgets/leader-summary.html'"></div>
                <div ng-if="profile.filter.view=='coach'" ng-include="'/static/angular/profile/partials/_widgets/coach-summary.html'"></div>
            </div>
        </div>
    </div>
</div>