<div class="profile">
    <div class="profile-demographic panel">
        <div class="large-avatar-container">
            <div class="xxxlarge-headshot">
                <img ng-src="{{ profile.employee.avatar }}" alt="{{ profile.employee.full_name }}'s avatar" class="headshot-image" />
            </div>
            <div class="employee-attribute employee-attribute-large" rel="tooltip" data-toggle="tooltip" data-placement="right" data-original-title="{{ talentCategories[profile.employee.talent_category].label }}">
                <span class="segment employee-segment-background-color-{{profile.employee.talent_category}}"></span>
            </div>

            <div class="employee-attribute employee-attribute-large employee-happiness-large" rel="tooltip" data-toggle="tooltip" data-placement="right" data-original-title="{{ talentCategories[profile.employee.talent_category].label }}">
                <span class="employee-happiness-background-color-{{profile.employee.happiness}} happiness-{{profile.employee.happiness}}"></span>
            </div>
        </div>
        <div class="activity-filters">
            <div class="activity-filter-item"><span class="fa fa-globe activity-filter-item-icon"></span><span class="activity-filter-item-label">All</span></div>
            <div class="activity-filter-item"><span class="fa fa-check activity-filter-item-icon"></span><span class="activity-filter-item-label">Check-Ins</span></div>
            <div class="activity-filter-item"><span class="fa fa-send activity-filter-item-icon"></span><span class="activity-filter-item-label">Feedback</span></div>
            <div class="activity-filter-item"><span class="fa fa-heartbeat activity-filter-item-icon"></span><span class="activity-filter-item-label">ID</span></div>
            <div class="activity-filter-item"><span class="fa fa-pencil-square-o activity-filter-item-icon"></span><span class="activity-filter-item-label">Notes</span></div>
            <div class="activity-filter-item"><span class="glyphicon-regular glyphicon-dumbell activity-filter-item-icon"></span><span class="activity-filter-item-label">Strengths</span></div>
        </div>
    </div>
    <div ng-controller="ActivityCtrl" data-view="me">
        <div ng-include="'/static/angular/activity/partials/activity.html'"></div>
    </div>
</div>

<style>
    .profile {
        max-width: 700px;
  	    margin: 40px auto;
    }
    .profile .large-avatar-container {
        margin: 0;
    }
    .profile .profile-demographic {
        padding: 0;
        border: 1px solid #D0D3D6;
    }
    .profile .activity.panel {
        padding: 0px;
        background-color: transparent;
    }

    .profile .activity-items {
        margin-top: 0;
    }

    .activity-filters {
        background-color: #efefef;
        color: #ccc;
        display: table;
        width: 100%;
        padding: 10px;
    }
    .activity-filters .activity-filter-item {
        margin: 2px auto;
        display: table-cell;
        width: 55px;
        height: 55px;
        text-align: center;
        cursor: pointer;
    }
    .activity-filter-item:hover {
        color: #BFBFBF;
    }
    .activity-filter-item .activity-filter-item-icon {
        font-size: 50px !important;
    }
    .activity-filter-item .activity-filter-item-label {
        display: block;
    }
</style>