<div class="activity-checkin row profile-summary">
    <div class="activity-checkin-details">
        <div style="margin-bottom: 8px">
            <h2 class="panel-title">
                <span ng-if="profile.filter.self">My </span>
                <span ng-if="!profile.filter.self">{{profile.employee.first_name}}'s </span>
                Coachees
            </h2>
            <div class="change-coach">
                <carousel interval="profile.slideInterval">
                    <slide ng-repeat="coacheeCluster in profile.coacheeClusters">
                        <a ng-href="#/profile/{{ employee.pk }}" ng-repeat="employee in coacheeCluster" class="coach-profile" style="display:inline-block">
                            <div class="xxlarge-avatar-container" ng-class="{'disable': changeCoach.newCoach && (changeCoach.newCoach.id != coach.id)}" style="padding: 0 20px;">
                                <div class="large-headshot centered">
                                    <img ng-src="{{ employee.avatar }}" alt="{{ employee.full_name }}'s avatar" class="headshot-image" />
                                </div>
                            </div>
                            <div>{{employee.full_name}}</div>
                        </a>
                    </slide>
                </carousel>
            </div>
        </div>
    </div>
</div>

<style>
    .profile-summary {
        padding: 10px 10px;
    }
    .profile-summary .profile-summary-label{
        color: #aaa;padding-bottom:8px;
    }
</style>