<div class="activity-checkin row profile-summary">
    <div class="activity-checkin-details">
        <div style="margin-bottom: 8px">
            <span class="profile-summary-label">Support Team</span>
            <div style="padding: 0 5px; min-height: 65px;display: flex;padding-top:5px">

                <div class="pull-left" style="width: 250px;" ng-if="profile.employee.leader">
                    <div class="small-headshot" style="display: inline-block;width:40px">
                        <img ng-src="{{ profile.employee.leader.avatar_small }}" alt="{{ profile.employee.leader.full_name }}'s avatar" class="headshot-image"/>
                    </div>
                    <div style="display: inline-block;margin: auto 0px">
                        <strong><a ng-href="#/employees/{{profile.employee.leader.id}}">{{ profile.employee.leader.full_name }}</a></strong>
                        <div style="color: #aaa;">Team Lead</div>
                    </div>
                </div>
                <div class="pull-left" style="width: 250px;display: flex" ng-if="profile.employee.coach">
                    <div class="small-headshot" style="display: inline-block;width:40px">
                        <img ng-src="{{ profile.employee.coach.avatar_small }}" alt="{{ profile.employee.coach.full_name }}'s avatar" class="headshot-image"/>
                    </div>
                    <div style="display: inline-block;margin: auto 0px;">
                        <strong><a ng-href="#/employees/{{profile.employee.coach.id}}">{{ profile.employee.coach.full_name }}</a></strong>
                        <div style="color: #aaa;">Coach</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .profile-summary {
        padding: 10px 10px;
    }
    .profile-summary .profile-summary-label{
        color: #aaa;padding-bottom:8px;
    }
</style>