<div class="activity-checkin row profile-summary">
    <div class="activity-checkin-details">
        <div style="margin: 8px">
            <div class="profile-summary-label">Team</div>
            <div style="padding: 0 5px; min-height: 65px;display: flex;padding-top:5px">

                <div ng-repeat="employee in profile.teamMembers" class="pull-left" style="width: 250px;">
                    <div class="small-headshot" style="display: inline-block;width:40px">
                        <img ng-src="{{ employee.avatar_small }}" alt="{{ employee.full_name }}'s avatar" class="headshot-image"/>
                    </div>
                    <div style="display: inline-block;margin: auto 0px">
                        <strong><a ng-href="#/employees/{{employee.pk}}">{{ employee.full_name }}</a></strong>
                        <div style="color: #aaa;" ng-show="employee.coach_full_name">{{employee.coach_full_name}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .profile-summary {
        padding: 10px 10px;
    }
    .profile-summary .profile-summary-label{
        color: #aaa;padding-bottom:8px;
    }
</style>