.carousel {
    padding: 20px;
}
.carousel h3{
    line-height: 26px;
    margin-bottom: 20px;
}
.carousel .headshot {
    margin-right: 10px;
}
.carousel cite {
    font-size: 16px;
    font-weight: bold;
    display: block;
    padding-top: 5px;
}
.carousel cite .role {
    display: block;
    font-weight: normal;
    font-size: 14px;
}
.carousel-indicators {
    bottom: -5px;
}