.checkin {
  	max-width: 700px;
  	margin: 40px auto;

    a:focus {
        outline: none !important;
    }

  	.checkin-header{
  		overflow: hidden;
  		margin-bottom: 15px;

  		h1 {
  			margin: 16px 0;

  			a {
  				color: #333;
  			}
  			a:focus {
  				outline:0 !important;
  			}
  		}
        .timestamp {
            font-size: 15px;
            color: #666;
            margin-top: -6px;
            position: relative;
            float: left;
        }
  	}

  	.checkin-search {
  		margin-top: 35%;

  		.search-input-container {
  			  position: relative;
			  border-radius: 5px;
			  text-align: left;

  			.search-icon {
  			  	position: absolute;
  			  	padding: 15px;
  			  	pointer-events: none;
  			}
  		}

  		.search-input {
  			width: 100%;
		  	font-size: 20px;
		  	height: 45px;
		  	padding-left: 40px;
  		}
  	}

  	.checkin-type select {
  		color: #999;
  	}

  	.checkin-summary {
  		margin-bottom: 10px;

        textarea {
            -webkit-box-shadow: none;
            padding: 0; 
            line-height: 25px;
            font-size: 16px;
            color: #444;
        }

        .checkin-summary-instance {
            line-height: 25px;
            font-size: 16px;
            color: #444;
        }
  	}


    .checkin-engagement {
        text-align: center;

        .employee-happiness-container {
          margin: -10px 0;
        }
    }

  	.panel-default {
  		border: none; 
  	}
    .panel-body {
        border-top:none !important;
    }

  	.panel-group .panel-heading {
  		padding: 0;
  		background-color: #fff;

  		.panel-title {
  			margin-bottom: 0;
  		}

  		.glyphicon {
  			color: #ccc;
  		}
  	}

    .panel-happiness {
        .panel-title {
            margin-bottom: 0;
        }
    }
    .panel-tasks {
        .panel-title {
            margin-bottom: 0;
        }
    }


    .headshot {
        margin: 10px;
    }

    .type-tag {
        float: right;
        background-color: #323940;
        color: #fff;
        padding: 6px 10px;
        border-radius: 5px;
        font-weight: bold;
        margin: 18px 0 0;
    }

}