.comments {
	margin-top:30px;

	.comments-date {
	 	font-size: 13px;
	  	color: #8b8b8b;
	  	border-bottom: 2px solid #efefef;
	  	padding-bottom: 2px;
	}

	textarea {
		position: relative; 
		max-width: 515px; 
		min-height: 27px;
		background-color:#fff;
		color:#eee;
		resize:vertical;
		font-size: 12px;
		padding: 6px;
		border:1px solid #ccc;
	}

	.timestamp {
		color: #8b8b8b;
		font-size: 13px;
	}

	.comment-owner-avatar-container {
		display: block; 
		float: left; 
		width: 48px;

		.comment-owner-avatar {
			display: inline-block; 
			margin-left: auto; 
			margin-right: auto; 
			height: 48px; 
			vertical-align:text-top;
		}		
	}

	.comment-item {
		display: block; 
		margin-left:35px; 
		padding-left:25px;
		min-width: 80%;
		min-height: 28px;

		.comment-title {
			display: block; 
			min-width: 90%;
			height: 22px;
		}
		.comment-title-employee-name {
		  color: #1a7f7e;
		  font-weight: bold;
		}

		.comment-copy {
  			margin: 15px 0;
		}


		.comment-editor {
			position: relative;
			background: #fff;
		}
	}

	.comment-replies {
		margin: 0 0 0 60px;
		

		.comment-reply {
			margin-bottom: 2px;
			padding: 10px;
			background-color: #efefef;
		}
		.comment-reply-avatar-container {
			display: block; 
			float: left; 
			width: 48px;

			.comment-reply-avatar {
				display: inline-block; 
				margin-left: auto; 
				margin-right: auto; 
				height: 48px;
				vertical-align:text-top;
			}
		}
		.comment-reply-name {
		  	color: #1a7f7e;
		  	font-weight: bold;	
		  	margin-left: 12px;		
		}
		.comment-reply-copy {
			margin-left: 60px;
		}
	}


}
