@font-face {
  font-family: 'Emoticons';
  src: url('/static/fonts/emoticons.eot') format('embedded-opentype'), url('/static/fonts/emoticons.ttf') format('truetype');
}
@font-face {
    font-family: 'Flat-UI-Icons';
    src: url('/static/fonts/flat-ui-icons-regular.eot');
    src: url('/static/fonts/flat-ui-icons-regular.eot?#iefix') format('embedded-opentype'), url('/static/fonts/flat-ui-icons-regular.woff') format('woff'), url('/static/fonts/flat-ui-icons-regular.ttf') format('truetype'), url('/static/fonts/flat-ui-icons-regular.svg#flat-ui-icons-regular') format('svg');
}


/* == User Attribute Bubble ========================================== */
.employee-attribute {
	.happiness-0:before {
  		content: "";
	}
}
.employee-attribute-happiness {
	.segment{
		background: none;
	}
}	

.happiness {
	vertical-align: middle;
  	padding-left: 2px;
  	position: absolute;
}

.employee-happiness-list {

	.text {
		display: inline-block;
  		margin: 10px 30px 0 30px;
	}
}
.employee-happiness-list span:before { /* Dropdown */
	margin-right: 6px;
	font-family: 'Emoticons';
  	font-size: 26px;
  	text-shadow: none;
  	color: #666;
  	position: absolute;
}
.employee-happiness-large span:before { /* Headshot bubble */
	font-family: 'Emoticons';
  	font-size: 60px;
  	text-shadow: none;
  	color: #fff;
  	top: 11px;
  	position: absolute;
  	right: -3px;
}


/* Stand alone faces */
.employee-happiness-container {
	overflow: hidden;
	margin: 20px 0;

	.selected {
		opacity: 1 !important;
	}

	.employee-happiness{
		display: inline-block;
		width: 45px;
		height: 45px;
		border-radius: 90px;
		position: relative;
		cursor: pointer;
	  	opacity: .3;
	}
	.employee-happiness span:before {
		font-family: 'Emoticons';
		font-size: 61px;
		text-shadow: none;
		color: #fff;
		top: 8px;
		position: absolute;
		right: -7px;
	}	
	.employee-happiness:hover {
		opacity: 1;
	}
	.employee-happiness-5 { /* Very happy */
		background: #32d0a2;
	}
	.employee-happiness-4 { /* Happy */
		background: #5ed032;
	}
	.employee-happiness-3 { /* Indifferent */
		background: #bcd032;
	}
	.employee-happiness-2 { /* Unhappy */
		background: #ffca00;
	}
	.employee-happiness-1 { /* Very Unhappy */
		background: #ff0000;
	}

}


/* Smiley faces */
.happy-nav:before {
    content: "\0041"; /* Not sure if this is still being used */
}
.happiness-5:before {
  	content: "\0044";
}
.happiness-4:before {
  	content: "\0041";
}
.happiness-3:before {
  	content: "\0043";
}
.happiness-2:before {
  	content: "\0028";
}
.happiness-1:before {
  	content: "\0057";
}
.happiness-0:before {
  	content: "\002C";
}
