.header-links {
    margin: 28px 20px 0;
    color: #aaa;
    font-size: 14px;   

    a {
        color: #aaa;
        text-decoration: underline;
        margin-left:10px;
    }
    a:hover {
        text-decoration: none;
    }
}

.feedback-helpfulness-total {
    margin: 15px 0;
    padding: 10px 0;
    border-radius: 5px;
    font-size: 14px;

    .award {
        width: 23px;
        vertical-align: middle;
        margin-top: -2px;
    }
}


.show-welcome-modal:hover {
    color: #999;
}

.feedback-welcome-modal {
    .modal-title {
        font-size: 28px;
    }
    .modal-body {
        padding: 30px 40px;
    }
    .message {
        margin: 20px 0 30px;
        color: #555;
        font-size: 16px;
        line-height: 21px;
    }    
    .btn {
        font-size: 20px;
        padding: 12px 50px;
    }
    .greeting {
        display: block;
        margin-bottom: 10px;
    }
}

.focus-areas {
    color:#aaa;
    font-weight:normal;
}

.worksheet-message {
    margin: -26px -26px 45px;
    background: transparent url(/static/images/elstripes.png);
    padding: 20px 0px 20px 30px;
    color: #999;
    border-bottom: 2px solid #efefef;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    .panel-title{
        margin-bottom:0;
        font-size: 16px;
    }
    .panel-subtext {
        font-size: 13px;
    }

    .fa {
        float: left;
        font-size: 40px;
        margin-right: 10px;
        color: #ccc;
    }
}

.panel-empty {
    min-height: 700px;

    .grumpycat {
        margin: 0 auto;
        display: block;
        max-width: 300px;
        opacity: .4;
        margin-top: 8%;
        width: 100%;
    }

    i {
        font-size: 200px;
        display: block;
        text-align: center;
        color: #ccc;
        margin-top: 8%;
    }  
    
    h2 {
        text-align: center;
        font-size: 18px;
        color: #aaa;
        max-width: 600px;
        margin: 0 auto;
        line-height: 26px;

        a {
            color: #aaa;
            text-decoration: underline;
        } 
        a:hover {
            color: #666;
        }       
    }  
}


.helpfulness {
    margin: 20px 0;
    color: #888;

    .fa {
        font-size: 16px;
        vertical-align: text-top;
    }

    .btn {
        padding: 2px 5px;
        background-image: linear-gradient(#fff, #eee);
        border: 1px solid #ddd;
        color: #bbb;
        outline: none;
    }    
    .btn:hover {
        background-image: linear-gradient(#fff, #fff);
        color: #000;
        outline: none;
    }
    .ishelpful, .ishelpful:hover {
        color: #2b9a2b;
    }


}


.feedback-submission {
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}
.feedback-submission:last-child {
    border-bottom: none !important;
}

.tag-anonymous {
    background: #444;
    color: #fff;
    padding: 1px 8px;
    border-radius: 5px;
    font-size: 12px;
}


/* Feedback Tips */
.tips {
    padding-left: 35px;
    font-size: 14px;
    color: #555;
    margin-top: 35px;

    h3 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
        line-height: 26px;
    }
    ul {
        list-style: inherit;
        margin: 5px 20px 35px;
    }
    ul li {
        margin-top: 5px;
    }
}


#feedback {

    .change {
        color: #888;
        text-decoration: underline;
        font-size: 18px;
        margin-left: 8px;
        outline: none;
    }
    .change:hover {
        text-decoration: none;
        color: #888;
    }

    .btn-view-feedback {
        @media only screen and (max-width: 640px) {
            width:100%;
        }    
    }
    

    .feedback-welcome-panel {
        padding: 55px;
        @media only screen and (max-width: 640px) {padding: 25px;}   


        .feedback-welcome-title {
            @media only screen and (max-width: 640px) {
                text-align: center;
                font-size: 26px;
                line-height: 28px;
                margin-bottom: 15px;
            }    
        }
        .get-started-title {
            @media only screen and (max-width: 640px) {
                font-size: 20px;
                text-align: center;
            }    
        }
        .get-started-text {
            font-size: 18px;
            line-height: 26px;
            color: #666;
            margin-bottom: 55px;

            @media only screen and (max-width: 640px) {
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 26px;
            }    
        }
        .get-started-btns {
            margin-top: 25px;

            @media only screen and (max-width: 640px) {
                margin-top: 15px;

                .btn {
                    display: block;
                    width: 100%;
                    font-size: 14px;
                }
                .btn:first-child {
                    margin-bottom: 5px;
                }    
            }    
        }
    }

    @media only screen and (max-width: 640px) {
        
        h1 {
            font-size: 25px;
            margin: 15px 0;
        }

        .panel {
            padding: 20px;
        }

        .btn-feedback {
            margin-top: 15px;
            display: inline;
            width: 48%;
            margin-right: 0px;
            font-size: 16px;
        }



        /* Table */
        .timeago {
            position: absolute !important;
            font-size: 12px !important;
            color: #999;
            top: 20px;
            left: 50px;
        }
        .tiny-headshot {
            width: 40px;
            height: 40px;
        }
        .message {
            margin: 15px 0px 0px;
        }
        .give-feedback-btn {
            width: 100%;
            font-weight: bold;
            font-size: 14px;
        }
    }

    @media only screen and (max-width: 991px) {
        .welcome-image {
            display: none;
        }
    }

    .comment-title-employee-name {
        font-size: 38px;
    }
    .feedback-reports-container {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .feedback-report {
        margin-top: 25px;
        padding-top: 25px;
        text-align: center;
    }
}


/* Feedback Modal */
#feedback-modal {

    h4 {
        font-size: 18px;
        margin-bottom: 20px;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
    }
    .modal-subtext {
        margin:-10px 0 30px;
        color:#888;
    }
    .modal-body {
        @media only screen and (max-width: 640px) {
            padding: 20px;
        }    
    }

    .form-control {
        margin-top:0;
    }

    .modal-question-list {
        list-style-type: decimal;
        list-style-position: outside;
        padding: 8px 35px 2px 35px;
        line-height: 21px;
        margin: 20px 0 30px;
        background: #fafafa;
        min-height: 158px;

        li {
            padding: 10px 0 15px;
            border-bottom: 1px dashed #ccc;
            margin-bottom: 5px;
            font-size: 14px;
            font-weight: 500;
            max-width: 330px;
            color: #444;
        }
        li:last-child {
            border-bottom: none;
        }
    }

    /* Select 2 fixes for modal */
    .ui-select-match-close {
        margin: 0;
    }
    .btn-xs, .btn-group-xs > .btn {
        font-size: 13px;
        line-height: 1.5;
    }
    .ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
        font-size: 20px;
        margin: 2px;
        position:relative;
    }
    .selected-requested-people-container {
        overflow:hidden;
    }
    .selected-requested-name {
        float: left;
        margin: 5px 0;
        font-weight: bold;
    }
    .selected-change-link {
        color: #2f742f;
        font-size: 14px;
        font-weight: normal;
        text-decoration: underline;
        cursor:pointer;
    }
    .selected-change-link:hover {
        text-decoration:none;
    }
    .selected-requested-people {
        overflow: hidden;
        width: 48%;
        float: left;
        padding: 4px 5px;
    } 
    .change-coach-message {
        margin-top: 12px;
        line-height: 22px;
        font-size: 15px;
    } 
    .confirmation-block {
        border-bottom: 1px dashed #ccc;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }  
    .confirmation-block:last-child {
        margin-bottom: 0;
        border-bottom: none;
    }
    .feedback-coach-name {
        margin: 5px 0;
        float: left;
    }
}