@media only screen and (max-width: 640px) {
    
    h1 {
        text-align: center;
    }
    .btn-feedback {
        margin-top: 20px;
    }


    /* Table */
    .timeago {
        position: absolute !important;
        font-size: 12px !important;
        color: #999;
        top: 18px;
        left: 41px;
    }
    .message {
        margin: 10px 0px 0px;
    }
    .give-feedback-btn {
        width: 100%;
    }
}



.comment-title-employee-name {
    font-size: 38px;
}
.get-started-text {
    font-size: 18px;
    line-height: 24px;
    color: #777;
    margin-bottom: 55px;
}




.feedback-reports-container {
    margin-top: 30px;
    margin-bottom: 30px;
}
.feedback-report {
    margin-top: 25px;
    padding-top: 25px;
    text-align: center;
}
.feedback-report-item {
    margin-top: 15px;
    padding-top: 15px;

}

.modal {
  text-align: center;
  padding: 0!important;
}
.modal-content {
    transition: 1s;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
    margin-top: -8%;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    max-width: 475px;
}



/* Select 2 fixes */
.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
    background-color: rgb(240, 248, 255);
}
.ui-select-match-close {
    margin: 0;
}
.btn-xs, .btn-group-xs > .btn {
    font-size: 16px;
    line-height: 1.5;
}
.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
    font-size: 22px;
    margin: 2px;
}

.selected-requested-people {
    color: #0f9d58;
}

.question-list {
    list-style-type: decimal;
    list-style-position: inside;
    border-left: 5px solid #eee;
    padding-left: 11px;
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 31px;
}






