header{
	background-color:#3e474f;
	position:relative;
	width: 70px;
  	height: 100%;
}
header .inner{padding:0 20px}
header .inner>span{text-transform:uppercase;display:block;padding:12px 0}
header .inner .btn{background-color:#434343}
header .inner .btn:hover{background-color:#202020}
header {float:right}
header .float-fix span{display:block;padding:12px;color:#444;text-transform:uppercase;font-weight:700;font-size:1.2em;text-shadow:1px 1px #626262}




.logo-container {
	width: 70px;
	background-color: #2cb28b;

	.logo {
		width: 100%;
		padding: 12px;
    	-webkit-transition: -webkit-transform .3s ease-in-out;
    	-ms-transition: -ms-transform .3s ease-in-out;
    	transition: transform .3s ease-in-out;	
	}
	.logo:hover {
    	transform:rotate(360deg);
    	-ms-transform:rotate(360deg);
    	-webkit-transform:rotate(360deg);	
	}
}



.subnav{
	width: 280px;
  	top: 70px;
  	position: absolute;
  	left: 70px;
  	background: #303941;
  	text-align: left;
  	box-shadow: 7px 3px 20px -4px #555;
}
.subnav-reports {
	top: 136px;
}
.subnav-settings {
	top: 202px;
}

.selection-title {
	color: #fff;
	padding: 5px 15px 10px;
	font-size: 20px;
	margin: 15px 15px 0;
	border-radius: 5px;

	ul {
		padding: 5px 20px;
	}
}

.menu-item-active{
	background-color: #303941;
}

/*== BRANDING ===================================================== */
.customer-name {
	color: #cbcbcb;
  	font-weight: bold;
  	font-size: 18px;
  	margin: 10px 20px;
  	display: block;
  	float: left;
}
.customer-name:hover {
	color: #fff;
	text-decoration: none;
}


/*== SEARCH ===================================================== */
.search {
	display: block; 
	color: #cbcbcb; 
	font-weight: 700; 
	padding: 7px 145px 6px 12px;
	font-size: 16px; 
	width:325px; 
	float:right;

	.search-icon {
		position: absolute;
		padding: 5px 10px;
		pointer-events: none;
	}
	.search-input {
		padding-left: 34px;
		width: 290px;
		background-color:#2a2a2a;
		height:32px;
		color:#cbcbcb;
	}
}


/*== NAVIGATION ===================================================== */
.nav-item {
  padding: 10px 15px;
  cursor: pointer;
  text-align: center;
}
.nav-item .nav-item-icon {
  color: #ccc;
  font-size: 34px;
  margin: 6px 2px;
  opacity: .8;
}
.nav-item .nav-item-icon:hover {
	opacity: 1;
	color: #fff;
}

.talent-groups li {
	overflow: hidden;

	a{
		padding: 8px 12px;
	}
	span {
		padding: 3px 15px;
  		display: inline-block;
	}
}



#selection-list{background-color: #303941;border-radius:3px 0 3px 3px;z-index:2}
#selection-list .group{border-top:solid 1px #6e6e6e;margin:10px 0 0}
#selection-list .group>span{color:#5d5d5d;text-shadow:1px 1px #878787;display:block;padding:6px 10px}
#selection-list .group:last-child{padding-bottom:0}
#selection-list .group:first-child{margin-top:0;border-top:none}
.subnav a{
	text-transform:none;
	display:block;
	color:#cbcbcb;
	padding:6px 10px;
	font-weight:400;
	-webkit-transition:background-color 0.2s ease-out;
	-moz-transition:background-color 0.2s ease-out;
	-o-transition:background-color 0.2s ease-out;
	transition:background-color 0.2s ease-out;
	margin: 0 20px;
}
.subnav a:hover{background-color:#56616a;border-radius: 3px}
#selection-list #add-new-dashboard{background-color:#686868;text-transform:uppercase;color:#c8c8c8;display:block;text-align:center;font-weight:700;padding:0;border-radius:0 0 3px 3px}
#selection-list #add-new-dashboard span{position:relative;display:inline-block;padding:20px 0 20px 20px}
#selection-list #add-new-dashboard span:before{top:19px;left:0;content:'';display:block;position:absolute;width:16px;height:16px;background-position:0 -2186px}
#selection-list #add-new-dashboard:hover{background-color:#3a3a3a}
