.panel {
    text-align: left !important;
    padding: 25px;
    margin-bottom: 10px !important;
}
.panel-title {
    margin-bottom: 10px;
    font-size: 18px;
    color: inherit;
    font-weight: bold;
}
.panel-body {
	text-align: left;
}


/* Tabbed Panels */
.tab-pane .panel-title {
	margin-top: 20px;
}