.profile .headshot {
	margin-top: -50px;

    @media only screen and (max-width : 640px) {
    	margin-top: -5px;
    	width: 60%;
    	height: 60%;
    }
}

.profile .large-avatar-container {
	height: auto;
}

/* Profile Modal */
#profile-modal {

    /* Select 2 fixes for modal */
    .ui-select-match-close {
        margin: 0;
    }
    .btn-xs, .btn-group-xs > .btn {
        font-size: 13px;
        line-height: 1.5;
    }
    .ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
        font-size: 20px;
        margin: 2px;
        position:relative;
    }
}