/* == Salary Totals ==================================== */
.total {
	font-size: 36px;
}

.salary-totals {

	.panel-title {
		margin-bottom:30px;
	}

	.salary-total-type a {
		overflow: hidden;
		border-bottom: 1px solid #efefef;
		padding: 8px;
		display: block;
		transition: 0.2s;

		&:last-child {
			border: none;
		}
	}

	.salary-total-type a:hover {
		background: #f1f1f1;
	}


	.salary-total-amount {
		margin-top: 5px;
		font-size: 16px;
		margin-left: 15px;
		text-align: right;
		float: left;
		font-family: sans-serif;
		color: #222;
	}

    .salary-segment-label {
  		margin-top: 8px;
  		font-size: 13px;
  		margin-left: 16px;
  		text-align: right;
  		float: right;
  		color: #999;
    }

}

