.search {
	display: block;
  	color: #cbcbcb;
  	font-weight: 700;
  	padding: 0;
  	font-size: 16px;
  	width: 300px;
  	float: right;
}
.search .search-input {
	padding-left: 33px;
  	width: 290px;
  	background-color: #fff;
  	height: 32px;
  	color: #cbcbcb;
}

.search .dropdown-menu {
	padding: 20px;
}