.todos {

		
	.shaded {
		margin: 0;

	  & > div {
		  padding: 6px;
		  font-size: 11px;
		  color: #999;
	  }
	}

	.todos-empty {
		text-align: center;
		color: #999;

		p {
		  font-size: 15px;
		  margin: 10px auto;
		  line-height: 22px;
		}

		.todos-empty-icon {
			font-size: 75px;
  			display: block;
  			color: #aaa;
		}
	}


	.nav-tabs {
	  margin: 15px 0 0;
	}

	.todo {
		margin: 2px 0 0;
  		padding: 10px 0;
  		background: #efefef;

  		.small-headshot {
  			float:left;
  		}
	}

	.todo-checkbox {
	  	float: left;
  		margin: 13px 13px 13px 0px;
	}
}