.todos {

	.todos-empty {
		text-align: center;
		color: #999;

		p {
		  font-size: 15px;
		  margin: 10px auto;
		  line-height: 22px;
		}

		.todos-empty-icon {
			font-size: 75px;
  			display: block;
  			color: #aaa;
		}
	}
}