.todos {

	.todos-empty {
		text-align: center;
		color: #999;

		p {
		  font-size: 15px;
		  margin: 10px auto;
		  line-height: 22px;
		}

		.todos-empty-icon {
			font-size: 75px;
  			display: block;
  			color: #aaa;
		}
	}


	.nav-tabs {
	  margin: 15px 0 0;
	}

	.todo {
		margin-top: 12px;
  		border-bottom: 1px solid #ddd;
  		padding-bottom: 12px;

  		.small-headshot {
  			float:left;
  		}
	}

	.todo-checkbox {
	  	float: left;
  		margin: 13px 13px 13px 0px;
	}
}