.dropdown-menu{
	.veryhappy:before {
		font-family: 'Emoticons';
	  	font-size: 26px;
	  	text-shadow: none;
	  	color: #666;
	  	content: "\0044";
	  	margin-right: 6px;
	}
	.happy:before {
	  	font-family: 'Emoticons';
	  	font-size: 26px;
	  	text-shadow: none;
	  	color: #666;
	  	content: "\0041";
	  	margin-right: 6px;
	}
	.indifferent:before {
	 	font-family: 'Emoticons';
	  	font-size: 26px;
	  	text-shadow: none;
	  	color: #666;
	  	content: "\0043";
	  	margin-right: 6px;
	}
	.unhappy:before {
	  	font-family: 'Emoticons';
	  	font-size: 26px;
	  	text-shadow: none;
	  	color: #666;
	  	content: "\0028";
	  	margin-right: 6px;
	}
	.veryunhappy:before {
	  	font-family: 'Emoticons';
	  	font-size: 26px;
	  	text-shadow: none;
	  	color: #666;
	  	content: "\0057";
	  	margin-right: 6px;
	}
	.nohappydata:before {
	  	font-family: 'Emoticons';
	  	font-size: 26px;
	  	text-shadow: none;
	  	color: #ffffff;
	  	content: "\002C";
	  	margin-right: 6px;
	}
}	