.fadein > * {
    display:none;
}


.centered {
    text-align: center;
}
.filled-light {
    background: #fff;
}
.rounded {
    border-radius: 5px;
}
.stripes div:nth-child(even), .stripes li:nth-child(odd) {
   background-color: #fafafa;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}