.fadein > * {
    display:none;
}

.centered {
    text-align: center;
}

.medium-round-avatar {
    border-radius: 90px;
    width: 83px;
    border: 5px solid #f1f1f1;
    transition: .3s;
}
.medium-round-avatar:hover {
    border-color: #ccc;
}

.stripes div:nth-child(even), .stripes li:nth-child(odd) {
   background-color: #fafafa;
}


.nav-tabs {
    margin-top: 45px;

    .nav {
        cursor: pointer;
    }
}


.large-headshot {
    border-radius: 90%;
    margin: 20px auto;
    display: block;
    border: 8px solid #d2d2d2;
    width: 100%;
}

    

.avatar-container {
    position: relative;
    display: block;
    width: 90px;
    margin: 0 auto;
}
.large-avatar-container {
  position: relative;
  display: block;
  width: 200px;
  margin: 0 auto;
}



[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}