.fadein > * {
    display:none;
}

.simple-form-control {
	box-shadow: none;
	border: none;
}

.mobile-show {
	display: none;
    
    @media only screen and (max-width : 640px) {
    	display: block;	
    }
}

.centered {
    text-align: center;
}
.filled-light {
    background: #fff;
}
.rounded {
    border-radius: 5px;
}
.stripes div:nth-child(even), .stripes li:nth-child(odd) {
   background-color: #efefef;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}