{% extends "layouts/blank.html" %}
{% block title %}Continue Your Story{% endblock title %}
{% block mainclass %}your-story your-story-question{% endblock %}

{% block content %}
    <a href="{% url 'index' %}"><img src="/static/images/yourstory-logo-green.png" class="story-logo" alt="Your Story Home" /></a>

    <div class="container"> 
        {% for answer in story.answers %}
            {% if forloop.first and answer %}
                <h1>Questions you've already answered</h1>
            {%  endif %}

            <dl>
            {%  if answer %}
                <dt>{{ forloop.counter }}. {{ answer.question }}</dt>
                <dd>
                {% if answer.employees %}
                    {% for employee in answer.employees.all %}
                        {{ employee.full_name }}, 
                    {% endfor %}
                {%  elif answer.text %}
                    {{ answer.text }}
                {% endif %}
                <a href="{% url 'question' forloop.counter %}">Edit</a>
                </dd>
            {% endif %}
            </dl>
        {% endfor %}
        <a href="{% url 'question' story.next_unanswered_question_number %}" class="btn btn-lg btn-story">Continue where I left off</a>
    </div>
{% endblock content %}