{% extends "layouts/blank.html" %}
{% block title %}Your Story{% endblock title %}
{% block mainclass %}your-story your-story-question{% endblock %}

{% block content %}
    <a href="{% url 'index' %}"><img src="/static/images/yourstory-logo-green.png" class="story-logo" alt="Your Story Home" /></a>
    <p class="pull-right question-status">Question {{ question_number }} of {{ story.total_questions }}</p>
    <div class="container">
        {% for field in form %}
            {% if field.errors %}
                <div class="errors">
                    {{ field.errors }}
                </div>
            {% endif %}
        {% endfor %}
        <form action="." method="post">
            {% csrf_token %}
            <h1>
                {{ form.text.label }}
            </h1>
            <div>
                {{ form.text }}
            </div>
            <button type="submit" class="btn btn-lg btn-story pull-left">Save & Continue &#10142;</button>
            <div class="public pull-left">
                {{ form.is_public }} {{ form.is_public.label }}
            </div>
        </form>     
    </div>
    <div class="random-answer hide">
        <img src="https://hippoculture.s3.amazonaws.com{{ random_story.employee.avatar }}" />
        {{ random_story.employee }}
        {{ random_story.a1.text }}
    </div> 
{% endblock content %}