<form name="outterForm" id="invite-360-modal" class="invite-360">
    <div class="form-group">
        <div class="modal-body">
            <panel>
                <h3 class="modal-title">Invite Your Team</h3>
                <h4 class="header">Email Address <a href="" class="pull-right" ng-click="invite.addEmail()">+ Add another invitation</a></h4>
                <ng-form name="innerForm" ng-repeat="invite in invite.invites">
                    <input ng-if="$first" ng-init="invalid=false" ng-blur="invalid=innerForm.email.$error.email" ng-model="invite.email" type="email" ng-class="{'alert-danger': invalid && innerForm.email.$error.email}" autofocus autocomplete="off" class="form-control input-lg fade-in" name="email" placeholder="name@domain.com" required>
                    <input ng-if="$index > 0" ng-init="invalid=false" ng-blur="invalid=innerForm.email.$error.email" ng-model="invite.email" type="email" ng-class="{'alert-danger': invalid && innerForm.email.$error.email}" autocomplete="off" class="form-control input-lg fade-in" name="email" placeholder="name@domain.com">
                </ng-form>
            </panel>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="invite.cancel()"  class="btn btn-light pull-left">Cancel</button>
            <button type="button" ng-disabled="outterForm.$invalid" ng-click="invite.submit()" class="btn btn-success" data-dismiss="modal">Send Invitations</button>
        </div>
    </div>
</form>