<form name="outterForm" id="invite-360-modal" class="invite-360">
    <div class="form-group">
        <div class="modal-body">
            <panel class="clearfix">
                <h3 class="modal-title">
                    <span ng-if="!invite.has_team_members">Invite up to {{ invite.remaining_invites }} Team members</span>
                    <span ng-if="invite.has_team_members">You have {{ invite.remaining_invites }} invites remaining</span>
                </h3>
                <h4 class="header clearfix" ng-if="invite.remaining_invites > invite.invites.length"> <a href="" ng-click="invite.addEmail(true)">+ Add another invitation</a></h4>
                <ng-form name="innerForm" ng-repeat="invite in invite.invites">
                    <div id="pt-main" class="pt-perspective" ng-init="inputBox=0" ng-if="$first" style="margin-bottom: 15px;padding: 0 15px;overflow: hidden;height: 50px">
                        <div ng-init="invalid=false;showRequired=false;" class="pt-page" animate-page-transition="inputBox" page="0" in-class="pt-page-moveFromLeftFade" out-class="pt-page-moveToLeftFade">
                            <span ng-init="hover=false" class="fa invite-control-button btn-info" ng-class="{'fa-envelope-o': !hover, 'fa-arrow-right': hover}" style="color: #fff;" ng-click="showRequired = !invite.email;inputBox = (!invalid && invite.email) ? 1: 0" ng-mouseover="hover=true" ng-mouseleave="hover=false"></span>
                            <input ng-focus="showRequired=false" ng-blur="invalid=innerForm.email.$error.email;inputBox = (!invalid && invite.email) ? 1: 0" ng-model="invite.email" type="email" ng-class="{'alert-danger': invalid && innerForm.email.$error.email,'required': showRequired}" autocomplete="off" class="form-control input-lg fade-in invite-control" name="email" placeholder="name@domain.com" required>
                        </div>
                        <div class="pt-page" animate-page-transition="inputBox" page="1" in-class="pt-page-moveFromRightFade" out-class="pt-page-moveToRightFade">
                            <span ng-init="hover=false" class="fa invite-control-button btn-success" ng-class="{'fa-user-circle': !hover, 'fa-arrow-left': hover}" style="color: #fff;" ng-click="inputBox=0" ng-mouseover="hover=true" ng-mouseleave="hover=false"></span>
                            <input ng-model="invite.full_name" type="text" autocomplete="off" class="form-control input-lg fade-in invite-control" name="full_name" placeholder="First & Last name for {{ invite.email }}">
                        </div>
                    </div>
                    <div id="pt-main" class="pt-perspective" ng-init="inputBox=0" ng-if="$index > 0" style="margin-bottom: 15px;overflow: hidden;height: 50px">
                        <div ng-init="invalid=false;showRequired=false;" class="pt-page" animate-page-transition="inputBox" page="0" in-class="pt-page-moveFromLeftFade" out-class="pt-page-moveToLeftFade">
                            <span ng-init="hover=false" class="fa invite-control-button btn-info" ng-class="{'fa-envelope-o': !hover, 'fa-arrow-right': hover}" style="color: #fff;" ng-click="showRequired = !invite.email;inputBox = (!invalid && invite.email) ? 1: 0" ng-mouseover="hover=true" ng-mouseleave="hover=false"></span>
                            <input ng-focus="showRequired=false" ng-blur="invalid=innerForm.email.$error.email;inputBox = (!invalid && invite.email) ? 1: 0" ng-model="invite.email" type="email" ng-class="{'alert-danger': invalid && innerForm.email.$error.email,'required': showRequired}" autocomplete="off" class="form-control input-lg fade-in invite-control" name="email" placeholder="name@domain.com">
                        </div>
                        <div class="pt-page" animate-page-transition="inputBox" page="1" in-class="pt-page-moveFromRightFade" out-class="pt-page-moveToRightFade">
                            <span ng-init="hover=false" class="fa fa-user-circle invite-control-button btn-success" ng-class="{'fa-user-circle': !hover, 'fa-arrow-left': hover}" style="color: #fff;" ng-click="inputBox=0" ng-mouseover="hover=true" ng-mouseleave="hover=false"></span>
                            <input ng-model="invite.full_name" type="text" autocomplete="off" class="form-control input-lg fade-in invite-control" name="full_name" placeholder="First & Last name for {{ invite.email }}">
                        </div>
                    </div>
                </ng-form>
            </panel>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="invite.cancel()"  class="btn btn-light pull-left">Cancel</button>
            <button type="button" ng-disabled="outterForm.$invalid" ng-click="invite.submit()" class="btn btn-success" data-dismiss="modal">Send Invitations</button>
        </div>
    </div>
</form>