<form id="selfie-modal" novalidate="novalidate">
    <div class="form-group" ng-show="quiz.panelIndex==0 && !quiz.leadershipStyle.answers.length>0">
        <div class="modal-body">
            <panel class="checkin">
                <h3 class="modal-title">Leadership Styles Quiz</h3>
		        <p ng-if="quiz.leadershipStyle.assessment_type==0">Take this simple quiz and discover your personal Predictable Success<sup><small>®</small></sup> leadership style.</p>
                <p ng-if="quiz.leadershipStyle.assessment_type==1">Help {{quiz.employee.first_name}} discover their personal Predictable Success<sup><small>®</small></sup> leadership style by taking this simple quiz.</p>
                <p><strong>Instructions</strong>: For each question, select the answer which you think is most appropriate.</p>
                <p><strong>Note</strong>: For some questions you may find yourself forced to choose between two or more 'right' answers, or having to choose the 'least wrong' answer. This is deliberate: don't overthink it - go with your instinctive first reaction.</p>
            </panel>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="quiz.cancel()" data-dismiss="modal" class="btn btn-light pull-left">Cancel</button>
            <button ng-show="false" type="button" class="btn btn-success" ng-click="quiz.panelIndex=1">I have more questions</button>
            <button type="button" class="btn btn-success" ng-disabled="quiz.busy" ng-click="quiz.panelIndex=2;quiz.trackEvent('Get started button', 'click', null);">Get Started &rarr;</button>
        </div>
    </div>
    <div class="form-group" ng-show="quiz.panelIndex==0 && quiz.leadershipStyle.answers.length>0">
        <div class="modal-body">
            <panel class="checkin">

                <h3 class="modal-title">Leadership Styles Quiz</h3>
                <p>
                    Let's take you back to where you left off.
                </p>
            </panel>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="quiz.cancel()" data-dismiss="modal" class="btn btn-light pull-left">Cancel</button>
            <button type="button" ng-disabled="quiz.busy" class="btn btn-success" ng-click="quiz.continueQuiz()">Continue &rarr;</button>
        </div>
    </div>
    <div class="form-group" ng-show="quiz.panelIndex==1">
        <div class="modal-body">
            <panel class="checkin">

                <h3 class="modal-title">Development Zone FAQ</h3>

            </panel>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="quiz.cancel()" data-dismiss="modal" class="btn btn-light pull-left">Cancel</button>
            <button type="button" class="btn btn-success" ng-click="quiz.startSelfie()">Get Started &rarr;</button>
        </div>
    </div>
    <div class="form-group" ng-show="quiz.leadershipStyle.next_question && quiz.panelIndex==2">
        <div class="modal-body" style="padding-bottom: 0px">
            <panel class="devzone">
                <h3 class="modal-title" style="padding-bottom: 10px; padding-top: 5px">{{ quiz.leadershipStyle.next_question.text }}...</h3>

                <button ng-show="quiz.leadershipStyle.next_question.answers.length>1" ng-disabled="quiz.busy" class="selfie-answer well well-sm clearfix" style="display:flex" ng-repeat="answer in quiz.leadershipStyle.next_question.answers" ng-class="{'selfie-answer-selected': quiz.selectedAnswer.id==answer.id, 'selfie-answer':quiz.selectedAnswer.id!=answer.id}" ng-click="quiz.selectedAnswer=answer;quiz.answerQuestion(quiz.selectedAnswer)">
                    <div class="selfie-answer-label pull-left" style="width: 91%;">
                        <h4><strong>{{ answer.text }}</strong></h4>
                    </div>
                    <div class="pull-right" style="margin: auto 0px;width: 9%;">
                        <i class="fa fa-check-circle-o selected-icon" ng-show="quiz.selectedAnswer.id==answer.id"></i>
                    </div>
                </button>
            </panel>
        </div>
        <div class="modal-page-count centered">{{ quiz.leadershipStyle.next_question.order + 1 }} of {{ quiz.leadershipStyle.total_questions }}</div>
        <div class="modal-footer">
            <button type="button" ng-show="quiz.leadershipStyle.next_question.order>0" ng-disabled="quiz.busy" class="btn btn-light pull-left" ng-click="quiz.previousQuestion(quiz.leadershipStyle)"><span class="fa fa-caret-left"></span> <span class="hide-for-mobile">Previous</span> </button>
            <div class="centered" ng-show="quiz.busy" style="position: absolute; width: 100%; margin-left: -15px;">
                <spinner show="quiz.busy" delay="200"></spinner>
            </div>
            <button type="button" ng-click="quiz.close()" data-dismiss="modal" ng-disabled="quiz.busy" class="btn btn-light">Save &amp; Close</button>
            <button type="button" ng-show="quiz.leadershipStyle.answers.length>quiz.leadershipStyle.next_question.order" ng-disabled="quiz.busy" class="btn btn-success" ng-click="quiz.answerQuestion(quiz.selectedAnswer)">
                <span class="hide-for-mobile">Next</span> <span class="fa fa-caret-right"></span>
            </button>
        </div>
    </div>
    <div class="form-group" ng-show="quiz.panelIndex==3">
        <div class="modal-body">
            <panel class="devzone">
                <h3 class="modal-title centered">What's your name?</h3>
                <p>One last thing, we noticed we don't have a name for you.</p>
                <div class="invite-360">
                    <span ng-init="hover=false" class="fa fa-user-circle invite-control-button btn-success" style="color: #fff;"></span>
                    <input class="form-control input-lg fade-in invite-control" type="text" ng-model="quiz.leadershipStyle.employee.new_full_name" placeholder="First & Last name">
                </div>
            </panel>
        </div>
        <div class="modal-footer">
            <button type="button" ng-disabled="quiz.busy" class="btn btn-light pull-left" ng-click="quiz.previousQuestion(quiz.leadershipStyle)"><span class="fa fa-caret-left"></span> <span class="hide-for-mobile">Previous</span> </button>
            <div class="centered" ng-show="quiz.busy" style="position: absolute; width: 100%; margin-left: -15px;">
                <spinner show="quiz.busy" delay="200"></spinner>
            </div>
            <button type="button" ng-disabled="!quiz.leadershipStyle.employee.new_full_name || quiz.busy" class="btn btn-success" ng-click="quiz.saveEmployee(quiz.leadershipStyle.employee)">
                <span class="hide-for-mobile">Next</span> <span class="fa fa-caret-right"></span>
            </button>
        </div>
    </div>
    <div class="form-group" ng-show="quiz.panelIndex==4">
        <div class="modal-body">
            <panel class="devzone">
                <h3 class="modal-title centered">You're All Done</h3>
                <div style="font-size: 18px;" ng-if="quiz.leadershipStyle.who_can_see_my_results.length>0">
                    <p>
                        When you click the button below you will be able to see your results and the results of your team. Your results will also be shared with your team.
                    </p>
                    <p>
                        Here's who is on your team:
                        <div class="clearfix" style="color: #aaa; font-weight: 400;">
                            <span ng-repeat="team in quiz.leadershipStyle.who_can_see_my_results">
                                <ul style="display:block; float: left; margin-right: 15px" ng-repeat="team_member in team.team_members track by $index" ng-if="$index % 4 == 0">
                                    <li ng-repeat="i in [$index, $index + 1, $index + 2, $index + 3]" ng-if="team.team_members[i] != null" style="margin-bottom: 10px;">{{ team.team_members[i].full_name }}</li>
                                </ul>
                            </span>
                        </div>
                    </p>
                    <div class="centered" style="padding-top:0px;padding-bottom:0px">
                        <button type="button" style="font-size:20px;" ng-click="quiz.finish()" ng-disabled="quiz.busy" data-dismiss="modal" class="btn btn-success">See Your Results</button>
                    </div>
                </div>
                <div class="centered" ng-if="quiz.leadershipStyle.who_can_see_my_results.length==0" style="padding-top:40px;padding-bottom:40px">
                    <button type="button" style="font-size:20px;" ng-click="quiz.finish()" ng-disabled="quiz.busy" data-dismiss="modal" class="btn btn-success">See Your Results</button>
                </div>
            </panel>
        </div>
        <div class="modal-footer" style="background-color: transparent;border-top: None;">
            <a class="pull-left" style="color:#aaa;cursor: pointer" ng-click="quiz.previousQuestion(quiz.leadershipStyle)"><span class="fa fa-arrow-circle-left"></span> go back</a>
        </div>
    </div>
</form>