<div class="activity-item" ng-show="event.type == 'check in'">
    <div class="activity-header">
        <div class="activity-owner-avatar-container">
            <a ng-href="#/employees/{{ event.user.employee.id }}" class="medium-headshot">
                <img ng-src="{{ event.user.employee.avatar_small }}" alt="{{ event.user.employee.full_name }}'s avatar"/>
            </a>
        </div>
        <div class="activity-description">
            <a ng-href="#/employees/{{ event.user.employee.id }}" class="activity-title-employee-name">{{ event.user.employee.full_name }}</a>
            {{ event.verb }}
            <span ng-show="event.type == 'check in'">with</span>
            <a ng-href="#/employees/{{ event.employee.id }}" class="activity-title-employee-name">{{ event.employee.full_name }}</a>
            <span class="timestamp" data-toggle="tooltip" data-placement="top" title="{{ event.date | date:'MMM d, yyyy h:mma' }}">{{ event.date | fromNow }}</span>
        </div>    
    </div>
    <a class="activity-checkin row" ng-show="event.type == 'check in'" href="#/checkins/{{ event.event_id }}">
        <div class="avatar-container col-xs-2">
            <span class="large-headshot">
                <img ng-src="{{ event.related_object.employee.avatar_small }}" alt="{{ event.related_object.employee.full_name }}"/>
            </span>
            <div class="employee-attribute" rel="tooltip" data-toggle="tooltip" data-placement="right"
                 data-original-title="{{ talentCategories[event.related_object.employee.current_talent_category].label }}">
                <span class="segment employee-segment-background-color-{{ event.related_object.employee.current_talent_category }}"></span>
            </div>
        </div>
        <div class="activity-checkin-details"
             ng-class="{'col-xs-12 col-sm-10': view='employee-view', 'col-xs-12 col-sm-10': view='team'}">
            <div class="activity-checkin-type pull-right">
                <span class="glyphicon glyphicon-top glyphicon-user"></span>
                <span class="glyphicon glyphicon-outline glyphicon-user"></span>
                <span class="glyphicon glyphicon-user"></span>
            </div>
            <h3 class="comment-title-employee-name">{{ event.employee.full_name }}</h3>
            <span class="activity-checkin-summary  comment-text" read-more ng-model="event.description" words="true" length="100"></span>
        </div>
    </a>
</div>    