<form id="add-project-modal" novalidate="novalidate">
    <a class="close" ng-click="addProject.cancel()" data-dismiss="modal">&times;</a>
    <div class="form-group" ng-show="addProject.panel_index==0">
        <div class="modal-body">
            <panel>
                <h3 class="modal-title">Add Project</h3>
                <p class="modal-subtext">Give your project a name and a description.</p>
                <input
                    name="projectName"
                    ng-model="addProject.name"
                    style="max-width:350px; margin-bottom: 25px;"
                    class="form-control edit-textarea"
                    placeholder="Project Name"
                    />
                <input
                    name="projectDescription"
                    ng-model="addProject.description"
                    style="max-width:350px; margin-bottom: 25px;"
                    class="form-control edit-textarea"
                    placeholder="Project Description"
                    />
            </panel>    
        </div>    
        <div class="modal-footer">
            <button type="button" ng-click="addProject.cancel()" data-dismiss="modal" class="btn btn-light pull-left">Cancel</button>
            <button ng-show="addProject.panel_index<3" ng-disabled="!addProject.name" type="button" class="btn btn-success" ng-click="addProject.stepNext()">Add People &rarr;</button>
        </div>
    </div>
    <div class="form-group" ng-show="addProject.panel_index==1">
        <div class="modal-body">
            <panel>
                <h3 class="modal-title">Add People to the Project</h3>
                <p class="modal-subtext">Owners</p>
                <ui-select
                        id="to"
                        multiple
                        autofocus
                        ng-model="addProject.selectedOwners"
                        reset-search-input="true"
                        theme="bootstrap"
                        style="max-width:350px;font-size:16px;"
                        >
                    <ui-select-match placeholder="Type an employee name">{{$item.full_name}}</ui-select-match>
                    <ui-select-choices
                            repeat="employee in addProject.employees | filter: {full_name: $select.search} | orderBy: 'full_name'">
                        <span class="tiny-headshot">
                            <img class="headshot-image" ng-src="{{ employee.avatar_small }}" alt="{{ employee.full_name }}'s avatar" />
                        </span>
                        <div class="names" ng-bind-html="employee.full_name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                <p class="modal-subtext">Sponsors</p>
                <ui-select
                        id="to"
                        multiple
                        autofocus
                        ng-model="addProject.selectedSponsors"
                        reset-search-input="true"
                        theme="bootstrap"
                        style="max-width:350px;font-size:16px;"
                        >
                    <ui-select-match placeholder="Type an employee name">{{$item.full_name}}</ui-select-match>
                    <ui-select-choices
                            repeat="employee in addProject.employees | filter: {full_name: $select.search} | orderBy: 'full_name'">
                        <span class="tiny-headshot">
                            <img class="headshot-image" ng-src="{{ employee.avatar_small }}" alt="{{ employee.full_name }}'s avatar" />
                        </span>
                        <div class="names" ng-bind-html="employee.full_name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                <p class="modal-subtext">Team Members</p>
                <ui-select
                        id="to"
                        multiple
                        autofocus
                        ng-model="addProject.selectedTeamMembers"
                        reset-search-input="true"
                        theme="bootstrap"
                        style="max-width:350px;font-size:16px;"
                        >
                    <ui-select-match placeholder="Type an employee name">{{$item.full_name}}</ui-select-match>
                    <ui-select-choices
                            repeat="employee in addProject.employees | filter: {full_name: $select.search} | orderBy: 'full_name'">
                        <span class="tiny-headshot">
                            <img class="headshot-image" ng-src="{{ employee.avatar_small }}" alt="{{ employee.full_name }}'s avatar" />
                        </span>
                        <div class="names" ng-bind-html="employee.full_name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </panel>
        </div>
        <div class="modal-footer">
            <button ng-show="addProject.panel_index>0" type="button" ng-click="addProject.stepBack()" class="btn btn-light">&larr; Back</button>
            <button type="button" ng-click="addProject.cancel()" data-dismiss="modal" class="btn btn-light pull-left">Cancel</button>
            <button ng-show="addProject.panel_index<3" ng-disabled="" type="button" class="btn btn-success" ng-click="addProject.stepNext()">Score &rarr;</button>
        </div>
    </div>
    <div class="form-group" ng-show="addProject.panel_index==2">
        <div class="modal-body">
            <panel>
                <h3 class="modal-title">Score</h3>
                <div style="margin: 15px 0" ng-repeat="rule in addProject.ruleSet">
                    <label class="control-label pull-left">{{rule.name}}:</label><br/>
                    <select class="form-control" name="singleSelect" ng-model="data.singleSelect">
                        <option ng-repeat="option in rule.options" value="{{option.value}}">{{option.name}}</option>
                    </select>
                </div>
            </panel>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="addProject.stepBack()" class="btn btn-light">&larr; Back</button>
            <button type="button" ng-click="addProject.cancel()" class="btn btn-light pull-left">Cancel</button>
            <button type="button" class="btn btn-success" ng-click="addProject.save()">Save</button>
        </div>
    </div>
</form>