--allow-all-external
Django==1.7.4
argparse==1.2.1
dj-database-url==0.2.2
dj-static==0.0.6
django-toolbelt==0.0.1
djangorestframework==3.0.5
gunicorn==18.0
psycopg2==2.5.1
python-dateutil==2.1
python-mimeparse==0.1.4
six==1.4.1
static==0.4
wsgiref==0.1.2
pillow==2.7.0
pytz==2014.10
pylibmc==1.2.3
django-pylibmc-sasl==0.2.4
django-storages==1.1.8
boto==2.27.0
django-extensions
django-celery==3.1.16
django-tenant-schemas==1.5.2
lesscss==0.1.4
django_compressor==1.4
django-static-precompiler==0.9
django-stripe-payments==2.0.0
whitenoise==1.0.6
raven==5.2.0
django-test-without-migrations==0.2
