<nav role="navigation" aria-label="Main menu">
    <div role="menubar" ng-controller="NavigationCtrl">
        <div role="menuitem" class="logo-container" rel="tooltip" data-toggle="tooltip" data-placement="right" data-original-title="Home">
            <a href="#/"><img src="../static/images/compass-logo-white.png" class="logo" alt="Home" /></a>
        </div>
        <div role="menuitem" aria-haspopup="true" class="nav-item" ng-class="{'nav-item-active': $root.activeTab == myTab}" ng-click="setActiveTab(myTab)">
            <a href="#/my-profile">
                <span class="glyphicon glyphicon-user team_menu nav-item-icon"></span>
                Profile
            </a>    
        </div>

        <div role="menuitem" aria-haspopup="true" class="nav-item" ng-class="{'nav-item-active': $root.activeTab == myTab}" ng-click="setActiveTab(myTab)">
            <a href="#/feedback">
                <span class="fa fa-comments team_menu nav-item-icon"></span>
                Feedback
            </a>
        </div>        
    </div>    
</nav>


<div class="account-menu">
    <div class="show-account-menu tiny-headshot">
        <img ng-src="{{currentUser.employee.avatar_small}}" alt="Your avatar" />
    </div>    
    <ul class="account-action-items">
        <li>
            <i class="fa fa-sign-out"></i> <a class="dashboard" href="/logout">Sign Out</a>
        </li>
    </ul>
</div>