<nav role="navigation" aria-label="Main menu">

    <!-- Mobile -->
    <div class="mobile-navigation"> 
        <div ng-click="toggleMenu()" class="mobile-menu-btn pull-right">
            Menu
        </div>
        <div class="mobile-logo-container">
            <a href="#/">
                <img src="../static/images/compass-logo-white.png" class="logo" alt="Home" />
            </a>
        </div> 
    </div>  

    <!-- Desktop/large screen formats -->
    <div class="desktop-navigation" role="menubar" ng-controller="NavigationCtrl" >
        <div role="menuitem" class="logo-container" rel="tooltip" data-toggle="tooltip" data-placement="right" data-original-title="Home">
            <a href="#/"><img src="../static/images/compass-logo-white.png" class="logo" alt="Home" /></a>
        </div>
        <div ng-show="customer.show_devzones" role="menuitem" aria-haspopup="true" class="nav-item" ng-class="{'nav-item-active': $root.activeTab == devzonesTab}" ng-click="setActiveTab(devzonesTab)">
            <div ng-click="gotoID()">
                <span class="fa fa-heartbeat team_menu nav-item-icon"></span>
                ID
            </div>
        </div>
        <div ng-show="customer.show_shareable_checkins" role="menuitem" aria-haspopup="true" class="nav-item" ng-class="{'nav-item-active': $root.activeTab == checkinTab}" ng-click="setActiveTab(checkinTab)">
            <div ng-click="gotoCheckIns()">
                <span class="fa fa-check team_menu nav-item-icon"></span>
                Check-Ins
            </div>
        </div>
        <div ng-show="customer.show_feedback" role="menuitem" aria-haspopup="true" class="nav-item" ng-class="{'nav-item-active': $root.activeTab == feedbackTab}" ng-click="setActiveTab(feedbackTab)">
            <div ng-click="gotoFeedback()">
                <span class="fa fa-send team_menu nav-item-icon"></span>
                Feedback
            </div>
        </div>
        <div ng-show="customer.show_projects && currentUser.can_view_projects" role="menuitem" aria-haspopup="true" class="nav-item" ng-class="{'nav-item-active': $root.activeTab == projectsTab}" ng-click="setActiveTab(projectsTab)">
            <div ng-click="gotoProjects()">
                <span class="fa fa-lightbulb-o team_menu nav-item-icon"></span>
                Projects
            </div>
        </div>
        <a href="" ng-click="setPrivacyMode()" class="privacy-mode" rel="tooltip" data-toggle="tooltip" data-placement="right" data-original-title="Cat Mode">Cat Mode</a>
    </div>
</nav>


<!-- User Menu -->
<div class="account-menu" data-hj-masked>
    <div class="show-account-menu tiny-headshot">
        <img ng-src="{{currentUser.employee.avatar_small}}" alt="Your avatar" />
    </div>    
    <ul class="account-action-items">
        <li>
            <i class="fa fa-sign-out"></i> <a class="dashboard" href="/logout">Sign Out</a>
        </li>
    </ul>
</div>


<!-- Left Menu -->
<div id="menuleft" ng-class="{retract:!showmenu,slide:showmenu}">
    <ul>
        <li ng-show="customer.show_devzones">
            <a href="#/id" ng-click="toggleMenu()">
                <span class="fa fa-heartbeat team_menu nav-item-icon"></span>
                ID
            </a>
        </li>
        <li ng-show="customer.show_shareable_checkins">
            <a href="#/checkins" ng-click="toggleMenu()">
                <span class="fa fa-check team_menu nav-item-icon"></span>
                Check-Ins
            </a>
        </li>
        <li ng-show="customer.show_feedback">
            <a href="#/feedback" ng-click="toggleMenu()">
                <span class="fa fa-comments team_menu nav-item-icon"></span>
                Feedback
            </a>
        </li>
        <li>
            <a href="/logout" ng-click="toggleMenu()">
                <span class="fa fa-sign-out team_menu nav-item-icon"></span>
                Log Out
            </a>
        </li>
    </ul>
</div>
