<nav role="navigation" aria-label="Main menu">
    <div role="menubar" ng-controller="NavigationCtrl">
        <div role="menuitem" class="logo-container" rel="tooltip" data-toggle="tooltip" data-placement="right" data-original-title="Home">
            <a href="#/"><img src="../static/images/brand/compass-logo-medium.png" class="logo" alt="Home" /></a>
        </div>
        <div role="menuitem" aria-haspopup="true" class="nav-item" ng-class="{'nav-item-active': $root.activeTab == myTab}" ng-click="setActiveTab(myTab)" rel="tooltip" data-toggle="tooltip" data-placement="right" data-original-title="My Stuff">
            <span class="glyphicon glyphicon-user team_menu nav-item-icon"></span>
            <div class="subnav" role="menu">
                <div>
                    <div class="subnav-title">My Stuff</div>
                    <ul>
                        <li ng-if="currentUser.is_team_lead"><a ng-href="#/my-team">My Team</a></li>
                        <li ng-if="currentUser.can_coach_employees"><a ng-href="#/my-coachees">My Coachees</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div ng-show="activeEmployee.is_lead" role="menuitem" aria-haspopup="true" class="nav-item" ng-class="{'nav-item-active': $root.activeTab == employeeTab}" ng-click="setActiveTab(employeeTab)" rel="tooltip" data-toggle="tooltip" data-placement="right" data-original-title="{{activeEmployee.full_name}}">

            <div class="small-headshot team_menu">
                    <img ng-src="{{ activeEmployee.avatar_small }}" class="headshot-image nav-input">
            </div>

            <div class="subnav" role="menu">
                <div>
                    <div class="subnav-title">{{ activeEmployee.full_name }}</div>
                    <ul>
                        <li><a ng-href="#/employees/{{ activeEmployee.id }}">Profile</a></li>
                        <li><a ng-href="#/team-lead/{{ activeEmployee.id }}">Team</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <a href="" ng-click="setPrivacyMode()" class="privacy-mode" rel="tooltip" data-toggle="tooltip" data-placement="right" data-original-title="Privacy Mode">Privacy Mode</a>   
    </div>    
</nav>

<div class="account-menu">
    <div class="show-account-menu tiny-headshot">
        <img ng-src="{{currentUser.employee.avatar_small}}" alt="Your avatar" />
    </div>    
    <ul class="account-action-items">
        <li>
            <i class="fa fa-sign-out"></i> <a class="dashboard" href="/logout">Sign Out</a>
        </li>
    </ul>
</div>