{% extends "layouts/email.html" %}

{% block content %}
        <p>
            Hi, {{ recipient_first_name }}!
        </p>
        <p>
            {% if started %}
            Don't forget to complete your selfie. Click <a href="{{ response_url }}">here</a> to finish.
            {% else %}
            Don't forget to take a selfie. You can start <a href="{{ response_url }}">here.</a>
            {% endif %}
        </p>
        <p>Thanks! <br>--The Scoutmap Team</p>
        <p>
            P.S. Do you have feedback or ideas for us? Let us know on the <a href="https://fool.slack.com/messages/feedback_for_scoutmap/">Feedback for Scoutmap Slack Channel.</a>
        </p>
{% endblock content%}