{% extends "layouts/blank.html" %}
{% load staticfiles %}
{% block title %}Take the Quiz{% endblock title %}

{% block content %}
    {% if user_does_not_exist %}
    <div class="alert alert-warning" role="alert"><i class="fa fa-exclamation-triangle"></i> This sign-in link has already been used. Please request a new one below.</div>
    {% endif %}
    <div class="landing-form">
        <form method="post" action="{% url 'start-quiz' %}">
            {% csrf_token %}
            <div class="header">
                <h1>Get the Find Your Fool Report</h1>
                <h2>
                    <span class="hide-for-mobile">Discover your personal leadership style and uncover how it fits with your team.</span>
                    <span class="mobile-show">Discover your personal leadership style.</span>
                </h2>
            </div>

            <div class="arrow-container">
                <div class="arrow_box completed">Step One</div>
                <div class="arrow_label">Take the Quiz</div>
            </div>

            <div style="clear: both;"></div>

            <div class="copy-box-left">
                Over the years we've discovered there are four types of people needed to grow a successful business. Using a leadership assessment developed by our friends at Predictable Success we've been able to:
            </div>

            <div class="copy-box-right">
                <ul>
                    <li>Increase personal performance by matching the right leadership style to the right role.</li>
                    <li>Maximize team performance by bringing together the right mixture of leadership styles at the appropriate time.</li>
                    <li>Get to the root of team dysfunction by developing a shared vocabulary to address conflict.</li>
                    <li>Improve the quality of decisions at every level of the organization.</li>
                </ul>

                <input type="email" autofocus class="form-control input-lg" name="email" placeholder="Your e-mail">

                {% if form.email.errors %}
                <div class="error-message" style="margin-bottom: 15px;">{{ form.email.errors }}</div>
                {% endif %}
                <button class="btn btn-submit btn-block" style="margin-bottom: 8px;" type="submit">Get started</button>
                <p class="centered" style="color: #aaa;">Already taken the quiz? <a href="/account/login">Sign in here.</a></p>
            </div>

            <!--
            <div style="clear: both;"></div>

            <input type="email" autofocus class="form-control input-lg" style="width: 200px;" name="email" placeholder="Your e-mail">

            {% if form.email.errors %}
            <div class="error-message" style="margin-bottom: 15px;">{{ form.email.errors }}</div>
            {% endif %}
            <button class="btn btn-success btn-block" style="margin-bottom: 8px;" type="submit">Find out what type of Fool you are</button>
            <p class="centered" style="color: #aaa;">Already taken the quiz? <a href="/account/login">Sign in here.</a></p>
            -->
        </form>
    </div>
{% endblock %}