<div class="panel panel-default">
    <div class="panel-heading">
        {{ feedback.reviewer }}
    </div>
    <div class="panel-body">
        <div>
            <h4>How is {{ feedback.subject.full_name }} awesome?</h4>

            <div>
                {{ feedback.excels_at }}
            </div>
        </div>
        <div>
            <h4>Where can {{ feedback.subject.full_name }} be more awesome?</h4>

            <div>
                {{ feedback.could_improve_on }}
            </div>
        </div>
    </div>
</div>
