{% extends "layouts/email.html" %}

{% block content %}
        <h2>It takes just 5 minutes</h2>
        {% if employee_first_name %}
            <p>Hi {{ employee_first_name }},</p>
        {% endif %}
        <p>{{ reminded_by_name }} just sent you a reminder to finish your quiz.</p>
        {%  if message %}
            <p>"{{ message }}"</p>
        {%  endif %}
        {%  if has_started_quiz %}
        <p>
            Click the link below to finish your quiz:
        </p>
        {%  else %}
        <p>
            Click the link below to take your quiz:
        </p>
        {%  endif %}
        <p>
            <a href="{{ quiz_url }}">{{ quiz_url }}</a>
        </p>
{% endblock content%}