{% extends "layouts/email.html" %}

{% block content %}
        <p>
            {{ team.owner.full_name }} {{ team.owner.email }}
        </p>
        {% for leadership_style in leadership_styles %}
            {% if not leadership_style.completed %}
            <p>
                {{ leadership_style.employee.full_name }} Not Completed
            </p>
            {% else %}
            <p>
            {{ leadership_style.employee.full_name }}
            {% for score in leadership_style.scores.all|dictsortreversed:"score" %}
                {{ score.style_verbose }} - {{ score.score }}
            {% endfor %}
            </p>
            {% endif %}

        {% endfor %}
{% endblock content%}