{% extends "layouts/email.html" %}

{% block content %}
        <p>
            {{ owner.full_name }} {{ owner.email }}
        </p>
        {% for member in team_members %}
            {% if member.leadership_style.completed %}
            <p>
                {{ member.full_name }} Not Completed
            </p>
            {% else %}
            <p>
            {{ member.full_name }}
            {% for score in member.leadership_style.scores.all %}
                {{ score.style_verbose }} - {{ score.score }}
            {% endfor %}
            </p>
            {% endif %}

        {% endfor %}
{% endblock content%}