<div class="activity-checkin row profile-summary">
    <div class="activity-checkin-details">
            <h2 class="panel-title" style="padding-left: 25px">
                <span ng-if="profile.filter.self">My </span>
                <span ng-if="!profile.filter.self">{{profile.employee.first_name}}'s </span>
                Team
            </h2>
            <div class="change-coach" style="padding-bottom: 40px;">
                <carousel interval="profile.slideInterval">
                    <slide ng-repeat="teamMemberCluster in profile.teamMemberClusters">
                        <div ng-repeat="employee in teamMemberCluster" class="coach-profile" style="display:inline-block">
                            <div class="xxlarge-avatar-container" ng-class="{'disable': changeCoach.newCoach && (changeCoach.newCoach.id != coach.id)}" style="padding: 0 20px;">
                                <a ng-click="profile.orgChartSelect=employee" style="cursor: pointer">
                                    <div class="large-headshot centered">
                                        <img ng-src="{{ employee.avatar }}" alt="{{ employee.full_name }}'s avatar" class="headshot-image" />
                                    </div>
                                </a>
                            </div>
                            <div>{{employee.full_name}}</div>
                        </div>
                    </slide>
                </carousel>
            </div>
            <div style="display: inline-block;width:315px;vertical-align: top">
                <div>
                    <h2 class="panel-title" style="margin-left:25px">Development Portfolio</h2>
                    <div class="talent-pie-chart-container" style="margin: 20px 0">
                        <div x-talent-category-chart size="xsmall"></div>
                    </div>
                </div>

            </div>
            <div style="display: inline-block;width:218px">
                <h2 class="panel-title">Total People Investment</h2>
                <span class="total">{{salaryReport.total_salaries | currency | noCents }}</span>
            </div>
            <div class="panel salary-totals stripes">
                <h2 class="panel-title">Invests by Development</h2>
                <div class="salary-total-type" ng-repeat="(category, report) in salaryReport.categories track by $index" ng-if="category>0">
                    <a href="#/employees/?talent_category={{category}}&team_id={{team.id}}">
                        <i class="glyphicon glyphicon-user pull-left employee-segment employee-segment-color-{{category}}"></i>
                        <span class="salary-total-amount">{{report.salaries | currency | noCents }}</span>
                        <span class="salary-segment-label">{{talentCategories[category].label}}</span>
                    </a>
                </div>
                <div class="salary-total-type" ng-if="salaryReport.categories['0']">
                    <a href="#/employees/?talent_category={{category}}&team_id={{team.id}}">
                        <i class="glyphicon glyphicon-user pull-left employee-segment employee-segment-color-0"></i>
                        <span class="salary-total-amount">{{salaryReport.categories['0'].salaries | currency | noCents }}</span>
                        <span class="salary-segment-label">{{talentCategories[0].label}}</span>
                    </a>
                </div>
            </div>



    </div>
</div>

<style>
    .profile-summary {
        padding: 10px 10px;
    }
    .profile-summary .profile-summary-label{
        color: #aaa;padding-bottom:8px;
    }
</style>