<h2 class="panel-title">Feedback Tips</h2>
<div ng-bind-html="customer.feedback_tips"></div>

<script type="text/javascript">   
    $(document).ready(function(){

        /* TODO: move to angular */
        setTimeout(function(){

            /* Start carousel */
            $('.carousel').carousel({
              interval: 20000
            });
            $('.control-next').bind('click', function(e) { /* Next tip */
                e.preventDefault();
                $('.carousel').carousel('next');
            });
            $('.control-prev').bind('click', function(e) { /* Prev tip */
                e.preventDefault();
                $('.carousel').carousel('prev');
            });

            $('.form-control').focus(function() {
                $('.carousel').carousel('pause');
                console.log('Carousel Paused');
            });
            $('.form-control').blur(function() {
                $('.carousel').carousel('cycle');
                console.log('Carousel Start');
            });

        }, 2000);
        $('.carousel').carousel('cycle');
    });    
</script>