<div class="panel todos" ng-show="feedbackCoachWidget.show">
	<h2 class="panel-title">360 Feedback</h2>
    <tabset>
        <tab heading="Ready" active="true">
            <div ng-show="feedbackCoachWidget.progressReports.length === 0" class="todos-empty">
                <p>You have no feedback to deliver.</p>
            </div>
            <div ng-if="feedbackCoachWidget.progressReports.length > 0">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" style="width:50%">Employee</th>
                            <th scope="col" class="centered" style="width:20%">Requested</th>
                            <th scope="col" class="centered" style="width:20%">Received</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="progressReport in feedbackCoachWidget.progressReports">
                            <td>
                                <span class="tiny-headshot">
                                    <img ng-src="{{ progressReport.employee.avatar_small }}" alt="{{ progressReport.employee.full_name }}'s avatar" />
                                </span>
                                {{ progressReport.employee.full_name }}
                            </td>
                            <td class="centered">
                                {{ progressReport.recent_feedback_requests_ive_sent_count }}
                            </td>
                            <td class="centered">
                                {{ progressReport.total_submissions_count }}
                            </td>
                            <td>
                                <a href="/#/feedback/{{progressReport.employee.id}}/worksheet/" class="btn btn-sm btn-success pull-right">View</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </tab>
        <tab heading="Finished">
            <div ng-show="feedbackCoachWidget.digests.length === 0" class="todos-empty">
                <p ng-show="view == 'my-view'">You have not delivered any feedback yet.</p>
            </div>
            <div ng-if="feedbackCoachWidget.digests.length > 0">
                <table class="table table-striped" style="margin-bottom:45px">
                    <thead>
                        <tr>
                          <th style="width:50%">Employee</th>
                          <th class="centered" style="width:40%">Delivered</th>
                          <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="digest in feedbackCoachWidget.digests">
                            <td>
                                <span class="tiny-headshot">
                                    <img ng-src="{{ digest.subject.avatar_small }}" alt="{{ digest.subject.full_name }}'s avatar" />
                                </span>
                                {{ digest.subject.full_name }}
                            </td>
                            <td class="centered">
                                {{ digest.delivery_date | fromNow }}
                            </td>
                            <td>
                                <a href="/#/feedback/digest/{{digest.id}}/" class="btn btn-sm btn-success pull-right">View</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </tab>
    </tabset>    
</div>