<h2 class="panel-title">Happiness</h2>

<div ng-if="happys.length>0" style="margin: 10px;">
    <div happiness-chart data="{{happys}}" showComment="{{showComment}}" style="height: 80%;text-shadow: none"></div>
    <div ng-show="showComment" style="margin:20px 15px;padding:8px 0 8px 0px;display: block;width:365px;min-height:180px">
        <h2 style="font-size: 14px;color: #8b8b8b;border-bottom: 2px solid #8b8b8b">{{clicked_happy.comment.created_date | date:'MMM d, yyyy'}}</h2>
        <div style="display: block;width:365px;min-height: 48px;">
            <div style="display: block; float: left; width: 48px;">
                <a ng-href="#/employees/{{clicked_happy.comment.owner.employee.id}}" style="cursor: pointer;color:#8b8b8b;"><img ng-src="{{ clicked_happy.comment.owner.employee.avatar_small }}" style="display: inline-block; margin-left: auto; margin-right: auto; height: 48px; vertical-align:text-top;"/></a>
            </div>
            <div style="display: block; float: left;padding-left:10px;width: 365px;min-height: 48px;">
                <div>
                    <span ng-init="length=365" data-ng-bind-html="clicked_happy.comment.content | new_line | cut:true:length" style="line-height: 125%"></span> <span ng-show="clicked_happy.comment.content.length>length" ng-init="showMoreButton=true"><a ng-click="length=0;showMoreButton=false;" ng-show="showMoreButton" style="color: #8b8b8b;cursor: pointer">more</a><a ng-click="length=500;showMoreButton=true" ng-show="!showMoreButton" style="color: #8b8b8b;cursor: pointer">less</a></span>
                    <span style="color:#8b8b8b;display:block;margin: 5px 0">{{clicked_happy.comment.created_date | date:'MMM d, yyyy h:mma'}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="margin: 10px 0 35px 0;">
    <p style="margin-bottom:10px;">Add an Engagement Score:</p>
    <button class="btn btn-sm btn-default" data-toggle="modal" data-target="#happiness">Manually</button>
    <button class="btn btn-sm btn-default" ng-class="{'loading': isSurveySending, 'init': !isSurveySending}"  ng-click="toggleSurveyModal()">Send Survey</button>
</div>                  