<span>
    <span ng-if="size=='small'">
        <span class="small-headshot" ng-if='$root.currentUser.employee.id!=employee().id'>
            <a ng-if='employee().requester_has_access' ng-href="#/employees/{{ employee().id }}">
                <img ng-src="{{ employee().avatar_small }}" alt="{{ employee().full_name }}'s avatar" class="headshot-image"/>
            </a>
            <img ng-if='!employee().requester_has_access' ng-src="{{ employee().avatar_small }}" alt="{{ employee().full_name }}'s avatar" class="headshot-image"/>
        </span>
        <span class="small-headshot" ng-if='$root.currentUser.employee.id==employee().id'>
            <img ng-src="{{ employee().avatar_small }}" alt="{{ employee().full_name }}'s avatar" class="headshot-image"/>
        </span>
    </span>
    <span ng-if="size=='large'">
        <span class="large-headshot">
            <img ng-src="{{ employee().avatar }}" alt="{{ employee().full_name }}" class="headshot-image"/>
        </span>
        <div ng-if="employee().current_talent_category && $root.currentUser.employee.id!=employee().id" class="employee-attribute" rel="tooltip" data-toggle="tooltip" data-placement="right"
             data-original-title="{{ talentCategories[employee().current_talent_category].label }}">
            <span class="segment employee-segment-background-color-{{ employee().current_talent_category }}"></span>
        </div>
    </span>
</span>