<div class="activity panel" ng-if="currentUser.can_view_comments">
    <h2 class="panel-title">Activity</h2>

    <!-- Activity stream -->
    <div class="activity-items" ng-repeat="event in events | orderBy:'date':true">
        <div ng-include="'/static/angular/partials/_widgets/activity/activity-comment.html'"></div>
        <div ng-include="'/static/angular/partials/_widgets/activity/activity-checkin.html'"></div>
    </div>

    <!-- No activity message -->
    <div ng-show="comments.length==0" class="no-comments">
        <p>
            <span ng-show="view == 'employee-view'">Start the discussion by entering a comment above.</span>
            <span ng-show="view == 'team-view'">There are not any discussions yet.</span>
        </p>
    </div>

    <!-- Load more button -->
    <button class="btn btn-link btn-sm btn-show-more" ng-show="hasNextPage" ng-click="loadNextPage()">Load More Activity</button>
    <div ng-show="busy" class="no-results"><img src="../static/images/loader.gif" alt="Loading spinner"/></div>    
</div>