<div ng-if="todos.length > 0">
    <div ng-controller="EmployeeToDoCtrl" ng-init="currentToDo=todo">

        <textarea ng-model="newTask.description" ng-blur="saveToDo();scrubToDo(todo);" focus-me="todo.edit"
                  placeholder="Add a To Do..."></textarea>

        <ul class="feed-actions" style="margin-left: 2px;margin-top:0px;">
            <li class="feed-action"><a class="assignee_menu" ng-click="toggleAssigneeMenu()"
                                       style="color: #8b8b8b;cursor: pointer;">
                {{ todo.assigned_to.full_name||"Unassigned"}}</a></li>
            <li class="feed-action"><a ng-click="open($event);closeAssigneeMenu()"
                                       style="color: #8b8b8b;cursor: pointer;">
                {{(todo.due_date | date:'MMM d, yyyy') || "No due date"}}</a></li>
            <li class="feed-action"><a ng-show="!todo.edit" ng-click="todo.edit=true" class="feed-action"
                                       style="color: #8b8b8b;cursor: pointer;">edit</a><a ng-show="todo.edit"
                                                                                          ng-click="todo.edit=false"
                                                                                          class="feed-action"
                                                                                          style="color: #8b8b8b;cursor: pointer;">edit</a>
            </li>
            <span style="color:#8b8b8b;"><a ng-click="deleteToDo(todo)" class="feed-action"
                                            style="color: #8b8b8b;cursor: pointer;">delete</a></span>
        </ul>

        <span type="text" class="form-control" datepicker-popup="{{ format }}" ng-model="todo.due_date" is-open="opened"
              min="minDate" datepicker-options="" date-disabled="disabled(date, mode)" show-weeks="false"
              ng-required="true" close-text="Close"/>

        <div id="assignee-menu" index="{{$index}}" ng-show="openAssigneeMenu"
             style="border: 1px solid #ccc;padding: 5px 3px;border-radius: 4px;background-color:#272727;margin-bottom:10px;">
            <div class="assignee-arrow-border"></div>
            <div class="assignee-arrow"></div>
            <ul style="margin-top: -30px;">
                <li class="assignee-select"><a class="assignee-select-link"
                                               ng-click="assigneeMenu.show=false;todo.assigned_to=null;saveToDo()">Unassigned</a>
                </li>
                <li class="assignee-select" ng-repeat="assignee in assignees | orderBy:'full_name'">
                    <a class="assignee-select-link"
                       ng-click="assigneeMenu.show=false;todo.assigned_to=assignee;saveToDo()"
                       style="cursor: pointer;">{{ assignee.full_name }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div ng-if="todos.length==0" ng-click="addToDo(employee.id)" style="margin: 30px;cursor: pointer">
    <span style="display:block;color: #8b8b8b;">Add Your First Task</span>
    <span class="glyphicon-regular glyphicon-tasks" style="font-size: 100px;margin-left: 30px"></span>
</div>
<button class="comment" ng-click="add()">Add</button>
