<div class="panel new-comment">
    <h2 class="panel-title">Add a Note</h2>
    <form name="addCommentForm">
        <textarea class="form-control" ng-model="newComment.content" name="content" ng-class="{'expand': comment.expandTextArea, 'compress': !comment.expandTextArea}" ng-click="comment.expandTextArea=true;toggleCommentTextExpander(comment)" rows="1" cols="40" placeholder="Add a comment about {{employee.full_name}}..."></textarea>
        <div class="visibility" style="display:none;">
            <label>
                <input name="include_in_daily_digest" ng-model="newComment.include_in_daily_digest" type="checkbox"> Include in <span ng-controller="ShowDailyDigestCtrl"><a ng-click="showMembers()">Daily Digest Email</a></span>
            </label>
            <button class="btn btn-primary pull-right" ng-disabled="!newComment.content" ng-click="addComment(addCommentForm);">Comment</button>
        </div> 
    </form>        
</div>    