<span ng-show="currentUser.can_edit_employees" class="pull-right">
    <a ng-show="!employeeEdit" ng-click="editEmployee(employee, leadership, employees, teams)" class="btn btn-default btn-xs">Edit</a>
</span>
<h2 class="panel-title">Bio</h2>
<a ng-show="employeeEdit && !currentlyEditing" class="glyphicon glyphicon-edit" style="float:left;cursor:pointer;padding-right:10px"></a>
<span ng-show="employeeEdit && currentlyEditing" class="glyphicon glyphicon-edit-disable" style="padding-right:10px;float: left;"></span>
<ol class="bio-list">
    <li class="shaded">
        <strong>Hire date:</strong> {{ employee.hire_date | date:'MM/dd/yyyy' }}
    </li>
    <li ng-show="employee.departure_date">
        <strong>Departure Date:</strong> {{ employee.departure_date | date:'MM/dd/yyyy' }}
    </li>
    <li>
        <strong>Team Lead:</strong> <a ng-href="#/employees/{{employee.current_leader.id}}">{{ employee.current_leader.full_name }}</a>
    </li>
    <li ng-if="customer.show_coaches" class="clear">
        <strong>Coach:</strong> <a ng-href="#/employees/{{employee.coach.id}}">{{ employee.coach.full_name }}</a>
    </li>
    <li class="shaded">
        <strong>Team:</strong> <span ng-if="employee.team"><a ng-href="#/teams/{{employee.team.id}}">{{ employee.team.name }}</a></span>
    </li>
    <li>
    <strong>Skills:</strong>
        <ul ng-if="skills.length > 0">
            <li>
                <span ng-repeat="skill in skills | limitTo:4">
                  <text ng-if="!$last">{{ skill.name }},</text>
                  <text ng-if="$last">{{ skill.name }}</text>
                </span>
            </li>
        </ul>
    </li>
    <li ng-if="customer.show_vops" class="shaded">
        <strong>Synergist Style:</strong>
        <span ng-if="employee.vops_visionary > 299"><a ng-click="showAttributes('synergist-view', 'Visionary');">Visionary</a></span>
        <span ng-if="employee.vops_operator > 299"><a ng-click="showAttributes('synergist-view', 'Operator');">Operator</a></span>
        <span ng-if="employee.vops_processor > 299"><a ng-click="showAttributes('synergist-view', 'Processor');">Processor</a></span>
        <span ng-if="employee.vops_synergist > 299"><a ng-click="showAttributes('synergist-view', 'Synergist');">Synergist</a></span>
    </li>
    <li ng-if="customer.show_mbti">
        <strong>Myers Briggs:</strong> <span ng-if="mbti"><a ng-click="showAttributes('mbti-view');">{{ mbti.type | uppercase}}</a></span>
    </li>
    <li ng-if="customer.show_kolbe" class="shaded">
        <strong>Kolbe:</strong>
        <span ng-if="employee.kolbe_fact_finder"><a ng-click="showAttributes('kolbe-view', 'Fact Finder');">{{ employee.kolbe_fact_finder }}</a>,</span>
        <span ng-if="employee.kolbe_follow_thru"><a ng-click="showAttributes('kolbe-view', 'Follow Thru');">{{ employee.kolbe_follow_thru }}</a>,</span>
        <span ng-if="employee.kolbe_quick_start"><a ng-click="showAttributes('kolbe-view', 'Quick Start');">{{ employee.kolbe_quick_start }}</a>,</span>
        <span ng-if="employee.kolbe_implementor"><a ng-click="showAttributes('kolbe-view', 'Implementor');">{{ employee.kolbe_implementor }}</a></span>
    </li>
</ol>