<span ng-show="currentUser.can_edit_employees" class="pull-right">
    <a ng-show="!employeeEdit" ng-click="toggleEmployeeModal();" class="btn btn-default btn-xs">Edit</a>
</span>
<h2 class="panel-title">Bio</h2>
<a ng-show="employeeEdit && !currentlyEditing" class="glyphicon glyphicon-edit" style="float:left;cursor:pointer;padding-right:10px"></a>
<span ng-show="employeeEdit && currentlyEditing" class="glyphicon glyphicon-edit-disable" style="padding-right:10px;float: left;"></span>
<ol class="bio-list">
    <li class="shaded">
        <strong>Hire date:</strong> {{ employee.hire_date | date:'MM/dd/yyyy' }}
    </li>
    <li ng-show="employee.departure_date">
        <strong>Departure Date:</strong> {{ employee.departure_date | date:'MM/dd/yyyy' }}
    </li>
    <li>
        <strong>Team Lead:</strong> <a ng-href="#/employees/{{leadership.leader.id}}">{{ leadership.leader.full_name }}</a>
    </li>
    <li ng-if="customer.show_coaches" class="clear">
        <strong>Coach:</strong> <a ng-href="#/employees/{{employee.coach.id}}">{{ employee.coach.full_name }}</a>
    </li>
    <li class="shaded">
        <strong>Team:</strong> <span ng-if="employee.team"><a ng-href="#/teams/{{employee.team.id}}">{{ employee.team.name }}</a></span>
    </li>
    <li>
    <strong>Skills:</strong>
        <ul ng-if="skills.length > 0">
            <li>
                <span ng-repeat="skill in skills | limitTo:4">
                  <text ng-if="!$last">{{ skill.name }},</text>
                  <text ng-if="$last">{{ skill.name }}</text>
                </span>
            </li>
        </ul>
    </li>
</ol>