<div class="panel talent-portfolio">
	<a href="javascript:void(0)" data-toggle="modal" data-target="#distributions-modal" class="pull-right underline">Explanation</a>
    <h2 class="panel-title">Development Portfolio</h2>
    <div class="talent-pie-chart-container"> 
        <div x-talent-category-chart size="small" style="width: 100%; height: 100%;"></div>
    </div>
</div>
    <div class="modal fade in" id="distributions-modal" data-keyboard="true" >
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="modal-body">
                    <h4 class="modal-title">Development Portfolio Explanation</h4>
                    <div class="distributions">
                        <!-- TODO: get these from model -->
                        <p class="distribution"><span class="tag employee-segment-background-color-1">Unleash</span> Has the freedom to design their role and pick important projects.</p>
                        <p class="distribution"><span class="tag employee-segment-background-color-2">Challenge</span> With a few, targeted moves they could be next level.</p>
                        <p class="distribution"><span class="tag employee-segment-background-color-3">Push</span> They need to be pushed beyond their comfort zone.</p>
                        <p class="distribution"><span class="tag employee-segment-background-color-4">Discover</span> They need help uncovering their hidden potential.</p>
                        <p class="distribution"><span class="tag employee-segment-background-color-5">Shift</span> They are being underutilized and need a change.</p>
                        <p class="distribution"><span class="tag employee-segment-background-color-6">Worry</span> We're worried about them.</p>
                        <p class="distribution"><span class="tag employee-segment-background-color-7">Onboard</span> Needs help understanding what makes people successful in your culture.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
