    <div>
        <h3>How often would you like your manager to check in with you?</h3>
        <div class="radio-box">
            <div class="radio">
              <label>
                <input type="radio" name="happyRating" ng-model="happy.assessment" id="happyRating5" value="5" checked>
                Weekly
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="happyRating" ng-model="happy.assessment" id="happyRating4" value="4" checked>
                Bi-weekly
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="happyRating" ng-model="happy.assessment" id="happyRating3" value="3" checked>
                Monthly
              </label>
            </div>
        </div>
    </div>