<a class="feedback-button" data-toggle="modal" data-target="#feedback">
    Feedback
</a>

<!-- Modal -->
<div class="modal feedback-modal fade" id="feedback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <img class="headshot" src="http://cdn2.hubspot.net/hub/40236/file-19857366-jpg/images/customerfeedback-dog-resized-600.jpg?t=1428346781834" alt="Doug Dosberg" />
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-body">
                <h4 class="modal-title">Hey! It's Ralph. </h4>
                <p class="modal-subtext">Your feedback is very important to us. Help us improve Scoutmap by dropping a note below. Thanks! </p>
                <textarea class="form-control modal-textarea"></textarea> 
            </div>
            <button type="button" class="btn btn-success modal-btn">Send Feedback</button>
        </div>
    </div>
</div>