<div class="panel row">
    <h2 class="panel-title" ng-show="view == 'lead-view'">Team Leads</h2>
    <h2 class="panel-title" ng-show="view == 'team-view'">Team Members</h2>
    <h2 class="panel-title" ng-show="view == 'coach-view'">People I Coach</h2>
    <div class="team-leads">
        <div class="team-lead" ng-repeat="employee in employees | orderBy:'talent_category'">
            <a class="avatar-container" ng-if="employee.display" href="#/employees/{{employee.id}}">
                <div class="xlarge-headshot">
                    <img ng-src="{{ employee.avatar_small }}" />
                </div>
                <div class="employee-attribute" rel="tooltip" data-toggle="tooltip" data-placement="right" data-original-title="{{ talentCategories[employee.talent_category].label }}">
                    <span title="{{employee.talent_category}}" class="segment employee-segment-background-color-{{employee.talent_category}}"></span>
                </div>
            </a>
            <a class="team-lead-name" ng-if="employee.display" href="#/employees/{{employee.id}}">
                {{employee.full_name}}
            </a>    
        </div>
    </div>
</div>