<div style="position:absolute; top:0; right:0">
    
    <!-- Account/logout -->
    <div class="nav-item" ng-class="{'menu-item-active':openSettingsMenu}">
        <img class="settings_menu" ng-src="{{currentUser.employee.avatar_small}}" ng-click="toggleSettingsMenu()" style="height:27px;"/>
        <div id="selection-shell" ng-show="openSettingsMenu" style="margin-left:-248px">
            <div id="selection-title">Account</div>
            <div id="selection-list">
                <ul style="padding: 10px 10px;">
                    <li ng-if="currentUser.can_coach_employees && customer.show_coaches">
                        <a class="dashboard" href="#/coach/" style="height:27px;">My Coachees</a>
                    </li>
                    <li>
                        <a class="dashboard" href="/logout" style="height:27px;"><div style="float:left;margin-right: 5px;"><img class="settings_menu" ng-src="{{currentUser.employee.avatar_small}}" style="height:27px;"/></div><div style="float:left;margin-top:5px;">{{currentUser.employee.full_name}}</div><div style="float:right;margin-top:5px;">Sign Out</div></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<header id="main-header">
    <div class="logo-container">
        <a href="#/"><img src="../static/images/brand/compass-logo-medium.png" class="logo"/></a>
    </div>    
    <div ng-controller="EmployeeListCtrl">
        <div class="nav-item hide">
            <a ng-href="#/"><span class="fa fa-tachometer nav-item-icon"></span></a>
        </div>
        <div class="nav-item" ng-if="currentUser.can_view_company_dashboard" ng-class="{'menu-item-active':openFilterMenu}">
            <span class="nav-item-icon glyphicon glyphicon-user filter_menu" ng-mouseover="toggleFilterMenu()"></span>
            <div class="subnav" ng-show="openFilterMenu">
                <div class="selection-title">Employee Segments</div>
                <ul class="talent-groups">
                    <li>
                        <a class="dashboard" href="#/evaluations/current?talent_category=1">
                            <i class="glyphicon glyphicon-user pull-left user-segment user-segment-color-1"></i>
                            <span>Top Talent</span>
                        </a>
                    </li>
                    <li>
                        <a class="dashboard" href="#/evaluations/current?talent_category=2">
                            <i class="glyphicon glyphicon-user pull-left user-segment user-segment-color-2"></i>
                            <span>Strong Talent</span>
                        </a>
                    </li>
                    <li>
                        <a class="dashboard" href="#/evaluations/current?talent_category=3">
                            <i class="glyphicon glyphicon-user pull-left user-segment user-segment-color-3"></i>
                            <span>Good Talent</span>
                        </a>
                    </li>
                    <li>
                        <a class="dashboard" href="#/evaluations/current?talent_category=4">
                            <i class="glyphicon glyphicon-user pull-left user-segment user-segment-color-4"></i>
                            <span>Low Potential</span>
                        </a>
                    </li>
                    <li>
                        <a class="dashboard" href="#/evaluations/current?talent_category=5">
                            <i class="glyphicon glyphicon-user pull-left user-segment user-segment-color-5"></i>
                            <span>Low Performing</span>
                        </a>
                    </li>
                    <li>
                        <a class="dashboard" href="#/evaluations/current?talent_category=6">
                            <i class="glyphicon glyphicon-user pull-left user-segment user-segment-color-6"></i>
                            <span>Poor Talent</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="nav-item" ng-if="currentUser.can_view_company_dashboard" ng-class="{'menu-item-active':openTeamMenu}" ng-controller="TeamListCtrl">
            <span class="fa fa-file-text team_menu nav-item-icon" ng-mouseover="toggleTeamMenu()"></span>
            <div class="subnav subnav-reports" ng-show="openTeamMenu">
                <div class="selection-title">Teams</div>
                <ul>
                    <li ng-repeat="team in teams | filter:{name:teamQuery}:startsWith | orderBy:'name'">
                        <a class="dashboard" href="#/teams/{{team.id}}">{{team.name}}</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Add Employee -->
        <div class="nav-item" ng-if="currentUser.can_view_company_dashboard" ng-class="{'menu-item-active':openEmployeeMenu}">
            <span class="fa fa-gear employee_menu nav-item-icon" ng-mouseover="toggleEmployeeMenu()"></span>
            <div class="subnav subnav-settings" ng-show="openEmployeeMenu">
                <div ng-show="currentUser.can_edit_employees">
                    <div class="selection-title">Settings</div>
                    <ul>
                        <li ng-show="!showAddEmployee">
                            <a class="dashboard employee_menu" ng-click="toggleEmployeeModal();">
                                <span class="glyphicon glyphicon-user"></span>
                                <span>Add Employee</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <!-- Find Employee -->
        <div class="nav-item" ng-if="currentUser.can_view_company_dashboard">
            <div class="fa fa-search nav-item-icon" ng-mouseover="toggleSearchMenu()"></div>
            <div class="subnav subnav-settings" ng-show="openSearchMenu">
                <input ng-click="toggleNavQuery()" class="search-input nav_query" ng-model="navQuery" type="text" placeholder="Search Employees..."/>
                <div id="selection-shell" ng-show="navQuery!=''" style="width:350px;">
                    <div id="selection-title">Employees</div>
                      <div id="selection-list">
                        <ul style="padding:0px 10px 10px 10px;">
                            <div ng-if="navQuery!=''" style="margin-top:12px">
                                <li ng-repeat="employee in filteredEmployees = (employees |filter:{full_name:navQuery}:startsWith) | orderBy:'full_name'">
                                    <a class="dashboard" href="#/employees/{{employee.id}}"><img class="settings_menu" ng-src="{{employee.avatar_small}}" style="padding-right:10px;height:27px;vertical-align:middle"/>{{employee.full_name}}</a>
                                </li>
                                <li ng-show="!filteredEmployees.length" style="padding: 13px 20px;">No Results</li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <modal-employee employee='newEmployee' leadership='newLeadership' employees='employees' teams='teams' show='modalEmployeeShown' width='700px'></modal-employee>
    </div>    
</header>