    <div>
        <h3>Where are you in your developemt?</h3>
        <div class="radio-box">
            <div class="radio">
              <label>
                <input type="radio" name="happyRating" ng-model="happy.assessment" id="happyRating5" value="5" checked>
                Unleash
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="happyRating" ng-model="happy.assessment" id="happyRating4" value="4" checked>
                Encourage
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="happyRating" ng-model="happy.assessment" id="happyRating3" value="3" checked>
                Challenge
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="happyRating" ng-model="happy.assessment" id="happyRating3" value="3" checked>
                Discover
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="happyRating" ng-model="happy.assessment" id="happyRating3" value="3" checked>
                Change
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="happyRating" ng-model="happy.assessment" id="happyRating3" value="3" checked>
                Worry
              </label>
            </div>
        </div>
    </div>