<div class="panel talent-portfolio row">
    <h2 class="panel-title">Team Leads</h2>
    <div ng-controller="TeamLeadsCtrl" ng-init="init(teamId)">
        <div class="team-lead" ng-repeat="evaluation in teamLeads | orderBy:'talent_category'">
            <a class="avatar-container" ng-if="evaluation.employee.display" href="#/employees/{{evaluation.employee.id}}">
                <img ng-src="{{ evaluation.employee.avatar_small }}" class="medium-round-avatar" />
                <span title="{{evaluation.talent_category}}" class="segment user-segment-background-color-{{evaluation.talent_category}}"></span>
            </a>
            <a class="team-lead-name" ng-if="evaluation.employee.display" href="#/employees/{{evaluation.employee.id}}">
                {{evaluation.employee.full_name}}
            </a>    
        </div>
    </div>
</div>