<div class="panel todos" ng-if="currentUser.can_view_comments">

    <button ng-show="canAddNew" ng-click="newTask()" class="pull-right btn btn-sm btn-success">Add New Task</button>
    <h2 ng-show="widget != false" class="panel-title">Tasks</h2>
    <tabset>
        <tab heading="To Do" active="true">
            <div ng-show="todos.length === 0 && !busy" class="todos-empty">
                <p ng-show="view == 'my-view'">You currently don't have any tasks. Add tasks on employee profile pages.</p>
                <p ng-show="view == 'employee-view'">There are no tasks for {{ employee.full_name }}.</p>
            </div>
            <div ng-if="todos.length > 0">
                <div class="row shaded">
                    <div class="col-md-3 col-lg-2 first"></div>
                    <div class="col-md-4 col-lg-5">Tasks</div>
                    <div class="col-xs-3">Assigned To</div>
                    <div class="col-xs-2">Due Date</div>
                </div>
                <div class="row todo" ng-repeat="task in todos | orderBy:'-created_date'">
                    <div ng-include="'/static/angular/partials/_widgets/task-list-item.html'"></div>
                </div>
                <button class="btn btn-link btn-sm" ng-show="todo_has_next && !busy" ng-click="loadTasks(false)">Load More Tasks</button>
            </div>
            <div ng-show="busy" class="no-results"><img src="../static/images/loader.gif" alt="Loading spinner" /></div>
        </tab>
        <tab heading="Done">
            <div ng-show="done.length === 0 && !busy" class="todos-empty">
                <p ng-show="view == 'my-view'">You don't have any completed tasks.</p>
                <p ng-show="view == 'employee-view'">There are no completed tasks for {{ employee.full_name }}.</p>
            </div>
            <div ng-if="done.length > 0">
                <div class="row shaded">
                    <div class="col-md-3 col-lg-2"></div>
                    <div class="col-md-4 col-lg-5">Tasks</div>
                    <div class="col-xs-3">Assigned To</div>
                    <div class="col-xs-2">Due Date</div>
                </div>
                <div class="row todo" ng-repeat="task in done | orderBy:'-due_date'">
                    <div ng-include="'/static/angular/partials/_widgets/task-list-item.html'"></div>
                </div>
                <button class="btn btn-link btn-sm" ng-show="done_has_next && !busy" ng-click="loadTasks(true)">Load More Tasks</button>
            </div>
            <div ng-show="busy" class="no-results"><img src="../static/images/loader.gif" alt="Loading spinner" /></div>
        </tab>
    </tabset>
</div>