{% extends "layouts/email.html" %}

{% block content %}
        <p>
            Hi, {{ recipient_first_name }}!
        </p>
        <p>
            {{ employee_full_name }} has shared their notes from your check-in with leadership. They have also been published to their profile. You can view their notes <a href="{{ response_url }}">here.</a>
        </p>
        <p>Thanks! <br>--The Scoutmap Team</p>
        <p>
            P.S. Do you have more feedback or ideas for us? Let us know on the <a href="https://fool.slack.com/messages/feedback_for_scoutmap/">Feedback for Scoutmap Slack Channel.</a>
        </p>
{% endblock content%}