{% extends "layouts/email.html" %}

{% block content %}
        <p>
            Hi, {{ recipient_first_name }}!
        </p>
        <p>
            We've gotten some good feedback from you on...uh well feedback...and we've tweaked somethings because of it.
        </p>
        <p>
            If you find someone's feedback helpful you can now tell them how helpful it was as well as give an explanation (optional) as to why it was helpful:
        </p>
        <p>
            <img src='https://s3.amazonaws.com/hippoculture/media/screenshots/Screen+Shot+2015-12-30+at+1.06.21+PM.png' title="Unblock images to show Screen Shot" style="width:650px;border-style=solid;border-right: 1px;border-color: #ebedf3;"/>
        </p>
        {% if helpful_submissions.count > 0 %}
        <p>
            There is one catch though. We can't carry over the data for the feedback you previously indicated was helpful. I know! We're sorry. We just didn't want to misrepresent how helpful your feedback was to you. For your convenience here are the people you had previously said gave you helpful feedback. Click change below to tell them how helpful it was:
            {% for helpful_submission in helpful_submissions %}
                        {% if helpful_submission.anonymous %}
                            <li>Anonymous - <a href="{{ feedback_url }}{{helpful_submission.feedback_digest.id}}">change</a></li>
                        {% else %}
                            <li>{{ helpful_submission.reviewer.full_name }} - <a href="{{ feedback_url }}{{helpful_submission.feedback_digest.id}}">change</a></li>
                        {% endif %}
            {% endfor %}
        </p>
        {% else %}
        <p>
            You can get started <a href="{{ feedback_url }}{{feedback_digest_id}}">here.</a>
        </p>
        {% endif %}
        <p>Thanks! <br>--The Scoutmap Team</p>
        <p>
            P.S. Do you have more feedback or ideas for us? Let us know on the <a href="https://fool.slack.com/messages/feedback_for_scoutmap/">Feedback for Scoutmap Slack Channel.</a>
        </p>
{% endblock content%}