<html>
    <head>
    </head>
    <body>
        <p>
            Hi, {{ recipient_first_name }}!
        </p>
        <p>
            {{ requester_full_name }} has asked you for feedback.
            {% if custom_message %}
            Here are the specific areas they'd like feedback:

            {{ custom_message }}
            {% endif %}
        </p>
        <p>
            To leave feedback for {{ requester_full_name }}, please visit this page: {{ response_url }}
        </p>
    </body>
</html>