<div leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" style="margin:0; padding:0; background-color:#F2F2F2; height:100%!important; width:100%!important">
    <center>

        <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="x_bodyTable" style="border-collapse:collapse; margin:0; padding:0; background-color:#F2F2F2; height:100%!important; width:100%!important">

            <tbody>

                <tr>

                    <td align="center" valign="top" style="margin:0; padding:20px; border-top:0; height:100%!important; width:100%!important">

                        <table width="600" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse; border:0;  background-color: #FFFFFF;height:100%">

                            <tbody>
                                    <tr>
                                        <td valign="top" style="padding-top:20px; padding-right:18px; padding-bottom:9px; padding-left:18px; color:#606060; font-family:Helvetica; font-size:15px; line-height:150%; text-align:left">
                                    	<div style="color:#aaa; font-family:sans-serif; font-size:24px">Your Insights Dashboard</div>
					<p style="font-size:15px; margin:1em 0; padding:0; color:#606060; font-family:Helvetica; line-height:150%; text-align:left">Just so you have it, here is the link to your Insights Dashboard.</p>
        <a href="https://{{report_url}}">https://{{report_url}}</a>
                                    <p style="font-size:15px; margin:1em 0; padding:0; color:#606060; font-family:Helvetica; line-height:150%; text-align:left">Give it a look every now and again to see who has responded to your survey.</p>
<p style="font-size:15px; margin:1em 0; padding:0; color:#606060; font-family:Helvetica; line-height:150%; text-align:left">-Scoutmap Team</p>
<img src="http://www.scoutmap.com/static/images/logo-dark.png" style="width: 150px;" alt="Insights logo" class="insights-logo">
                                        </td>
                                    </tr>

                            </tbody>

                        </table>

                    </td>

                </tr>

            </tbody>

        </table>

    </center>
</div>