{% extends "layouts/blank.html" %}
{% load humanize %}
{% load staticfiles %}
{% block mainclass %}generic insights{% endblock %}
{% block title %}Insights Dashboard{% endblock title %}



{% block content %}

    <header id="main-header" class="ng-scope">
        <div class="logo-container">
            <a href="/"><img src="/static/images/brand/compass-logo-medium.png" class="logo"></a>
        </div>   
    </header>

    <div class="container {% if responses.count < threshold %}no-data{% endif %}">
        <div class="pull-right hide">{{ company }}</div>
        <h1>Insights Dashboard</h1>

        {% if responses.count < threshold %}
            <div class="alert alert-warning" role="alert"><i class="fa fa-exclamation-triangle"></i> You have <strong>{{ responses.count }}</strong> responses. You need  at least two responses to get your insight report!</div>
        {% endif %}

        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load("visualization", "1", {packages:["corechart"]});
            google.setOnLoadCallback(drawChart);
            function drawChart() {
   

                {% if responses %}
                    var data = google.visualization.arrayToDataTable([
                        ["", "People", { role: "style" }],
                        ["Unleash", 6, "#32d0a2"],
                        ["Encourage", 4, "#5ed032"],
                        ["Challenge", 2, "#bcd032"],
                        ["Discover", 1, "#5bc0de"],
                        ["Change", 2, "#ffca00"],
                        ["Worry", 1, "#ff0000"],
                    ]);
                {% else %}
                    var data = google.visualization.arrayToDataTable([
                        ["", "People", { role: "style" }],
                        ["Unleash", 7, "#fafafa"],
                        ["Encourage", 6, "#fafafa"],
                        ["Challenge", 5, "#fafafa"],
                        ["Discover", 4, "#fafafa"],
                        ["Change", 3, "#fafafa"],
                        ["Worry", 2, "#fafaf"],
                    ]);
                {% endif %}
          

              var view = new google.visualization.DataView(data);
              view.setColumns([0, 1,
                               { calc: "stringify",
                                 sourceColumn: 1,
                                 type: "string",
                                 role: "annotation" },
                               2]);

              var options = {
                title: "",
                chartArea: {'width': '100%', 'height': '80%'},
                height: 450,
                bar: {groupWidth: "95%"},
                legend: { position: "none" },
                hAxis: {textStyle: {
                    color: 'black', 
                    fontName: 'Arial', 
                    fontSize: 14
                  }
                },  

                vAxis: {
                    textPosition: 'none',
                    gridlines: {
                        color: 'transparent'
                    },
                    viewWindowMode: 'maximized' 
                },
                annotations: {
                    alwaysOutside: true,
                    textStyle: {
                        fontSize: 18,
                        bold: true,
                    }
                }
              };
              var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
              chart.draw(view, options);
          }
        </script>

        <div class="row">
            <div class="col-sm-4">
                <div class="panel responses">
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#modal" class="pull-right btn btn-success">Send Survey</a>
                    <h2 class="panel-title">{{ responses.count }} Responses</h2>
                    <ul>
                    {% for employee in responses %}
                        <li>
                            <img class="avatar" src="https://hippoculture.s3.amazonaws.com/media/avatars/2013/10/25/male.jpg" />
                            <h3>{{ employee.first_name }} {{ employee.last_name }}</h3> 
                            <p class="timestamp">{{ employee.created_at | timesince }}</p> 
                        </li>
                    {% endfor %}
                    </ul>
                </div> 
            </div>
            <div class="col-sm-8">
                <div class="panel">
                    {% if responses.count < threshold %}
                        <div class="no-data-banner">No Data</div>
                    {% endif %}
                    <a href="" class="pull-right underline">Distribution Explaination</a>
                    <h2 class="panel-title">Team Development Distribution</h2>
                    <div id="columnchart_values" ></div>
                </div>    
                <div class="panel team-engagement">
                    <h2 class="panel-title">Team Engagement</h2>
                    {% if responses.count < threshold %}
                        <div class="no-data-banner">No Data</div>
                    {% endif %}
                    <ul class="moods">
                        <li class="fill">
                            <div class="legend">
                                <div class="face veryhappy-face"></div>
                                Very Happy
                            </div>  
                             {% for employee in responses %}  
                                {% if employee.engagement == 1 %}<div class="user glyphicon glyphicon-user employee-segment-color-{{ employee.talent_category }}"></div>{% endif %}
                             {% endfor %}    
                        </li>
                        <li>
                            <div class="legend">
                                <div class="face happy-face"></div>
                                Happy
                            </div>   
                             {% for employee in responses %}  
                                {% if employee.engagement == 2 %}<div class="user glyphicon glyphicon-user employee-segment-color-{{ employee.talent_category }}"></div>{% endif %}
                             {% endfor %} 
                        </li>
                        <li class="fill">
                            <div class="legend">
                                <div class="face indifferent-face"></div>
                                Indifferent
                            </div>    
                             {% for employee in responses %}  
                                {% if employee.engagement == 3 %}<div class="user glyphicon glyphicon-user employee-segment-color-{{ employee.talent_category }}"></div>{% endif %}
                             {% endfor %} 
                        </li>
                        <li>
                            <div class="legend">
                                <div class="face unhappy-face"></div>
                                Unhappy
                            </div>  
                             {% for employee in responses %}  
                                {% if employee.engagement == 4 %}<div class="user glyphicon glyphicon-user employee-segment-color-{{ employee.talent_category }}"></div>{% endif %}
                             {% endfor %}   
                        </li>
                        <li class="fill">
                            <div class="legend">
                                <div class="face veryunhappy-face"></div>
                                Very Unhappy
                            </div>    
                             {% for employee in responses %}  
                                {% if employee.engagement == 5 %}<div class="user glyphicon glyphicon-user employee-segment-color-{{ employee.talent_category }}"></div>{% endif %}
                             {% endfor %} 
                        </li>                                                                        
                    </ul>   
                     
                </div>  
            </div>
        </div>        




            <div class="panel hide">
                <h3>Your Employee Happiness</h3>
                <ul>
                {% for employee in responses %}
                    <li>{{ employee.engagement }}</li>
                {% endfor %}
                </ul>
            </div>    

            <div class="panel hide">
                <h3>Outlook</h3>
                <ul>
                {% for employee in responses %}
                    <li>{{ employee.talent_category }}</li>
                {% endfor %}
                </ul>
            </div>  
   



    </div>



<div class="modal fade in" id="modal" data-keyboard="true" >
  <div class="modal-dialog">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
 
        <div class="modal-body">
            <h4 class="modal-title">Copy and Paste link below to send your survey</h4>
            <p>Send this link to your team. This link is for your team members only. If you would like to share with other team leaders use this link.</p>
            <p><input class="form-control input-lg access-token-link" value="{{ url }}" autocorrect="off"/></p>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



    {% if responses.count > 9 %} 
        <script type="text/javascript">
            var show_modal = True;
        </script>
    {% endif %}  

{% endblock %}

{% block javascript %}

<script type="text/javascript">
    
    $(function() {

        if (show_modal) {
            $('#modal').modal('show');
        }    

        $('#modal').modal({
          backdrop: 'static',
          keyboard: true
        })
        

        $('.access-token-link').click(function() {
            $(this).select();
        });
    });


</script>
{% endblock %}