{% extends "layouts/blank.html" %}
{% load humanize %}
{% load staticfiles %}
{% block mainclass %}generic survey{% endblock %}
{% block title %}Survey{% endblock title %}

{% block content %}
	<div class="container">
		<h1>Hey there! Please fill out the questionnaire below.</h1>
		<p class="subhead">We'll be using your responses to help make sure your work is important, engaging, and you're happy doing it.</p>
	    <form method="POST">
	    	{% csrf_token %}
	      	{{ form.as_p }}	
	      	<button type="submit" class="btn btn-success">Submit Survey</button>
	    </form>
	</div>	
	<img src="/static/images/logo-dark.png" alt="Logo" class="logo">
{% endblock %}