<div class="container checkin">
    <h1 class="page-title">
        <a href="#/checkins">Check-Ins</a>
    </h1>
	<div class="checkin-header">
		<div class="type-tag">
			<span ng-show="!viewCheckin.checkin.other_type_description">{{ viewCheckin.checkin.type.name }}</span>
			<span ng-show="viewCheckin.checkin.other_type_description">{{ viewCheckin.checkin.other_type_description }}</span>
		</div>

			<img ng-src="{{ viewCheckin.checkin.employee.avatar_small }}" class="headshot medium-headshot pull-left" alt="{{ viewCheckin.checkin.employee.full_name }}'s avatar" />

		<div class="pull-left">
			<h1>{{ viewCheckin.checkin.employee.full_name }}</h1>
			<p class="timestamp">{{ viewCheckin.checkin.host.full_name }} checked in {{ viewCheckin.checkin.date | fromNow }}</p>
		</div>
	</div>	
    <div class="checkin-summary panel">
        <div class="pull-right" style="margin-left: 20px;" ng-show="(viewCheckin.checkin.host.id == currentUser.employee.id) && !viewCheckin.showSummaryEdit">
            <i class="fa fa-cog show-popover"></i>
            <ul class="popover-items" style="display:none">
                <li class="popover-item">
                    <a ng-click="viewCheckin.showSummaryEdit=true" class="edit"><i class="fa fa-pencil-square-o"></i> Edit</a>
                </li>
                <li class="popover-item">
                    <a ng-click="viewCheckin.deleteCheckin(viewCheckin.checkin)"><i class="fa fa-trash-o"></i> Delete</a>
                </li>
            </ul>
        </div>
    	<div ng-hide="viewCheckin.showSummaryEdit">
    		<!-- <span class="checkin-summary-instance" data-ng-bind-html="checkin.summary | new_line | cut:true:length"></span> -->
    		<!-- preserve white space and newlines -->
    		<span class="checkin-summary-instance">{{ viewCheckin.checkin.summary }}</span>
            <div ng-show="(viewCheckin.checkin.employee.id == currentUser.employee.id) && !viewCheckin.checkin.published">
                <br/>
                <button class="btn" type="button" ng-click="viewCheckin.showSummaryEdit=true"><i class="fa fa-pencil"></i> Edit Check-In</button>
                <button class="btn btn-success pull-right" type="button" ng-click="viewCheckin.shareWithLeadership();"><i class="fa fa-paper-plane"></i> Share Check-In</button>
            </div>
            <div class="pull-right" ng-show="(viewCheckin.checkin.employee.id == currentUser.employee.id) && !viewCheckin.checkin.published">
                <a ng-click="viewCheckin.showWhoCanSeeThis(currentUser.employee.id, true)">Who will it be shared with?</a>
            </div>
            <div ng-show="(viewCheckin.checkin.host.id == currentUser.employee.id) && !viewCheckin.checkin.visible_to_employee && customer.show_shareable_checkins">
                <br/>
                <button class="btn btn-success" type="button" ng-click="viewCheckin.sendToEmployee();"><i class="fa fa-paper-plane"></i> Send to {{ viewCheckin.checkin.employee.full_name }}</button>
            </div>
    	</div>	
	    <div ng-show="viewCheckin.showSummaryEdit">
            <textarea 
               	ng-bind-html="viewCheckin.checkin.summary" ng-model="viewCheckin.checkin.summary" class="form-control edit-textarea" style="min-height:250px;">
            </textarea>
            <div>
                <button class="btn" ng-click="viewCheckin.cancelEditComment(comment);viewCheckin.showSummaryEdit=false">Cancel</button>
        	    <button class="btn btn-success pull-right" ng-click="viewCheckin.saveSummary(viewCheckin.checkin);">Save Edits</button>
            </div>
        </div>
	</div>
	<div class="checkin-happiness panel" ng-show="viewCheckin.checkin.happiness">
		<h2 class="panel-title pull-left">Happiness: 
			<span class="employee-happiness-color-{{viewCheckin.checkin.happiness.assessment}}">{{ viewCheckin.checkin.happiness.assessment_verbose }}</span>
		</h2>
	</div>	
    <div class="checkin-tasks panel todos" ng-if="viewCheckin.checkin.tasks.length > 0">
		<h2 class="panel-title">Tasks</h2>
	    <tabset ng-show="viewCheckin.checkin.tasks.length > 0">
	        <tab heading="To Do" active="true">
	            <div ng-show="viewCheckin.checkin.tasks.length === 0 && !viewCheckin.busy" class="todos-empty">
	                <p ng-show="view == 'my-view'">You currently don't have any tasks. Add tasks on employee profile pages.</p>
	                <p ng-show="view == 'employee-view'">There are no tasks for {{ viewCheckin.employee.full_name }}.</p>
	            </div>
	            <div ng-if="viewCheckin.checkin.tasks.length > 0">
	                <div class="row shaded tab-header">
	                    <div class="col-xs-6"></div>
	                    <div class="col-xs-3">Assigned To</div>
	                    <div class="col-xs-2">Due Date</div>
	                </div>
			        <div class="row todo" ng-repeat="task in viewCheckin.checkin.tasks">
			            <div ng-include="'/static/angular/partials/_widgets/task-list-item.html'" ng-init="mode='simple'"></div>
			        </div>
	                <button class="btn btn-link btn-sm" ng-show="viewCheckin.checkin.tasks.length > 5 && !busy" ng-click="viewCheckin.loadTasks(false)">Load More Tasks</button>
	            </div>
	            <div ng-show="viewCheckin.busy" class="no-results"><img src="../static/images/loader.gif" alt="Loading spinner" /></div>
	        </tab>
	        <tab heading="Done">
	            <div ng-show="viewCheckin.checkin.done.length === 0 && !viewCheckin.busy" class="todos-empty">
	                <p ng-show="view == 'my-view'">You don't have any completed tasks.</p>
	                <p ng-show="view == 'employee-view'">There are no completed tasks for {{ employee.full_name }}.</p>
	            </div>
	            <div ng-if="viewCheckin.checkin.done.length > 0">
	                <div class="row shaded tab-header">
	                    <div class="col-xs-6"></div>
	                    <div class="col-xs-3">Assigned To</div>
	                    <div class="col-xs-2">Due Date</div>
	                </div>
			        <div class="row todo" ng-repeat="task in viewCheckin.checkin.done">
			            <div ng-include="'/static/angular/checkins/partials/task-list-item.html'" ng-init="mode='simple'"></div>
			        </div>
	                <button class="btn btn-link btn-sm" ng-show="done_has_next && !busy" ng-click="viewCheckin.loadTasks(true)">Load More Tasks</button>
	            </div>
	            <div ng-show="viewCheckin.busy" class="no-results"><img src="../static/images/loader.gif" alt="Loading spinner" /></div>
	        </tab>
	    </tabset>
    </div>

    <div ng-show="viewCheckin.checkin.published" ng-include="'/static/angular/checkins/partials/add-comment.html'"></div>
    <div ng-show="viewCheckin.checkin.published" ng-include="'/static/angular/checkins/partials/comments.html'"></div>
</div>