{% extends "layouts/email.html" %}

{% block content %}
    <h2>Daily Recap {{date}}</h2>
    {% if events %}
        <br/>
        <br/>
        <table width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse;border-spacing:0;width:100%;text-align:justify;margin:0;padding:0;border-width:0;">
            <tbody>
            {% load activity_extras %}
            {% for event in events %}
                {% if forloop.counter|divisibleby:2 %}
                <tr>
                {% else %}
                <tr style="background-color: #f9f9f9;">
                {% endif %}
                {% if event.event_type == checkin_type %}
                    <td valign="top" style="height:80px;width:50px">
                        <a href="http://{{site}}/#/employees/{{event.employee.id}}"><img class="medium-headshot" height="50" style="vertical-align:text-top;" src="{{event.employee.avatar_small.url}}"/></a>
                    </td>
                    <td valign="top">
                        <p>
                        <a href="http://{{site}}/#/employees/{{event.employee.id}}"><b>{{event.employee.full_name}}</b></a>
                            {% if event.user.employee.id == event.employee.id %}
                            shared their
                            {% else %}
                            had a
                            {% endif %}
                            {{event.associated_object.get_type_description}} check-in.
                        <br/>
                        {% if event.associated_object.happiness %}
                        <strong>{{ event.associated_object.happiness.assessment_verbose }}</strong>
                        {% endif %}
                        <pre style="font-family: inherit;"><span style="font-size:14px;white-space: pre-wrap;">{{ event | get_description:recipient | default_if_none:"" }}</span></pre>
                        <span style="font-size:14px;color:#AA9C84"><b>from {{event.associated_object.host.full_name}}</b></span>
                        <br/>
                        </p>
                        <br />
                    </td>
                {% elif event.event_type == comment_type %}
                    <td valign="top" style="height:80px;width:50px">
                            <a href="http://{{site}}/#/employees/{{event.employee.id}}"><img class="medium-headshot" height="50" style="vertical-align:text-top;" src="{{event.employee.avatar_small.url}}"/></a>
                    </td>
                    <td valign="top">
                        <p>
                            <a href="http://{{site}}/#/employees/{{event.employee.id}}"><b>{{event.employee.full_name}}</b></a>
                            <br/>
                            <pre style="font-family: inherit;"><span style="font-size:14px;white-space: pre-wrap;">{{ event | get_description:recipient | default_if_none:"" }}</span></pre>
                            <span style="font-size:14px;color:#AA9C84"><b>from {{event.user.employee.full_name}}</b></span>
                            <br/>
                            <a href="http://{{site}}/#/employees/{{event.employee.id}}">leave a comment</a>
                        </p>
                        <br />
                    </td>
                {% elif event.event_type == employeezone_type %}
                    <td valign="top" style="height:80px;width:50px">
                        <a href="http://{{site}}/#/employees/{{event.employee.id}}"><img class="medium-headshot" height="50" style="vertical-align:text-top;" src="{{event.employee.avatar_small.url}}"/></a>
                    </td>
                    <td valign="top">
                        <p>
                        <a href="http://{{site}}/#/employees/{{event.employee.id}}"><b>{{event.employee.full_name}}</b></a>
                            had a development conversation.
                        <br/>
                        {% if event.associated_object.zone %}
                        <strong>{{ event.associated_object.zone.name }}</strong>
                        {% endif %}
                        <pre style="font-family: inherit;"><span style="font-size:14px;white-space: pre-wrap;">{{ event | get_description:recipient | default_if_none:"" }}</span></pre>
                        <span style="font-size:14px;color:#AA9C84"><b>from {{event.user.employee.full_name}}</b></span>
                        <br/>
                        </p>
                        <br />
                    </td>
                {% elif event.event_type == feedbackdigest_type %}
                    <td valign="top" style="height:80px;width:50px">
                        <a href="http://{{site}}/#/employees/{{event.employee.id}}"><img class="medium-headshot" height="50" style="vertical-align:text-top;" src="{{event.employee.avatar_small.url}}"/></a>
                    </td>
                    <td valign="top">
                        <p>
                        <a href="http://{{site}}/#/employees/{{event.employee.id}}"><b>{{event.employee.full_name}}</b></a>
                            Received Feedback
                        <br/>
                        <span style="font-size:14px;color:#AA9C84"><b>from {{event.user.employee.full_name}}</b></span>
                        <br/>
                        </p>
                        <br />
                    </td>
                {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br />
    {% endif %}
{% endblock content%}