
<div class="activity-item" ng-controller="CommentCtrl" summary-length="500">
    <div class="activity-header">
        <div class="activity-description">
            <employee-name employee="event.user.employee"></employee-name>
            {{ event.verb }}
            <span ng-show="event.type == 'comment'">about</span>
            <employee-name employee="event.employee"></employee-name>
            <span class="timestamp pull-right" data-toggle="tooltip" data-placement="top" title="{{ event.date | date:'MMM d, yyyy h:mma' }}">{{ event.date | fromNow }}</span>
            <span ng-show="event.user.id==currentUser.id" class="comment-actions pull-right">
                <div class="activity-popover-container" ng-mousedown="showMouseDownParent=true" ng-mouseup="togglePopOver(event.related_object.id);showMouseDownParent=false;">
                    <div class="activity-popover comment" ng-class="{'mousedown': showMouseDownParent, 'mouseover': showMouseOverParent}"></div>
                    <i class="fa fa-ellipsis-h show-activity-popover" ng-mouseover="showMouseOverParent=true" ng-mouseleave="showMouseOverParent=false"></i>
                </div>
                <ul class="activity-popover-items" ng-show="$root.popOver==event.related_object.id">
                    <li class="activity-popover-item">
                        <a ng-click="edit(event.related_object)" class="edit"><i class="fa fa-pencil-square-o"></i> Edit</a>
                    </li>
                    <li class="activity-popover-item">
                        <a ng-click="deleteEvent(event, events)"><i class="fa fa-trash-o"></i> Delete</a>
                    </li>
                </ul>
            </span>
        </div>
    </div>

    <!-- Comment -->
    <div class="activity-checkin row" ng-show="!editMode">
        <div class="avatar-container col-xs-2">
            <span class="large-headshot">
                <img ng-src="{{ event.employee.avatar_small }}" alt="{{ event.employee.full_name }}" class="headshot-image"/>
            </span>
            <div class="employee-attribute" rel="tooltip" data-toggle="tooltip" data-placement="right"
                 data-original-title="{{ talentCategories[event.employee.current_talent_category].label }}">
                <span class="segment employee-segment-background-color-{{ event.employee.current_talent_category }}"></span>
            </div>
        </div>
        <div class="activity-checkin-details" ng-class="{'col-xs-12 col-sm-10': view='employee-view', 'col-xs-12 col-sm-10': view='team'}">
            <div class="activity-checkin-type pull-right">
                <div class="fa fa-pencil-square-o activity-icon"></div>
            </div>
            <h3 class="comment-title-employee-name"><strong><span class="sensitive-text">{{ event.employee.full_name }}</span></strong></h3>
            <div class="activity-comment comment-text" ng-show="!editMode" read-more ng-model="event.description" words="false" length="400"></div>
        </div>
    </div>

    <!-- Comment Editor -->
    <div ng-show="editMode" class="activity-checkin row">
        <form name="commentEditForm">
            <div class="comment-reply-copy">
                <textarea ng-model="editingComment.content" msd-elastic class="form-control edit-textarea"></textarea>
            </div>
            <div class="visibility pull-right" style="margin:0 25px;">
                <label>
                    <input ng-model="editingComment.include_in_daily_digest" name="include_in_daily_digest" type="checkbox">
                    Include in
                    <span ng-controller="ShowDailyDigestCtrl">
                        <a ng-click="showMembers()">Daily Digest Email</a>
                    </span>
                </label>
            </div>
            <button class="btn btn-primary btn-sm" ng-disabled="!editingComment.content" ng-click="updateEvent(commentEditForm, event)">Save Edits</button>
            <button class="btn btn-link btn-sm" ng-click="cancelEdit()">Cancel</button>
        </form>
    </div>

    <!-- Comment replies -->
    <span class="total-replies" ng-show="event.related_object.replies.length > 0" style="margin-top:5px;">
        <i class="fa fa-comment-o"></i> {{event.related_object.replies.length}}
    </span>
    <div class="comment-replies">
        <div class="comment-reply" ng-repeat="comment in event.related_object.replies | orderBy:'created_date'">
            <div ng-controller="CommentCtrl">
                <div class="comment-actions pull-right">
                    <span ng-show="comment.owner.id==currentUser.id">
                        <div class="activity-popover-container" ng-mousedown="showMouseDown=true" ng-mouseup="togglePopOver(comment.id);showMouseDown=false;">
                            <div class="activity-popover reply" ng-class="{'mousedown': showMouseDown, 'mouseover': showMouseOver}"></div>
                            <i class="fa fa-ellipsis-h show-activity-popover" ng-mouseover="showMouseOver=true" ng-mouseleave="showMouseOver=false"></i>
                        </div>
                        <ul class="activity-popover-items" ng-show="$root.popOver==comment.id">
                            <li class="activity-popover-item">
                                <a ng-click="edit(comment)" class="edit"><i class="fa fa-pencil-square-o"></i>
                                    Edit</a>
                            </li>
                            <li class="activity-popover-item">
                                <a ng-click="delete(comment, event.related_object.replies)"><i class="fa fa-trash-o"></i>
                                    Delete</a>
                            </li>
                        </ul>
                    </span>
                    <span class="timestamp"
                      title="{{ comment.created_date | date:'MMM d, yyyy h:mma' }}" style="vertical-align: top">{{ comment.created_date | fromNow }}</span>
                </div>
                <div class="comment-reply-avatar-container">
                    <a ng-href="#/employees/{{ comment.owner.employee.id }}" class="small-headshot">
                        <img ng-src="{{ comment.owner.employee.avatar_small }}"
                             alt="{{ comment.owner.employee.full_name }}'s avatar" class="headshot-image"/>
                    </a>
                </div>
                <a class="comment-reply-name" ng-href="#/employees/{{ comment.owner.employee.id }}">{{ comment.owner.employee.full_name }}</a>


                <div style="padding-left:50px;" ng-show="editMode">
                    <form name="replyEditForm">
                        <textarea
                                ng-model="editingComment.content"
                                msd-elastic
                                class="form-control edit-textarea">
                        </textarea>
                        <button class="btn btn-primary btn-sm" ng-disabled="!editingComment.content"
                                ng-click="update(replyEditForm, comment)">Save Edits
                        </button>
                        <button class="btn btn-link btn-sm"
                                ng-click="cancelEdit()">Cancel
                        </button>
                    </form>
                </div>
                <div class="comment-reply-copy comment-text" ng-show="!editMode" read-more ng-model="comment.content" words="false" length="400"></div>
            </div>
        </div>
        <div class="comment-reply-textarea">
            <form name="replyForm">
                <div class="small-headshot pull-left" ng-class="{'activate-reply-image': activateReply, 'deactivate-reply-image': !activateReply}" style="margin-left: 7px">
                    <img ng-src="{{ currentUser.employee.avatar_small }}" alt="{{ currentUser.employee.full_name }}'s avatar" class="headshot-image"/>
                </div>
                <textarea class="form-control" ng-class="{'activate-reply': activateReply, 'deactivate-reply': !activateReply}" ng-focus="activateReply=true" name="content" msd-elastic ng-model="newReply.content" rows="1" cols="40" placeholder="Reply to this conversation..."></textarea>
                <div style="display: inline-block;" class="small-comment animate-show" ng-show="activateReply"><button class="small-comment" ng-disabled="!newReply.content" ng-click="addReply(replyForm, event.related_object)">Post</button></div>
            </form>
        </div>
    </div>
</div>