<div infinite-scroll="loadNextPage()" infinite-scroll-distance="2" class="activity panel" ng-if="currentUser.can_view_comments">
    <div ng-class="{'reload-enter': reloadFinished, 'reload-exit': !reloadFinished}" class="reload-animation">
        <h2 ng-if="view != 'me'" class="panel-title">Activity</h2>

        <!-- Activity stream -->
        <div class="activity-items distributions" ng-repeat="event in events | orderBy:'date':true">
            <div ng-if="event.type == 'comment'" ng-include="'/static/angular/activity/partials/activity-comment.html'"></div>
            <div ng-if="event.type == 'check in'" ng-include="'/static/angular/activity/partials/activity-checkin.html'"></div>
            <div ng-if="event.type == 'employee zone'" ng-include="'/static/angular/activity/partials/activity-employee-zone.html'"></div>
            <div ng-if="event.type == 'feedback digest'" ng-include="'/static/angular/activity/partials/activity-feedback-digest.html'"></div>
        </div>

        <!-- No activity message -->
        <div ng-show="events.length==0" class="no-comments">
            <p>
                <span ng-show="view == 'company'">There are no discussions yet.</span>
                <span ng-show="view == 'employee'">Start the discussion by entering a comment above.</span>
                <span ng-show="view == 'me'">You don't have any discussions yet.</span>
                <span ng-show="view == 'team'">There are no discussions yet.</span>
            </p>
        </div>
    </div>
    <div ng-show="busy" class="no-results"><img src="../static/images/loader.gif" alt="Loading spinner"/></div>
</div>