
<div class="activity-item">
    <div class="activity-header">
        <div class="activity-description">
            <employee-name employee="event.user.employee"></employee-name>
            {{ event.verb }} to
            <employee-name employee="event.employee"></employee-name>
            <span class="timestamp pull-right" data-toggle="tooltip" data-placement="top" title="{{ event.date | date:'MMM d, yyyy h:mma' }}">{{ event.date | fromNow }}</span>
        </div>    
    </div>
    <div class="activity-checkin row" ng-if="!event.show_conversation">
        <div class="avatar-container col-xs-2">
            <span class="large-headshot">
                <img ng-src="{{ event.related_object.subject.avatar_small }}" alt="{{ event.related_object.subject.full_name }}" class="headshot-image"/>
            </span>
            <div class="employee-attribute" rel="tooltip" data-toggle="tooltip" data-placement="right"
                 data-original-title="{{ talentCategories[event.employee.current_talent_category].label }}">
                <span class="segment employee-segment-background-color-{{ event.employee.current_talent_category }}"></span>
            </div>
        </div>
        <div class="activity-checkin-details" ng-class="{'col-xs-12 col-sm-10': view='employee-view', 'col-xs-12 col-sm-10': view='team'}">
            <div class="activity-checkin-type pull-right">
                <div class="fa fa-send activity-icon"></div>
            </div>
            <h3 class="comment-title-employee-name"><strong><span class="sensitive-text">{{ event.employee.full_name }}</span></strong></h3>
            <div class="checkin-type">Feedback Delivered!</div>
        </div>
    </div>
</div>    