body {
    background: #f1f1f1 url('../../images/topo.png');
}
h1 {
    margin: 0;
}
h3 {
    font-size: 18px;
}
.logo {
    margin: 20px 50px;
    width: 250px;
}

.help-text {
  color: #888;
  font-size: 13px;
  line-height: 13px;
  margin-top: -5px;
  display: block;
}


.questions-link {
    position: absolute;
    right: 40px;
    top: 25px;
}
.pricing {
    background-color: #fff;
    padding: 45px;
}

.container {
    margin-top: 15px;
}

.panel {
  text-align: center;
}

.panel-body {
    padding: 0;
    text-align: center;
}

.stripe-logo {
  width: 150px;
  margin: 20px 0;
}
.stripe-security-msg {
  font-size: 13px;
  color: #555;
}

.arrow {
    text-align: center;
    font-size: 20px;
    font-family: Arial;
    color: #fff;
    font-weight: bold;
    width: 32px;
    height: 32px;
    position: relative;
    background: darkcyan;
    border: 0px solid #ecd99f;
    margin: -4px 12px 0px 0px;
    padding: 3px;
    position: absolute;
    left: -32px;
    border-radius: 3px;
}


.arrow:after, .arrow:before {left:100%;top:50%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;}
.arrow:after {border-left-color:darkcyan;border-width:12px;margin-top:-12px;}
.arrow:before {border-left-color:darkcyan;border-width:12px;margin-top:-12px;}


/* == Company Details ==================================================== */
.company-details {
    margin-top: 35px;
}


/* == Plans ==================================================== */
.plans {
    background: #fff;
    margin-top: 45px;

    .plan {
        background-color: rgba(220,220,220,.17);
        padding: 20px;
        margin: 0 0 10px;
        cursor: pointer;
        border-radius: 3px;
    }
    .plan h1 {
        font-size: 50px;
        line-height: 1em;
        padding: 0;
        margin: 0;

        .duration {
            font-size: 16px;
            font-weight: 400;
        }
    }
    .plan.selected {
        border: 3px solid #adcfe3;
        border-radius: 3px;
        background-color: #dff0fa;
    }
    .byline {
        font-size: 13px;
        margin-top: 0;
        color: #666;
    }
}


/* == Employees ================================================== */
.employees {
    margin: 55px 0 35px;
}
.total-employees-slider {
    margin-top: 20px;
}


/* == Summary ==================================================== */
.summary {
    padding: 30px;
    background-color: #333;
    color: #fff;

    p {
        color: #aaa;
        margin: 5px 0;
    }

    .total {
        border-top: 2px solid #444;
        padding: 10px 0 20px;
        margin: 15px 0;
    }
    .total-label {
        padding: 0;
    }

    .grand-total {
        color: #fff;
        font-size: 30px;
        text-align: right;
        margin: -5px 0 0;
        padding: 0;
    }
}


/* == Slider ==================================================== */
#slider {
    margin-top: 25px;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 6em;
    height: 2.2em;
    cursor: default;
    margin: 0 !important;
    text-align: center;
    line-height: 30px;
    color: #FFFFFF;
    font-size: 15px;
}
.ui-slider .ui-slider-handle .glyphicon {
    color: #FFFFFF;
    margin: 0 3px;
    font-size: 11px;
    opacity: 0.5;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -.9em;
}
.ui-state-default,
.ui-widget-content .ui-state-default {
    background: #3498db;
}
.ui-slider-horizontal .ui-slider-handle {
    margin-left: -0.5em;
}
.ui-slider .ui-slider-handle {
    cursor: pointer;
}
.ui-slider a,
.ui-slider a:focus {
    cursor: pointer;
    outline: none;
}


.price-slider {
    margin-bottom: 70px;
}
.price-slider span {
    font-weight: 200;
    display: inline-block;
    color: #7f8c8d;
    font-size: 13px;
}
.form-pricing {
    background: #ffffff;
    padding: 20px;
    border-radius: 4px;
}
.form-group {
    margin-bottom: 0;
}
.form-group span.price {
    font-weight: 200;
    display: inline-block;
    color: #7f8c8d;
    font-size: 14px;
}


.price-form label {
  font-weight: 200;
  font-size: 21px;
}

.ui-slider-range-min {
  background: #2980b9;
}
