{% load staticfiles %}
{% load compress %}
{% load humanize %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock title %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <link href="{% static 'images/favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
        <link href="//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        
        {% block css %}{% endblock css %}
        {% compress css%}
            <link href="{% static 'css/scoutmap/style.less' %}" rel="stylesheet" type="text/less">  
        {% endcompress %}

        {% if debug %}
        <script>
            less = {
                env: 'development', // "development" or "production"
                async: false,
                fileAsync: false,
                poll: 1000,
                dumpLineNumbers: 'comments',
                relativeUrls: false
            };
        </script>
        <script src="{% static 'javascript/less.js' %}"></script>
        <script>//less.watch();</script>
        {% endif %}
    </head>
    <body>
        {% block navigation %}{% endblock navigation %}
        {% block content %}{% endblock content%}
        <div class="javascripts">
            <script src="{% static 'bower_components/raven-js/dist/raven.js' %}"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
            <script src="http://engagexl.com/assets/js/jquery.easing.1.3.js"></script>
            <script src="{% static 'javascript/analytics.js' %}"></script>           
            {% block javascript %}{% endblock javascript%}

            <script type="text/javascript">
            
                $(function() {


                    $('body').popover({
                        placement: 'bottom',
                        container: 'body',
                        html: true,
                        selector: '[rel="popover"]', //Sepcify the selector here
                        content: function() {
                            return $('.comment-action-items').html();
                        }
                    });


                    $('body').on('click', function (e) {
                        $('[data-toggle="popover"]').each(function () {
                            //the 'is' for buttons that trigger popups
                            //the 'has' for icons within a button that triggers a popup
                            if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                                $(this).popover('hide');
                            }
                        });
                    });

                    /* Comment edit/delete */
                    $('body').on('click', '.show-comment-actions', function() {
                        $(this).next('.comment-action-items').toggle();
                    });
                    $('body').on('click', '.comment-action-item a', function() {
                        $('.comment-action-items').hide();
                    });

                    $('body').on('click', 'body', function() {
                        dropdown('toggle');
                    });


                    $('body').on('focus', '.new-comment textarea', function() {
                        $(this).height('150px');
                        $('.visibility').show();
                    });

                });  
            </script>
        </div>    
    </body>
</html>