{% extends "layouts/blank.html" %}
{% load humanize %}
{% load staticfiles %}

{% block title %}Thank you!{% endblock title %}

{% block content %}
	<div class="container">
		<div class="row">
    		<div class="confirmation email-confirmation col-sm-8 col-sm-offset-2">
                <a href="{% url 'index' %}"><img class="logo" src="{% static 'images/logo-dark.png' %}" /></a>
    			<h1>Thanks for your interest!</h1>
    			<p class="confirmation-message">We’ll be following up with you soon. In the meantime, if you have any questions, feel free to drop us a line at <a href="mailto:scoutmap@fool.com">scoutmap@fool.com</a>.</p>
    			<p class="confirmation-thanks">Thank you! <br />The ScoutMap Team</p>
    		</div>
    	</div>	
    </div>		
{% endblock %}