<p>{{employee_name}},</p>
<p>We want to make sure we stay on top of your needs and that you have the opportunity to do your best work every day.</p>

<p>You are super busy and work your butt off. We don't want to get in your way. So we've devised <strong>One lightning-quick multiple-choice question…</strong> which you can expound upon if you’d like in the box below it.

<p>This is <u>NOT anonymous</u>, because our goal here is to help YOU. It'll just take 8 short seconds (or a little more, if you have time).</p>

<a href="{{survey_url}}"><strong>Click here to fill out the ONE-QUESTION survey!</strong></a></p>
<p>Thanks,</p>
<p>{{from}}</p>

<style>
u {
    text-decoration: underline;
}
</style>