{% extends "layouts/blank.html" %}
{% load staticfiles %}

{% block title %}Scoutmap - Unleash your talent{% endblock title %}

{% block content %}
    <section class="billboard">
        <div class="builtby">Built and used by <a href="http://www.fool.com">The Motley Fool</a></div>
        <img src="{% static 'images/logo-light.png' %}" alt="ScoutMap" class="logo" />
        <h1 class="tagline">Unleash your talent</h1>
        <p class="byline">Talent management shouldn't be complex. With ScoutMap, we help leadership focus their effort on their best talent with actionable advice and intuitive software.</p>
        <button type="button" class="btn btn-lg btn-success btn-start" data-toggle="modal" data-target="#modal">
          Get Early Access
        </button>
        <div class="shaded">
            <blockquote>
                <p>"We are the best place to work in America not because of perks, but because we built a performance culture using ScoutMap."</p>
                <footer>
                    <cite>Lee Burbage, Chief People Officer at The Motley Fool</cite>
                </footer>
            </blockquote>
        </div>    
    </section>
    <section class="engagement">
        <h2>Only the features that matter</h2>
        <p>Our platform keeps you focused on talent development.</p>
        <img src="{% static 'images/screenshot.png' %}" alt="Screenshot" class="screenshot" />
    </section> 
    <section class="features">
        <div class="container"> 
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <i class="fa fa-money"></i>
                    <div class="feature-text">
                        <h2>Know how you're investing in talent.</h2>
                        <p>What portion of your organization is performing at a high level, and who’s making contributions outside of their role?</p>
                    </div>
                </div>
            </div>  
            <div class="row">  
                <div class="col-md-8 col-md-offset-2">
                    <i class="fa fa-pie-chart"></i>
                    <div class="feature-text">
                        <h2>See how you’re investing in talent with easy-to-understand visualizations.</h2>
                        <p>Scoutmap allocates your payroll by talent level to make sure you’re investing capital at the right talent levels.</p>
                    </div>
                </div>                    
            </div>  
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <i class="fa fa-search"></i>
                    <div class="feature-text">
                        <h2>Our employee screener helps you easily drill down into your workforce data.</h2>
                        <p>Scoutmap gives you the ability to quickly build great project teams and to make sure current teams are thriving.</p>
                    </div>
                </div>
            </div>
            <div class="row">    
                <div class="col-md-8 col-md-offset-2">
                    <i class="fa fa-users"></i>
                    <div class="feature-text">
                        <h2>Scoutmap employee profiles encourage talent development through collaboration.</h2>
                        <p>Development discussions, automatic and assignable action items, happiness surveys: We have the key tools necessary to efficiently develop talent.</p>
                    </div>
                </div>                    
            </div>  

            <div class="row">    
                <div class="col-md-8 col-md-offset-2">
                    <i class="fa fa-file-text-o"></i>
                    <div class="feature-text">
                        <h2>Daily summaries keep talent development top of mind at your organization.</h2>
                        <p>Scoutmap makes sure key stakeholders get a daily view into talent development at their organization.</p>
                    </div>
                </div>                    
            </div>              
        </div>      
    </section>    
    <div id="modal" class="modal modal-get-started fade">
        <div class="modal-dialog">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="arrow-right"></div>
            <div class="headshot-box">
                <img class="headshot" src="{% static 'images/ariana.jpg' %}" alt="Ariana" />
                <span class="headshot-name">Ariana</span> Customer Happiness
            </div>    
            <div class="modal-content">
                <div class="modal-body">
                    <h3>Hey there!</h3>
                    <p>Interested in unleashing your talent? Enter your details below and you'll be on your way.</p>
                    <form id="contact" class="request-form" method="post">
                        {% csrf_token %}
                        <input class="form-control input-lg stroked" name="name" placeholder="Your name" />
                        <input class="form-control input-lg stroked" name="email" placeholder="Email Address" />
                        <input class="form-control input-lg stroked" name="company" placeholder="Company" />
                        <button type="submit" class="btn btn-success btn-send">Send</button>
                    </form>    
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
    <script src="{% static 'javascript/main.js' %}"></script> 

    <script type="text/javascript">
        $(function() {

            /* If successfully sent contact mesage */
            $('.flyover').toggleClass('in');
        });
    </script>

    <script type="text/javascript">

        /* Acquisition Tracking */
        campaign = '84889792988067024907';
        key = '96708570543772986562';
        form = 'contact'; /* Id of form to track */

        var acq = document.createElement("script"); acq.type = "text/javascript"; acq.async = true;
        acq.src = "http://fool.acquisition.io/api/ecap/v1/js/ecap.js"; referrer = document.referrer;
        document.getElementsByTagName("head")[0].appendChild(acq);
    </script>
{% endblock javascript %}