{% load staticfiles %}<!DOCTYPE html>
<html lang="en" ng-app="tdb">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Talent Dashboard{% endblock %}</title>
	<link href="{% static 'css/snapshot.css' %}" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div ng-view></div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//www.google.com/jsapi" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-resource.min.js"></script>
    <script src="{% static 'angular/services.js' %}"></script>
    <script src="{% static 'angular/controllers.js' %}"></script>
    <script src="{% static 'angular/directives.js' %}"></script>
    <script src="{% static 'angular/app.js' %}"></script>
  </body>
</html>