{% load staticfiles %}<!DOCTYPE html>
<html lang="en" ng-app="tdb" ng-controller="BaseAppCtrl">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Hippo{% endblock %}</title>
    <link href="{% static 'css/favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />
    <link href="{% static 'css/snapshot.css' %}" media="screen" rel="stylesheet" type="text/css" />
    <link href="{% static 'lib/angular-carousel/angular-carousel.min.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-45570095-1']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>    
  </head>
  <body>
    <div ng-view></div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//www.google.com/jsapi" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-resource.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="{% static 'lib/angular-carousel/angular-mobile.js' %}"></script>
    <script src="{% static 'lib/angular-carousel/angular-carousel.min.js' %}"></script>
    <script src="{% static 'lib/ui-bootstrap/ui-bootstrap-custom-tpls-0.10.0.js' %}"></script>
    <script src="{% static 'angular/services.js' %}"></script>
    <script src="{% static 'angular/controllers.js' %}"></script>
    <script src="{% static 'angular/directives.js' %}"></script>
    <script src="{% static 'angular/filters.js' %}"></script>
    <script src="{% static 'angular/app.js' %}"></script>
    <script>
    // Add the CSRF Token to all http requests.
    app.config(['$httpProvider', function($httpProvider) {
        $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
    }]);
    </script>
  </body>
</html>