{% extends "layouts/blank.html" %}
{% load staticfiles %}
{% block title %}Sign in{% endblock title %}

{% block content %}
    <div class="login-form">
        <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}

            <a href="{% url 'index' %}"><img class="logo" src="{% static 'images/logo-dark.png' %}" /></a>

            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            <form class="form-signin">
                <input autofocus autocomplete="off" class="form-control input-lg" id="id_username" name="username" placeholder="Username or Email" type="text">
                <input id="id_password" class="form-control input-lg" name="password" placeholder="Password" type="password">
                <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
                <input type="hidden" name="next" id="next" />
                <script>
                    var elem = document.getElementById("next");
                    elem.value = "/" + location.hash;
                </script>
            </form>
            <a href="{% url 'django.contrib.auth.views.password_reset' %}" class="forgot-password">
                Forgot your password?
            </a>
        </form>    
    </div>
{% endblock %}