{% extends "appbase.html" %}

{% block title %}Password reset successful{% endblock title %}

{% block content %}
<h1 style="padding: 25px 0 15px 0;font-size: 22px;">Reset Password</h1>
<p style="line-height:1.4">We've e-mailed you instructions for setting
   your password to the e-mail address you submitted. You should be receiving it shortly.</p>
<p style="text-align:center;"><a href="{% url 'django.contrib.auth.views.login' %}" style="font-weight: bold;font-size: 16px;">Sign In</a></p>
{% endblock content %}