{% extends "base.html" %}

{% block title %}Setting New password{% endblock title %}

{% block content %}

    {% if validlink %}

        <h1 style="padding: 25px 0 15px 0;font-size: 22px;">Set New Password</h1>

        <form action="" method="post">
                {% csrf_token %}
                <p style="line-height:1.4">Please enter your new password twice.
                   So we can verify you typed it in correctly.</p>

                {% if form.new_password1.errors or form.new_password2.errors %}
                    <div class="error-message">
                        {{ form.new_password1.errors }}
                        {{ form.new_password2.errors }}
                    </div>
                {% endif %}
                <div style="margin-bottom: 15px;">
                    {{ form.new_password1 }}
                </div>
                <div style="margin-bottom: 15px;">
                    {{ form.new_password2 }}
                </div>
                <div style="margin-bottom: 20px;">
                    <button class="reset-button" type="submit">Change my password</button>
                </div>
        </form>
    {% else %}
        <h1 style="padding: 25px 0 15px 0;font-size: 22px;">Password reset unsuccessful</h1>
        <p style="line-height:1.4">The password reset link was invalid,
           possibly because it has already been used.
           Please request a new password reset.</p>
        <div style="margin-bottom: 20px">
            <a href="{% url 'django.contrib.auth.views.password_reset' %}" style="font-size: 12px;color: #585858;text-shadow: none;">Reset Password</a>
        </div>
    {% endif %}


{% endblock content %}