{% extends "layouts/blank.html" %}
{% load staticfiles %}
{% block title %}Forgot Password{% endblock title %}

{% block content %}
    <div class="login-form">
        <form method="post" action="{% url 'django.contrib.auth.views.password_reset' %}">
            <a href="{% url 'index' %}"><img class="logo" src="{% static 'images/logo-dark.png' %}" /></a>
            {% csrf_token %}
            <h2>Forgot your password?</h2>

            <p style="margin: 15px 0;">Enter your email address below, and we'll email instructions for setting a new one.</p>

            <input type="email" autofocus class="form-control input-lg" name="email" placeholder="Your e-mail">

            {% if form.email.errors %}
            <div class="error-message" style="margin-bottom: 15px;">{{ form.email.errors }}</div>
            {% endif %}
            <button class="btn btn-lg btn-success btn-block" style="margin-bottom: 15px;" type="submit">Send Instructions</button>
        </form>
    </div>
{% endblock %}