{% load staticfiles %}<!DOCTYPE html>
<html lang="en" ng-app="tdb" ng-controller="BaseAppCtrl">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Hippo Culture{% endblock %}</title>
    <link href="{% static 'css/hippo.png' %}" rel="shortcut icon" type="image/x-icon" />
    <link href="{% static 'css/snapshot.css' %}" media="screen" rel="stylesheet" type="text/css" />
    <link href="{% static 'lib/angular-carousel/angular-carousel.min.css' %}" rel="stylesheet" type="text/css" />

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-45570095-1']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>    
  </head>
  <body>
  <header id="main-header">
    <!-- #top-bar -->

    <div class="clear" id="dashboard-admin-bar" style="height:70px">
		<div class="inner dashboard-sized-el" style="max-width: 1150px;">
            <div style="float:left">
                <img src="{% static 'css/hippo-small.png' %}" style="height:70px"/>
            </div>
			<div style="display: block; color: #cbcbcb; padding: 12px 36px 10px 12px;float:left">
				<ul>
                    <li style="font-weight: 700;font-size: 35px;margin-bottom: 5px"><a href="/" style="color:#fff;">Hippo Culture</a></li>
                    <li style="font-weight: 700;font-size: 20px;margin-bottom: 5px">A Motley Fool Product</li>
                </ul>
			</div>
            <nav>
                <ul class="nav">
                    <li class="nav-item"><a href="/">HOME</a></li>
                    <li class="nav-item"><a href="/">PRICING</a></li>
                    <li class="nav-item"><a href="/">TOUR</a></li>
                    <li class="nav-item"><a href="/">CONTACT</a></li>
                </ul>
            </nav>
        </div>

    </div>
  </header>

  <div id="dashboard" style="margin-top: 75px; max-width: 970px;">


  </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//www.google.com/jsapi" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-resource.js"></script>
    <script src="{% static 'lib/angular-carousel/angular-mobile.js' %}"></script>
    <script src="{% static 'lib/angular-carousel/angular-carousel.min.js' %}"></script>
    <script src="{% static 'lib/ui-bootstrap/ui-bootstrap-custom-tpls-0.10.0.js' %}"></script>
    <script src="{% static 'angular/services.js' %}"></script>
    <script src="{% static 'angular/controllers.js' %}"></script>
    <script src="{% static 'angular/directives.js' %}"></script>
    <script src="{% static 'angular/filters.js' %}"></script>
    <script src="{% static 'angular/app.js' %}"></script>
    <script>
    // Add the CSRF Token to all http requests.
    app.config(['$httpProvider', function($httpProvider) {
        $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
    }]);
    </script>
  </body>
</html>