<h2>{{employee_name}}</h2>
<table width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse; border-spacing:0; width:100%; text-align:justify; margin:0; padding:0; border-width:0">
    <tbody>
    <tr>
        <td valign="top" style="height:80px; width:50px">
            <img src="{{commenter_avatar}}" height="48" style="display:inline-block; margin-left:auto; margin-right:auto; height:48px; vertical-align:text-top" />
        </td>
        <td valign="top">
            <p>
                <span style="font-size:14px"></span> <span style="font-size:14px; color:#AA9C84">
                <b>from {{commenter_full_name}}</b></span>
            </p>
            <table width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse; border-spacing:0; width:100%; text-align:justify; margin:0; padding:0; border-width:0">
                <tbody>
                <tr>
                    <td valign="top" style="height:80px; width:50px">
                        <img src="{{sub_commenter_avatar}}" height="48" style="display:inline-block; margin-left:auto; margin-right:auto; height:48px; vertical-align:text-top"/>
                    </td>
                    <td valign="top">
                        <p>
                            <span style="font-size:14px"></span> <span style="font-size:14px; color:#AA9C84"><b>from {{sub_commenter_full_name}}</b></span>
                            <br><a href="{{dash_link}}" target="_blank">reply</a>
                        </p>
                        <br>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
 