{% extends "layouts/blank.html" %}
{% load staticfiles %}
{% block title %}Slack Intergrations{% endblock title %}

{% block css %}
{% endblock css %}

{% block content %}
    <div class="container">
        <h1>Slack Intergrations</h1>
        <p>Testing some Slack intergrations</p>

        <br />
        <br />
        <br />

        <h3><strong>Users</strong></h3>
        <ul>
        {% for user in users %}
            <li>{{ user.profile.first_name }} {{ user.profile.last_name }} ({{ user.profile.email }})</li>
        {% endfor %}
        </ul>


        <script type="text/javascript">

        var slackBot = require('slack-bot')("https://hooks.slack.com/services/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");
        slackBot.send({
          text: 'OMG look at this thing',
          channel: '@doug', // Can also be '@someone' for a direct message 
          username: 'Alert Bot'
        }, callback);

        </script>

    </div>    
{% endblock content %}