<form id="profile-modal" novalidate="novalidate">
    <div>
        <div class="modal-body">
            <h3 class="modal-title"><span ng-show="coachProfile.profile">{{coachProfile.profile.employee.full_name}}'s </span>Coaching Profile</h3>
            <div ng-show="!coachProfile.profile" class="row">
                <div class="col-lg-12 form-group">
                    <p>Coach</p>
                    <ui-select
                        id="coach"
                        autofocus
                        ng-model="coachProfile.coach"
                        reset-search-input="true"
                        theme="selectize"
                        style="max-width:300px;font-size:16px;">
                        <ui-select-match placeholder="Type an employee name">{{$select.selected.full_name}}</ui-select-match>
                        <ui-select-choices
                            repeat="employee in coachProfile.employees | filter: { full_name: $select.search } | orderBy: 'full_name'">
                            <div ng-bind-html="employee.full_name"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 form-group">
                    <p>Coaching Capacity</p>
                    <ui-select
                            id="capacity"
                            ng-model="coachProfile.capacity"
                            theme="selectize"
                            style="max-width:300px;font-size:16px;">
                        <ui-select-match placeholder="Select an option...">{{$select.selected.text}}</ui-select-match>
                        <ui-select-choices repeat="choice in coachProfile.capacityChoices">
                            <div ng-bind-html="choice.text"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 form-group">
                    <p>People you prefer NOT to coach (max 10)</p>
                    <ui-select
                            id="to"
                            multiple
                            ng-model="coachProfile.profile.blacklist"
                            reset-search-input="true"
                            theme="bootstrap"
                            style="font-size:16px;"
                            >
                        <ui-select-match placeholder="Type an employee name">{{$item.full_name}}</ui-select-match>
                        <ui-select-choices
                                repeat="employee in coachProfile.employees | filter: {full_name: $select.search} | orderBy: 'full_name'">
                            <span class="tiny-headshot">
                                <img class="headshot-image" ng-src="{{ employee.avatar_small }}" alt="{{ employee.full_name }}'s avatar" />
                            </span>
                            <div class="names" ng-bind-html="employee.full_name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 form-group">
                    <p>Coaching Approach [PUBLIC]</p>
                    <textarea style="min-height:120px;resize: vertical;" class="form-control" cols="30" rows="5" ng-model="coachProfile.profile.approach" placeholder="How can you best help Fools? What are your strengths as a coach? What type of situations do you like as a coach?"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="coachProfile.cancel()" class="btn btn-light pull-left">Cancel</button>
            <button type="button" class="btn btn-success" ng-click="coachProfile.save(coachProfileForm)">Save</button>
        </div>
    </div>
</form>