<form class="change-coach" name="changeCoachForm" novalidate="novalidate">
    <div>
        <div class="modal-body">
            <h3 class="modal-title">Select a Coach</h3>
            <div>
                <carousel>
                    <slide ng-repeat="coachCluster in changeCoach.coachClusters">
                        <div ng-repeat="coach in coachCluster" class="pull-left coach-profile">
                            <div class="xxlarge-avatar-container" ng-class="{'disable': changeCoach.newCoach && (changeCoach.newCoach.id != coach.id)}" style="padding: 0 20px;">
                                <a ng-click="changeCoach.newCoach=coach" style="cursor: pointer">
                                    <div class="xxlarge-headshot centered">
                                        <img ng-src="{{ coach.avatar }}" alt="{{ coach.full_name }}'s avatar" class="headshot-image" />
                                    </div>
                                    <div ng-if="changeCoach.newCoach.id == coach.id" class="employee-attribute" rel="tooltip" data-toggle="tooltip" data-placement="right">
                                        <span class="segment selected"><span class="fa fa-check"></span></span>
                                    </div>
                                </a>

                            </div>
                            <div>{{coach.full_name}}</div>
                            <div><a ng-click="changeCoach.showProfile(coach.id)" style="cursor: pointer">See Profile</a></div>
                        </div>
                    </slide>
                </carousel>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="changeCoach.cancel()" class="btn btn-light pull-left">Cancel</button>
            <button type="button" ng-disabled="!changeCoach.newCoach" class="btn btn-success" ng-click="changeCoach.save(changeCoachForm)">Select<span ng-if="changeCoach.newCoach"> {{changeCoach.newCoach.first_name}}</span></button>
        </div>
    </div>
</form>