{% extends "base.html" %}
{% load staticfiles %}
{% load compress %}

{% block content %}{% endblock content%}

{% block css %}
    <link href="{% static 'css/scoutmap/app/snapshot.less' %}" rel="stylesheet" type="text/less" />
    <link href="{% static 'css/scoutmap/app/component.less' %}" rel="stylesheet" type="text/less" />  
    <link href="{% static 'css/scoutmap/app/confirmation.less' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/libs/handsontable.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/libs/angular-ui-notification.css' %}" rel="stylesheet"  type="text/css">

{% endblock css %}

{% block javascript %}
    <script src="//www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript">
    google.load('visualization', '1', {packages: ['corechart','annotationchart']});
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-sanitize.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-resource.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.4/angular-filter.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-messages.min.js"></script>
    <script src="{% static 'bower_components/angular-ui-notification/dist/angular-ui-notification.min.js' %}"></script>
    <script src="{% static 'bower_components/angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>
    <script src="{% static 'bower_components/handsontable/dist/handsontable.full.min.js' %}"></script>
    <script src="{% static 'bower_components/js-xlsx/dist/xlsx.full.min.js' %}"></script>
    <script src="{% static 'bower_components/moment/moment.js' %}"></script>
    <script src="{% static 'lib/angular-carousel/angular-mobile.js' %}"></script>
    <script src="{% static 'lib/angular-carousel/angular-carousel.min.js' %}"></script>
    <script src="{% static 'lib/ng-csv/ng-csv.min.js' %}"></script>
    <script src="{% static 'angular/services.js' %}"></script>
    <script src="{% static 'angular/services/tasks.js' %}"></script>
    <script src="{% static 'angular/services/feedback.js' %}"></script>
    <script src="{% static 'angular/services/events.js' %}"></script>
    <script src="{% static 'angular/search/services.js' %}"></script>
    <script src="{% static 'angular/preferences/services.js' %}"></script>
    <script src="{% static 'angular/controllers.js' %}"></script>
    <script src="{% static 'angular/controllers/feedback.js' %}"></script>
    <script src="{% static 'angular/controllers/comments.js' %}"></script>
    <script src="{% static 'angular/controllers/tasks.js' %}"></script>
    <script src="{% static 'angular/controllers/events.js' %}"></script>
    <script src="{% static 'angular/controllers/search.js' %}"></script>
    <script src="{% static 'angular/search/controllers.js' %}"></script>
    <script src="{% static 'angular/directives.js' %}"></script>
    <script src="{% static 'angular/controllers/checkins.js' %}"></script>
    <script src="{% static 'angular/services/checkins.js' %}"></script>
    <script src="{% static 'angular/filters.js' %}"></script>
    <script src="{% static 'angular/engagement/services.js' %}"></script>
    <script src="{% static 'angular/app.js' %}"></script>
    <script>
    
        // Add the CSRF Token to all http requests.
        app.config(['$httpProvider', function($httpProvider) {
            $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
        }]);
        Raven.config('https://f1a18dde65b54d21978a126d6f6e907c@app.getsentry.com/42421', {
            release: '{{ release }}',
            whitelistUrls: [/scoutmap\.com/]
        }).install();
    </script>

    <!-- Start of scoutmap Zendesk Widget script -->
    <script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("//assets.zendesk.com/embeddable_framework/main.js","scoutmap.zendesk.com");/*]]>*/</script>
    <!-- End of scoutmap Zendesk Widget script -->
{% endblock javascript%}
