{% extends "layouts/email.html" %}

{% block content %}
        <p>
            Hi, {{ recipient_first_name }}!
        </p>
        <p>
            We thought you'd like to know that within the last {{ days_ago }} days
            {% if helpful_count == 1 %}
                {{ helpful_count }} person
            {% else %}
                {{ helpful_count }} people
            {% endif %}
            thought your feedback was helpful. You can find details here:
        </p>
        <p>
            {% for helpful_submission in helpful_submissions %}
                <li>{{ helpful_submission.received_by.full_name }} - <a href="{{ feedback_url }}{% if helpful_submission.excels_at_submission %}{{ helpful_submission.excels_at_submission.id }}{% else %}{{ helpful_submission.could_improve_on_submission.id }}{% endif %}">view</a></li>
            {% endfor %}
        </p>
        <p>
            Thank you for making a difference.
        </p>
{% endblock content%}