{% extends "layouts/email.html" %}

{% block content %}
        <p>
            <pre style="font-family: inherit;">
                <span style="font-size:14px;white-space: pre-wrap;">{{ message }}</span>
            </pre>
        </p>
        <div style="background-color: #f9f9f9;padding: 20px 20px 0 20px;">
		    <div style="background-color: #fff;padding: 20px;">
                <span style="font-weight: 500;">Complete Kara's feedback here:</span>
                <br>
		        <br>
                <a href="{{ feedback_request_url }}" style="font-size: 16px; font-weight: 500;">{{ feedback_request_url }}</a>
		    </div>
		    <div style="padding: 5px;text-align: center;">Please email <a href="mailto:{{coach.email}}">{{coach.email}}</a>
                {% if coach.slack_name and slack_url %}
                or <a href="https://{{slack_url}}/messages/@{{coach.slack_name}}/">@{{slack_name}}</a>
                {% endif %}
                {{ coach.first_name }} if you have any questions.
            </div>
        </div>
{% endblock content %}
