<form id="feedback-modal" novalidate="novalidate">
    <a class="close" ng-click="request.cancel()" data-dismiss="modal">&times;</a>
    <div class="form-group" ng-show="request.panel_index==0">
        <div class="modal-body">
            <panel>
                <h3 class="modal-title">Who would you like feedback from?</h3>
                <p class="modal-subtext">Select a few people you work with on a regular basis, or who you've worked with recently (we recommend 5-7).</p>
                <ui-select
                        id="to"
                        multiple
                        autofocus
                        ng-model="request.selectedReviewers"
                        reset-search-input="true"
                        theme="bootstrap"
                        style="max-width:350px;font-size:16px;"
                        >
                    <ui-select-match placeholder="Type an employee name">{{$item.full_name}}</ui-select-match>
                    <ui-select-choices
                            repeat="reviewer in request.potentialReviewers | filter: {full_name: $select.search} | orderBy: 'full_name'">
                        <span class="tiny-headshot">
                            <img class="headshot-image" ng-src="{{ reviewer.avatar_small }}" alt="{{ reviewer.full_name }}'s avatar" />
                        </span> 
                        <div class="names" ng-bind-html="reviewer.full_name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </panel>    
        </div>    
        <div class="modal-footer">
            <button ng-show="request.panel_index>0" type="button" ng-click="request.stepBack()" class="btn btn-light">&larr; Back</button>
            <button type="button" ng-click="request.cancel()" data-dismiss="modal" class="btn btn-light pull-left">Cancel</button>
            <button ng-show="request.panel_index<3" ng-disabled="!request.selectedReviewers" type="button" class="btn btn-success" ng-click="request.stepNext()">Questions &rarr;</button>
        </div>
    </div>
    <div class="form-group" ng-show="request.panel_index==1">
        <div class="modal-body">
            <panel>
                <h3 class="modal-title">Feedback Questions</h3>
                <p class="modal-subtext">Here's the three questions we'll ask the people you select.</p>
                <ol class="modal-question-list">
                    <li>
                        {{ request.questions.excelsAtQuestion }} 
                        <span ng-show="areas" class="focus-areas">(Please consider these areas: 
                            <span ng-class="highlight ? 'flash' : ''">{{ areas }}</span> 
                            <span ng-show="currentUser.employee.first_name">&mdash;{{currentUser.employee.first_name}})</span>
                            <span ng-show="!currentUser.employee.first_name">&mdash;{{currentUser.employee.full_name}})</span>
                        </span>
                    </li>
                    <li>
                        {{ request.questions.couldImproveOnQuestion }} 
                        <span ng-show="areas" class="focus-areas">(Please consider these areas: 
                            <span ng-class="highlight ? 'flash' : ''">{{ areas }}</span> 
                            <span ng-show="currentUser.employee.first_name">&mdash;{{currentUser.employee.first_name}})</span>
                            <span ng-show="!currentUser.employee.first_name">&mdash;{{currentUser.employee.full_name}})</span>
                        </span>
                    </li>
                    <li>
                        {{ request.questions.leadershipQuestion }}
                        <span ng-show="areas" class="focus-areas">(Please consider these areas:
                            <span ng-class="highlight ? 'flash' : ''">{{ areas }}</span>
                            <span ng-show="currentUser.employee.first_name">&mdash;{{currentUser.employee.first_name}})</span>
                            <span ng-show="!currentUser.employee.first_name">&mdash;{{currentUser.employee.full_name}})</span>
                        </span>
                    </li>
                </ol>
                <h4>Add focus areas</h4>
                <p style="margin:-10px 0 15px;color:#888;">Adding focus areas makes your feedback more useful.</p>   
                <input 
                    name="focusAreas" 
                    ng-keyup="highlightFocusAreas(); areas=request.message"
                    ng-model="request.message" 
                    style="max-width:350px; margin-bottom: 25px;" 
                    class="form-control edit-textarea" 
                    placeholder="Examples: code quality, recent project, etc..."
                    />
            </panel>    
        </div>    
        <div class="modal-footer">
            <button ng-show="request.panel_index>0" type="button" ng-click="request.stepBack()" class="btn btn-light">&larr; Back</button>
            <button type="button" ng-click="request.cancel()" data-dismiss="modal" class="btn btn-light pull-left">Cancel</button>
            <button ng-show="request.panel_index<3" ng-disabled="request.selectedReviewers.length==0" type="button" class="btn btn-success" ng-click="request.stepNext()">Choose coach &rarr;</button>
        </div>
    </div>
    <div class="form-group" ng-show="request.panel_index==2">    
        <div class="modal-body">
            <panel>
                <h3 class="modal-title">Your Current Coach</h3>
                <span ng-show="request.currentCoach" class="xxxlarge-headshot">
                    <img ng-src="{{request.currentCoach.avatar}}" alt="{{request.currentCoach.full_name}}" class="headshot-image">
                </span>
                <div ng-show="!request.currentCoach">
                    <span class="xxxlarge-headshot">
                        <img src="../static/images/grumpycat.png" alt="grump cat avatar" class="headshot-image">
                    </span>

                    <p class="change-coach-message">
                        You currently don't have a Coach. <br />Please <a href="" class="underlined" ng-click="request.changeCoach()">select a coach</a>.
                    </p>
                </div>
                <div ng-show="request.currentCoach">
                    <h3 class="centered"><strong>{{request.currentCoach.full_name}}</strong></h3>
                    <div class="centered">
                        <a href ng-click="request.showProfile(request.currentCoach.id)">View Profile</a>
                    </div>
                    <p class="centered change-coach-message" style="margin-bottom: 0">{{ request.currentCoach.full_name }} will deliver your feeback. If you'd like you may</p>
                    <p class="centered change-coach-message" style="margin-top: 0"><a href="" class="underlined" ng-click="request.changeCoach()">select a different coach</a>.</p>

                    <p class="centered change-coach-message">
                        Feel free to switch up your coach at any time. Your coach should be someone you feel safe confiding in — and who you feel will be a good supporter of you.
                    </p>
                </div>
            </panel>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="request.stepBack()" class="btn btn-light">&larr; Back</button>
            <button type="button" ng-click="request.cancel()" class="btn btn-light pull-left">Cancel</button>
            <button type="button" class="btn btn-success" ng-disabled="!request.currentCoach" ng-click="request.stepNext()">Preview &rarr;</button>            
        </div>
    </div> 
    <div class="form-group" ng-show="request.panel_index==3">    
        <div class="modal-body">
            <panel>
                <h3 class="modal-title">Feedback Preview</h3>
                <div class="confirmation-block">
                    <h4>People you've selected: <span class="selected-change-link" ng-click="request.panel_index=0">Change people</span></h4>      
                    <div class="selected-requested-people-container">
                        <div class="selected-requested-people" ng-repeat="reviewer in request.selectedReviewers">
                            <span class="tiny-headshot">
                                <img class="headshot-image" ng-src="{{ reviewer.avatar_small }}" alt="{{ reviewer.full_name }}'s avatar" class="headshot-image" />
                            </span>  
                            <span class="selected-requested-name">{{ reviewer.full_name }}</span>
                        </div>
                    </div> 
                </div>    
                <div class="confirmation-block">
                    <h4>Questions <span class="selected-change-link" ng-click="request.panel_index=1">Change focus areas</span></h4>
                    <ol class="modal-question-list" style="margin-bottom:0">
                        <li>
                            {{ request.questions.excelsAtQuestion }} 
                            <span ng-show="areas" class="focus-areas">(Please consider these areas: 
                                <span ng-class="highlight ? 'flash' : ''">{{ areas }}</span> 
                                <span ng-show="currentUser.employee.first_name">&mdash;{{currentUser.employee.first_name}})</span>
                                <span ng-show="!currentUser.employee.first_name">&mdash;{{currentUser.employee.full_name}})</span>
                            </span>
                        </li>
                        <li>
                            {{ request.questions.couldImproveOnQuestion }} 
                            <span ng-show="areas" class="focus-areas">(Please consider these areas: 
                                <span ng-class="highlight ? 'flash' : ''">{{ areas }}</span> 
                                <span ng-show="currentUser.employee.first_name">&mdash;{{currentUser.employee.first_name}})</span>
                                <span ng-show="!currentUser.employee.first_name">&mdash;{{currentUser.employee.full_name}})</span>
                            </span>
                        </li>
                        <li>
                            {{ request.questions.leadershipQuestion }}
                            <span ng-show="areas" class="focus-areas">(Please consider these areas:
                                <span ng-class="highlight ? 'flash' : ''">{{ areas }}</span>
                                <span ng-show="currentUser.employee.first_name">&mdash;{{currentUser.employee.first_name}})</span>
                                <span ng-show="!currentUser.employee.first_name">&mdash;{{currentUser.employee.full_name}})</span>
                            </span>
                        </li>
                    </ol>    
                </div>
                <div class="confirmation-block" style="border-bottom:0;margin-bottom:0">    
                    <h4>Your Feedback Coach <span class="selected-change-link" ng-click="request.panel_index=2">Change coach</span></h4>
                    <span class="tiny-headshot">
                        <img class="headshot-image" ng-src="{{request.currentCoach.avatar_small}}" alt="{{request.currentCoach.full_name}}" class="headshot-image">
                    </span>
                    <span class="feedback-coach-name">{{request.currentCoach.full_name}}</span>
                </div> 
                <br />   
            </panel>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="request.stepBack()" class="btn btn-light">&larr; Back</button>
            <button type="button" ng-click="request.cancel()" class="btn btn-light pull-left">Cancel</button>
            <button ng-disabled="request.selectedReviewers.length==0 || request.enableSend==false" type="button" class="btn btn-success" ng-click="request.sendFeedbackRequests()">Submit Requests</button>
        </div>
    </div>   
</form>