<div>
	<table class="table" ng-show="importData">
		<tr>
			<td>
				Scoutmap Employee
			</td>
			<td ng-repeat="header in dataHeaders track by $index" ng-if="!$first">
				<select class="form-control" ng-model="selectedHeaders[$index]" ng-change="fetchEmployee($index)">
					<option ng-repeat="option in headerOptions">{{option}}</option>
				</select>
			</td>
		</tr>
		<tr ng-repeat="obj in importData">
			<td>
				<input type="text" placeholder="Search Employees..." ng-model="obj.employee.full_name" typeahead="employee.full_name for employee in employees | filter:{full_name:obj.employee}:startsWith"></div>
			</td>
			<td ng-repeat="header in dataHeaders" ng-if="!$first">
				{{obj[header]}}
			</td>
		</tr>
	</table>
</div>