.invite-360 {
  input {
    margin-bottom: 10px;
  }
  .modal-title {
    margin-bottom: 20px;
  }
  .header {
    font-size: 14px;
    margin-bottom: 7px;
    font-weight: 500;

    a {
      text-decoration: none;
      color: #3498db;
    }

    a:hover {
      color: #2980b9;
    }
  }
}