.leadership-style {
  .complete {
    background-color: #3498db;
  }
  .incomplete {
    background-color: #ccc;
  }
  .sub-title {
    color: #fff;
    font-size: 22px;
  }
}
.leadership-style-title {
  margin-bottom: 20px;
  font-size: 26px;
  line-height: 36px;
  color: #000 !important;
}

.leadership-style-description {
  margin-bottom: 20px;
  font-family: Helvetica, Arial, sans;
  line-height: 24px;
  font-size: 18px;
  font-weight: 200 !important;
  em {
    font-style: italic;
  }
}

ul.leadership-style-description {
  list-style-type: disc;
  margin-left: 20px;
}

img.leadership-style.visionary  {
  margin-right: 20%;
  margin-left: 20%;
  width: 60%;
}
img.leadership-style.operator {

  margin-right: 15%;
  margin-left: 15%;
  width: 70%;
}
img.leadership-style.processor  {

  margin-right: 20%;
  margin-left: 20%;
  width: 55%;
}
img.leadership-style.synergist {
  margin-right: 5%;
  margin-left: 5%;
  width: 90%;
  @media only screen and (max-width : 420px) {
    margin-right: 20%;
    margin-left: 20%;
    width: 60%;
  }
}

.leadership-style-scores {
  display: inline-block;
  width: 100%;
}

.Visionary {
  color: #e74c3c !important;
}
.Operator {
  color: #2e8dcd !important;
}
.Processor {
  color: #a17917 !important;
}
.Synergist {
  color: #27ae60 !important;
}

.description-container {
  padding-top: 60px;

  @media only screen and (max-width : 420px) {
    padding-top: 20px;
  }
}

.description-image {
    width: 20%;
    height: 100%;
    float: left;

    @media only screen and (max-width : 420px) {
        width: 100%;
        padding: 15px 15px 20px 20px;
    }
}

.description-copy {
    width: 80%;
    height: 100%;
    float: left;
    padding-right: 25px;

    @media only screen and (max-width : 420px) {
        width: 100%;
        padding: 15px 15px 20px 20px;
    }
}

.team-summary {
  padding-top: 35px;
  @media only screen and (max-width : 420px) {
      padding-top: 30px;
      padding-bottom: 30px;
  }

  .team-summary-description {
    float: left;
    width:55%;
    @media only screen and (max-width : 420px) {
        width: 100%;
    }
  }

  .team-summary-chart {
    float: right;
    width:70%;
    padding-bottom: 30px;

    @media only screen and (min-width : 420px) {
      margin-right:-30%;
    }
    canvas {
      @media only screen and (min-width : 420px) {
        margin-right:22%;
      }
    }
    @media only screen and (max-width : 420px) {
        padding-top: 30px;
        width: 100%;
        padding-bottom: 30px;
    }
  }
}