.leadership-style {
  .sub-title {
    color: #aaa;
    font-size: 22px;
  }
}
.leadership-style-title {
  margin-bottom: 20px;
}

.leadership-style-description {
  margin-bottom: 20px;
}

img.leadership-style  {
  margin-right: 20px;
  max-width: 125px;
}

.leadership-style-scores {
  width: 85%;
  display: inline-block;
}

.call-to-action {
  font-size: 17px;
}

.Visionary {
  color: #e74c3c !important;
}
.Operator {
  color: #2e8dcd !important;
}
.Processor {
  color: #a17917 !important;
}
.Synergist {
  color: #27ae60 !important;
}