.leadership-style {
  .panel-title {
    color: #aaa;
  }
}
.leadership-style-title {
  margin-bottom: 20px;
}

.leadership-style-description {
  margin-bottom: 20px;
}

img.leadership-style  {
  margin-right: 20px;
  max-width: 125px;
}

.leadership-style-scores {
  width: 85%;
  display: inline-block;
}

.call-to-action {
  font-size: 17px;
}