.panel {
    text-align: left !important;
    padding: 25px;
    margin-bottom: 15px !important;

    .table caption {
        padding-left: 0px;
        font-weight: bold;  
        font-family: 'Oswald', Helvetica, Arial, sans;
    }

    @media only screen and (max-width : 640px) {
        padding: 15px;
    }
}
.panel-title {
    margin-bottom: 10px;
    font-size: 18px;
    color: inherit;
    font-weight: bold;
    line-height: 22px;
}

.panel-header {
    background-color: rgb(137, 196, 244);
    padding: 20px;
    margin: -26px;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}

.panel-body {
	text-align: left;
}


/* Tabbed Panels */
.tab-pane .panel-title {
	margin-top: 20px;
}