.comments {
	margin-top:30px;

	.comments-date {
	 	font-size: 13px;
	  	color: #8b8b8b;
	  	border-bottom: 2px solid #efefef;
	  	padding-bottom: 2px;
	}

	textarea {
		position: relative; 
		max-width: 515px; 
		min-height: 27px;
		background-color:#fff;
		color:#eee;
		resize:vertical;
		font-size: 12px;
		padding: 6px;
		border:1px solid #ccc;
	}

	.comment-owner-avatar-container {
		display: block; 
		float: left; 
		width: 48px;

		.comment-owner-avatar {
			display: inline-block; 
			margin-left: auto; 
			margin-right: auto; 
			height: 48px; 
			vertical-align:text-top;
		}		
	}

	.comment {
		display: block; 
		margin-left:35px; 
		padding-left:10px;
		min-width: 80%;
		min-height: 28px;

		.comment-title {
			display: block; 
			padding-left:10px;
			min-width: 90%;
			height: 22px;
		}
		.comment-title-employee-name {
			cursor: pointer;
			color: #8b8b8b;
		}


		.comment-editor {
			position: relative;
			background: #fff;
		}
	}

}
