<div ng-controller="ActivityReportCtrl" ng-init="getActivity()" class="container" id="dashboard">

	<h1>Activity Report</h1>
	<div class="export" ng-show="!loading">
		<span class="fa fa-download" style="cursor: pointer;float:right;display: inline-block;margin-top:2px;font-size:30px" ng-csv="buildCSV()" filename="activity.csv"></span>
	</div>

	<div ng-show="loading" class="no-results"><img src="../static/images/loader.gif" alt="Loading spinner" /></div>


	<div class="results" ng-show="!loading">
		<table>
			<tr>
				<th>Employee</th>
				<th>Last Comment</th>
				<th>Last Check-In</th>
			</tr>
			<tr ng-repeat="obj in responseData">
				<td>{{obj.employee}}</td>
				<td>{{obj['last comment']}}</td>
				<td>{{obj['last check-in']}}</td>
			</tr>
		</table>
	</div>

</div>

<style>

.container {
	padding-top: 75px;
}
</style>