<div class="container checkin" ng-controller="AddEditCheckInCtrl" ng-init="view='new'">
    <form name="checkinForm" novalidate="novalidate" ng-submit="saveCheckin(checkinForm)">

    	<!-- Employee Search -->
    	<div ng-show="showSearch" class="checkin-search">
	    	<h1>Check-in with:</h1>
	    	<div class="row">
				<div ng-class="{open: employeeSearch!=''}" class="search dropdown">
				    <div class="search-input-container">
				        <div class="glyphicon glyphicon-search search-icon"></div>
				        <input class="search-input nav_query" ng-model="employeeSearch" type="text" placeholder="Search Employees..."  name="selectedEmplyeeName"  value="{{selectedEmployee.full_name}}" />
				    </div>
				    <ul class="dropdown-menu" ng-hide="selectedEmployee || !employeeSearch" role="menu" aria-labelledby="dLabel">     
			            <li ng-repeat="employee in filteredEmployees = (employees |filter:{full_name:employeeSearch}:startsWith) | orderBy:'full_name'" >
			                <a ng-click="selectEmployee({{employee}})" class="dashboard" href="">
			                    <div class="tiny-headshot"><img ng-src="{{employee.avatar_small}}"/></div>
			                    <span class="employee-name">{{employee.full_name}}</span>
			                </a>
			            </li>
			            <li ng-show="!filteredEmployees.length" style="padding: 13px 20px;">No Results</li>
				    </ul>
				</div>
			</div>    
		</div>	

		<!-- Check-in -->
		<div ng-show="selectedEmployee">
			<div class="checkin-header">
				<a href="#/employees/{{employee.id}}">
					<img ng-src="{{ selectedEmployee.avatar_small }}" class="headshot medium-headshot pull-left"/>
				</a>
				<div class="pull-left">
					<h1><a href="#/employees/{{ selectedEmployee.id }}">{{ selectedEmployee.full_name }}</a></h1>
					<p class="timestamp">You're checking in now</p>
				</div>
			</div>	

			<!-- Type -->
	    	<div class="checkin-type">
                <div ng-show="checkinForm.$submitted" ng-messages="checkinForm.type.$error">
                    <div class="help-block" ng-message="required">You must specify the type</div>
                </div>
		    	<select class="form-control simple-form-control" ng-options="type as type.name for type in checkinTypes" ng-model="checkin.type" name="type" required>
		    		<option value="">--Select Check-In Type--</option>
		    	</select>
                <div ng-if="checkinForm.$submitted && checkin.type.name==='Other'" ng-messages="checkinForm.other_type_description.$error">
                    <div class="help-block" ng-message="required">You must specify the description</div>
                </div>
		    	<input class="form-control simple-form-control custom-checkin-type" ng-if="checkin.type.name==='Other'" name="other_type_description" ng-model="checkin.other_type" required class="form-control" placeholder="Enter check in type..." />
		    </div>

		    <!-- Summary -->
		    <div class="checkin-summary panel">
	        	<textarea required placeholder="Enter check-in summary here..." class="form-control" name="summary" ng-model="checkin.summary" style="min-height:150px;"></textarea>
			</div>


			<!-- Happiness -->
			<div class="panel" style="overflow:hidden;">
				<h4 class="panel-title pull-left">Happiness</h4>
		        <div class="checkin-engagement pull-right">
                    <div class="employee-happiness-container">
                        <div class="employee-happiness employee-happiness-5" ng-click="happiness.assessment=5" ng-class="{selected: happiness.assessment==5}">
                            <span class="happiness-5"></span>
                        </div>
                        <div class="employee-happiness employee-happiness-4" ng-click="happiness.assessment=4" ng-class="{selected: happiness.assessment==4}">
                            <span class="happiness-4"></span>
                        </div>
                        <div class="employee-happiness employee-happiness-3" ng-click="happiness.assessment=3" ng-class="{selected: happiness.assessment==3}">
                            <span class="happiness-3"></span>
                        </div>
                        <div class="employee-happiness employee-happiness-2" ng-click="happiness.assessment=2" ng-class="{selected: happiness.assessment==2}">
                            <span class="happiness-2"></span>
                        </div>
                        <div class="employee-happiness employee-happiness-1" ng-click="happiness.assessment=1" ng-class="{selected: happiness.assessment==1}">
                            <span class="happiness-1"></span>
                        </div>
                    </div>
                </div>
            </div>    

            <!-- Tasks -->
            <div class="panel panel-tasks todos">
            	<button type="button" ng-click="newTask()" class="pull-right btn btn-sm btn-success btn-add-task"><span class="glyphicon glyphicon-plus"></span> Task</button>
				<h4 class="panel-title">Tasks</h4>
				<tabset ng-show="tasks.length > 0">
        			<tab heading="To Do" active="true">
						<div class="row shaded tab-header" ng-show="tasks">
		                    <div class="col-md-3 col-lg-2 first"></div>
		                    <div class="col-md-4 col-lg-5">Tasks</div>
		                    <div class="col-xs-3">Assigned To</div>
		                    <div class="col-xs-2">Due Date</div>
		                </div>
		            </tab>
		        </tabset>        
	            <div class="row todo" ng-repeat="task in tasks">
	                <div ng-include="'/static/angular/partials/_widgets/task-list-item.html'"></div>
	            </div>
            </div>    
	        <button type="submit" class="btn btn-success btn-lg btn-publish">Publish to Profile</button>
	    </div>    
	</form>
</div>