<div class="container checkin" ng-controller="AddEditCheckInCtrl">
    <form name="checkinForm" novalidate="novalidate" ng-submit="save(checkinForm)">	
    	
    	<!-- Employee Search -->
    	<div ng-show="!selectedEmployee" class="checkin-search">
	    	<h1>Check-in with:</h1>
			<div ng-class="{open: employeeSearch!=''}" class="search dropdown pull-left">
			    <div class="search-input-container">
			        <div class="glyphicon glyphicon-search search-icon"></div>
			        <input class="search-input nav_query" ng-model="employeeSearch" type="text" placeholder="Search Employees..."/>
			    </div>
			    <ul class="dropdown-menu" ng-show="employeeSearch!=''" role="menu" aria-labelledby="dLabel">     
			        <div ng-if="employeeSearch!=''">
			            <li ng-repeat="employee in filteredEmployees = (employees |filter:{full_name:employeeSearch}:startsWith) | orderBy:'full_name'">
			                <a ng-click="selectEmployee({{employee}})" class="dashboard" href="">
			                    <div class="tiny-headshot"><img ng-src="{{employee.avatar_small}}"/></div>
			                    <span class="employee-name">{{employee.full_name}}</span>
			                </a>
			            </li>
			            <li ng-show="!filteredEmployees.length" style="padding: 13px 20px;">No Results</li>
			        </div>
			    </ul>
			</div>
		</div>	

		<!-- Check-in -->
		<div ng-show="selectedEmployee">
			<div class="checkin-header">
	    		<a href="#/employees/{{selectedEmployee.id}}">
	    			<img ng-src="{{selectedEmployee.avatar_small}}" class="medium-headshot pull-left"/>
	    		</a>
	    		<h1 class="pull-left"><a href="#/employees/{{selectedEmployee.id}}">{{ selectedEmployee.full_name }}</a></h1>
	    	</div>	
	    	<div class="checkin-type">  	 	
		    	<select class="form-control simple-form-control" ng-options="type.id as type.name for type in checkinTypes" ng-model="checkin.type" name="type">
		    		<option value="">--Select Check-In Type--</option>
		    	</select>
		    	<input ng-show="checkin.type=='0'" name="other_type_description" />
		    </div>	
		    <div class="checkin-summary panel">
				<h4 class="panel-title">Notes</h4> 	
	        	<textarea required placeholder="Enter notes here..." class="form-control simple-form-control" name="summary" ng-model="checkin.summary" style="min-height:250px;"></textarea>		    	
			</div>
			<accordion>
			    <accordion-group is-open="happiness.open">
			        <accordion-heading>
			        	<div>
			            	Engagement <i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus': happiness.open, 'glyphicon glyphicon-plus': !happiness.open}"></i>
			            </div>
			        </accordion-heading>
			        <div class="checkin-engagement">
				        <p>How happy is {{selectedEmployee.full_name}}?</p>                
	                    <div class="employee-happiness-container">
	                        <div class="employee-happiness employee-happiness-5" ng-click="happiness.assessment=5" ng-class="{selected: happiness.assessment==5}">
	                            <span class="happiness-5"></span>
	                        </div>
	                        <div class="employee-happiness employee-happiness-4" ng-click="happiness.assessment=4" ng-class="{selected: happiness.assessment==4}">
	                            <span class="happiness-4"></span>
	                        </div> 
	                        <div class="employee-happiness employee-happiness-3" ng-click="happiness.assessment=3" ng-class="{selected: happiness.assessment==3}">
	                            <span class="happiness-3"></span>
	                        </div>   
	                        <div class="employee-happiness employee-happiness-2" ng-click="happiness.assessment=2" ng-class="{selected: happiness.assessment==2}">
	                            <span class="happiness-2"></span>
	                        </div> 
	                        <div class="employee-happiness employee-happiness-1" ng-click="happiness.assessment=1" ng-class="{selected: happiness.assessment==1}">
	                            <span class="happiness-1"></span>
	                        </div> 
	                    </div>  
	                </div>    
			    </accordion-group>
			    <accordion-group is-open="todo.open">
			        <accordion-heading>
			            Todo's <i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-minus': todo.open, 'glyphicon glyphicon-plus': !todo.open}"></i>
			        </accordion-heading>

<form name="taskForm" novalidate="novalidate" ng-submit="save(taskForm)">
    <div>
        <div class="modal-body">
            <h3 class="modal-title">
                <span ng-show="!taskIsBeingEdited()">Add New</span>
                <span ng-show="taskIsBeingEdited()">Edit</span>
                Task</h3>
            <div class="form-group" ng-class="{'has-error': taskForm.$submitted && taskForm.description.$invalid}">
                <p ng-show="taskForm.$submitted && taskForm.description.$invalid" class="help-block">You must enter a task description</p>
                <textarea required placeholder="Enter task here..." class="form-control" name="description" ng-model="task.description" style="min-height:80px;margin-bottom:20px"></textarea>
            </div>
            <div class="row">
                <div class="dropdown col-sm-6">
                    <span class="glyphicon glyphicon-user"></span> Assigned To:
                    <a href="javascript:void(0);" id="assigneeMenu" data-toggle="dropdown" aria-expanded="true"><strong>{{task.assigned_to.full_name||"Unassigned"}}</strong></a>
                    <div class="dropdown-menu" role="menu" aria-labelledby="assigneeMenu">
                        <ul ng-model="task.assigned_to">
                            <li role="presentation" class="popover-item" ng-repeat="coach in coaches | orderBy:'full_name'">
                                <a href="javascript:void(0);" role="menuitem" tabindex="-1" ng-click="task.assigned_to=coach">
                                <div class="tiny-headshot pull-left">
                                    <img ng-src="{{coach.avatar_small}}"/>
                                </div>
                                <span class="employee-name">{{coach.full_name}}</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li role="presentation" class="popover-item">
                                <a role="menuitem" tabindex="-1" ng-click="task.assigned_to=null">Unassigned</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <input type="hidden" ng-model="task.assigned_to" name="assigned_to"/>
                <div class="col-sm-5">
                    <span class="glyphicon glyphicon-calendar"></span> Due Date:
                    <a href="javascript:void(0);"><strong ng-click="openDatePicker($event)">{{(task.due_date | date:'MMM d') || "None"}}</strong></a>
                    <div datepicker-popup="{{datePicker.dateFormat}}" ng-model="task.due_date" is-open="datePicker.isOpen" show-weeks="false" close-text="Close"></div>
                </div>
                <input type="hidden" ng-model="task.due_date" name="due_date"/>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success">Save</button>
            <button type="button" ng-click="cancel()" class="btn btn-default">Cancel</button>
        </div>
    </div>
</form>
			    </accordion-group>	    
			</accordion>
	        <button type="submit" class="btn btn-success btn-lg">Publish to Profile</button>
	    </div>    
	</form>
</div>