  <header id="main-header">
    <!-- #top-bar -->

    <div class="clear" id="dashboard-admin-bar">
		<div ng-controller="EmployeeListCtrl" class="inner dashboard-sized-el" style="max-width: 970px;">
			<div style="display: block; color: #cbcbcb; font-weight: 700; padding: 12px 36px 10px 12px;font-size: 16px; width:150px; float:left">
				<a href="/" style="color:#fff;">The Motley Fool</a>
			</div>
			<div class="btn" ng-mouseover="settingsMenu.show=true" ng-mouseleave="settingsMenu.show=false" id="switch-dashboard" style="float:right;width:55px;">
			  <span id="selected-dashboard-title" style="font-weight: 700; color: white;padding:0px;">
                <img src="/static/css/settings.png"style="width:35px;margin-left:3px;margin-top:3px;margin-bottom:-3px;"/>
              </span>            
                <div id="selection-list" ng-show="settingsMenu.show" style="display: none;width:100px">
                    <ul>
                        <li>
                            <a class="dashboard" href="/logout" style="font-weight:800;">Sign Out</a>
                        </li>
                    </ul>
                </div>
            </div>
			<div class="btn" ng-mouseover="employeeMenu.show=true" ng-mouseleave="employeeMenu.show=false" id="switch-dashboard" style="float:right">
			  <span id="selected-dashboard-title" style="font-weight: 700; color: white;">People</span>
			  <div id="selection-list" ng-show="employeeMenu.show" style="display: none;">
				<ul>
					<li>
						<input class="search-input" ng-model="employeeQuery" type="text" placeholder="Search"/>
					</li>
					<li ng-repeat="employee in employees | filter:{full_name:employeeQuery}:startsWith | orderBy:'full_name'">
						<a class="dashboard" ng-click="employeeMenu.show = false;" style="font-weight:800;" href="#/employees/{{employee.id}}">{{employee.full_name}}</a>
					</li>
				</ul>
			  </div>
			</div>
			<div ng-controller="TeamListCtrl" class="btn" ng-mouseover="teamMenu.show=true;" ng-mouseleave="teamMenu.show=false" id="switch-dashboard" style="float:right">
			  <span id="selected-dashboard-title" style="font-weight: 700; color: white;">Teams</span>
			  <div id="selection-list" ng-show="teamMenu.show" style="display: none;">
				<ul>
					<li>
						<input class="search-input" type="text" ng-model="teamQuery" placeholder="Search"/>
					</li>
					<li ng-repeat="team in teams | filter:{name:teamQuery}:startsWith | orderBy:'name'">
						<a class="dashboard" ng-click="teamMenu.show = false;" style="font-weight:800;" href="#/teams/{{team.id}}">{{team.name}}</a>
					</li>
				</ul>		  
			  </div>
			</div>
		</div>
    </div>
  </header>
  <div class="dashboard-sized-el fade" ng-class="{in:salaryReport}" id="dashboard" style="margin-top: 75px; max-width: 970px;">

    <article class="widget clock loaded" id="widget-8494" style="top: 0px; left: 0px; width: auto;">
      <div class="widget-inner widget-size-1x1 large-screen">
        <header class="no-reload">
          <h1 id="talent-header" style="display:inline;">Talent Pool</h1>
        </header>
                  <div style="overflow: hidden;">
            <div x-talent-category-chart  style="width: 360px; height: 340px; position: relative; left:-20px;top:-30px"></div>
        </div>

      </div>
    </article>

    <article class="widget google-analytics loaded" id="widget-14808658" style="top: 0px; left: 650px; width: auto;">
      <div class="widget-inner widget-size-1x1 large-screen">
        <header class="no-reload">
          <h1 style="display:inline;">Net Cash Receipts Per Employee</h1>
        </header>
        <section class="widget-body number-widget">
            <div class="widget-canvas">
                <div class="main-stat t-size-x60">
                  $428K
                </div>
                <br />
                <span class="t-size-x12 t-muted">As of 10/30/2013</span>
                <div class="secondary-stat t-size-x48 negative arrow-down-medium">
                  <span>0.9%</span>
                </div>
                <br />
                <span class="t-size-x12 t-muted">Since Last Quarter</span>

            </div><!-- .widget-canvas -->
        </section>
      </div><!-- .widget-inner -->
    </article>

    <article class="widget google-analytics loaded" id="widget-14808658" style="top: 0px; left: 325px; width: auto;">
      <div class="widget-inner widget-size-1x1 large-screen">
        <header class="no-reload">
          <h1 style="display:inline;">Total Salaries</h1>
        </header>
        <section class="widget-body number-widget">
            <div id="total-salaries" class="main-stat t-size-x48" style="text-align: center;padding-bottom:15px;">
            {{salaryReport.total_salaries | currency | noCents }}
            </div><!-- .widget-canvas -->
            <div style="display:block;padding-bottom:10px;">Totals by Talent</div>
            <div style="main-stat t-size-x12;margin-bottom:5px;" ng-repeat="(category, salaries) in salaryReport.categories">
              <canvas width="12" height="12" employee-talent-category="{{category}}"></canvas>
              <span style="margin-left:10px;width:80px;text-align:right;display:inline-block;">{{salaries | currency | noCents}}</span>
            </div>
        </section>
        <div id="salary_visualization" style="width: 315px; height: 300px;"></div>
      </div><!-- .widget-inner -->
    </article>
    <article class="widget clock loaded" id="widget-8494" style="top: 285px; left: 0px; width: auto;">
      <div ng-controller="MyToDoListCtrl" class="widget-inner large-screen" style="width:315px;min-height: 275px;">
        <header class="no-reload">
          <h1 style="display:inline;">My To Do's</h1>
        </header>
        <section class="widget-body text-widget" style="padding:12px">
            <span ng-show="todos.length==0">You currently don't have any tasks.</span>
            <div ng-if="todos.length > 0">
                <div ng-repeat="todo in todos" ng-controller="EmployeeToDoCtrl" ng-init="currentToDo=todo">
                    <input type="checkbox" ng-click="saveToDo(todo)" ng-model="todo.completed" style="padding: 5px;float: left;">

                    <textarea ng-model="todo.description" focus-me="todo.edit" ng-enter="saveToDo();scrubToDo(todo);" ng-blur="saveToDo();scrubToDo(todo);" ng-show="todo.edit"  placeholder="Add a To Do..." style="position: relative; width: 265px; height: 13px;background-color:#2a2a2a;color:#eee;resize:none;font-size: 13px;">
                    </textarea>
                    <div ng-show="!todo.edit" ng-class="{'todo-completed': todo.completed}" style="display:inline-block;width: 260px;float:left;margin-top: 3px;margin-left: 2px;padding-bottom: 3px;"><a ng-href="/#/employees/{{todo.employee.id}}">({{todo.employee.full_name}}) {{todo.description}}</a></div>
                    <ul class="feed-actions" style="margin-left: 2px;margin-top:0px;">
                        <li ng-show="!todo.assigned_to" class="feed-action"><a class="assignee_menu" ng-click="toggleAssigneeMenu()" style="color: #8b8b8b;cursor: pointer;">Unassigned</a></li>
                        <li ng-show="todo.assigned_to" class="feed-action"><a class="assignee_menu" ng-click="toggleAssigneeMenu()" style="color: #8b8b8b;cursor: pointer;">{{todo.assigned_to.full_name}}</a></li>
                        <li ng-show="!todo.due_date" class="feed-action"><a ng-click="open($event)" style="color: #8b8b8b;cursor: pointer;">No due date</a></li>
                        <li ng-show="todo.due_date" class="feed-action"><a ng-click="open($event)" style="color: #8b8b8b;cursor: pointer;" ng-bind="todo.due_date| date:'MMM d, yyyy'"></a></li>
                        <li class="feed-action"><a ng-click="todo.edit = !todo.edit" class="feed-action" style="color: #8b8b8b;cursor: pointer;">edit</a></li>
                        <span style="color:#8b8b8b;"><a ng-click="deleteToDo(todo)" class="feed-action" style="color: #8b8b8b;cursor: pointer;">delete</a></span>
                    </ul>
                    <span type="text" class="form-control" datepicker-popup="{{format}}" ng-model="todo.due_date" is-open="opened" min="minDate" datepicker-options="" date-disabled="disabled(date, mode)" show-weeks="false" ng-required="true" close-text="Close"/>
                    <div style="clear:both;"></div>
                    <div ng-show="openAssigneeMenu" style="border: 1px solid #ccc;padding: 8px 3px;border-radius: 4px;background-color:#272727;">
                            <ul>
                                <li class="assignee-select"><a class="assignee-select-link" ng-click="assigneeMenu.show=false;todo.assigned_to=null;saveToDo()">Unassigned</a></li>
                                <li class="assignee-select" ng-repeat="assignee in assignees | orderBy:'full_name'">
                                    <a class="assignee-select-link" ng-click="assigneeMenu.show=false;todo.assigned_to=assignee;saveToDo()" style="cursor: pointer;">{{assignee.full_name}}</a>
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
        </section>
      </div>
    </article>
    <article ng-controller="DiscussionOverviewCtrl" class="widget clock loaded" id="widget-8494" style="top: 285px; left: 325px; width: auto;">
      <div class="widget-inner large-screen" style="width:640px;min-height: 560px;">
        <header class="no-reload">
            <h1 style="display:inline;">Discussions</h1>
        </header>
        <section class="widget-body text-widget" style="padding: 10px;">

            <div ng-repeat="comment in comments | orderBy:'created_date':true" style="margin:0 15px;padding:8px 0 8px 0px;display: block;width:580px">
                <h2 ng-show="CreateHeader(comment.created_date)" style="font-size: 14px;color: #8b8b8b;border-bottom: 2px solid #8b8b8b">{{comment.created_date | date:'MMM d, yyyy'}}</h2>
                <div style="display: block;width:580px;min-height: 48px;">
                    <div style="display: block; float: left; width: 48px;">
                       <a ng-href="#/employees/{{comment.owner.employee.id}}" style="cursor: pointer;color:#8b8b8b;"><img ng-src="{{ comment.owner.employee.avatar_small }}" style="display: inline-block; margin-left: auto; margin-right: auto; height: 48px; vertical-align:text-top;"/></a>
                    </div>
                    <div style="display: block; margin-left:35px; padding-left:10px;min-width: 80%;min-height: 28px;">
                        <div style="display: block; padding-left:10px;min-width: 90%;height: 22px;">
                            <b style="color:#8b8b8b;"><a ng-href="#/employees/{{comment.owner.employee.id}}" style="cursor: pointer;color:#8b8b8b;">{{comment.owner.employee.full_name}}</a></b> commented on <b style="color:#8b8b8b;"><a ng-href="#/employees/{{comment.associated_object.id}}" style="cursor: pointer;color:#8b8b8b;">{{comment.associated_object.full_name}}</a></b>
                        </div>
                        <div style="display: block; width: 500px;margin-left:15px;">
                           <div ng-show="showCommentEdit" style="position:relative">
                              <textarea ng-model="comment.content" style="position: relative; width: 515px; height: 132px;background-color:#2a2a2a;color:#eee;resize:vertical;font-size: 14px;margin-top: 5px;">
                              </textarea>
                              <div id="editActions" style="right:2px;bottom:-33px;">
                                    <button class="button small blue" ng-click="saveComment(comment);showCommentEdit=false">Save</button>
                                    <button class="button small orange" ng-click="cancelEditComment(comment);showCommentEdit=false">Cancel</button>
                              </div>
                            </div>
                            <div ng-show="!showCommentEdit">
                                <div style="display: block;max-width: 100%;min-height: 48px;">
                                    <a ng-href="#/employees/{{comment.associated_object.id}}" style="cursor: pointer;color:#8b8b8b;"><img ng-src="{{ comment.associated_object.avatar_small }}" style="float: left; height: 48px; padding: 0 10px 0 0;"/></a>
                                    <span ng-init="length=500" ng-bind-html-unsafe="comment.content | new_line | cut:true:length" style="line-height: 125%"></span> <span ng-show="comment.content.length>length" ng-init="showMoreButton=true"><a ng-click="length=0;showMoreButton=false;" ng-show="showMoreButton" style="color: #8b8b8b;cursor: pointer">more</a><a ng-click="length=500;showMoreButton=true" ng-show="!showMoreButton" style="color: #8b8b8b;cursor: pointer">less</a></span>
                                </div>
                                <ul class="feed-actions">
                                    <li class="feed-action"><a ng-click="showCommentInput = ! showCommentInput" class="feed-action" style="color: #8b8b8b;cursor: pointer;">comment</a><span ng-show="comment.subcomments.length>0"> ({{comment.subcomments.length}})</span></li>
                                    <li ng-show="comment.owner.id==currentUser.id" class="feed-action"><a ng-click="showCommentEdit=true" class="feed-action" style="color: #8b8b8b;cursor: pointer;">edit</a></li>
                                    <li ng-show="comment.owner.id==currentUser.id" class="feed-action"><a ng-click="deleteComment(comment.id, $index)" class="feed-action" style="color: #8b8b8b;cursor: pointer;">delete</a></li>
                                </ul>
                                <span style="color:#8b8b8b;">{{comment.created_date | date:'MMM d, yyyy h:mma'}}</span>
                            </div>
                        </div>
                    </div>

                    <div style="clear:both;"></div>
                    <div ng-show="showCommentInput || comment.subcomments" style="display: block; margin:0 0 0 58px; padding:5px; background-color:#272727;border: 1px solid #434343;">
                        <div ng-repeat="subcomment in comment.subcomments | orderBy:'created_date'">
                            <div style="display: block;width:668px;min-height: 48px; padding: 5px;">
                                <div style="display: block; float: left; width: 48px;">
                                    <a ng-href="#/employees/{{subcomment.owner.employee.id}}" style="cursor: pointer;color:#8b8b8b;"><img ng-src="{{ subcomment.owner.employee.avatar_small }}" style="display: inline-block; margin-left: auto; margin-right: auto; height: 48px; vertical-align:text-top;"/></a>
                                </div>
                                <div style="display: block; float: left;padding-left:10px;width: 440px;min-height: 48px;padding-bottom: 5px;">
                                    <b style="color:#8b8b8b;"><a ng-href="#/employees/{{subcomment.owner.employee.id}}" style="cursor: pointer;color:#8b8b8b;">{{subcomment.owner.employee.full_name}}</a></b>
                                    <div ng-show="showSubCommentEdit" style="position:relative">
                                      <textarea ng-model="subcomment.content" style="position: relative; width: 430px; height: 132px;background-color:#2a2a2a;color:#eee;resize:vertical;font-size: 14px;margin-top: 5px;">
                                      </textarea>
                                      <div id="editActions" style="right:2px;bottom:-33px;">
                                            <button class="button small blue" ng-click="saveSubComment(subcomment, comment);showSubCommentEdit=false">Save</button>
                                            <button class="button small orange" ng-click="cancelEditSubComment(subcomment, comment);showSubCommentEdit=false">Cancel</button>
                                      </div>
                                    </div>
                                    <div ng-show="!showSubCommentEdit">
                                        <span ng-init="length=500" data-ng-bind-html-unsafe="subcomment.content | new_line | cut:true:length" style="margin-left:5px;line-height: 115%"></span> <span ng-show="subcomment.content.length>length" ng-init="showMoreButton=true"><a ng-click="length=0;showMoreButton=false;" ng-show="showMoreButton" style="color: #8b8b8b;cursor: pointer">more</a><a ng-click="length=500;showMoreButton=true" ng-show="!showMoreButton" style="color: #8b8b8b;cursor: pointer">less</a></span>
                                        <ul class="feed-actions">
                                            <li ng-show="subcomment.owner.id==currentUser.id" class="feed-action"><a ng-click="showSubCommentEdit=true" class="feed-action" style="color: #8b8b8b;cursor: pointer;">edit</a></li>
                                            <li ng-show="subcomment.owner.id==currentUser.id" class="feed-action"><a ng-click="deleteSubComment(comment, subcomment)" class="feed-action" style="color: #8b8b8b;cursor: pointer;">delete</a></li>
                                        </ul>
                                        <span style="color:#8b8b8b;">{{subcomment.created_date | date:'MMM d, yyyy h:mma'}}</span>
                                    </div>
                                </div>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div ng-show="showCommentInput || comment.subcomments" style="padding:5px;">
                            <div style="float:left;width:410px;-webkit-border-radius: 2px;moz-border-radius: 3px;-ms-border-radius: 3px;-o-border-radius: 3px;border-radius: 3px;border: 1px solid #c1c1c1;background-color:white;">
                                <textarea ng-model="comment.newSubCommentText" ng-class="{'expand': expandTextArea, 'compress': !expandTextArea}" ng-click="expandTextArea=true" rows="1" cols="40" placeholder="Add a comment..." style="width:398px;font-size:14px;padding:6px;border: none;resize:vertical;"></textarea>
                            </div>
                            <button class="small-comment" ng-click="addSubComment(comment);expandTextArea=false">Comment</button>
                            <div style="clear:both;"></div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </div>
        </section>
      </div><!-- .widget-inner -->
    </article>

  </div>
  <style>
  button.comment {
    border: 1px solid #434343;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding:8px;
    background-color:#434343;
    font-size:14px;
    color:#d3d4d4;
    margin-top:10px;
    margin-bottom:15px;
    cursor: pointer;
  }
  button.small-comment {
    border: 1px solid #434343;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height:31px;
    background-color:#434343;
    font-size:12px;
    color:#d3d4d4;
    margin-left:15px;
    cursor: pointer;
  }
  button.small-comment:hover {
    background-color:#272727;
  }
  button.comment:hover {
    background-color:#272727;
  }
  ul.feed-actions {
    margin-top: 5px;
    list-style: none;
  }
  .feed-actions li {
    background: url('/static/css/icon_bullet_grey2_4x4.png') no-repeat scroll 100% 6px transparent;
    float: left;
    margin: 0 10px 8px 0;
    padding: 0 14px 0 0;
    color: #8b8b8b;
  }
  .feed-action a:hover {
    text-decoration: none;
  }
  .expand {
      transition: height .5s;
      -webkit-transition: height .5s;
      height: 132px;
  }
  .compress {
      height: 15px;
  }
  .assignee-arrow-border {
       border-color: transparent transparent #ccc transparent;
       border-style: solid;
       border-width: 9px;
       height:0;
       width:0;
       position:absolute;
       left:45px;
       margin-top: -23px;
  }
  .assignee-arrow {
       border-color: transparent transparent #272727 transparent;
       border-style: solid;
       border-width: 9px;
       height:0;
       width:0;
       position:absolute;
       left:45px;
       margin-top: -21px;
  }
  .calendar-arrow-border {
       border-color: transparent transparent #ccc transparent;
       border-style: solid;
       border-width: 9px;
       height:0;
       width:0;
       position:absolute;
       left:140px;
       margin-top: -23px;
  }
  .calendar-arrow {
       border-color: transparent transparent #272727 transparent;
       border-style: solid;
       border-width: 9px;
       height:0;
       width:0;
       position:absolute;
       left:140px;
       -margintop: -21px;
  }
</style>