<div ng-if="employee.display" class="container narrow-gutter employee-view" ng-class="{in:employee}">
    <div ng-include="'/static/angular/partials/_widgets/search.html'"></div>
    <h1 class="sensitive-text">{{employee.full_name}} <a href="#/checkin/{{ employee.id }}" ng-show="customer.show_beta_features" class="btn btn-success btn-checkin"><span class="glyphicon glyphicon-plus"></span> Check-In</a></h1>
    <div class="row">
        <div class="col col-md-5">
            <div class="panel">
                <div class="large-avatar-container">
                    <div class="xxxlarge-headshot">
                        <img ng-src="{{ employee.avatar }}" alt="{{ employee.full_name }}'s avatar" class="headshot-image" />  
                    </div>    
                    <div class="employee-attribute employee-attribute-large" rel="tooltip" data-toggle="tooltip" data-placement="right" data-original-title="{{ talentCategories[employee.talent_category].label }}">
                        <span class="segment employee-segment-background-color-{{employee.talent_category}}"></span>
                    </div>

                    <div class="employee-attribute employee-attribute-large employee-happiness-large" rel="tooltip" data-toggle="tooltip" data-placement="right" data-original-title="{{ talentCategories[employee.talent_category].label }}">
                        <span class="employee-happiness-background-color-{{employee.happiness}} happiness-{{employee.happiness}}"></span>
                    </div> 
                </div>   
                
                <ul class="nav nav-tabs" ng-init="tab=1">
                    <li class="nav" ng-class="{active: tab==1}"><a ng-click="tab = 1">Bio</a></li>
                    <li class="nav" ng-show="currentUser.employee.id!=employee.id" ng-class="{active: tab==2}"><a ng-click="tab = 2">Growth</a></li>
                    <li class="nav" ng-class="{active: tab==3}"><a ng-click="tab = 3">Happiness</a></li>
                    <li class="nav" ng-class="{active: tab==4}"><a ng-click="tab = 4">Comp</a></li>
                </ul>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" ng-show="tab == 1">
                            <div ng-include="'/static/angular/partials/_widgets/bio.html'"></div>  
                        </div>
                        <div class="tab-pane fade in active" ng-show="tab == 2">
                            <div ng-include="'/static/angular/partials/_widgets/pvp.html'" ng-controller="EmployeePvpEvaluationsCtrl"></div>
                        </div>
                        <div class="tab-pane fade in active" ng-show="tab == 3">
                            <div ng-include="'/static/angular/partials/_widgets/happiness.html'"></div>  
                        </div>
                        <div class="tab-pane fade in active" ng-show="tab == 4">
                            <div ng-include="'/static/angular/partials/_widgets/employee-compensation.html'" ng-controller="EmployeeCompSummariesCtrl"></div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>    
        <div class="col col-md-7">  
            <div ng-include="'/static/angular/partials/_widgets/todos.html'" data-view="employee-view" data-page-size="5" ng-controller="TaskListCtrl"></div>
            <div ng-controller="AddEmployeeCommentCtrl">
                <div ng-include="'/static/angular/partials/_widgets/add-comment.html'"></div>
            </div>
            <div ng-controller="ActivityCtrl" data-view="employee">
                <div ng-include="'/static/angular/partials/_widgets/activity.html'"></div>
            </div>          
        </div>
    </div>
</div>

<modal-happy employee="employee" happys='happys' comments='comments' show='modalHappyShown' width='492px'></modal-happy>
<modal-send-survey employee="employee" show='modalSurveyShown' from='currentUser' subject='customer.survey_email_subject' body='customer.survey_email_body' width='492px'></modal-send-survey>
