<div class="container">
    <div class="row sorts">
        <div class="dropdown btn-group">
            <h1><span ng-if="!categoryName">All Employees</span>{{categoryName}}</h1>
        </div>
        <div class="dropdown pull-right" ng-if="customer.show_vops" style="margin-left:5px">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                <span ng-if="!synergistStyle">Synergist Style</span> {{synergistStyle | titleCase}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li><a ng-click="setSynergistStyle('Visionary')">Visionary</a></li>
                <li><a ng-click="setSynergistStyle('Operator')">Operator</a></li>
                <li><a ng-click="setSynergistStyle('Processor')">Processor</a></li>
                <li><a ng-click="setSynergistStyle('Synergist')">Synergist</a></li>
                <li class="divider"></li>
                <li><a ng-click="setSynergistStyle(null)">Clear</a></li>
            </ul>
        </div>
        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                <span ng-if="!currentHappiness">All Moods</span> {{ currentHappiness.name }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu employee-happiness-list" role="menu" aria-labelledby="dropdownMenu1">
                <li ng-repeat="happiness in happinessOptions | orderBy:'-id'" ng-click="setHappyFilter(happiness.id)" role="presentation"><a role="menuitem" tabindex="-1"><span class="happiness-{{ happiness.id }}"></span> <span class="text">{{ happiness.name }}</span></a></li>
                <li class="divider"></li>
                <li ng-click="setHappyFilter(null)" role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0)">All Moods</a></li>
            </ul>
        </div>
        <div class="dropdown pull-right" style="margin-right:5px">
            <button class="btn btn-default dropdown-toggle" type="button" id="teamList" data-toggle="dropdown" aria-expanded="true">
                <span ng-if="!currentTeam">All Teams</span> {{currentTeam.name}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-teams" role="menu" aria-labelledby="teamList">
                <li ng-repeat="team in teams | orderBy:'name'">
                    <a ng-click="setTeamFilter(team.id);">{{team.name}}</a>
                </li>
                <li class="divider"></li>
                <li><a ng-click="setTeamFilter(null)">All Teams</a></li>
            </ul>
        </div>
        <div class="dropdown pull-right" style="margin-right:5px">
            <button class="btn btn-default dropdown-toggle" type="button" id="teamList" data-toggle="dropdown" aria-expanded="true">
                <span ng-if="!categoryName">All Zones</span> {{categoryName}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-teams" role="menu" aria-labelledby="teamList">
                <li ng-repeat="(category_id, category)  in talentCategories" ng-if="category_id>0">
                    <a ng-click="setZoneFilter(category_id);">{{category.label}}</a>
                </li>
                <li>
                    <a ng-click="setZoneFilter('0');">{{talentCategories[0].label}}</a>
                </li>
                <li class="divider"></li>
                <li><a ng-click="setZoneFilter(null)">All Zones</a></li>
            </ul>
        </div>

        <div class="grid filled-light rounded">
            <ul masonry="true">
                <li data-category="{{employee.team.name}}" class="employee" on-filter index="{{$index}}" stale-days="90" ng-repeat="employee in employees">
                    <div class="large-avatar-container">
                        <div class="xxxlarge-headshot xxxlarge-headshot-active">
                            <a href="#/employees/{{employee.pk}}">
                                <img ng-src="{{ employee.avatar }}" alt="{{ employee.full_name }}'s avatar" class="headshot-image" />
                            </a>
                        </div>
                        <div class="employee-attribute employee-attribute-large" rel="tooltip" data-toggle="tooltip" data-placement="right" data-original-title="{{ talentCategories[employee.talent_category].label }}">
                            <span class="segment employee-segment-background-color-{{employee.talent_category}}"></span>
                        </div>
                        <div class="employee-attribute employee-attribute-large employee-happiness-large" rel="tooltip" data-toggle="tooltip" data-placement="right" data-original-title="{{ talentCategories[employee.talent_category].label }}">
                            <span class="employee-happiness-background-color-{{employee.happiness}} happiness-{{ employee.happiness }}"></span>
                        </div>
                    </div>
                    <h3 class="employee-name centered"><a href="#/employees/{{employee.pk}}" class="sensitive-text">{{employee.full_name}}</a></h3>
                    <div class="team-name centered "><a ng-click="setTeamFilter(employee.team.id, employee.team.name);menu.show=false;" class="sensitive-text">{{employee.team_name}}</a></div>
                </li>
            </ul>
            <div ng-if="employees.$resolved && employees.length === 0" class="no-results">No Results</div>
            <div ng-if="!employees.$resolved" class="no-results"><img src="../static/images/loader.gif" alt="Loading spinner" /></div>
        </div>
    </div>
</div>
