  <header id="main-header">
    <!-- #top-bar -->

    <div class="clear" id="dashboard-admin-bar">
		<div ng-controller="EmployeeListCtrl" class="inner dashboard-sized-el" style="max-width: 970px;">
			<div style="display: block; color: #cbcbcb; font-weight: 700; padding: 12px 36px 10px 12px;font-size: 16px; width:150px; float:left">
				<a href="/" style="color:#fff;">The Motley Fool</a>
			</div>			
			<div class="btn" id="switch-dashboard" style="float:right">
			  <span ng-click="employeeMenu.show = ! employeeMenu.show" id="selected-dashboard-title" style="font-weight: 700; color: white;">People</span>
			  <div id="selection-list" ng-show="employeeMenu.show" style="display: none;">
				<ul>
					<li>
						<input class="search-input" ng-model="employeeQuery" type="text" placeholder="Search"/>
					</li>
					<li ng-repeat="employee in employees | filter:{informal_name:employeeQuery}:startsWith | orderBy:'informal_name'">
						<a class="dashboard" ng-click="employeeMenu.show = false;" style="font-weight:800;" href="#/employees/{{employee.id}}">{{employee.informal_name}}</a>
					</li>
				</ul>
			  </div>
			</div>
			<div class="btn" id="switch-dashboard" style="float:right">
			  <span ng-click="teamMenu.show = ! teamMenu.show" id="selected-dashboard-title" style="font-weight: 700; color: white;">Teams</span>
			  <div id="selection-list" ng-show="teamMenu.show" style="display: none;">
				<ul>
					<li>
						<input class="search-input" type="text" ng-model="teamQuery" placeholder="Search"/>
					</li>
					<li ng-repeat="employee in employees | filter:{team.name:teamQuery}:startsWith | unique:'team.name' | orderBy:'team.name'">
						<a class="dashboard" ng-click="teamMenu.show = false;" style="font-weight:800;" href="#/teams/{{employee.team.id}}">{{employee.team.name}}</a>
					</li>
				</ul>		  
			  </div>
			</div>
		</div>
    </div>
  </header>

  <div class="dashboard-sized-el" id="dashboard" style="margin-top: 75px; max-width: 970px; height: 804px;">
    <article class="widget clock loaded" id="widget-8494" style="top: 0px; left: 0px; width: auto;">
      <div class="widget-inner widget-size-1x2 large-screen">
        <header class="no-reload">
          <h1 id="display_name">{{employee.informal_name}}</h1>
        </header>

        <section class="widget-body rag-widget">
          <div class="widget-canvas">
            <div class="outer" style="margin-left: auto; margin-right: auto;">
              <div class="image" style="margin-left: auto; margin-right: auto;"><div class="avatar" /></div>
            </div>

            <ol>
              <li class="clear" style="padding-top:10px;padding-bottom:10px;">
                <div class="t-secondary">
                  Hire Date
                </div>

                <div class="t-size-x20" id="start_date">{{ employee.hire_date | date:'MM/dd/yyyy' }}</div>
              </li>

              <li class="clear" style="padding-top:10px;padding-bottom:10px;">
                <div class="t-secondary">
                  Team Lead
                </div>

                <div class="t-size-x20" id="team_lead">
				  <a ng-if="team_lead" href="#/employees/{{team_lead.id}}">{{ team_lead.informal_name }}</a>
				  <span ng-if="! team_lead">None</span>
				</div>
              </li>

              <li class="clear" style="padding-top:10px;padding-bottom:10px;">
                <div class="t-secondary">
                  Mentor
                </div>

                <div class="t-size-x20" id="mentor">
					<span ng-if="mentorships.length == 0">None</span>
					<ul ng-if="mentorships.length > 0">
						<li ng-repeat="mentorship in mentorships">
						  <a href="#/employees/{{mentorship.mentor.id}}">{{ mentorship.mentor.informal_name }}</a>
						</li>
					 </ul>
				</div>
              </li>
            </ol>
          </div>
        </section>
      </div><!-- .widget-inner -->
    </article>

    <article class="widget clock loaded" id="widget-8494" style="top: 0px; left: 325px; width: auto;">
      <div class="widget-inner widget-size-1x1 large-screen">
        <header class="no-reload">
          <h1 style="display:inline;">PvP</h1>
        </header>

        <section class="widget-body text-widget">
          <div class="swipe widget-canvas" id="pvp_slider">
            <div class="swipe-wrap slides" id="pvp_slides" style="position: relative; width: 438px; height: 150px;">
				<div ng-controller="EmployeePvpEvaluationsCtrl">
				  <div ng-if="pvp.length > 0">
					<ul rn-carousel data-ribbontype="0" class="slide t-size-x24 t-main">
						<li ng-repeat="pvp in pvp">
							<div class="secondary-stat t-size-x48 level arrow-level-medium">
								<span>{{ pvp.performance}}</span> <sup>Performance</sup>
							</div>
							<div class="secondary-stat t-size-x48 level arrow-level-medium">
								<span>{{ pvp.potential }}</span> <sup>Potential</sup>
							</div>
							<span class="t-size-x12 t-muted">{{ pvp.evaluation_round.date | date:'MM/dd/yyyy' }}</span>
						</li>
					</ul>
				  </div>
				</div>
			</div>

            <div class="slide-pagination">
				<div ng-controller="EmployeePvpEvaluationsCtrl">
					<div ng-if="pvp.length > 0">
						<div class="inner" id="pvp_pages">
							<span class="slide-tally" id="index">1</span><span class="slide-tally"> of {{ pvp.length }}</span>
							<nav ng-repeat="pvp in pvp">
								<a href="#" class="activeSlide">{{$index+1}}</a>
							</nav>
						</div>
					</div>
				</div>
            </div>
          </div><!-- .widget-inner -->
        </section>
      </div>
    </article>

    <article class="widget google-analytics loaded" id="widget-14808658" style="top: 0px; left: 650px; width: auto;">
      <div class="widget-inner widget-size-1x1 large-screen">
        <header class="no-reload">
          <h1 style="display:inline;">Compensation</h1>
        </header>
		<div ng-controller="EmployeeCompSummariesCtrl">
		  <div ng-if="compSummaries.length > 0">
			<div style="width: 315px; height: 300px;" compensation-history-chart></div>
		  </div>
		</div>

      </div><!-- .widget-inner -->
    </article>

    <article class="widget clock loaded" id="widget-8494" style="top: 285px; left: 325px; width: auto;">
      <div class="widget-inner widget-size-2x1 large-screen">
        <header class="no-reload">
          <h1 style="display:inline;">Word On The Street</h1>
        </header>

        <section class="widget-body text-widget">
          <div ng-controller="EmployeeCommentsCtrl">
            <div ng-if="comments.length > 0">
              <div class="widget-canvas swipe" id="notes_slider">
                <div class="slides swipe-wrap" id="note_slides" style="position: relative; width: 625px; height: 150px;">
                  {{currentComment.content}}
                </div>
                <div ng-if="currentComment">{{currentComment.modified_date | date:'MM/dd/yyyy'}} - {{getAuthorName()}}
                <div class="slide-pagination">
                  <div class="inner" id="note_pages">
                    <span class="slide-tally">{{commentIndex+1}}</span><span class="slide-tally"> of {{comments.length}}</span>
                    <nav>
                    <a ng-repeat="comment in comments" ng-class="{activeSlide: $index==$parent.commentIndex}" ng-click="selectComment($index)">{{$index}}</a>
                    </nav>
                  </div>
                </div>
              </div><!-- .widget-canvas -->
            </div>
          </div>
        </section>
      </div><!-- .widget-inner -->
    </article>
  </div>
