  <header id="main-header">
    <!-- #top-bar -->

    <div class="clear" id="dashboard-admin-bar">
		<div ng-controller="EmployeeListCtrl" class="inner dashboard-sized-el" style="max-width: 970px;">
			<div style="display: block; color: #cbcbcb; font-weight: 700; padding: 12px 36px 10px 12px;font-size: 16px; width:150px; float:left">
				<a href="/" style="color:#fff;">The Motley Fool</a>
			</div>
			<div class="btn" ng-mouseover="settingsMenu.show=true" ng-mouseleave="settingsMenu.show=false" id="switch-dashboard" style="float:right;width:55px;">
			  <span id="selected-dashboard-title" style="font-weight: 700; color: white;padding:0px;">
                <img src="/static/css/settings.png"style="width:35px;margin-left:3px;margin-top:3px;margin-bottom:-3px;"/>
              </span>            
                <div id="selection-list" ng-show="settingsMenu.show" style="display: none;width:100px">
                    <ul>
                        <li>
                            <a class="dashboard" href="/logout" style="font-weight:800;">Sign Out</a>
                        </li>
                    </ul>
                </div>
            </div>			
			<div class="btn" ng-mouseover="employeeMenu.show=true" ng-mouseleave="employeeMenu.show=false" id="switch-dashboard" style="float:right">
			  <span id="selected-dashboard-title" style="font-weight: 700; color: white;">People</span>
			  <div id="selection-list" ng-show="employeeMenu.show" style="display: none;">
				<ul>
					<li>
						<input class="search-input" ng-model="employeeQuery" type="text" placeholder="Search"/>
					</li>
					<li ng-repeat="employee in employees | filter:{full_name:employeeQuery}:startsWith | orderBy:'full_name'">
						<a class="dashboard" ng-click="employeeMenu.show = false;" style="font-weight:800;" href="#/employees/{{employee.id}}">{{employee.full_name}}</a>
					</li>
				</ul>
			  </div>
			</div>
			<div ng-controller="TeamListCtrl" class="btn" ng-mouseover="teamMenu.show=true;" ng-mouseleave="teamMenu.show=false" id="switch-dashboard" style="float:right">
			  <span id="selected-dashboard-title" style="font-weight: 700; color: white;">Teams</span>
			  <div id="selection-list" ng-show="teamMenu.show" style="display: none;">
				<ul>
					<li>
						<input class="search-input" type="text" ng-model="teamQuery" placeholder="Search"/>
					</li>
					<li ng-repeat="team in teams | filter:{name:teamQuery}:startsWith | orderBy:'name'">
						<a class="dashboard" ng-click="teamMenu.show = false;" style="font-weight:800;" href="#/teams/{{team.id}}">{{team.name}}</a>
					</li>
				</ul>		  
			  </div>
			</div>
		</div>
    </div>
  </header>

  <div ng-if="employee.display" class="dashboard-sized-el fade" ng-class="{in:employee}" id="dashboard" style="margin-top: 75px; max-width: 970px;">
    <article class="widget clock loaded" id="widget-8494" style="top: 0px; left: 0px; width: auto;">
      <div class="widget-inner widget-size-1x2 large-screen">
        <header class="no-reload">
          <h1 style="display:inline;">{{employee.full_name}}</h1>
        </header>

        <section class="widget-body rag-widget">
          <div class="widget-canvas">
            <div class="outer" style="margin-left: auto; margin-right: auto;">
              <div class="image" style="margin-left: auto; margin-right: auto;"><img ng-src="{{ employee.avatar }}" style="padding-bottom:15px; display: block; margin-left: auto; margin-right: auto; height: 210px;"/></div>
            </div>

            <ol>
              <li class="clear" style="padding-top:10px;padding-bottom:10px;">
                <div class="t-secondary" style="min-width: 35%">
                  Hire Date
                </div>

                <div class="t-size-x14" id="start_date" style="min-width: 65%">{{ employee.hire_date | date:'MM/dd/yyyy' }}</div>
              </li>

              <li class="clear" style="padding-top:10px;padding-bottom:10px;">
                <div class="t-secondary" style="min-width: 35%">
                  Team Lead
                </div>

                <div class="t-size-x14" id="team_lead" style="min-width: 65%">
					<span ng-if="leaderships.length==0">--</span>
					<ul ng-if="leaderships.length > 0">
						<li ng-repeat="leadership in leaderships">
						  <a ng-if="leadership.leader.display" href="#/employees/{{leadership.leader.id}}">{{ leadership.leader.full_name }}</a>
                          <span ng-if="!leadership.leader.display">{{ leadership.leader.full_name }}</span>
						</li>
					 </ul>					
				</div>
              </li>

              <li class="clear" style="padding-top:10px;padding-bottom:10px;">
                <div class="t-secondary" style="min-width: 35%">
                  Mentor
                </div>

                <div class="t-size-x14" id="mentor" style="min-width: 65%">
					<span ng-if="mentorships.length == 0">--</span>
					<ul ng-if="mentorships.length > 0">
						<li ng-repeat="mentorship in mentorships">
						  <a ng-if="mentorship.mentor.display" href="#/employees/{{mentorship.mentor.id}}">{{ mentorship.mentor.full_name }}</a>
                          <span ng-if="!mentorship.mentor.display">{{ mentorship.mentor.full_name }}</span>
						</li>
					 </ul>
				</div>
              </li>
              <li class="clear" style="padding-top:10px;padding-bottom:10px;">
                <div class="t-secondary" style="min-width: 35%">
                  Super Power
                </div>

                <div class="t-size-x14" style="min-width: 65%">
					<span ng-if="super_powers.length == 0">--</span>
					<ul ng-if="super_powers.length > 0">
						<li ng-repeat="super_power in super_powers">
						  {{ super_power.name }}
						</li>
					 </ul>
				</div>
              </li>			
  			  
              <li class="clear" style="padding-top:10px;padding-bottom:10px;">
                <div class="t-secondary" style="min-width: 35%">
                  Passions
                </div>

                <div class="t-size-x12" style="min-width: 65%">
					<span ng-if="passions.length == 0">--</span>
					<ul ng-if="passions.length > 0">
						<li>
							<span ng-repeat="passion in passions | limitTo:4">
							  <text ng-if="!$last">{{ passion.name }},</text>
							  <text ng-if="$last">{{ passion.name }}</text>
							</span>
						</li>
					 </ul>
				</div>
              </li>			  

              <li class="clear" style="padding-top:10px;padding-bottom:10px;">
                <div class="t-secondary" style="min-width: 35%">
                  Skills
                </div>

                <div class="t-size-x12" style="min-width: 65%">
					<span ng-if="skills.length == 0">--</span>
					<ul ng-if="skills.length > 0">
						<li>
							<span ng-repeat="skill in skills | limitTo:4">
							  <text ng-if="!$last">{{ skill.name }},</text>
							  <text ng-if="$last">{{ skill.name }}</text>
							</span>
						</li>
					 </ul>
				</div>
              </li>					  
			  
            </ol>
          </div>
        </section>
      </div><!-- .widget-inner -->
    </article>

    <article class="widget clock loaded" id="widget-8494" style="top: 0px; left: 325px; width: auto;">
      <div ng-controller="EmployeePvpEvaluationsCtrl" class="widget-inner widget-size-1x1 large-screen">
        <header class="no-reload">
          <h1 style="display:inline;">PvP</h1>
        </header>

        <section class="widget-body text-widget" style="padding:12px">
          <div ng-show="pvps.length > 0" class="swipe widget-canvas" id="pvp_slider">

					<ul rn-carousel rn-carousel-index="pvpIndex" class="slide t-size-x24 t-main">
						<li ng-repeat="pvp in pvps">
              <svg x-pvp-chart x-potential="{{pvp.potential}}" x-performance="{{pvp.performance}}" x-talent-category="{{pvp.talent_category}}" class="pvp-chart" width="255" height="195" style="margin-left: 35px;" xmlns="http://www.w3.org/2000/svg">
                <g fill="#343434">
                 <title>{{ pvp.evaluation_round.date | date:'MM/yyyy' }}</title>
                 <rect class="pvp-square-1-4" x="27" y="2" width="40" height="40"/>
                 <rect class="pvp-square-2-4" x="67" y="2" width="40" height="40"/>
                 <rect class="pvp-square-3-4" x="107" y="2" width="40" height="40"/>
                 <rect class="pvp-square-4-4" x="147" y="2" width="40" height="40"/>

                 <rect class="pvp-square-1-3" x="27" y="42" width="40" height="40"/>
                 <rect class="pvp-square-2-3" x="67" y="42" width="40" height="40"/>
                 <rect class="pvp-square-3-3" x="107" y="42" width="40" height="40"/>
                 <rect class="pvp-square-4-3" x="147" y="42" width="40" height="40"/>

                 <rect class="pvp-square-1-2" x="27" y="82" width="40" height="40"/>
                 <rect class="pvp-square-2-2" x="67" y="82" width="40" height="40"/>
                 <rect class="pvp-square-3-2" x="107" y="82" width="40" height="40"/>
                 <rect class="pvp-square-4-2" x="147" y="82" width="40" height="40"/>

                 <rect class="pvp-square-1-1" x="27" y="122" width="40" height="40"/>
                 <rect class="pvp-square-2-1" x="67" y="122" width="40" height="40"/>
                 <rect class="pvp-square-3-1" x="107" y="122" width="40" height="40"/>
                 <rect class="pvp-square-4-1" x="147" y="122" width="40" height="40"/>

                 <line class="grid-line" stroke="#ffffff" stroke-width="1" x1="67" y1="2" x2="67" y2="162"/>
                 <line class="grid-line" stroke="#ffffff" stroke-width="2" x1="107" y1="2" x2="107" y2="162"/>
                 <line class="grid-line" stroke="#ffffff" stroke-width="1" x1="147" y1="2" x2="147" y2="162"/>

                 <line class="grid-line" stroke="#ffffff" stroke-width="1" x1="27" y1="42" x2="187" y2="42"/>
                 <line class="grid-line" stroke="#ffffff" stroke-width="2" x1="27" y1="82" x2="187" y2="82"/>
                 <line class="grid-line" stroke="#ffffff" stroke-width="1" x1="27" y1="122" x2="187" y2="122"/>

                 <text class="potential-lablel" fill="rgb(139, 139, 139)" stroke="rgb(139, 139, 139)" stroke-width="0" x="12" y="90" font-size="12" font-family="'Proxima Nova', Helvetica, sans-serif" text-anchor="middle" xml:space="preserve" transform="rotate(-90 12 83.5)">POTENTIAL</text>
                 <text class="performance-label" fill="rgb(139, 139, 139)" stroke="rgb(139, 139, 139)" stroke-width="0" x="107" y="175" font-size="12" font-family="'Proxima Nova', Helvetica, sans-serif" text-anchor="middle" xml:space="preserve">PERFORMANCE - {{ pvp.evaluation_round.date | date:'MM/yyyy' }}</text>
               </g>
              </svg>
						</li>
					</ul>

				<div class="slide-pagination">
					<div class="inner" id="pvp_pages">
						<span class="slide-tally" data-ng-bind-html-unsafe="(pvpIndex + 1)"></span><span class="slide-tally"> of {{ pvps.length }}</span>
						<nav>
							<a ng-repeat="pvp in pvps" ng-class="{categoryNavHighlightSmall: $index==pvpIndex,categoryNavSmall: $index!=pvpIndex}" ng-click="selectPvP($index)" style="cursor: pointer;"><canvas employee-talent-category="{{pvp.talent_category}}"></a>

						</nav>
					</div>
				</div>

          </div><!-- .widget-inner -->
        </section>
      </div>
    </article>

    <article class="widget google-analytics loaded" id="widget-14808658" style="top: 0px; left: 650px; width: auto;">
      <div class="widget-inner widget-size-1x1 large-screen">
        <header class="no-reload">
          <h1 style="display:inline;">Compensation</h1>
        </header>
		<div ng-controller="EmployeeCompSummariesCtrl">
		  <div ng-if="compSummaries.length > 0">
			<div style="width: 315px; height: 300px;" compensation-history-chart></div>
		  </div>
		</div>

      </div><!-- .widget-inner -->
    </article>

    <article class="widget clock loaded" id="widget-8494" style="top: 285px; left: 325px; width: auto;">
      <div ng-controller="EmployeeCommentsCtrl" class="widget-inner widget-size-2x1 large-screen">
        <header class="no-reload">
          <h1 style="display:inline;">Latest Buzz</h1><a href="#/employees/{{employee.id}}/discussions" style="cursor: pointer;"><img src="/static/css/add.png" style="float:right;margin-left:6px;margin-top:-6px"/></a>
        </header>

        <section class="widget-body text-widget">
          <div class="widget-canvas swipe" id="notes_slider">
             <ul  rn-carousel rn-carousel-index="commentIndex" class="slide">
                <li ng-repeat="comment in comments">

                    <div style="display: block;width:668px;min-height: 175px;">
                        <div style="display: block; float: left; width: 48px;">
                            <a ng-href="#/discussions/{{comment.id}}"><img ng-src="{{ comment.owner.employee.avatar }}" style="display: inline-block; margin-left: auto; margin-right: auto; height: 48px; vertical-align:text-top;"/></a>
                        </div>
                        <div style="display: block; float: left;padding-left:10px;max-width: 80%;min-height: 48px;">
                            <a ng-href="#/discussions/{{comment.id}}"><b style="color:#8b8b8b;">{{comment.owner.employee.full_name}}</b></a>
                            <span style="margin-left:5px;line-height: 115%">{{comment.content | cut:true:650}}</span>
                            <ul class="feed-actions">
                                <li class="feed-action"><a ng-href="#/discussions/{{comment.id}}" style="color: #8b8b8b;">Comment<span ng-show="comment.subcomments"> ({{comment.subcomments.length}})</span></a></li>
                                <li class="feed-action">{{comment.modified_date | date:'MMM d, yyyy h:mma'}}</li>
                            </ul>
                        </div>
                    </div>
                </li>
              </ul>

              <div class="slide-pagination">
                  <div class="inner" id="note_pages">
                        <span ng-if="currentComment" class="slide-tally">{{commentIndex+1}} of {{comments.length}}</span>
                        <nav>
                          <a ng-repeat="comment in comments" ng-class="{activeSlide: $index==$parent.commentIndex}" ng-click="selectComment($index)" style="cursor: pointer;">{{$index}}</a>
                        </nav>
                  </div>
              </div>
		  </div><!-- .widget-canvas -->
        </section>
      </div><!-- .widget-inner -->
    </article>
  </div>

<style>
  ul.feed-actions {
    margin-top: 5px;
    list-style: none;
  }
  .feed-actions li {
    float: left;
    margin: 0 10px 8px 0;
    padding: 0 14px 0 0;
    color: #8b8b8b;
  }
  .feed-action a:hover {
    text-decoration: none;
  }

  div[contentEditable] {
    cursor: pointer;
  }
  div[contentEditable]:focus {
    cursor: pointer;
    background-color: gray;
    border: 1px solid red;
    color:black;

    text-shadow:none;
  }
  rect.pvp-square.selected { fill: red; }
</style>
