<meta name="viewport" content="initial-scale=1.0">
<div class="container" ng-if="survey">
    <div style="margin:50px 0 30px 0" >
        <h3>Which of these statements best describes how happy you are at work?</h3>

        <div class="radio-box">
            <div class="radio">
              <label>
                <input type="radio" name="happyRating" ng-model="happy.assessment" id="happyRating5" value="5" checked>
                Never been happier! I love coming to work every day
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="happyRating" ng-model="happy.assessment" id="happyRating4" value="4" checked>
                I'm happy! I like my job, enjoy what I do, but could be happier.
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="happyRating" ng-model="happy.assessment" id="happyRating3" value="3" checked>
                I am mixed: I am happy with some things but unhappy with others, so it's hard to answer this question.
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="happyRating" ng-model="happy.assessment" id="happyRating2" value="2" checked>
                I'm unhappy, I'm not fired up about my job.
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="happyRating" ng-model="happy.assessment" id="happyRating1" value="1" checked>
                I'm really unhappy. I don't look forward to coming to work.
              </label>
            </div>
        </div>
    </div>

    <div style="display: block;margin:20px 0;-webkit-border-radius: 2px;moz-border-radius: 3px;-ms-border-radius: 3px;-o-border-radius: 3px;border-radius: 3px;border: 1px solid #c1c1c1;background-color:white;">
        <textarea class="text" ng-model="happy.comment.content" rows="1" cols="50" placeholder="Provide some context to your answer." style="width:99%;min-height: 132px;font-size:18px;padding:5px;border: none;resize:vertical;"></textarea>
    </div>
    <div style="margin-top:40px">
        <button class='ng-modal-button' ng-disabled='!happy.comment.content.length>0 || !happy.assessment' ng-click='save_engagement()'>Submit</button>
    </div>
</div>
<div class="container" ng-if="(!survey.active || survey.completed) && !first_load">
    <div class="overlay overlay-slidedown">
        <nav>
            <ul>
                <li>Thank you!</li>
            </ul>
        </nav>
    </div>
</div>
<div class="container" ng-if="(!survey.active || survey.completed) && first_load && survey">
    <div class="overlay overlay-slidedown">
        <nav>
            <ul>
                <li>Sorry!</li>
                <li>This survey is closed.</li>
            </ul>
        </nav>
    </div>
</div>
<div class="container" ng-if="error">
    <div class="overlay overlay-slidedown">
        <nav>
            <ul>
                <li>Sorry!</li>
                <li>We couldn't find your survey.</li>
            </ul>
        </nav>
    </div>
</div>
<style>
    .comment-area {
      width:492px;
    }
    .container {
      width:500px;
      margin-left: auto;
      margin-right: auto;
    }
    .radio-box{
        margin: 20px 0
    }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
      .comment-area {
          width:292px;
      }
      .container {
          width: 300px;
          margin-left: auto;
          margin-right: auto;
      }
    }

    .ng-modal-button {
        font-size: 17px;
        font-family: Lato,Helvetica,Arial,sans-serif;
        padding: 1em 2em;
        outline: none;
        font-weight: 400;
        border: none;
        color: #fff;
        background: #e74c3c;
        cursor: pointer;
        margin: 10px;
        border-radius: 6px;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }
    .ng-modal-button:hover {
        background: #ea6153;
    }
    /* Overlay style */
    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #2980b9;
        opacity: 0.9;
        -moz-animation-name: drop-overlay;
        -moz-animation-iteration-count: 1;
        -moz-animation-timing-function: ease-in;
        -moz-animation-duration: 0.3s;

        -webkit-animation-name: drop-overlay;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease-in;
        -webkit-animation-duration: 0.3s;

        animation-name: drop-overlay;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 0.3s;
    }

    /* Overlay closing cross */
    .overlay .overlay-close {
        width: 80px;
        height: 80px;
        position: absolute;
        right: 20px;
        top: 20px;
        overflow: hidden;
        border: none;
        text-indent: 200%;
        color: transparent;
        outline: none;
        z-index: 100;
    }

    /* Menu style */
    .overlay nav {
        text-align: center;
        position: relative;
        top: 50%;
        height: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .overlay ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        height: 100%;
        position: relative;
    }

    .overlay ul li {
        display: block;
        height: 20%;
        height: calc(100% / 5);
        min-height: 54px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .overlay ul li {
        font-size: 54px;
        font-weight: 300;
        display: block;
        color: #fff;
        -webkit-transition: color 0.2s;
        transition: color 0.2s;
    }

    .overlay ul li a:hover,
    .overlay ul li a:focus {
        color: #f0f0f0;
    }

    @media screen and (max-height: 30.5em) {
        .overlay nav {
            height: 70%;
            font-size: 34px;
        }
        .overlay ul li {
            min-height: 34px;
        }
    }
    @-moz-keyframes drop-overlay {
        0% {
            -moz-transform: translateY(-100%);
        }
        100% {
            -moz-transform: translateY(0);
        }
    }
    @-webkit-keyframes drop-overlay {
        0% {
            -webkit-transform: translateY(-100%);
        }
        100% {
            -webkit-transform: translateY(0);
        }
    }
    @keyframes drop-overlay {
        0% {
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(0);
        }
    }

</style>