<header id="main-header">
    <div ng-controller="EmployeeListCtrl">
        <a ng-href="#/" class="customer-name">{{customer.name}}</a>

        <!-- Account/logout -->
        <div class="nav-item" ng-class="{'menu-item-active':openSettingsMenu}">
            <img class="settings_menu" ng-src="{{currentUser.employee.avatar_small}}" ng-click="toggleSettingsMenu()" style="height:27px;"/>
            <div id="selection-shell" ng-show="openSettingsMenu" style="margin-left:-248px">
                <div id="selection-title">Account</div>
                <div id="selection-list">
                    <ul style="padding: 10px 10px;">
                        <li ng-if="currentUser.can_coach_employees && customer.show_coaches">
                            <a class="dashboard" href="#/coach/" style="height:27px;">My Coachees</a>
                        </li>
                        <li>
                            <a class="dashboard" href="/logout" style="height:27px;"><div style="float:left;margin-right: 5px;"><img class="settings_menu" ng-src="{{currentUser.employee.avatar_small}}" style="height:27px;"/></div><div style="float:left;margin-top:5px;">{{currentUser.employee.full_name}}</div><div style="float:right;margin-top:5px;">Sign Out</div></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Add Employee -->
        <div class="nav-item" ng-if="currentUser.can_view_company_dashboard" ng-class="{'menu-item-active':openEmployeeMenu}">
          <span class="fa fa-plus employee_menu" ng-click="toggleEmployeeMenu()"></span>
          <div id="selection-shell" ng-show="openEmployeeMenu" style="margin-left: -195px;">

            <div ng-show="currentUser.can_edit_employees">
              <div id="selection-title">Add Employees</div>
              <div id="selection-list">
                <ul style="padding: 10px 10px;">
                    <li ng-show="!showAddEmployee">
                        <a class="dashboard employee_menu" ng-click="toggleEmployeeModal();"><span class="glyphicon-regular glyphicon-add-employee employee_menu"></span><span style="margin-left:10px;" class="employee_menu">Add Employee</span></a>
                    </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Filter Employee -->
        <div class="nav-item" ng-if="currentUser.can_view_company_dashboard" ng-class="{'menu-item-active':openFilterMenu}">
          <span class="fa fa-users filter_menu" ng-click="toggleFilterMenu()"></span>
          <div id="selection-shell" ng-show="openFilterMenu" style="margin-left: -142px;">
            <div id="selection-title">Filter</div>
            <div id="selection-list">
                <ul>
                    <li>
                        <a class="dashboard" href="#/evaluations/current?talent_category=1"><canvas width="12" height="12" employee-talent-category="1"></canvas><span style="margin-left: 10px;">Top Talent</span></a>
                    </li>
                    <li>
                        <a class="dashboard" href="#/evaluations/current?talent_category=2"><canvas width="12" height="12" employee-talent-category="2"></canvas><span style="margin-left: 10px;">Strong Talent</span></a>
                    </li>
                    <li>
                        <a class="dashboard" href="#/evaluations/current?talent_category=3"><canvas width="12" height="12" employee-talent-category="3"></canvas><span style="margin-left: 10px;">Good Talent</span></a>
                    </li>
                    <li>
                        <a class="dashboard" href="#/evaluations/current?talent_category=4"><canvas width="12" height="12" employee-talent-category="4"></canvas><span style="margin-left: 10px;">Low Potential</span></a>
                    </li>
                    <li>
                        <a class="dashboard" href="#/evaluations/current?talent_category=5"><canvas width="12" height="12" employee-talent-category="5"></canvas><span style="margin-left: 10px;">Low Performing</span></a>
                    </li>
                    <li>
                        <a class="dashboard" href="#/evaluations/current?talent_category=6"><canvas width="12" height="12" employee-talent-category="6"></canvas><span style="margin-left: 10px;">Poor</span></a>
                    </li>
                </ul>
            </div>
          </div>
        </div>

        <!-- Reports -->
        <div class="nav-item" ng-if="currentUser.can_view_company_dashboard" ng-class="{'menu-item-active':openTeamMenu}" ng-controller="TeamListCtrl">
          <span class="fa fa-pie-chart team_menu" ng-click="toggleTeamMenu()"></span>
          <div id="selection-shell" ng-show="openTeamMenu" style="margin-left: -89px;">
            <div id="selection-title">Company Report</div>
            <div id="selection-list">
                <ul style="padding: 10px 10px;">
                    <li>
                        <a class="dashboard" ng-href="#/">{{customer.name}}</a>
                    </li>
                </ul>
            </div>
            <div id="selection-title">Team Reports</div>
            <div id="selection-list">
                <ul style="padding: 10px 10px;">
                    <li ng-repeat="team in teams | filter:{name:teamQuery}:startsWith | orderBy:'name'">
                        <a class="dashboard" href="#/teams/{{team.id}}">{{team.name}}</a>
                    </li>
                </ul>
            </div>
          </div>
        </div>

        <!-- Home -->
        <div class="nav-item">
          <a ng-href="#/"><span class="fa fa-tachometer" ng-click="toggleTeamMenu()"></span></a>
        </div>

        <!-- Find Employee -->
        <div ng-if="currentUser.can_view_company_dashboard" class="search">
            <div style="position:relative;">
                <div class="glyphicon glyphicon-search search-icon"></div>
                <input ng-click="toggleNavQuery()" class="search-input nav_query" ng-model="navQuery" type="text" placeholder="Search Employees..."/>
            </div>
            <div id="selection-shell" ng-show="navQuery!=''" style="width:350px;">
                <div id="selection-title">Employees</div>
                  <div id="selection-list">
                    <ul style="padding:0px 10px 10px 10px;">
                        <div ng-if="navQuery!=''" style="margin-top:12px">
                            <li ng-repeat="employee in filteredEmployees = (employees |filter:{full_name:navQuery}:startsWith) | orderBy:'full_name'">
                                <a class="dashboard" href="#/employees/{{employee.id}}"><img class="settings_menu" ng-src="{{employee.avatar_small}}" style="padding-right:10px;height:27px;vertical-align:middle"/>{{employee.full_name}}</a>
                            </li>
                            <li ng-show="!filteredEmployees.length" style="padding: 13px 20px;">No Results</li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        <modal-employee employee='newEmployee' leadership='newLeadership' employees='employees' teams='teams' show='modalEmployeeShown' width='700px'></modal-employee>
    </div>

  </header>