  <div ng-include="'/static/angular/partials/header.html'"></div>
  <div class="dashboard-sized-el fade" ng-class="{in:lead}" id="dashboard" style="margin-top: 63px; max-width: 970px;">
    <div class="employee-menu" style="position: absolute;top: 0px; left: 650px;">
        <article ng-repeat="employee in employees" class="widget clock loaded" id="widget-8494" style="position: relative;width: 315px;height:276px;margin: 0px 0px 10px 0px;">
          <div class="widget-inner widget-size-1x1 large-screen">
            <header class="no-reload">
              <h1 style="display:inline;"><a href="#/employees/{{employee.id}}">{{employee.full_name}}</a></h1>
            </header>
            <section class="widget-body rag-widget">
              <div class="widget-canvas">
                <div class="outer" style="margin-left: auto; margin-right: auto;">
                  <div class="image" style="margin-left: auto; margin-right: auto;"><a href="#/employees/{{employee.id}}"><img ng-src="{{ employee.avatar }}" style="padding-bottom:15px; display: block; margin-left: auto; margin-right: auto; height: 200px;"/></a></div>
                </div>
              </div>
            </section>
          </div><!-- .widget-inner -->
        </article>
    </div>
    <article class="widget clock loaded" id="widget-8494" style="top: 0px; left: 0px; width: auto;">
      <div class="widget-inner widget-size-1x1 large-screen">
        <header class="no-reload">
          <h1 id="talent-header" style="display:inline;">Talent Portfolio</h1>
        </header>
        <div>
			<div x-talent-category-chart size="small" style="width: 360px; height: 225px; position: relative; left:5px;top:10px;"></div>
		</div>
      </div>
    </article>

    <article class="widget google-analytics loaded" id="widget-14808658" style="top: 0px; left: 325px; width: auto;">
      <div class="widget-inner widget-size-1x1 large-screen">
        <header class="no-reload">
          <h1 style="display:inline;">Total Salaries</h1>
        </header>
        <section class="widget-body number-widget">
            <div id="total-salaries" class="main-stat t-size-x48" style="text-align: center;padding-bottom:15px;">
            {{salaryReport.total_salaries | currency | noCents }}
            </div><!-- .widget-canvas -->
            <div style="display:block;padding-bottom:10px;">Totals by Talent</div>
            <div style="main-stat t-size-x12;margin-bottom:5px;" ng-repeat="(category, salaries) in salaryReport.categories track by $index">
              <canvas width="12" height="12" employee-talent-category="{{category}}"></canvas>
              <span style="margin-left:10px;width:80px;text-align:right;display:inline-block;">{{salaries | currency | noCents }}</span>
            </div>
        </section>
        <div id="salary_visualization" style="width: 315px; height: 300px;"></div>
      </div><!-- .widget-inner -->
    </article>

    <article class="widget clock loaded" id="widget-8494"  style="top: 285px; left: 0px;width: 640px;margin: 0px 0px 10px 0px;min-height:446px;background-color: #101214;">
          <div ng-controller="LeaderCommentsCtrl" class="widget-inner large-screen"  style="width:640px;min-height: 446px;position: absolute">
            <header class="no-reload">
              <h1 style="display:inline;">Team Discussions</h1>
            </header>
            <section class="widget-body text-widget" style="padding: 10px;">

                <div ng-repeat="comment in comments | orderBy:'created_date':true" style="margin:0 15px;padding:8px 0 8px 0px;display: block;width:580px">
                    <h2 ng-show="CreateHeader(comment.created_date)" style="font-size: 14px;color: #8b8b8b;border-bottom: 2px solid #8b8b8b">{{comment.created_date | date:'MMM d, yyyy'}}</h2>
                    <div style="display: block;width:580px;min-height: 48px;">
                        <div style="display: block; float: left; width: 48px;">
                           <a ng-href="#/employees/{{comment.owner.employee.id}}" style="cursor: pointer;color:#8b8b8b;"><img ng-src="{{ comment.owner.employee.avatar_small }}" style="display: inline-block; margin-left: auto; margin-right: auto; height: 48px; vertical-align:text-top;"/></a>
                        </div>
                        <div style="display: block; margin-left:35px; padding-left:10px;min-width: 80%;min-height: 28px;">
                            <div style="display: block; padding-left:10px;min-width: 90%;height: 22px;">
                                <a ng-href="#/employees/{{comment.owner.employee.id}}" style="cursor: pointer;color:#8b8b8b;">{{comment.owner.employee.full_name}}</a> commented on <a ng-href="#/employees/{{comment.associated_object.id}}" style="cursor: pointer;color:#8b8b8b;">{{comment.associated_object.full_name}}</a>
                            </div>
                            <div style="display: block; width: 500px;margin-left:15px;">
                               <div ng-show="showCommentEdit" style="position:relative">
                                  <textarea ng-model="comment.content" style="position: relative; width: 515px; height: 132px;background-color:#2a2a2a;color:#eee;resize:vertical;font-size: 14px;margin-top: 5px;">
                                  </textarea>
                                  <div style="width:480px;height:25px;margin-top:8px;">
                                    <label class="radio " style="position: relative;padding-left: 0px">
                                    Share with:
                                    </label>
                                    <label class="radio " style="position: relative">
                                        <input class="radio custom-radio" ng-model="comment.visibility" name="visibilitOptions{{$index}}" value="3" type="radio" style="cursor: pointer;">
                                        <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                        Everyone
                                    </label>
                                    <label ng-show="showPeopleTeamVisibility" class="radio" style="position: relative">
                                        <input class="radio custom-radio" ng-model="comment.visibility" name="visibilitOptions{{$index}}" value="2" type="radio" style="cursor: pointer;">
                                        <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                        People Team
                                    </label>
                                    <label class="radio" style="position: relative">
                                        <input class="radio custom-radio" ng-model="comment.visibility" name="visibilitOptions{{$index}}" value="1" type="radio" style="cursor: pointer;">
                                        <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                        Just Me
                                    </label>
                                  </div>
                                  <div id="editActions" style="right:2px;bottom:-33px;">
                                        <button class="button small blue" ng-disabled="!comment.content" ng-click="saveComment(comment);showCommentEdit=false">Save</button>
                                        <button class="button small orange" ng-click="cancelEditComment(comment);showCommentEdit=false">Cancel</button>
                                  </div>
                                </div>
                                <div ng-show="!showCommentEdit">
                                    <div style="display: block;max-width: 100%;min-height: 48px;">
                                        <a ng-href="#/employees/{{comment.associated_object.id}}" style="cursor: pointer;color:#8b8b8b;"><img ng-src="{{ comment.associated_object.avatar_small }}" style="float: left; height: 48px; padding: 0 10px 0 0;"/></a>
                                        <span ng-init="length=500" ng-bind-html="comment.content | new_line | cut:true:length" style="line-height: 125%"></span> <span ng-show="comment.content.length>length" ng-init="showMoreButton=true"><a ng-click="length=0;showMoreButton=false;" ng-show="showMoreButton" style="color: #8b8b8b;cursor: pointer">more</a><a ng-click="length=500;showMoreButton=true" ng-show="!showMoreButton" style="color: #8b8b8b;cursor: pointer">less</a></span>
                                    </div>
                                    <ul class="feed-actions">
                                        <li class="feed-action"><a ng-click="showCommentInput = ! showCommentInput" class="feed-action" style="color: #8b8b8b;cursor: pointer;">comment</a><span ng-show="comment.subcomments.length>0"> ({{comment.subcomments.length}})</span></li>
                                        <li ng-show="comment.owner.id==currentUser.id" class="feed-action"><a ng-click="showCommentEdit=true" class="feed-action" style="color: #8b8b8b;cursor: pointer;">edit</a></li>
                                        <li ng-show="comment.owner.id==currentUser.id" class="feed-action"><a ng-click="deleteComment(comment)" class="feed-action" style="color: #8b8b8b;cursor: pointer;">delete</a></li>
                                    </ul>
                                    <span style="color:#8b8b8b;">{{comment.created_date | date:'MMM d, yyyy h:mma'}}</span>
                                </div>
                            </div>
                        </div>

                        <div style="clear:both;"></div>
                        <div ng-show="showCommentInput || comment.subcomments" style="display: block; margin:0 0 0 58px; padding:5px; background-color:#272727;border: 1px solid #434343;">
                            <div ng-repeat="subcomment in comment.subcomments | orderBy:'created_date'">
                                <div style="display: block;width:668px;min-height: 48px; padding: 5px;">
                                    <div style="display: block; float: left; width: 48px;">
                                        <a ng-href="#/employees/{{subcomment.owner.employee.id}}" style="cursor: pointer;color:#8b8b8b;"><img ng-src="{{ subcomment.owner.employee.avatar_small }}" style="display: inline-block; margin-left: auto; margin-right: auto; height: 48px; vertical-align:text-top;"/></a>
                                    </div>
                                    <div style="display: block; float: left;padding-left:10px;width: 440px;min-height: 48px;padding-bottom: 5px;">
                                        <a ng-href="#/employees/{{subcomment.owner.employee.id}}" style="cursor: pointer;color:#8b8b8b;">{{subcomment.owner.employee.full_name}}</a>
                                        <div ng-show="showSubCommentEdit" style="position:relative">
                                          <textarea ng-model="subcomment.content" style="position: relative; width: 430px; height: 132px;background-color:#2a2a2a;color:#eee;resize:vertical;font-size: 14px;margin-top: 5px;">
                                          </textarea>
                                          <div id="editActions" style="right:2px;bottom:-33px;">
                                                <button class="button small blue" ng-disabled="!subcomment.content" ng-click="saveSubComment(subcomment, comment);showSubCommentEdit=false">Save</button>
                                                <button class="button small orange" ng-click="cancelEditSubComment(subcomment, comment);showSubCommentEdit=false">Cancel</button>
                                          </div>
                                        </div>
                                        <div ng-show="!showSubCommentEdit">
                                            <span ng-init="length=500" data-ng-bind-html="subcomment.content | new_line | cut:true:length" style="margin-left:5px;line-height: 115%"></span> <span ng-show="subcomment.content.length>length" ng-init="showMoreButton=true"><a ng-click="length=0;showMoreButton=false;" ng-show="showMoreButton" style="color: #8b8b8b;cursor: pointer">more</a><a ng-click="length=500;showMoreButton=true" ng-show="!showMoreButton" style="color: #8b8b8b;cursor: pointer">less</a></span>
                                            <ul class="feed-actions">
                                                <li ng-show="subcomment.owner.id==currentUser.id" class="feed-action"><a ng-click="showSubCommentEdit=true" class="feed-action" style="color: #8b8b8b;cursor: pointer;">edit</a></li>
                                                <li ng-show="subcomment.owner.id==currentUser.id" class="feed-action"><a ng-click="deleteSubComment(comment, subcomment)" class="feed-action" style="color: #8b8b8b;cursor: pointer;">delete</a></li>
                                            </ul>
                                            <span style="color:#8b8b8b;">{{subcomment.created_date | date:'MMM d, yyyy h:mma'}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div style="clear:both;"></div>
                            </div>
                            <div ng-show="showCommentInput || comment.subcomments" style="padding:5px;">
                                <div style="float:left;width:410px;-webkit-border-radius: 2px;moz-border-radius: 3px;-ms-border-radius: 3px;-o-border-radius: 3px;border-radius: 3px;border: 1px solid #c1c1c1;background-color:white;">
                                    <textarea class="text" ng-model="comment.newSubCommentText" ng-class="{'expand': comment.expandTextArea, 'compress': !comment.expandTextArea}" ng-click="comment.expandTextArea=true;toggleChildCommentTextExpander(comment)" rows="1" cols="40" placeholder="Add a comment..." style="width:398px;font-size:14px;padding:6px;border: none;resize:vertical;"></textarea>
                                </div>
                                <button class="small-comment" ng-disabled="!comment.newSubCommentText" ng-click="addSubComment(comment);expandTextArea=false">Comment</button>
                                <div style="clear:both;"></div>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                </div>
            </section>
          </div><!-- .widget-inner -->
    </article>
  </div>
  <style>
/* grid */
.row {
  margin: 0 -10px;
}
.row:last-child {
  margin-bottom: 0;
}
[class*="col-"] {
  padding: 15px;
}

@media all and ( min-width: 600px ) {


  [class*="col-"] {
    display: table-cell;
  }

  .col-1-4 {
    background-color:#585858;
    width: 25%;
    height: 100px;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: #2a2a2a;
  }
}
.employee-menu {
    -moz-animation-name: drop-menu;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.6s;

    -webkit-animation-name: drop-menu;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.6s;

    animation-name: drop-menu;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.6s;
}
@-moz-keyframes drop-menu {
    0% {
        -moz-transform: translateY(-945px);
    }
    100% {
        -moz-transform: translateY(0);
    }
}
@-webkit-keyframes drop-menu {
    0% {
        -webkit-transform: translateY(-945px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
@keyframes drop-menu {
    0% {
        transform: translateY(-945px);
    }
    100% {
        transform: translateY(0);
    }
}
  </style>
