<div id="happiness" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form enctype="multipart/form-data" name="happyForm">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">How professionally happy is {{employee.full_name}}?</h3>                
                    <div style="width:200px;height:32px;margin: 5px 0px;font-size: 0;display:inline-block" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                        <div class="rateVeryUnhappy ui-range-unit ui-corner-left" style="" ng-click="happy.assessment=1" ng-class="{rated: happy.assessment>=1, defaultColor: happy.assessment==0}"></div>
                        <div class="rateIndifferent ui-range-unit" ng-click="happy.assessment=3" ng-class="{rated: happy.assessment>=3, clearColor: (happy.assessment<3 && happy.assessment!=0), defaultColor: happy.assessment==0}"></div>
                        <div class="rateHappy ui-range-unit" ng-click="happy.assessment=4" ng-class="{rated: happy.assessment>=4, clearColor: (happy.assessment<4 && happy.assessment!=0), defaultColor: happy.assessment==0}"></div>
                        <div class="rateVeryHappy ui-range-unit ui-corner-right" ng-click="happy.assessment=5" ng-class="{rated: happy.assessment==5, clearColor: (happy.assessment<5 && happy.assessment!=0), defaultColor: happy.assessment==0}"></div>
                    </div>
                    <span ng-class="{veryunhappy: happy.assessment==1,unhappy: happy.assessment==2,indifferent: happy.assessment==3,happy: happy.assessment==4,veryhappy: happy.assessment==5}"></span>
                    <textarea class="form-control" ng-model="happy.comment.content" rows="6" cols="50" placeholder="Add your notes here."></textarea>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click='scrub();hideModal()'>Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click='save();hideModal()' ng-disabled="!happy.comment.content">Save</button>
            </div>
        </div>
    </div>
</div>