<div class='ng-modal' ng-show="show">
    <!-- employee edit popups start -->
    <div class='ng-modal-overlay'></div>
    <div class='ng-modal-dialog' ng-style='dialogStyle'>
        <div class='ng-modal-dialog-content'>
            <div style="margin-top: 10px;margin-left: 10px;width:40%;float:left;">
                <form enctype="multipart/form-data" name="uploadForm">
                    <img ng-src="{{preview}}" style="width:155px;display:block;margin-left:auto;margin-right:auto;float:left;">
                    <div style="float:left;display:block;background-color: #3498db;border-radius: 6px;width:135px;margin:10px;text-align: center;height: 30px;">
                        <input onchange="angular.element(this).scope().uploadFile(this.files)" style="z-index:1;width:135px;opacity:0;position: absolute;left:30px;height: 30px;" type="file" name="file" accept="image/*">
                        <span class="glyphicon glyphicon-photo-big" style="padding-top:4px"></span>
                    </div>
                </form>
            </div>
            <div style="margin-top: 10px;margin-left: 10px;width:40%;float:left;">
                <span style="margin:10px;">Name</span>
                <textarea ng-model="editEmployee.full_name" placeholder="Employee Name" style="position: relative; height: 13px;background-color:#2a2a2a;color:#eee;resize:none;overflow:hidden;font-size: 13px;padding: 8px;margin:10px">
                </textarea>
                <span style="margin:10px;">Team Lead</span>
                <input type="text" style="margin: 10px;" ng-model="edit_leadership.leader.full_name" typeahead-on-select="edit_leadership.leader=$item" typeahead="employee.full_name for employee in employees | filter:{full_name:$viewValue}:startsWith | orderBy:'full_name' | limitTo:8" typeahead-editable="false" class="view-value-input"/>
            </div>
        </div>
        <div style="clear:both;"></div>
        <div style="margin-top: 10px;margin-left: 10px;">
            <button class='ng-modal-close' ng-click='save();hideModal()'>Save</button>
            <button class='ng-modal-close' ng-click='hideModal()'>Close</button>
        </div>
    </div>
    <style>
    .ng-modal-overlay {
      /* A dark translucent div that covers the whole screen */
      position:fixed;
      z-index:9999;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background-color:rgba(55, 58, 71, 0.9);
      -moz-animation-name: anim-open-overlay;
      -webkit-animation-name: anim-open-overlay;
      animation-name: anim-open-overlay;
      -webkit-animation-duration: 0.3s;
      animation-duration: 0.3s;
      -moz-animation-duration: 0.3s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;

    }
    @-webkit-keyframes anim-open-overlay {
        0% { opacity: 0; -webkit-transform: scale3d(1.1, 1.1, 1); }
        100% { opacity: 0.8; -webkit-transform: scale3d(1, 1, 1); }
    }

    @keyframes anim-open-overlay {
        0% { opacity: 0; -webkit-transform: scale3d(1.1, 1.1, 1); transform: scale3d(1.1, 1.1, 1); }
        100% { opacity: 0.8; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
    }
    @-moz-keyframes anim-open-overlay {
        0% { opacity: 0; -moz-transform: scale3d(1.1, 1.1, 1); transform: scale3d(1.1, 1.1, 1); }
        100% { opacity: 0.8; -moz-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
    }
    @-webkit-keyframes anim-open-dialog {
        0% { opacity: 0; -webkit-transform: scale3d(1.1, 1.1, 1); }
        100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); }
    }

    @keyframes anim-open-dialog {
        0% { opacity: 0; -webkit-transform: scale3d(1.1, 1.1, 1); transform: scale3d(1.1, 1.1, 1); }
        100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
    }
    @-moz-keyframes anim-open-dialog {
        0% { opacity: 0; -moz-transform: scale3d(1.1, 1.1, 1); transform: scale3d(1.1, 1.1, 1); }
        100% { opacity: 1; -moz-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
    }
    .ng-modal-dialog {
      /* A centered div above the overlay with a box shadow. */
      z-index:10000;
      position: fixed;
      width: 50%; /* Default */

      /* Center the dialog */
      top: 20%;
      left: 35%;

      -moz-animation-name: anim-open-dialog;
      -webkit-animation-name: anim-open-dialog;
      animation-name: anim-open-dialog;
      -webkit-animation-duration: 0.3s;
      animation-duration: 0.3s;
      -moz-animation-duration: 0.3s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      background-color: #fff;

    }
    .ng-modal-dialog-content {
      padding:10px;
      text-align: left;
    }
    .ng-modal-close {
        font-size: 100%;
        padding: 1em 2em;
        outline: none;
        font-weight: 600;
        border: none;
        color: #fff;
        background: #c94e50;
        cursor: pointer;
    }
    /* Juro */
    .input--juro {
        overflow: hidden;
    }

    .input__field--juro {
        position: absolute;
        z-index: 100;
        padding: 2.15em 0.75em 0;
        width: 100%;
        background: transparent;
        color: #1784cd;
        font-size: 0.85em;
    }

    .input__label--juro {
        padding: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        text-align: left;
    }

    .input__label-content--juro {
        padding: 2em 1em;
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
        -webkit-transition: -webkit-transform 0.3s, color 0.3s;
        transition: transform 0.3s, color 0.3s;

        text-rendering: geometricPrecision;
    }

    .input__label--juro::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0px solid transparent;
        -webkit-transition: border-width 0.3s, border-color 0.3s;
        transition: border-width 0.3s, border-color 0.3s;
    }

    .input__field--juro:focus + .input__label--juro::before,
    .input--filled .input__label--juro::before {
        border-width: 8px;
        border-color: #1784cd;
        border-top-width: 2em;
    }

    .input__field--juro:focus + .input__label--juro .input__label-content--juro,
    .input--filled .input__label--juro .input__label-content--juro {
        color: #fff;
        -webkit-transform: translate3d(0, -1.5em, 0) scale3d(0.75, 0.75, 1);
        transform: translate3d(0, -1.5em, 0) scale3d(0.75, 0.75, 1) translateZ(1px);
    }
.bgcolor-6 {
background: #2fa8ec;
}
.content {
font-size: 150%;
padding: 3em 0;
}
    </style>
</div>