<div class='ng-modal' ng-show="show">
    <!-- happy popups start -->
    <div class='ng-modal-overlay'></div>
    <form enctype="multipart/form-data" name="happyForm">
        <div class='ng-modal-happy-dialog' ng-style='dialogStyle'>
            <div class='ng-modal-dialog-content'>
                <div class="container">
                    <div>
                        <div style="margin:20px 0;font-size:18px;font-family: Lato,Helvetica,Arial,sans-serif;color:white;">How professionally happy is {{employee.full_name}}?</div>
                        <div style="width:200px;height:32px;margin: 5px 0px;font-size: 0;display:inline-block" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                            <div class="rateVeryUnhappy ui-range-unit ui-corner-left" style="" ng-click="happy.assessment=1" ng-class="{rated: happy.assessment>=1, defaultColor: happy.assessment==0}"></div>
                            <div class="rateUnhappy ui-range-unit" ng-click="happy.assessment=2" ng-class="{rated:happy.assessment>=2, clearColor: (happy.assessment<2 && happy.assessment!=0), defaultColor: happy.assessment==0}"></div>
                            <div class="rateIndifferent ui-range-unit" ng-click="happy.assessment=3" ng-class="{rated: happy.assessment>=3, clearColor: (happy.assessment<3 && happy.assessment!=0), defaultColor: happy.assessment==0}"></div>
                            <div class="rateHappy ui-range-unit" ng-click="happy.assessment=4" ng-class="{rated: happy.assessment>=4, clearColor: (happy.assessment<4 && happy.assessment!=0), defaultColor: happy.assessment==0}"></div>
                            <div class="rateVeryHappy ui-range-unit ui-corner-right" ng-click="happy.assessment=5" ng-class="{rated: happy.assessment==5, clearColor: (happy.assessment<5 && happy.assessment!=0), defaultColor: happy.assessment==0}"></div>
                        </div>
                        <div style="display:inline-block;margin-left: 20px;">
                            <span ng-class="{veryunhappy: happy.assessment==1,unhappy: happy.assessment==2,indifferent: happy.assessment==3,happy: happy.assessment==4,veryhappy: happy.assessment==5}"></span>
                        </div>
                    </div>
                    <div class="comment-area" style="display: block;margin:20px 0;-webkit-border-radius: 2px;moz-border-radius: 3px;-ms-border-radius: 3px;-o-border-radius: 3px;border-radius: 3px;border: 1px solid #c1c1c1;background-color:white;">
                        <textarea class="text" ng-model="happy.comment.content" rows="1" cols="50" placeholder="Add your notes here." style="width:97.5%;height: 132px;font-size:18px;padding:5px;border: none;resize:vertical;"></textarea>
                    </div>
                    <div style="margin-top:30px">
                        <button class='ng-modal-button' ng-click='save();hideModal()' ng-disabled="!happy.comment.content">Save</button>
                        <button class='ng-modal-button' ng-click='scrub();hideModal()'>Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <style>
    input[type="file"]{
        cursor: pointer;
    }

    .ng-modal-happy-dialog {
        /* A centered div above the overlay with a box shadow. */
        z-index: 10000;
        position: fixed;
        width: 50%; /* Default */

        /* Center the dialog */
        top: 20%;
        left: 35%;

        -moz-animation-name: anim-open-dialog;
        -webkit-animation-name: anim-open-dialog;
        animation-name: anim-open-dialog;
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
        -moz-animation-duration: 0.3s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        background-color: #34495e;

    }

    .ui-range-unit {
        position: absolute;
        height: 100%;
        display: inline-block;
        border-color: lightgrey;
        border-style: solid;
        border-right-width: 1px;
        border-left-width: 1px;
        cursor: pointer;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }
    .rated {
        border-color: white;
        opacity: 1;
    }
    .rateVeryUnhappy {
      width: 39px;
      background-color: red;
      left: -1px;
    }
    .rateUnhappy {
      width: 38px;
      background-color: orange;
      left: 40px;
    }
    .rateIndifferent {
      width: 38px;
      background-color: yellow;
      left: 80px;
    }
    .rateHappy {
      width: 38px;
      background-color: limegreen;
      left: 120px;
    }
    .rateVeryHappy {
      width: 39px;
      background-color: green;
      left: 160px;
    }
    .clearColor {
        background-color: #fff;
        border-color: none;
    }
    .defaultColor {
      opacity: .4;
      border-color: white;
    }
    .ui-widget-content {
      border-color: lightgrey;
      border-width: 2px;
    }
    .ui-slider {
      cursor: pointer;
      height:38px;
      width:38px;

    }

    .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 15px;
    }
    .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 15px;
    }
    .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 15px;
    }
    .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 15px;
    }
    .ui-slider-range {
      background: #585858;
      opacity: .9;
      overflow: hidden;

    }
    .ui-slider-label {
        position: absolute;
        top: 16px;
        color: white;
        font-size: 13px;
    }

    </style>
<!-- happy popups ends -->
</div>