<div ng-if="employee.display" class="container narrow-gutter profile" ng-class="{in:employee}">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel">
                <div class="large-avatar-container">
                    <div class="headshot xxxlarge-headshot">
                        <img ng-src="{{ employee.avatar }}" alt="{{ employee.full_name }}'s avatar" />  
                    </div> 
                </div>   
                <h1 class="centered">{{employee.full_name}}</h1>
                <ul class="nav nav-tabs" ng-init="tab=1">
                    <li class="nav" ng-class="{active: tab==1}"><a ng-click="tab = 1">Bio</a></li>
                    <li class="nav" ng-show="currentUser.employee.id!=employee.id" ng-class="{active: tab==2}"><a ng-click="tab = 2">Growth</a></li>
                    <li class="nav" ng-class="{active: tab==3}"><a ng-click="tab = 3">Happiness</a></li>
                    <li class="nav" ng-class="{active: tab==4}"><a ng-click="tab = 4">Comp</a></li>
                </ul>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" ng-show="tab == 1">
                            <div ng-include="'/static/angular/partials/_widgets/bio.html'"></div>  
                        </div>
                        <div class="tab-pane fade in active" ng-show="tab == 2">
                            <div ng-include="'/static/angular/partials/_widgets/pvp.html'" ng-controller="EmployeePvpEvaluationsCtrl"></div>
                        </div>
                        <div class="tab-pane fade in active" ng-show="tab == 3">
                            <div ng-include="'/static/angular/partials/_widgets/happiness.html'"></div>  
                        </div>
                        <div class="tab-pane fade in active" ng-show="tab == 4">
                            <div ng-include="'/static/angular/partials/_widgets/employee-compensation.html'"></div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>    
    </div>
</div>
