<div class="dashboard-sized-el" id="dashboard"  style="margin-top: 63px; max-width: 970px;">
    <div id="component" class="component component-small fxCoverflow">
        <ul class="itemwrap">
            <li ng-repeat="pvp in pvps" fx-transition index="{{$index}}" ng-class="{'navInNext': click_next && currentItemIndex==$index, 'navOutNext': (click_next && (currentItemIndex-1)==$index) || (click_next && (currentItemIndex==0 && $index==last_index)) ,'navInPrev': click_prev && currentItemIndex==$index, 'navOutPrev': (click_prev && (currentItemIndex+1)==$index) || (click_prev && (currentItemIndex==last_index && $index==0))}">
                <article class="widget clock loaded" id="widget-8494" style="height: 550px;width: 600px;position:relative;margin-left: auto;margin-right: auto;">
                  <div class="widget-inner widget-size-2x2 large-screen" style="height: 550px;width:600px;">
                    <div>
                        <div class="widget-inner widget-size-2x2 large-screen" style="height: 550px;width:600px;">
                            <section style="margin: 25px">
                              <div style="float:left;width:55%">
                                  <div class="large-avatar-container xxxlarge-headshot"><img ng-src="{{ pvp.employee.avatar }}"/></div>
                                  <div style="width: 100%">
                                      <h1 class="centered ng-binding" style="text-align:center">{{ pvp.employee.full_name }}</h1>
                                  </div>
                              </div>

                              <div style="width:45%;float: left;">
                                  <div class="vertical-text" style="width:200px;text-align: center;position: absolute;left: 237px;top: 142px;"><div style="display:inline-block;float:left">Low</div>Drive<div style="display:inline-block;float:right">High</div></div>
                                  <div style="margin: 25px">
                                    <canvas pvp-graph index="{{$index}}" height="200" width="200" ng-click="click_canvas($event, true)"/>
                                  </div>
                                  <div style="width:200px;text-align: center;  margin-left: 25px;margin-top: -25px;"><div style="display:inline-block;float:left">Low</div>Impact<div style="display:inline-block;float:right">High</div></div>
                              </div>
                              <div style="clear: both;"></div>
                              <div>
                                <div style="margin-left: 0px; font-size:16px;">
<div class="distributions">
                        <!-- TODO: get these from model -->
                        <p class="distribution"><span class="tag employee-segment-background-color-{{pvp.talent_category}}">{{pvp.label}}</span>{{pvp.description.description}}</p>
                    </div>

                                </div>
                              </div>
                              <div style="display: block; float:left;width:100%;-webkit-border-radius: 2px;moz-border-radius: 3px;-ms-border-radius: 3px;-o-border-radius: 3px;border-radius: 3px;border: 1px solid #c1c1c1;margin-top: 10px; margin-right:15px;background-color:white;">
                                 <textarea class="text" ng-model="pvp.comment.content" rows="1" cols="50" placeholder="Add some context. Where are they awesome? How can they take it to the next level?" style="width:99.5%;height: 127px;font-size:14px;padding:5px;border: none;resize:vertical;"></textarea>
                              </div>
                            </section>
                        </div>
                    </div>
                  </div>
                </article>
            </li>
        </ul>
        <nav style="display: block;">
            <a class="glyphicon-regular glyphicon-left-arrow prev" style="font-size: 60px;" ng-click="backward()" ng-class="{'navDisable':isAnimating}"></a>
            <a class="glyphicon-regular glyphicon-right-arrow next" style="font-size: 60px;" ng-click="forward()" ng-class="{'navDisable':isAnimating}"></a>
        </nav>
        <div>
            <h1 class="centered ng-binding">{{ currentItemIndex + 1 }} of {{last_index+1}}</h1>
        </div>
    </div>
</div>
<style>
.vertical-text {
    display: block;
    float: left;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.component {
	margin: 0 auto;
	position: relative;
	margin-bottom: 40px;
	max-width: 100%;
}
.component-small > ul {
    width: 520px;
}
.component > ul {
	width: 100%;
	max-width: 100%;
	height: 100%;
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0 auto;
}
.component-small {
	width: 750px;
	height: 570px;
}

.component nav a {
	position: absolute;
	width: 60px;
	height: 60px;
	color: #5b4c5c;
	outline: none;
	overflow: hidden;
	text-align: center;
	line-height: 200px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.component nav a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    line-height: 60px;
    height: 100%;
}
.component-small nav a.prev,
.component-transparent nav a.prev {
	left: 0px;
}

.component-small nav a.navDisable{
   pointer-events: none;
   cursor: default;
}
.component-small nav a.next,
.component-transparent nav a.next {
	right: 0px;
}
.component li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    z-index: 999;
}
.component .current {
    opacity: 1;
    pointer-events: auto;
    z-index: 1000;
}

/*****************************************/
/* coverflow */
/*****************************************/

.fxCoverflow .itemwrap {
	-webkit-perspective: 1400px;
	perspective: 1400px;
}

.fxCoverflow .navOutNext {
	-webkit-animation: rotate3DSlideOutLeft 0.3s forwards;
	animation: rotate3DSlideOutLeft 0.3s forwards;
}

.fxCoverflow .navInNext {
	-webkit-animation: rotate3DSlideInRight 0.3s 0.1s forwards;
	animation: rotate3DSlideInRight 0.3s 0.1s forwards;
}

.fxCoverflow .navOutPrev {
	-webkit-animation: rotate3DSlideOutRight 0.3s forwards;
	animation: rotate3DSlideOutRight 0.3s forwards;
}

.fxCoverflow .navInPrev {
	-webkit-animation: rotate3DSlideInLeft 0.3s 0.1s forwards;
	animation: rotate3DSlideInLeft 0.3s 0.1s forwards;
}

@-webkit-keyframes rotate3DSlideOutLeft {
	from {} /* Fixes Chrome issue 35.0.1916.114 (easing breaks) */
	to {
		-webkit-transform: translateX(-40%) rotateY(45deg) translateZ(-300px);
		opacity: 0;
	}
}

@keyframes rotate3DSlideOutLeft {
	from {} /* Fixes Chrome issue 35.0.1916.114 (easing breaks) */
	to {
		-webkit-transform: translateX(-40%) rotateY(45deg) translateZ(-300px);
		transform: translateX(-40%) rotateY(45deg) translateZ(-300px);
		opacity: 0;
	}
}

@-webkit-keyframes rotate3DSlideInRight {
	from {
		-webkit-transform: translateX(40%) rotateY(-45deg) translateZ(-300px);
	}
	to {
		-webkit-transform: translateX(0) rotateY(0deg) translateZ(0);
		opacity: 1;
	}
}

@keyframes rotate3DSlideInRight {
	from {
		-webkit-transform: translateX(40%) rotateY(-45deg) translateZ(-300px);
		transform: translateX(40%) rotateY(-45deg) translateZ(-300px);
	}
	to {
		-webkit-transform: translateX(0) rotateY(0deg) translateZ(0);
		transform: translateX(0) rotateY(0deg) translateZ(0);
		opacity: 1;
	}
}

@-webkit-keyframes rotate3DSlideOutRight {
	from {} /* Fixes Chrome issue 35.0.1916.114 (easing breaks) */
	to {
		-webkit-transform: translateX(40%) rotateY(-45deg) translateZ(-300px);
		opacity: 0;
	}
}

@keyframes rotate3DSlideOutRight {
	from {} /* Fixes Chrome issue 35.0.1916.114 (easing breaks) */
	to {
		-webkit-transform: translateX(40%) rotateY(-45deg) translateZ(-300px);
		transform: translateX(40%) rotateY(-45deg) translateZ(-300px);
		opacity: 0;
	}
}

@-webkit-keyframes rotate3DSlideInLeft {
	from {
		-webkit-transform: translateX(-40%) rotateY(45deg) translateZ(-300px);
	}
	to {
		-webkit-transform: translateX(0) rotateY(0deg) translateZ(0);
		opacity: 1;
	}
}

@keyframes rotate3DSlideInLeft {
	from {
		-webkit-transform: translateX(-40%) rotateY(45deg) translateZ(-300px);
		transform: translateX(-40%) rotateY(45deg) translateZ(-300px);
	}
	to {
		-webkit-transform: translateX(0) rotateY(0deg) translateZ(0);
		transform: translateX(0) rotateY(0deg) translateZ(0);
		opacity: 1;
	}
}
</style>