<div ng-include="'/static/angular/partials/header.html'"></div>
<div class="dashboard-sized-el" id="dashboard"  style="margin-top: 63px; max-width: 970px;">
    <article class="widget clock loaded" id="widget-8494" style="top: 0px; left: 0px; width: auto;">
      <div class="widget-inner widget-size-4x3 large-screen">
        <header class="no-reload" style="background-color: black">
            <h1>PVP <span data-ng-bind-html-unsafe="(currentItemIndex + 1)"></span><span class="slide-tally"> of {{ pvps.length }}</span></h1>
        </header>
        <div>
            <div class="widget-inner widget-size-2x2 large-screen">
                <header class="no-reload">
                    <h1>{{ pvp.employee.full_name }}</h1>
                </header>
                <section class="widget-body rag-widget">
                  <div class="widget-canvas" style="width:315px;float:left">
                    <div class="outer" style="margin-left: auto; margin-right: auto;">
                      <div class="image" style="margin-left: auto; margin-right: auto;"><img ng-src="{{ pvp.employee.avatar }}" style="padding-bottom:15px; display: block; margin-left: auto; margin-right: auto; height: 200px;"/></div>
                    </div>
                  </div>
                  <form>
                      <div class="widget-canvas" style="width:315px;margin-left: 325px">
                          <canvas pvp-graph pvp="pvp" height="200" width="200"/>
                      </div>
                      <div style="clear: both;margin: 0 auto; width: 180px;">
                        <button class="button small blue" ng-click="backward()">Previous</button>
                        <button class="button small blue" ng-click="forward()">Next</button>
                      </div>
                  </form>
                </section>
            </div>
        </div>
      </div>
    </article>
</div>