  <div ng-include="'/static/angular/partials/header.html'"></div>
  <div class="dashboard-sized-el fade in" ng-class="{in:salaryReport}" id="dashboard" style="margin-top: 63px; max-width: 970px;">

    <article class="widget clock loaded" id="widget-8494" style="top: 0px; left: 0px; width: auto;">
      <div class="widget-inner large-screen">
        <header class="no-reload">
          <h1 id="talent-header" style="display:inline;">Talent Pool</h1>
        </header>
			<ul>
                <li ng-repeat="eval in evaluations">{{eval.employee.full_name}},{{eval.potential}},{{eval.performance}},{{eval.evaluation_round.date}},{{eval.employee.team.name}},{{eval.employee.current_salary}},{{eval.employee.current_bonus}}</li>
			</ul>
      </div>
    </article>

  </div>
