  <header id="main-header">
    <!-- #top-bar -->

    <div class="clear" id="dashboard-admin-bar">
		<div ng-controller="EmployeeListCtrl" class="inner dashboard-sized-el" style="max-width: 970px;">
			<div style="display: block; color: #cbcbcb; font-weight: 700; padding: 12px 36px 10px 12px;font-size: 16px; width:150px; float:left">
				<a href="/" style="color:#fff;">The Motley Fool</a>
			</div>			
			<div class="btn" ng-mouseover="employeeMenu.show=true" ng-click="employeeMenu.show=!employeeMenu.show" ng-mouseleave="employeeMenu.show=false" id="switch-dashboard" style="float:right">
			  <span id="selected-dashboard-title" style="font-weight: 700; color: white;">People</span>
			  <div id="selection-list" ng-show="employeeMenu.show" style="display: none;">
				<ul>
					<li>
						<input class="search-input" ng-model="employeeQuery" type="text" placeholder="Search"/>
					</li>
					<li ng-repeat="employee in employees | filter:{full_name:employeeQuery}:startsWith | orderBy:'full_name'">
						<a class="dashboard" ng-click="employeeMenu.show = false;" style="font-weight:800;" href="#/employees/{{employee.id}}">{{employee.full_name}}</a>
					</li>
				</ul>
			  </div>
			</div>
			<div ng-controller="TeamListCtrl" class="btn" ng-mouseover="teamMenu.show=true" ng-click="teamMenu.show=!teamMenu.show;" ng-mouseleave="teamMenu.show=false" id="switch-dashboard" style="float:right">
			  <span id="selected-dashboard-title" style="font-weight: 700; color: white;">Teams</span>
			  <div id="selection-list" ng-show="teamMenu.show" style="display: none;">
				<ul>
					<li>
						<input class="search-input" type="text" ng-model="teamQuery" placeholder="Search"/>
					</li>
					<li ng-repeat="team in teams | filter:{name:teamQuery}:startsWith | orderBy:'name'">
						<a class="dashboard" ng-click="teamMenu.show = false;" style="font-weight:800;" href="#/teams/{{team.id}}">{{team.name}}</a>
					</li>
				</ul>		  
			  </div>
			</div>
		</div>
    </div>
  </header>
  <div class="dashboard-sized-el fade" ng-class="{in:team}" id="dashboard" style="margin-top: 75px; max-width: 970px; height: 804px;">

    <article class="widget clock loaded" id="widget-8494" style="top: 0px; left: 0px; width: auto;">
      <div class="widget-inner widget-size-2x2 large-screen">
        <header class="no-reload">
          <h1 id="talent-header" style="display:inline;">{{ team.name }}</h1>
        </header>

        <div>
			<div x-talent-category-chart style="width: 620px; height: 620px; position: relative;"></div>
		</div>

      </div>
    </article>

    <article class="widget google-analytics loaded" id="widget-14808658" style="top: 0px; left: 650px; width: auto;">
      <div class="widget-inner widget-size-1x1 large-screen">
        <header class="no-reload">
          <h1 style="display:inline;">Team Leads</h1>
        </header>
        <section class="widget-body number-widget">
            <div class="widget-canvas" ng-controller="TeamLeadsCtrl" ng-init="init(teamId)">
				<div ng-repeat="evaluation in teamLeads | orderBy:'talent_category'" style="main-stat t-size-x12;margin-bottom:5px;">
					<canvas employee-talent-category="{{evaluation.talent_category}}" width="12" height="12"></canvas>
                    <span style="margin-left:10px;">
                        <a ng-if="evaluation.employee.display" href="#/employees/{{evaluation.employee.id}}">{{evaluation.employee.full_name}}</a>
                        <span ng-if="!evaluation.employee.display">{{evaluation.employee.full_name}}</span>
                    </span>
				</div>
            </div><!-- .widget-canvas -->
        </section>
      </div><!-- .widget-inner -->
    </article>

    <article class="widget google-analytics loaded" id="widget-14808658" style="top: 285px; left: 650px; width: auto;">
      <div class="widget-inner widget-size-1x1 large-screen">
        <header class="no-reload">
          <h1 style="display:inline;">Total Salaries</h1>
        </header>
        <section class="widget-body number-widget">
            <div id="total-salaries" class="main-stat t-size-x48" style="text-align: center;padding-bottom:15px;">
            {{salaryReport.total_salaries | currency | noCents }}
            </div><!-- .widget-canvas -->
            <div style="display:block;padding-bottom:10px;">Totals by Talent</div>
            <div style="main-stat t-size-x12;margin-bottom:5px;" ng-repeat="(category, salaries) in salaryReport.categories">
              <canvas width="12" height="12" employee-talent-category="{{category}}"></canvas>
              <span style="margin-left:10px;width:80px;text-align:right;display:inline-block;">{{salaries | currency | noCents }}</span>
            </div>
        </section>
        <div id="salary_visualization" style="width: 315px; height: 300px;"></div>
      </div><!-- .widget-inner -->
    </article>

  </div>
