  <div ng-include="'/static/angular/partials/header.html'"></div>
  <div class="dashboard-sized-el fade" ng-class="{in:team}" id="dashboard" style="margin-top: 63px; max-width: 970px;">

    <article class="widget clock loaded" id="widget-8494" style="top: 0px; left: 0px; width: auto;">
      <div class="widget-inner widget-size-2x2 large-screen">
        <header class="no-reload">
          <h1 id="talent-header" style="display:inline;">{{ team.name }}</h1>
        </header>

        <div>
			<div x-talent-category-chart style="width: 620px; height: 620px; position: relative;"></div>
		</div>

      </div>
    </article>

    <article class="widget google-analytics loaded" id="widget-14808658" style="top: 0px; left: 650px; width: auto;">
      <div class="widget-inner widget-size-1x1 large-screen">
        <header class="no-reload">
          <h1 style="display:inline;">Team Leads</h1>
        </header>
        <section class="widget-body number-widget">
            <div class="widget-canvas" ng-controller="TeamLeadsCtrl" ng-init="init(teamId)">
				<div ng-repeat="evaluation in teamLeads | orderBy:'talent_category'" style="main-stat t-size-x12;margin-bottom:5px;">
					<canvas employee-talent-category="{{evaluation.talent_category}}" width="12" height="12"></canvas>
                    <span style="margin-left:10px;">
                        <a ng-if="evaluation.employee.display" href="#/employees/{{evaluation.employee.id}}">{{evaluation.employee.full_name}}</a>
                        <span ng-if="!evaluation.employee.display">{{evaluation.employee.full_name}}</span>
                    </span>
				</div>
            </div><!-- .widget-canvas -->
        </section>
      </div><!-- .widget-inner -->
    </article>

    <article class="widget google-analytics loaded" id="widget-14808658" style="top: 285px; left: 650px; width: auto;">
      <div class="widget-inner widget-size-1x1 large-screen">
        <header class="no-reload">
          <h1 style="display:inline;">Total Salaries</h1>
        </header>
        <section class="widget-body number-widget">
            <div id="total-salaries" class="main-stat t-size-x48" style="text-align: center;padding-bottom:15px;">
            {{salaryReport.total_salaries | currency | noCents }}
            </div><!-- .widget-canvas -->
            <div style="display:block;padding-bottom:10px;">Totals by Talent</div>
            <div style="main-stat t-size-x12;margin-bottom:5px;" ng-repeat="(category, salaries) in salaryReport.categories">
              <canvas width="12" height="12" employee-talent-category="{{category}}"></canvas>
              <span style="margin-left:10px;width:80px;text-align:right;display:inline-block;">{{salaries | currency | noCents }}</span>
            </div>
        </section>
        <div id="salary_visualization" style="width: 315px; height: 300px;"></div>
      </div><!-- .widget-inner -->
    </article>

  </div>
