<div ng-include="'/static/angular/partials/header.html'"></div>
<div class="container narrow-gutter" style="margin-top:85px">    

    <div class="row">

        <h1>{{ team.name }} Report</h1>
        <div class="col col-sm-5 col-md-4 col-lg-5">

            <!-- Pie Chart -->
            <div class="panel talent-portfolio row"> 
                <h2 class="panel-title">Talent Portfolio</h2>
                <div class="talent-pie-chart-container"> 
                    <div x-talent-category-chart size="small" style="width: 100%; height: 100%;"></div>
                    {{salaryReport.total_salaries | currency | noCents }}
                </div>
            </div>

            <!-- Salary Totals -->
            <div class="panel salary-totals row">
                <h2 class="panel-title">Salaries by Talent</h2>
                <div class="salary-total-type" ng-repeat="(category, salaries) in salaryReport.categories track by $index">
                    <canvas style="float:left"  width="30" height="30" employee-talent-category="{{category}}"></canvas>
                    <span class="salary-total-amount">{{salaries | currency | noCents }}</span>
                </div>
            </div>

            <!-- Team Leads -->
            <div class="panel talent-portfolio row">
                <h2 class="panel-title">Team Leads</h2>
                <div ng-controller="TeamLeadsCtrl" ng-init="init(teamId)">
                    <div ng-repeat="evaluation in teamLeads | orderBy:'talent_category'">
                        <canvas employee-talent-category="{{evaluation.talent_category}}" width="12" height="12"></canvas>
                        <span>
                            <a ng-if="evaluation.employee.display" href="#/employees/{{evaluation.employee.id}}">{{evaluation.employee.full_name}}</a>
                            <span ng-if="!evaluation.employee.display">{{evaluation.employee.full_name}}</span>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Navigation -->
            <div class="panel row">
                <ul>
                    <li><a ng-click="click_discussions()"><span class="glyphicon-regular glyphicon-discussions" style="margin-right: 10px"></span>Discussions</a></li>
                    <li ng-if="customer.show_mbti"><a ng-click="click_myers_briggs()"><span class="glyphicon-regular glyphicon-compass" style="margin-right: 10px"></span>Myers Briggs</a></li>
                    <li ng-if="customer.show_vops"><a ng-click="click_vops()">VOPS</a></li>
                    <li ng-if="customer.show_kolbe"><a ng-click="click_kolbe()">KOLBE</a></li>
                </ul>
            </div>
        </div> 


        <div class="col-sm-7 col-md-8 col-lg-7">     
            <div ng-controller="TeamCommentsCtrl" ng-class="{'showflip': show_discussions}">
 
                <!-- Comments -->
                <div class="panel" ng-if="currentUser.can_view_comments" >
                    <h2 class="panel-title">Discussions</h2>
                    <div class="comments" ng-repeat="comment in comments | orderBy:'created_date':true">
                        
                        <h3 ng-show="CreateHeader(comment.created_date)" class="comments-date">{{comment.created_date | date:'MMM d, yyyy'}}</h3>      
                        <div class="comment-owner-avatar-container">
                            <a ng-href="#/employees/{{comment.owner.employee.id}}">
                                <img ng-src="{{ comment.owner.employee.avatar_small }}" class="comment-owner-avatar" />
                            </a>
                        </div>
                        <div class="comment-item">
                            <div class="comment-title">
                                <a ng-href="#/employees/{{comment.owner.employee.id}}" class="comment-title-employee-name">{{comment.owner.employee.full_name}}</a> 
                                commented on 
                                <a ng-href="#/employees/{{comment.associated_object.id}}" class="comment-title-employee-name">{{comment.associated_object.full_name}}</a>
                                <span class="timestamp" title="{{comment.created_date | date:'MMM d, yyyy h:mma'}}">{{comment.created_date | fromNow }}</span>
                            </div>
                            <div ng-show="showCommentEdit" class="comment-editor">
                                <textarea ng-model="comment.content" class="form-control"></textarea>
                                <label class="radio " style="position: relative;padding-left: 0px">
                                    Share with:
                                </label>
                                <label class="radio " style="position: relative">
                                    <input class="radio custom-radio" ng-model="comment.visibility" name="visibilitOptions{{$index}}" value="3" type="radio" style="cursor: pointer;">
                                    <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                    Everyone
                                </label>
                                <label ng-show="showPeopleTeamVisibility" class="radio" style="position: relative">
                                    <input class="radio custom-radio" ng-model="comment.visibility" name="visibilitOptions{{$index}}" value="2" type="radio" style="cursor: pointer;">
                                    <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                    Hide from Manager
                                </label>
                                <label class="radio" style="position: relative">
                                    <input class="radio custom-radio" ng-model="comment.visibility" name="visibilitOptions{{$index}}" value="1" type="radio" style="cursor: pointer;">
                                    <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                                    Just Me
                                </label>
                                <happiness show="true" happy="comment.happiness"></happiness>
                                <div id="editActions" style="right:2px;bottom:-33px;">
                                    <button class="button small blue" ng-disabled="!comment.content" ng-click="saveComment(comment);showCommentEdit=false">Save</button>
                                    <button class="button small orange" ng-click="cancelEditComment(comment);showCommentEdit=false">Cancel</button>
                                </div>
                            </div>

                            <div class="comment-copy" ng-show="!showCommentEdit">
                                <a ng-href="#/employees/{{comment.associated_object.id}}" style="cursor: pointer;color:#8b8b8b;">
                                    <img ng-src="{{ comment.associated_object.avatar_small }}" class="comment-associated-avatar"/>
                                </a>
                                <span ng-init="length=500" ng-bind-html="comment.content | new_line | cut:true:length" style="line-height: 125%"></span> <span ng-show="comment.content.length>length" ng-init="showMoreButton=true"><a ng-click="length=0;showMoreButton=false;" ng-show="showMoreButton" style="color: #8b8b8b;cursor: pointer">more</a><a ng-click="length=500;showMoreButton=true" ng-show="!showMoreButton" style="color: #8b8b8b;cursor: pointer">less</a></span>
                                <ul class="comment-actions">
                                    <li class="comment-action">
                                        <a ng-click="showCommentInput = ! showCommentInput" class="feed-action" style="color: #8b8b8b;cursor: pointer;">comment</a>
                                        <span ng-show="comment.subcomments.length>0"> ({{comment.subcomments.length}})</span>
                                    </li>
                                    <li ng-show="comment.owner.id==currentUser.id" class="feed-action">
                                        <a ng-click="showCommentEdit=true">edit</a>
                                    </li>
                                    <li ng-show="comment.owner.id==currentUser.id" class="feed-action">
                                        <a ng-click="deleteComment(comment)">delete</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
       
                        <div class="comment-replies" ng-show="showCommentInput || comment.subcomments">
                            <div class="comment-reply" ng-repeat="subcomment in comment.subcomments | orderBy:'created_date'">
                                <div class="comment-reply-avatar-container">
                                    <a ng-href="#/employees/{{subcomment.owner.employee.id}}">
                                        <img class="comment-reply-avatar" ng-src="{{ subcomment.owner.employee.avatar_small }}"/>
                                    </a>
                                </div>
                                <a class="comment-reply-name" ng-href="#/employees/{{subcomment.owner.employee.id}}">{{subcomment.owner.employee.full_name}}</a> 
                                <span class="timestamp" title="{{subcomment.created_date | date:'MMM d, yyyy h:mma' }}">{{subcomment.created_date | fromNow }}</span>     
                                <div class="comment-reply-copy" ng-show="showSubCommentEdit">
                                    <textarea ng-model="subcomment.content" ></textarea>
                                    <div id="editActions" style="right:2px;bottom:-33px;">
                                        <button class="button small blue" ng-disabled="!subcomment.content" ng-click="saveSubComment(subcomment, comment);showSubCommentEdit=false">Save</button>
                                        <button class="button small orange" ng-click="cancelEditSubComment(subcomment, comment);showSubCommentEdit=false">Cancel</button>
                                    </div>
                                </div>
                                <div class="comment-reply-copy" ng-show="!showSubCommentEdit">
                                    <span ng-init="length=500" data-ng-bind-html="subcomment.content | new_line | cut:true:length"></span> 
                                    <span ng-show="subcomment.content.length>length" ng-init="showMoreButton=true">
                                        <a ng-click="length=0;showMoreButton=false;" ng-show="showMoreButton" style="color: #8b8b8b;cursor: pointer">more</a>
                                        <a ng-click="length=500;showMoreButton=true" ng-show="!showMoreButton" style="color: #8b8b8b;cursor: pointer">less</a>
                                    </span>
                                    <ul class="feed-actions">
                                        <li ng-show="subcomment.owner.id==currentUser.id" class="feed-action"><a ng-click="showSubCommentEdit=true" class="feed-action" style="color: #8b8b8b;cursor: pointer;">edit</a></li>
                                        <li ng-show="subcomment.owner.id==currentUser.id" class="feed-action"><a ng-click="deleteSubComment(comment, subcomment)" class="feed-action" style="color: #8b8b8b;cursor: pointer;">delete</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div ng-show="showCommentInput || comment.subcomments" class="comment-reply-textarea">
                                <textarea class="text" 
                                    ng-model="comment.newSubCommentText" 
                                    ng-class="{'expand': comment.expandTextArea, 'compress': !comment.expandTextArea}" 
                                    ng-click="comment.expandTextArea=true;toggleChildCommentTextExpander(comment)" 
                                    rows="1" cols="40" 
                                    placeholder="Add a comment..." >
                                </textarea>
                                <button class="small-comment" ng-disabled="!comment.newSubCommentText" ng-click="addSubComment(comment);expandTextArea=false">Comment</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>     
        </div>


                  <div class="widget-inner large-screen make_transist hideflip" ng-class="{'showflip': show_vops}" style="width:650px;position: absolute; min-height: 446px;">
                    <header class="no-reload">
                      <h1 style="display:inline;">VOPS</h1>
                    </header>
                    <section class="widget-body rag-widget" style="padding: 24px;">
                      <div class="widget-canvas">
                        <div class="t-size-x16" style="min-width: 50%">
                            <div ng-repeat="assessment in assessments | filter:{category:{assessment:{id:3}}} | greaterThan:299 | orderBy:'score': true">
                                  <div style="width:600px"><span style="border-bottom: 1px solid; padding-bottom: 3px;">{{ assessment.name }}<span style="color: #8b8b8b;"> ({{ assessment.score }})</span></span></div>
                                  <div ng-bind-html="assessment.description" style="margin:15px;width:560px"></div>

                            </div>
                            Coming Soon!
                        </div>
                      </div>
                    </section>
                  </div>
                  <div class="widget-inner large-screen make_transist hideflip" ng-class="{'showflip': show_kolbe}" style="width:650px;position: absolute;min-height: 446px;">
                    <header class="no-reload">
                      <h1 style="display:inline;">Kolbe</h1>
                    </header>
                    <section class="widget-body rag-widget" style="padding: 24px;">
                      <div class="widget-canvas">
                        <div class="t-size-x16" style="min-width: 50%">
                            <div ng-repeat="assessment in assessments | filter:{category:{assessment:{id:2}}} | orderBy:'category.id'">
                                  <div style="width:600px"><span style="border-bottom: 1px solid; padding-bottom: 3px;">{{ assessment.name }} <span style="color: #8b8b8b;">{{ assessment.category.name }} ({{ assessment.score }})</span></span></div>
                                  <div ng-bind-html="assessment.description" style="margin:15px;width:560px"></div>

                            </div>
                            Coming Soon!
                        </div>
                      </div>
                    </section>
                  </div>
                  <div class="widget-inner large-screen make_transist hideflip" ng-class="{'showflip': show_myers_briggs}" style="width:650px;position: absolute;min-height: 446px;">
                    <header class="no-reload">
                      <h1 style="display:inline;">Myers Briggs</h1>
                    </header>
                    <div ng-show="mbti.total_assessed<=mbti.total_not_assessed" style="width:100%;background-color:red;padding:5px;color:white;">Only {{mbti.total_assessed}} out of {{mbti.total}} team members have shared their Myers Briggs type.</div>
                    <div ng-show="mbti.total_assessed>mbti.total_not_assessed" style="width:100%;background-color:#58588D;padding:5px;color:white;">{{mbti.total_assessed}} out of {{mbti.total}} team members have shared their Myers Briggs type.</div>
                    <section class="widget-body rag-widget" style="padding: 24px;">
                      <div class="widget-canvas">
                        <div class="t-size-x16" style="min-width: 50%">
                            <div>
                                <div style="width:600px"><span style="border-bottom: 1px solid; padding-bottom: 3px;">Team Type: {{ mbti.type | uppercase}}</span></div>
                                <div ng-bind-html="mbti.description" style="margin:15px;width:560px"></div>
                                <div class="row">
                                  <div class="col-1-4">ISTJ <p><h1>{{istj.c}}</h1></p></div>
                                  <div class="col-1-4">ISFJ <p><h1>{{isfj.c}}</h1></p></div>
                                  <div class="col-1-4">INFJ <p><h1>{{infj.c}}</h1></p></div>
                                  <div class="col-1-4">INTJ <p><h1>{{intj.c}}</h1></p></div>
                                </div><!-- /.row -->
                                <div class="row">
                                  <div class="col-1-4">ISTP <p><h1>{{istp.c}}</h1></p></div>
                                  <div class="col-1-4">ISFP <p><h1>{{isfp.c}}</h1></p></div>
                                  <div class="col-1-4">INFP <p><h1>{{infp.c}}</h1></p></div>
                                  <div class="col-1-4">INTP <p><h1>{{intp.c}}</h1></p></div>
                                </div><!-- /.row -->
                                <div class="row">
                                  <div class="col-1-4">ESTP <p><h1>{{estp.c}}</h1></p></div>
                                  <div class="col-1-4">ESFP <p><h1>{{esfp.c}}</h1></p></div>
                                  <div class="col-1-4">ENFP <p><h1>{{enfp.c}}</h1></p></div>
                                  <div class="col-1-4">ENTP <p><h1>{{entp.c}}</h1></p></div>
                                </div><!-- /.row -->
                                <div class="row">
                                  <div class="col-1-4">ESTJ <p><h1>{{estj.c}}</h1></p></div>
                                  <div class="col-1-4">ESFJ <p><h1>{{esfj.c}}</h1></p></div>
                                  <div class="col-1-4">ENFJ <p><h1>{{enfj.c}}</h1></p></div>
                                  <div class="col-1-4">ENTJ <p><h1>{{entj.c}}</h1></p></div>
                                </div><!-- /.row -->
                            </div>
                        </div>
                      </div>
                    </section>
                  </div>
      </div>
    </article>
  </div>