<div ng-controller="TimespanReportCtrl" class="container" id="dashboard">

	<h1>Timespan Report</h1>
	<div class="export">
		<span class="fa fa-download" style="cursor: pointer;float:right;display: inline-block;margin-top:2px;font-size:30px" ng-csv="buildCSV()" csv-header="['User', 'Comments', 'Tasks', 'Check-ins']" filename="timespan.csv"></span>
	</div>

	<form name="timespan" class="timeform" ng-submit="submit();">
		Start Date:
		<input ng-model="startDate" name="startDate"/>
		<br>
		End Date:
		<input ng-model="endDate" name="endDate"/>
		<br>
		<input type="submit" id="submit" value="Submit" />
	</form>

	<div class="results" ng-show="submitted">
		<div class="column-left">
			<p> Total Comments: {{total.comments}} </p>
			<p> By User: </p>
			<div ng-repeat="(user, count) in responseData.comments">
				<p>{{user}}: {{count}}</p>
			</div>
		</div>

		<div class="column-center">
			<p> Total Tasks: {{total.tasks}} </p>
			<p> By User: </p>
			<div ng-repeat="(user, count) in responseData.tasks">
				<p>{{user}}: {{count}}</p>
			</div>
		</div>

		<div class="column-right">
			<p> Total Checkins: {{total.checkins}} </p>
			<p> By User: </p>
			<div ng-repeat="(user, count) in responseData.checkins">
				<p>{{user}}: {{count}}</p>
			</div>
		</div>
	</div>

</div>

<style>

.container {
	padding-top: 75px;
}

.timeform {
	text-align: center;
	padding-bottom: 50px;
}

.results {
	padding-left: 100px;
}

.column-left{ 
	float: left; width: 33%; 
}
.column-right{ 
	float: right; width: 33%; 
}
.column-center{ 
	display: inline-block; width: 33%; 
}
</style>