{% extends "layouts/blank.html" %}
{% load staticfiles %}

{% block title %}You're Ready To Go{% endblock title %}

{% block content %}
<div class="login-form">
    <a href="{% url 'index' %}"><img class="logo" src="{% static 'images/compass-logo-green.png' %}" /></a>
    <h2>You're Ready To Go!</h2>
    <p style="margin: 15px 0">Click the button below to get started.</p>
<a href="{% url 'django.contrib.auth.views.login' %}" class="btn btn-lg btn-success btn-block">Sign in</a>
</div>
{% endblock %}