<div id="feedback" class="container">
    <div>
        <div class="header-links hide-for-mobile-and-tablet pull-right">
            <a href="" data-toggle="modal" data-target=".feedback-welcome-modal" class="show-welcome-modal">Show welcome message</a>
        </div>
        <h1>Strengths
            <div class="button-group">
                <button class="btn btn-success btn-feedback" ng-click="feedback.requestFeedback()" type="button"><i class="fa fa-comment"></i> Ask</button>
                <button class="btn btn-success btn-feedback" ng-click="qualitiesReport.giveUnsolicited()" type="button"><i class="fa fa-pencil"></i> Give</button>
            </div>
        </h1>
    </div>
    <div class="qualities panel">
        <h2 class="panel-title ng-binding"><a ng-click="qualitiesReport.collapse=!qualitiesReport.collapse" style="cursor: pointer">My Strengths</a>
            <i class="fa fa-chevron-down pull-right collapse-toggle" ng-show="!qualitiesReport.collapse" ng-click="qualitiesReport.collapse=true"></i>
            <i class="fa fa-chevron-right pull-right collapse-toggle" ng-show="qualitiesReport.collapse" ng-click="qualitiesReport.collapse=false"></i>
        </h2>

        <div collapse="qualitiesReport.collapse" class="row" style="margin-top: 20px;">
            <div class="col-md-4">
                <div ng-repeat="quality in qualitiesReport.qualities| orderBy:['-count', 'type', 'name']" class="quality well well-sm" style="display:flex" ng-class="{'quality-shared': quality.type=='shared', 'quality-blind': quality.type=='blind', 'quality-hidden': quality.type=='hidden'}" ng-click="collapse=!collapse">
                    <div class="quality-label" style="width: 100%;">
                        <h4><strong>{{ quality.name }}</strong> <span class="badge pull-right" ng-class="{'quality-badge-shared': quality.type=='shared', 'quality-badge-blind': quality.type=='blind', 'quality-badge-hidden': quality.type=='hidden'}">{{ quality.count }}</span></h4>
                        <div collapse="collapse" ng-init="collapse=true">
                            <p ng-bind-html="quality.description" style="margin-top:5px;"></p>
                            <div style="margin-top: 10px; min-height: 42px">
                                <img ng-attr-title="{{perception.reviewer.full_name}}" ng-repeat="perception in quality.perceptions" ng-src="{{perception.reviewer.avatar_small}}" class="tiny-headshot"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>