<div id="feedback" class="container">
    <div>
        <div class="header-links hide-for-mobile-and-tablet pull-right">
            <a href="" data-toggle="modal" data-target=".feedback-welcome-modal" class="show-welcome-modal">Show welcome message</a>
        </div>
        <h1>Strengths Finder
            <div class="button-group">
                <button class="btn btn-success btn-feedback" ng-click="feedback.requestFeedback()" type="button"><i class="fa fa-comment"></i> Ask</button>
                <button class="btn btn-success btn-feedback" ng-click="qualitiesReport.giveUnsolicited()" type="button"><i class="fa fa-pencil"></i> Give</button>
            </div>
        </h1>
    </div>
    <div class="row">

        <div class="col-md-4">
            <h2 style="margin:20px 0">Shared Strengths</h2>
            <div class="panel fade-in" ng-repeat="(key, value) in qualitiesReport.shared_qualities | groupBy: 'quality.name'">
                <div class="panel-body">
                    <h2 class="panel-title">{{ key }}</h2>
                    <div><p ng-repeat="quality in value" ng-if="$first">
                        {{ quality.quality.description }}</p>
                    </div>
                    <div style="margin-top: 10px; min-height: 42px">
                        <img ng-attr-title="{{quality.reviewer.full_name}}" ng-repeat="quality in value" ng-src="{{quality.reviewer.avatar_small}}" class="tiny-headshot"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h2 style="margin:20px 0">Blind Strengths</h2>
            <div class="panel fade-in" ng-repeat="(key, value) in qualitiesReport.blind_qualities | groupBy: 'quality.name'">
                <div class="panel-body">
                    <h2 class="panel-title">{{ key }}</h2>
                    <div><p ng-repeat="quality in value" ng-if="$first">
                        {{ quality.quality.description }}</p>
                    </div>
                    <div style="margin-top: 10px; min-height: 42px">
                        <img ng-attr-title="{{quality.reviewer.full_name}}"  ng-repeat="quality in value" ng-src="{{quality.reviewer.avatar_small}}" class="tiny-headshot"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h2 style="margin:20px 0">Hidden Strengths</h2>
            <div class="panel fade-in" ng-repeat="(key, value) in qualitiesReport.hidden_qualities | groupBy: 'quality.name'">
                <div class="panel-body">
                    <h2 class="panel-title">{{ key }}</h2>
                    <div><p ng-repeat="quality in value" ng-if="$first">
                        {{ quality.quality.description }}</p>
                    </div>
                    <div style="margin-top: 10px; min-height: 42px">
                        <img ng-attr-title="{{quality.reviewer.full_name}}"  ng-repeat="quality in value" ng-src="{{quality.reviewer.avatar_small}}" class="tiny-headshot"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>