<div id="feedback" class="container">

    <h1 class="page-title" ng-show="assessQualities.cluster">
        <a href="" ng-click="assessQualities.goTo('qualities/perception/my')">Strengths</a>
        <span>&raquo; {{ assessQualities.cluster.name }}</span>
        <span ng-show="assessQualities.subject">&raquo; for</span>
        <span data-hj-masked>{{ assessQualities.subject.full_name }}</span>
        <a ng-show="assessQualities.subject && assessQualities.unsolicited" href="" data-toggle="modal" data-target=".modal" class="change">Change</a>
    </h1>   

    <div class="qualities panel" ng-show="assessQualities.subject && assessQualities.cluster" style="padding: 0px;">
        <div class="panel-heading" style="padding: 25px;">
            <h2 class="panel-title ng-binding">{{ assessQualities.subject.full_name }} on {{ assessQualities.cluster.name }}</h2>
        </div>
        <div>
            <div class="panel-body" style="padding: 0 25px;">
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <p style="font-style: italic;">
                                <div class="large-headshot pull-left" style="display: inline-block; vertical-align: top; margin-right: 10px;">
                                    <img ng-src="{{ assessQualities.subject.avatar }}" alt="{{assessQualities.subject.avatar}}'s avatar" class="headshot-image">
                                </div>
                                <span>{{ assessQualities.message }}</span>
                            </p>
                            <p style="margin-top: 5px;" ng-show="assessQualities.message"><strong>-{{ assessQualities.subject.first_name }}</strong></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="quality well well-sm" style="display:flex;height: auto;" ng-repeat="quality in assessQualities.cluster.qualities | limitTo:assessQualities.getLimit(assessQualities.cluster.qualities.length)"  ng-class="{'quality-selected': quality.selected, 'selfie-answer':!quality.selected}" ng-click="assessQualities.select(quality)">
                            <div class="quality-label" style="width: 100%;">
                                <h4><strong>{{ quality.name }}</strong></h4>
                                <div collapse="!quality.selected">
                                    <p ng-bind-html="quality.description" style="margin-top:5px;"></p>
                                </div>
                            </div>
                            <div style="margin: auto 0px;">
                                <i class="fa fa-check-circle-o selected-icon" ng-show="quality.selected"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="quality well well-sm" style="display:flex;height: auto;" ng-repeat="quality in assessQualities.cluster.qualities | slice:assessQualities.getLimit(assessQualities.cluster.qualities.length):assessQualities.cluster.qualities.length"  ng-class="{'quality-selected': quality.selected, 'selfie-answer':!quality.selected}" ng-click="assessQualities.select(quality)">
                            <div class="quality-label" style="width: 100%;">
                                <h4><strong>{{ quality.name }}</strong></h4>
                                <div collapse="!quality.selected">
                                    <p ng-bind-html="quality.description" style="margin-top:5px;"></p>
                                </div>
                            </div>
                            <div style="margin: auto 0px;">
                                <i class="fa fa-check-circle-o selected-icon" ng-show="quality.selected"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer" style="padding: 10px 25px;text-align: right;">
                <button class="btn btn-success" ng-click="assessQualities.save()" type="button">Submit</button>
            </div>
        </div>
    </div>

</div>
<div ng-if="assessQualities.unsolicited" ng-include="'/static/angular/partials/qualities/_modals/unsolicited-select-person.html'"></div>


<style>
    .form-group {margin-bottom: 15px;}
    .form-control {margin-top: 10px;}
    .form-group label {
        font-size: 16px;
        margin-bottom: 0;
    }
    .form-group textarea {
        margin-bottom: 35px;
    }
    .selected {
        border-color: #4cae4c;
        border-width: 2px;
    }

</style>