{% extends "layouts/blank.html" %}
{% load humanize %}
{% load staticfiles %}

{% block title %}Find Your Fool - Whoops!{% endblock title %}

{% block content %}
<div class="container ps404">
    <h2 class="centered">404...you're heading off course</h2>
    <div class="clearfix">
        <div class="pull-left ps404-image"><img src="../static/images/predictable-success-treadmill.png" alt="404"/></div>
        <div class="pull-right ps404-content">
            <h3>Treadmill</h3>
            <p>Working for an organization at this stage in its development can feel like being on a Treadmill: a lot of energy is being expended, but there’s little sense that forward momentum is being achieved. There’s an overemphasis on data over action, on form over content. Good people start to leave – many of whom have been with the organization for some time. Even the entrepreneurial founder(s) (if they’re still there) may be becoming frustrated and threatening to leave also.</p>
        </div>
    </div>

    <div class="centered">
        <a href="{% url 'index' %}" class="centered btn btn-info">Let's get you back to Predictable Success</a>
    </div>
</div>
{% endblock %}

