{% load staticfiles %}
{% load compress %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock title %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1">
        <link href="{% static 'images/favicon.png' %}" rel="shortcut icon" type="image/x-icon" />
        <link href='//fonts.googleapis.com/css?family=Oswald:400,600' rel='stylesheet' type='text/css'>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" >
        
        {% compress css%}
            {% block css %}{% endblock css %}
            <link href="{% static 'css/scoutmap/style.less' %}" rel="stylesheet" type="text/less">  
        {% endcompress %}

        {% if DEBUG %}
        <script>
            less = {
                env: 'development', // "development" or "production"
                async: false,
                fileAsync: false,
                poll: 1000,
                dumpLineNumbers: 'comments',
                relativeUrls: false
            };
        </script>
        <script src="{% static 'javascript/less.js' %}"></script>
        {% endif %}
    </head>
    <body class="{% block mainclass %}{% endblock %}" ng-app="tdb">
        {% block navigation %}{% endblock navigation %}
        {% block content %}{% endblock content%}
        <div class="javascripts">
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/masonry/2.1.08/jquery.masonry.min.js"></script>
            <script src="{% static 'bower_components/raven-js/dist/raven.js' %}"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
            <script src="{% static 'javascript/analytics.js' %}"></script>
            <script src="{% static 'javascript/js.cookie.js' %}"></script>
            <script src="{% static 'javascript/main.js' %}"></script>
            <script src="https://checkout.stripe.com/checkout.js"></script>
            
            {% block javascript %}{% endblock javascript%}

        </div>    
    </body>
</html>