{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Payment{% endblock title %}

{% block css %}{% endblock css %}

{% block content %}
<div class="container">
    <form action="{% url 'payment' %}" method="POST">{% csrf_token %}

        <div class="row">
            <div class="pricing col-sm-12 col-sm-offset-1">
                <h1>Checkout</h1>

                <div class="plans">
                    <div class="row">
                        <div class="col-xs-2 col-md-2">
                            <div class="plan panel panel-default">
                                <h1>$50</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <script
                        src="https://checkout.stripe.com/checkout.js" 
                        class="stripe-button"
                        data-key="{{ stripe_key }}"
                        data-amount="5000"
                        data-name="The Motley Fool LLC"
                        data-description="Predictable Success for $50"
                        data-locale="auto">
                    </script>
                </div>

                <img src="{% static 'images/stripe.png' %}" alt="Stripe logo" class="stripe-logo" />
                <p class="stripe-security-msg">*Stripe uses an advanced 256-bit encryption system. For more information please <a href="http://www.stripe.com/help/security" target="_blank">click here</a>.</p>
            </div>
        </div>
    </form>
</div>
{% endblock content %}
