<div id="devzones" class="container" data-hj-masked>
    <div>
        <a href="" data-toggle="modal" data-target=".devzones-welcome-modal" class="pull-right show-welcome-modal">Show welcome message</a>
        <h1>ID</h1>
    </div>

    <div ng-show="devzones.myConversation" ng-class="{'slide-up-active': hideMessage}" class="alert alert-success slide-up" role="alert">
        <a class="btn btn-success btn-feedback pull-right" ng-click="devzones.submitDevZone()" type="button">
            <i class="fa fa-comment"></i> <span class="hide-for-mobile">Take a </span>Selfie
        </a>
        <i class="fa fa-comment sent-icon"></i>
        <h2 class="alert-title">Your ID Session is Coming Up!</h2>
        <div class="alert-message">

            <div>
                <div class="avatar-container pull hide-for-mobile">
                    <span class="large-headshot">
                        <img ng-src="{{devzones.myConversation.development_lead.avatar}}" alt="{{devzones.myConversation.development_lead.full_name}}" class="headshot-image">
                    </span>
                </div>
                <div style="width:80%">
                    <div class="comment-text">
                        {{ devzones.myConversation.development_lead.full_name }} is the Department lead taht will be representing you.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-empty fade-in" ng-show="devzones.mySelfies.length==0">
        <img class="grumpycat" src="../static/images/grumpycat.png" alt="Grumpy Cat" />
        <h2>"Mmmmeeh... i see you don't have any activity yet. Use the button above or this link to
            <a href="" ng-click="devzones.submitDevZone()">take a selfie</a>."
        </h2>
    </div>
    <div class="panel" ng-show="devzones.mySelfies.length>0">

                <div ng-repeat="selfie in devzones.mySelfies | orderBy:'date':true">
                    <p class="timeago">{{ selfie.date | fromNow }}</p>
                    <p>{{ selfie.zone.name }}</p>
                    <p ng-repeat="advice in selfie.advice " ng-bind-html="advice.advice_description_for_employee"></p>
                </div>

    </div>
    <div ng-include="'/static/angular/devzones/partials/_modals/welcome-message.html'"></div>
</div>