<div id="devzones" class="container" data-hj-masked>
    <div>
        <a href="" data-toggle="modal" data-target=".devzones-welcome-modal" class="pull-right show-welcome-modal">Show welcome message</a>
        <h1>ID</h1>
    </div>

    <div ng-show="devzones.myCurrentConversation && !devzones.busy && !devzones.myCurrentConversation.employee_assessment.completed" ng-class="{'slide-up-active': hideMessage}" class="alert alert-success slide-up" role="alert">
        <a class="btn btn-success btn-feedback pull-right" ng-show="!devzones.myCurrentConversation.employee_assessment.completed" ng-click="devzones.submitDevZone()" type="button">
            <i class="fa fa-comment"></i>
            <span ng-if="!devzones.myCurrentConversation.employee_assessment.answers.length>0" class="hide-for-mobile">Take your </span>
            <span ng-if="devzones.myCurrentConversation.employee_assessment.answers.length>0" class="hide-for-mobile">Finish your </span>
            Selfie
        </a>
        <h2 class="alert-title">Take a Selfie!</h2>
        <div class="alert-message" style="padding-left:0; padding-top: 10px">
            <div>
                <div class="avatar-container pull-left hide-for-mobile" style="padding-right:10px;">
                    <span class="large-headshot">
                        <img ng-src="{{devzones.myCurrentConversation.development_lead.avatar}}" alt="{{devzones.myCurrentConversation.development_lead.full_name}}" class="headshot-image">
                    </span>
                </div>
                <div style="width:80%;">
                    <div class="comment-text">
                        {{ devzones.myCurrentConversation.development_lead.full_name }} {{ devzones.idSessionIntro }} Click <a style="text-decoration: underline; cursor: pointer" ng-click="devzones.showMeetingParticipants(devzones.myCurrentConversation.meeting_participants)">here</a> to find out who else will be at your meeting. In the weeks following, {{ devzones.myConversation.development_lead.first_name }} will meet with you about your selfie.

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-empty fade-in" ng-show="!devzones.busy && devzones.myConversations.length==0 && devzones.myTeamLeadConversations.length==0 && devzones.meetings.length==0 && !devzones.myCurrentConversation">
        <img class="grumpycat" src="../static/images/grumpycat.png" alt="Grumpy Cat" />
        <h2>"Mmmmeeh... i see you don't have any activity yet.
            <span ng-show="devzones.selfie && !devzones.selfie.completed">Use the button above or this link to
                <a ng-click="devzones.submitDevZone()" type="button">
                    <span ng-if="!devzones.selfie.answers.length>0">take your </span>
                    <span ng-if="devzones.selfie.answers.length>0">finish your </span>
                    Selfie."
                </a>
            </span>
            <span ng-show="!devzones.myCurrentConversation || devzones.myCurrentConversation.employee_assessment.completed">
                Hang in there.
            </span>
        </h2>
    </div>
    <div class="panel devzones activity" ng-show="devzones.myConversations.length>0">
        <h2 class="panel-title ng-binding">My Development Zones</h2>
        <div>
            <table class="table responsive-table" >
                <thead>
                    <tr>
                        <th scope="col" class="width-20-percent">When</th>
                        <th scope="col" class="width-20-percent">Represented By</th>
                        <th scope="col" class="width-20-percent">Development Zone</th>
                        <th scope="col" class="width-20-percent centered">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="conversation in devzones.myConversations | orderBy:'date':false">
                        <td class="timeago">{{ conversation.employee_assessment.date | fromNow }}</td>
                        <td>{{ conversation.development_lead.full_name }}</td>
                        <td ng-show="!conversation.development_lead_assessment">{{ conversation.employee_assessment.zone.name }} </td>
                        <td ng-show="conversation.development_lead_assessment">{{ conversation.development_lead_assessment.zone.name }} </td>
                        <td class="centered">
                            <a class="btn btn-default btn-md give-feedback-btn" ng-href="#/id/{{ conversation.id }}" type="button">
                                <i class="fa fa-eye"></i> View
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel devzones" ng-show="devzones.myTeamLeadConversations.length>0">
        <h2 class="panel-title ng-binding"><a ng-click="devzones.teamSelfiesCollapse=!devzones.teamSelfiesCollapse" style="cursor: pointer">My Team's Selfies</a>
            <i class="fa fa-chevron-down pull-right collapse-toggle" ng-show="!devzones.teamSelfiesCollapse" ng-click="devzones.teamSelfiesCollapse=true"></i>
            <i class="fa fa-chevron-right pull-right collapse-toggle" ng-show="devzones.teamSelfiesCollapse" ng-click="devzones.teamSelfiesCollapse=false"></i>
        </h2>
        <div collapse="devzones.teamSelfiesCollapse">
            <table class="table responsive-table" >
                <thead>
                    <tr>
                        <th scope="col" class="width-20-percent">
                            <a href="" ng-click="devzones.order('employee.full_name');"><strong>Employee</strong></a>
                            <span class="sortorder fa" ng-show="devzones.predicate === 'employee.full_name'" ng-class="devzones.reverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                        </th>
                        <th scope="col" class="width-20-percent">Represented By</th>
                        <th scope="col" class="width-10-percent centered">
                            <a href="" ng-click="devzones.order('advice[0].severity');"><strong>Alignment</strong></a>
                            <span class="sortorder fa" ng-show="devzones.predicate === 'advice[0].severity'" ng-class="devzones.reverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                        </th>
                        <th scope="col" class="width-20-percent centered">
                            <a href="" ng-click="devzones.order('development_lead_assessment.zone.name');"><strong>My Perception</strong></a>
                            <span class="sortorder fa" ng-show="devzones.predicate === 'development_lead_assessment.zone.name'" ng-class="devzones.reverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                        </th>
                        <th scope="col" class="width-10-percent">Sent To Employee</th>
                        <th scope="col" class="width-10-percent centered">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="conversation in devzones.myTeamLeadConversations | orderBy:devzones.predicate:devzones.reverse">
                        <td><span class="tiny-headshot pull-left"><img ng-src="{{ conversation.employee_assessment.employee.avatar_small }}" alt="{{ conversation.employee_assessment.employee.full_name }}" /></span>{{ conversation.employee_assessment.employee.full_name }}</td>
                        <td>{{ conversation.development_lead.full_name }}</td>
                        <td style="text-align:center;">
                            <div ng-repeat="advice in conversation.advice" ng-if="advice.alert_for_development_lead_short" class="alert {{advice.alert_type_for_development_lead}} slide-up" style="padding: 8px;margin-bottom: 0px">
                                {{ advice.alert_for_development_lead_short }}
                            </div>
                        </td>
                        <td style="text-align:center;">
                            <span ng-show="conversation.development_lead_assessment">{{ conversation.development_lead_assessment.zone.name }}</span>
                        </td>
                         <td>
                             <i ng-show="conversation.development_lead_assessment.completed" class="fa fa-check" title="Shared"></i>
                        </td>
                        <td class="centered">
                            <a ng-disabled="(!conversation.employee_assessment.completed && !conversation.development_lead_assessment)" class="btn btn-default btn-md give-feedback-btn" ng-href="#/id/{{ conversation.id }}" type="button">
                                <i class="fa fa-eye"></i> View
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel devzones" ng-show="devzones.meetings.length>0">
        <h2 class="panel-title ng-binding"><a ng-click="devzones.meetingsCollapse=!devzones.meetingsCollapse" style="cursor: pointer">My Meetings</a>
            <i class="fa fa-plus-circle collapse-toggle" ng-show="!devzones.meetingsCollapse && devzones.is_org_dev" ng-click="devzones.addEditMeeting()" style="margin-left: 5px;"></i>
            <i class="fa fa-chevron-down pull-right collapse-toggle" ng-show="!devzones.meetingsCollapse" ng-click="devzones.meetingsCollapse=true"></i>
            <i class="fa fa-chevron-right pull-right collapse-toggle" ng-show="devzones.meetingsCollapse" ng-click="devzones.meetingsCollapse=false"></i>

        </h2>
        <div collapse="devzones.meetingsCollapse">
            <table class="table responsive-table" >
                <thead>
                    <tr>
                        <th scope="col" class="width-20-percent">Meeting</th>
                        <th scope="col" class="width-40-percent">Participants</th>
                        <th ng-show="devzones.isAdmin" scope="col" class="width-10-percent centered">Active</th>
                        <th scope="col" class="width-10-percent">Selfies Completed</th>
                        <th scope="col" class="width-10-percent centered">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="meeting in devzones.meetings | orderBy:'name':false">
                        <td>
                            <a ng-href="#/id/meetings/{{ meeting.id }}">{{ meeting.name }}</a>
                        </td>
                        <td><img class="tiny-headshot pull-left" ng-src="{{ participant.avatar_small }}" ng-attr-title="{{participant.full_name}}" ng-repeat="participant in meeting.participants"/></td>
                        <td ng-show="devzones.isAdmin" class="centered">
                            <i ng-show="{{ meeting.active }}" class="fa fa-check" title="Active"></i>
                        </td>
                        <td>{{ meeting.selfies_completed}} out of {{ meeting.selfies_total}}</td>
                        <td class="centered">
                            <a class="btn btn-default btn-md give-feedback-btn" ng-href="#/id/meetings/{{ meeting.id }}" type="button">
                                <i class="fa fa-eye"></i> View Meeting
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div ng-include="'/static/angular/devzones/partials/_modals/welcome-message.html'"></div>
</div>