<div id="devzones" class="container" data-hj-masked>
    <div>
        <h1><a href="#/id">ID</a> &raquo; Meetings</h1>
    </div>
    <div class="panel devzones collapsible-panel">
        <h2 class="panel-title ng-binding">{{ meeting.meeting.name }}
            <i class="fa fa-pencil collapse-toggle" ng-show="meeting.is_org_dev" ng-click="meeting.addEditMeeting('edit-view')" style="margin-left: 5px;"></i>
        </h2>
        <table class="table responsive-table">
            <thead>
                <tr>
                    <th scope="col" class="width-20-percent">
                        <a href="" ng-click="meeting.order('employee.full_name');"><strong>Employee</strong></a>
                        <span class="sortorder fa" ng-show="meeting.predicate === 'employee.full_name'" ng-class="meeting.reverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                    </th>
                    <th scope="col" class="width-20-percent">
                        <a href="" ng-click="meeting.order('development_lead.full_name');"><strong>Represented By</strong></a>
                        <span class="sortorder fa" ng-show="meeting.predicate === 'development_lead.full_name'" ng-class="meeting.reverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                    </th>
                    <th scope="col" class="width-10-percent centered">
                        <a href="" ng-click="meeting.order('advice[0].severity');"><strong>Alignment</strong></a>
                        <span class="sortorder fa" ng-show="meeting.predicate === 'advice[0].severity'" ng-class="meeting.reverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                    </th>
                    <th ng-show="meeting.is_org_dev" scope="col" class="width-15-percent">Employee Perception</th>
                    <th scope="col" class="width-15-percent">Leadership's Perception</th>
                    <th scope="col" class="width-10-percent centered">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="conversation in meeting.meeting.conversations | orderBy:meeting.predicate:meeting.reverse">
                    <td><span class="tiny-headshot pull-left"><img ng-src="{{ conversation.employee_assessment.employee.avatar_small }}" alt="{{ conversation.employee_assessment.employee.full_name }}" /></span>{{ conversation.employee_assessment.employee.full_name }}</td>
                    <td>{{ conversation.development_lead.full_name }}</td>
                    <td style="text-align:center;">
                        <div ng-repeat="advice in conversation.advice" ng-if="advice.alert_for_development_lead_short" class="alert {{advice.alert_type_for_development_lead}} slide-up" style="padding: 8px;margin-bottom: 0px">
                            {{ advice.alert_for_development_lead_short }}
                        </div>
                    </td>
                    <td ng-show="meeting.is_org_dev">{{ conversation.employee_assessment.zone.name }}</td>
                    <td>
                        <span ng-show="meeting.is_org_dev">
                            <a ng-show="!conversation.development_lead_assessment && meeting.is_org_dev" class="btn btn-default btn-md give-feedback-btn" ng-click="meeting.giveLeaderPerception(conversation)" type="button">
                                <i class="fa fa-heartbeat"></i>
                                Give Perception
                            </a>
                            <a ng-show="meeting.is_org_dev && !conversation.development_lead_assessment.is_draft && !conversation.development_lead_assessment.completed" ng-click="meeting.giveLeaderPerception(conversation)" style="cursor: pointer">
                                {{ conversation.development_lead_assessment.zone.name }}
                            </a>
                        </span>
                        <span ng-show="conversation.development_lead_assessment.is_draft || conversation.development_lead_assessment.completed || !meeting.is_org_dev">{{ conversation.development_lead_assessment.zone.name }}</span>
                    </td>
                    <td class="centered">
                        <a ng-disabled="!conversation.employee_assessment.completed" class="btn btn-default btn-md give-feedback-btn" ng-href="#/id/{{ conversation.id }}" type="button">
                            <i class="fa fa-eye"></i> View
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>