<div id="devzones" class="container" data-hj-masked>
    <div>
        <a href="" data-toggle="modal" data-target=".devzones-welcome-modal" class="pull-right show-welcome-modal">Show welcome message</a>
        <h1><a href="#/id">ID</a> &raquo; Meeting for {{ meeting.meeting.name }}</h1>
    </div>
    <div class="panel devzones collapsible-panel">
        <h2 class="panel-title ng-binding">Team Selfies</h2>
        <table class="table responsive-table">
            <thead>
                <tr>
                    <th scope="col" class="width-20-percent">Employee</th>
                    <th scope="col" class="width-20-percent">Represented By</th>
                    <th ng-show="meeting.is_org_dev" scope="col" class="width-15-percent">Employee Perception</th>
                    <th scope="col" class="width-15-percent">Leadership's Perception</th>
                    <th scope="col" class="width-10-percent centered">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="conversation in meeting.meeting.conversations | orderBy:'employee.full_name':false">
                    <td><span class="tiny-headshot pull-left"><img ng-src="{{ conversation.employee_assessment.employee.avatar_small }}" alt="{{ conversation.employee_assessment.employee.full_name }}" /></span>{{ conversation.employee_assessment.employee.full_name }}</td>
                    <td>{{ conversation.development_lead.full_name }}</td>

                    <td ng-show="meeting.is_org_dev">{{ conversation.employee_assessment.zone.name }}</td>
                    <td>
                        <span ng-show="meeting.is_org_dev">
                            <a ng-show="!conversation.development_lead_assessment" class="btn btn-default btn-md give-feedback-btn" ng-click="meeting.giveLeaderPerception(conversation)" type="button">
                                <i class="fa fa-heartbeat"></i>
                                Give Perception
                            </a>
                            <a ng-show="conversation.development_lead_assessment" ng-click="meeting.giveLeaderPerception(conversation)" style="cursor: pointer">
                                {{ conversation.development_lead_assessment.zone.name }}
                            </a>
                        </span>
                        <span ng-show="!meeting.is_org_dev">{{ conversation.development_lead_assessment.zone.name }}</span>
                    </td>
                    <td class="centered">
                        <a ng-disabled="!conversation.employee_assessment.completed" class="btn btn-default btn-md give-feedback-btn" ng-href="#/id/{{ conversation.id }}" type="button">
                            <i class="fa fa-eye"></i> View Selfie
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>