<div class="container" data-hj-masked>
    <h1>ID Report</h1>
    <div class="panel">
        <div style="width:300px;">
			<div class="form-group">
				<label for="startDate"><strong>Start Date</strong></label>
				<input id="startDate" ng-model="devzonesReport.startDate" name="startDate" class="form-control" />
			</div>
			<div class="form-group" style="margin:15px 0;">
				<label for="endDate"><strong>End Date</strong></label>
				<input id="endDate" ng-model="devzonesReport.endDate" name="endDate" class="form-control" />
			</div>
			<button ng-disabled="devzonesReport.busy" ng-click="devzonesReport.getDevZonesReport()" class="btn btn-primary">Submit</button>
        </div>
    </div>
    <div>

        <div class="panel" ng-show="devzonesReport.showResults">
            <button ng-disabled="devzonesReport.busy" class="btn btn-default pull-right" type="button" ng-csv="devzonesReport.csv" filename="id-report{{devzonesReport.startDate | date:'yyyy-MM-dd'}}to{{devzonesReport.endDate | date:'yyyy-MM-dd'}}.csv" csv-header="['Id', 'Employee', 'Meeting', 'Represented By', 'Finished Selfie', 'Finished Selfie Date', 'Selfie Perception', 'Leader Perception', 'Alignment', 'Conversation Sent to Leader', 'Conversation Sent to Employee', 'Conversation Sent to Employee Date', 'Question', 'Answer', 'Question', 'Answer', 'Question', 'Answer', 'Question', 'Answer', 'Question', 'Answer', 'Question', 'Answer']">
                <span class="fa fa-download"></span> Download
            </button>

            <table class="table" ng-show="!devzonesReport.busy">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            <a href="" ng-click="devzonesReport.order('employee.full_name');"><strong>Employee</strong></a>
                            <span class="sortorder fa" ng-show="devzonesReport.predicate === 'employee.full_name'" ng-class="devzonesReport.reverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                        </th>
                        <th>
                            <a href="" ng-click="devzonesReport.order('meeting_name');"><strong>Meeting</strong></a>
                            <span class="sortorder fa" ng-show="devzonesReport.predicate === 'meeting_name'" ng-class="devzonesReport.reverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                        </th>
                        <th>
                            <a href="" ng-click="devzonesReport.order('development_lead.full_name');"><strong>Represented by</strong></a>
                            <span class="sortorder fa" ng-show="devzonesReport.predicate === 'development_lead.full_name'" ng-class="devzonesReport.reverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                        </th>
                        <th>
                            <a href="" ng-click="devzonesReport.order('completed');"><strong>Finished Selfie</strong></a>
                            <span class="sortorder fa" ng-show="devzonesReport.predicate === 'completed'" ng-class="devzonesReport.reverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                        </th>
                        <th>
                            <a href="" ng-click="devzonesReport.order('date');"><strong>Finished Selfie Date</strong></a>
                            <span class="sortorder fa" ng-show="devzonesReport.predicate === 'date'" ng-class="devzonesReport.reverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                        </th>
                        <th>
                            <a href="" ng-click="devzonesReport.order('zone.value');"><strong>Selfie Perception</strong></a>
                            <span class="sortorder fa" ng-show="devzonesReport.predicate === 'zone.name'" ng-class="devzonesReport.reverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                        </th>
                        <th>
                            <a href="" ng-click="devzonesReport.order('conversation_zone.value');"><strong>Leader Perception</strong></a>
                            <span class="sortorder fa" ng-show="devzonesReport.predicate === 'zone.name'" ng-class="devzonesReport.reverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                        </th>
                        <th>
                            <a href="" ng-click="devzonesReport.order('conversation_gap_severity');"><strong>Alignment</strong></a>
                            <span class="sortorder fa" ng-show="devzonesReport.predicate === 'conversation_gap_severity'" ng-class="devzonesReport.reverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                        </th>
                        <th>
                            <a href="" ng-click="devzonesReport.order('conversation_sent_to_development_lead');"><strong>Conversation Sent to Leader</strong></a>
                            <span class="sortorder fa" ng-show="devzonesReport.predicate === 'conversation_sent_to_development_lead'" ng-class="devzonesReport.reverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                        </th>
                        <th>
                            <a href="" ng-click="devzonesReport.order('conversation_completed');"><strong>Conversation Sent to Employee</strong></a>
                            <span class="sortorder fa" ng-show="devzonesReport.predicate === 'conversation_completed'" ng-class="devzonesReport.reverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                        </th>
                        <th>
                            <a href="" ng-click="devzonesReport.order('conversation_completed_date');"><strong>Conversation Sent to Employee Date</strong></a>
                            <span class="sortorder fa" ng-show="devzonesReport.predicate === 'conversation_completed_date'" ng-class="devzonesReport.reverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="report in devzonesReport.report | orderBy:devzonesReport.predicate:devzonesReport.reverse">
                        <td>{{ $index+1 }}.</td>
                        <td>
                            <a ng-href="#/employees/{{report.employee.id}}" class="tiny-headshot pull-left"><img ng-src="{{ report.employee.avatar_small }}" alt="{{ report.employee.full_name }}'s avatar"/></a>
                            <a ng-href="#/employees/{{report.employee.id}}">{{report.employee.full_name}}</a>
                        </td>
                        <td style="text-align: center">{{report.meeting_name}}</td>
                        <td style="text-align: center">{{report.development_lead.full_name}}</td>
                        <td style="text-align: center">{{report.completed}}</td>
                        <td style="text-align: center">
                            <span ng-show="!report.completed" style="color:#bbb;">--</span>
                            <span ng-show="report.completed">{{report.date | date:'MM/dd/yyyy'}}</span>
                        </td>
                        <td style="text-align: center">
                            <span ng-show="!report.zone" style="color:#bbb;">--</span>
                            {{report.zone.name}}
                        </td>
                        <td style="text-align: center">
                            <span ng-show="!report.conversation_zone" style="color:#bbb;">--</span>
                            {{report.conversation_zone.name}}
                        </td>
                        <td style="text-align: center">
                            <span ng-show="!report.conversation_gap" style="color:#bbb;">--</span>
                            {{report.conversation_gap}}
                        </td>
                        <td style="text-align: center">{{report.conversation_sent_to_development_lead}}</td>
                        <td style="text-align: center">{{report.conversation_completed}}</td>
                        <td style="text-align: center">
                            <span ng-show="!report.conversation_completed_date" style="color:#bbb;">--</span>
                            {{report.conversation_completed_date | date:'MM/dd/yyyy'}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-show="devzonesReport.busy" class="no-results"><img src="../static/images/loader.gif" alt="Loading spinner" /></div>
        </div>
    </div>
</div>
