<div id="devzones" class="container" data-hj-masked>
    <div>
        <a href="" data-toggle="modal" data-target=".devzones-welcome-modal" class="pull-right show-welcome-modal">Show welcome message</a>
        <h1><a href="#/devzones">ID</a> &raquo; Selfie for {{ selfieDetail.selfie.employee.full_name }}</h1>
    </div>
    <div class="panel devzones activity">
        <h2 class="panel-title ng-binding">{{ selfieDetail.selfie.date | fromNow}}</h2>



        <div class="well">
            <h3 class="modal-title">{{ selfieDetail.selfie.zone.name }}</h3>
            <span class="timeago">{{ selfieDetail.selfie.date | fromNow }}</span>
            <p ng-repeat="advice in selfieDetail.selfie.advice " ng-bind-html="advice.advice_description_for_development_leader"></p>
        </div>

        <div class="activity-item">
            <div class="activity-checkin row" style="margin: 20px 0px;">
                <div class="avatar-container col-xs-2">
                    <span class="large-headshot">
                        <img ng-src="{{ selfieDetail.selfie.employee.avatar_small }}" alt="{{ selfieDetail.selfie.employee.full_name }}" class="headshot-image"/>
                    </span>
                </div>
                <div class="activity-checkin-details col-xs-12 col-sm-10" style="padding-left:0" ng-show="selfieDetail.selfie.notes">
                    <h3 class="comment-title-employee-name"><strong><span class="sensitive-text">from {{ selfieDetail.selfie.employee.first_name }}</span></strong></h3>
                    <div class="activity-comment comment-text">{{ selfieDetail.selfie.notes }}</div>
                </div>
            </div>
        </div>
        <button class="btn btn-default" type="button" ng-click="selfieDetail.gotoDevZones()">&larr; Back</button>
    </div>
</div>