{% extends "layouts/email.html" %}

{% block content %}
        <p>
            Hi, {{ recipient_first_name }}!
        </p>
        <p>
            Don't forget to send {{ employee_full_name }} their check-in notes. Go <a href="{{ response_url }}">here</a> and click the send button.
        </p>
        <p>Thanks! <br>--The Scoutmap Team</p>
        <p>
            P.S. If you have feedback or ideas for Scoutmap please let us know on the <a href="https://fool.slack.com/messages/feedback_for_scoutmap/">Feedback for Scoutmap Slack Channel.</a>
        </p>
{% endblock content%}