{% extends "layouts/email.html" %}

{% block content %}
        <p>
            Hi, {{ recipient_first_name }}!
        </p>
        <p>
            Don't forget to share your notes from your last check-in. It's a great opportunity for you to start a dialog about what your development needs are with leadership.
        </p>
        <p>
            You can start the conversation by sharing your notes <a href="{{ response_url }}">here.</a>
        </p>
        <p>Thanks! <br>--The Scoutmap Team</p>
        <p>
            P.S. Do you have more feedback or ideas for us? Let us know on the <a href="https://fool.slack.com/messages/feedback_for_scoutmap/">Feedback for Scoutmap Slack Channel.</a>
        </p>
{% endblock content%}