<form name="taskForm" novalidate="novalidate" ng-submit="save(taskForm)">
    <div>
        <div class="modal-body">
            <h3 class="modal-title">
                <span ng-show="!taskIsBeingEdited()">Add New</span>
                <span ng-show="taskIsBeingEdited()">Edit</span>
                Task</h3>
            <div class="form-group" ng-class="{'has-error': taskForm.$submitted && taskForm.description.$invalid}">
                <p ng-show="taskForm.$submitted && taskForm.description.$invalid" class="help-block">You must enter a task description</p>
                <textarea required placeholder="Enter task here..." class="form-control" name="description" ng-model="task.description" style="min-height:100px;margin-bottom:20px"></textarea>
            </div>
            <div class="row">
                <div class="dropdown col-sm-6">
                    <span class="glyphicon glyphicon-user"></span> Assigned To:
                    <a href="javascript:void(0);" id="assigneeMenu" data-toggle="dropdown" aria-expanded="true"><strong>{{task.assigned_to.full_name||"Unassigned"}}</strong></a>
                    <div class="dropdown-menu" role="menu" aria-labelledby="assigneeMenu">
                        <ul ng-model="task.assigned_to">
                            <li role="presentation" class="popover-item" ng-repeat="coach in coaches | orderBy:'full_name'">
                                <a href="javascript:void(0);" role="menuitem" tabindex="-1" ng-click="task.assigned_to=coach">
                                <div class="tiny-headshot pull-left">
                                    <img ng-src="{{coach.avatar_small}}"/>
                                </div>
                                <span class="employee-name">{{coach.full_name}}</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li role="presentation" class="popover-item">
                                <a role="menuitem" tabindex="-1" ng-click="task.assigned_to=null">Unassigned</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <input type="hidden" ng-model="task.assigned_to" name="assigned_to"/>
                <div class="dropdown col-sm-5">
                    <span class="glyphicon glyphicon-calendar"></span> Due Date:
                    <a href="javascript:void(0);"><strong ng-click="openDatePicker($event)">{{(task.due_date | date:'MMM d') || "None"}}</strong></a>
                    <div datepicker-popup="{{datePicker.dateFormat}}" ng-model="task.due_date" is-open="datePicker.isOpen" show-weeks="false" close-text="Close"></div>
                </div>
                <input type="hidden" ng-model="task.due_date" name="due_date"/>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success">Save</button>
            <button type="button" ng-click="cancel()" class="btn btn-default">Cancel</button>
        </div>
    </div>
</form>