<form name="changeCoachForm" novalidate="novalidate">
    <div>
        <div class="modal-body">
            <h3 ng-show="!request.currentCoach" class="modal-title">Select Coach</h3>
            <h3 ng-show="request.currentCoach" class="modal-title">Change coach</h3>
            <div class="row">
                <div class="col-lg-12 form-group">
                    <p style="margin:-10px 0 30px;color:#888;">Who would you like to be your coach?</p>
                    <ui-select
                        id="coach"
                        ng-model="changeCoach.newCoach"
                        reset-search-input="true"
                        theme="selectize"
                        style="max-width:300px">

                        <ui-select-match placeholder="Type an employee name">{{$select.selected.full_name}}</ui-select-match>
                        <ui-select-choices
                            repeat="coach in changeCoach.availableCoaches | filter: { full_name: $select.search } | orderBy: 'full_name'">
                            <div ng-bind-html="coach.full_name"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="changeCoach.cancel()" class="btn btn-light pull-left">Cancel</button>
            <button type="button" class="btn btn-success" ng-click="changeCoach.save(changeCoachForm)">Save Coach</button>
        </div>
    </div>
</form>