<div>
    <div class="modal-body">
              <div style="float:left;width:55%">
                  <div class="large-avatar-container xxxlarge-headshot"><img ng-src="{{ pvp.employee.avatar }}" alt="{{ pvp.employee.full_name }}'s avatar" /></div>
                  <div style="width: 100%">
                      <h1 class="centered ng-binding" style="text-align:center;line-height:35px;margin:0">{{ pvp.employee.full_name }}</h1>
                  </div>
              </div>

              <div style="width:45%;float: left;">
                  <div class="vertical-text" style="width:200px;text-align: center;position: absolute;left: 237px;top: 127px;"><div style="display:inline-block;float:left">Low</div>Drive<div style="display:inline-block;float:right">High</div></div>
                  <div style="margin: 25px;margin-top: 5px">
                    <table pvp-graph>
                      <tr> 
                        <td class="box" id="12" ng-click="click_pvp($event, false)"></td> <td class="box" id="13" ng-click="click_pvp($event, false)"></td> <td class="box" id="14" ng-click="click_pvp($event, false)"></td> <td class="box" id="15" ng-click="click_pvp($event, false)"></td> 
                      </tr>
                      <tr> 
                        <td class="box" id="8" ng-click="click_pvp($event, false)"></td> <td class="box" id="9" ng-click="click_pvp($event, false)"></td> <td class="box" id="10" ng-click="click_pvp($event, false)"></td> <td class="box" id="11" ng-click="click_pvp($event, false)"></td> 
                      </tr>
                      <tr> 
                        <td class="box" id="4" ng-click="click_pvp($event, false)"></td> <td class="box" id="5" ng-click="click_pvp($event, false)"></td> <td class="box" id="6" ng-click="click_pvp($event, false)"></td> <td class="box" id="7" ng-click="click_pvp($event, false)"></td> 
                      </tr>
                      <tr> 
                        <td class="box" id="0" ng-click="click_pvp($event, false)"></td> <td class="box" id="1" ng-click="click_pvp($event, false)"></td> <td class="box" id="2" ng-click="click_pvp($event, false)"></td> <td class="box" id="3" ng-click="click_pvp($event, false)"></td> 
                      </tr>
                    </table>
                    <!-- <canvas pvp-graph pvp="pvp" height="200" width="200" ng-click="click_canvas($event, false)"/> -->
                  </div>
                  <div style="width:200px;text-align: center;  margin-left: 25px;margin-top: -25px;"><div style="display:inline-block;float:left">Low</div>Impact<div style="display:inline-block;float:right">High</div></div>
              </div>
              <div style="clear: both;"></div>
              <div>
                    <div style="margin-left: 0px; font-size:16px;">
                        <div class="distributions">
                            <p class="distribution"><span class="tag employee-segment-background-color-{{pvp.talent_category}}">{{pvp.label}}</span>{{pvp.description.description}} <a href ng-show="selfAssessment.talent_category && !showSelfAssessment" ng-click="showSelfAssessment=true">Show self assessment.</a><a href ng-show="selfAssessment.talent_category && showSelfAssessment" ng-click="showSelfAssessment=false">Hide self assessment.</a></p>
                            <div ng-show="showSelfAssessment" style="background-color: #ebedf3; padding: 1px 15px;border-style:solid;border-width: 1px">
                                <h3 style="padding-top: 10px">Self Assessment Completed on {{ selfAssessment.created_at | date:'MM/dd/yyyy' }}</h3>
                                <div ng-if="selfAssessment.talent_category" class="distributions">
                                    <p class="distribution"><span class="tag employee-segment-background-color-{{selfAssessment.talent_category}}">{{selfAssessment.talent_category_label}}</span>{{selfAssessment.talent_category_description}}</p>
                                </div>
                                <div ng-if="selfAssessment.engagement" class="distributions">
                                        <p class="distribution employee-happiness-container" style="margin-left: 25px;">
                                            <span class="employee-happiness employee-happiness-{{selfAssessment.engagement}} selected" style="margin-right: 32px;"><span class="happiness-{{selfAssessment.engagement}}"></span></span>{{selfAssessment.engagement_description}}
                                        </p>
                                </div>
                            </div>
                        </div>
                    </div>
              </div>
              <div style="display: block; width:100%;-webkit-border-radius: 2px;moz-border-radius: 3px;-ms-border-radius: 3px;-o-border-radius: 3px;border-radius: 3px;border: 1px solid #c1c1c1;margin-top: 10px; margin-right:15px;background-color:white;">
                 <textarea class="text" ng-model="pvp.comment.content" rows="1" cols="50" placeholder="Add some context. Where are they awesome? How can they take it to the next level?" style="width:99.5%;height: 127px;font-size:14px;padding:5px;border: none;resize:vertical;"></textarea>
              </div>

	</div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click='save()' tabindex="10">Save</button>
        <button class="btn btn-default" ng-click='cancel()' tabindex="11">Cancel</button>
    </div>

</div>
<style>
    .distributions { margin-top: 0px }
    .vertical-text {
        display: block;
        float: left;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    table {
        border-collapse: collapse;
    }
    table, th, td {
        border: 1px solid #999999;
    }
    .box {
        width: 50px;
        height: 50px;
        background-color: #343434;
    }
</style>