<div class="modal-body daily-digest-modal">
    <button ng-click="cancel()" class="close">&times;</button>
	<h3 class="modal-title">
        <span>Your Support Team</span>
    </h3>
    <span ng-show="employee_view">
        <p>These are the people that this will be shared with.  They are comprised of your Leadership Team<span ng-if="customer.show_coaches">,</span><span ng-if="!customer.show_coaches"> and</span> the People Team <span ng-if="customer.show_coaches">and your Coach</span>.</p>
    </span>

    <span ng-show="!employee_view">
        <p>These are the people that this will be shared with.  They are comprised of {{employee.first_name}}'s Leadership Team<span ng-if="customer.show_coaches">,</span><span ng-if="!customer.show_coaches"> and</span> the People Team <span ng-if="customer.show_coaches">and their Coach</span>.</p>
    </span>
    <div class="recipients">
        <div ng-repeat="employee in members" class="recipient">
            <div class="headshot xlarge-headshot">
                <img ng-src="{{ employee.avatar_small }}" alt="{{ employee.full_name }}'s avatar" />
            </div>
            <span class="recipients-name">
                {{employee.full_name}}
            </span>
        </div>
    </div>    
</div>
<div class="modal-footer">
    <button type="button" ng-click="cancel()" class="btn btn-light">Got it, thanks!</button>
</div>