.landing-form {
    /*margin: 5% auto;
    padding: 5px 45px 35px;
    background: #fff;
    border-radius: 5px;*/
    /*margin: 5px 45px 35px;*/

    @media only screen and (max-width : 420px) {
        width: 100%;
        padding: 25px 45px;
    }

    h1 {
        text-align: center;
        line-height: 28px;
        color: white;
        font-weight: bold;
    }

    h2 {
        text-align: center;
        line-height: 20px;
        color: white;
        font-weight: bold;
    }

    .arrow_box {
        position: relative;
        background: #88b7d5;
        width: 200px;
        padding: 25px;
        color: white;
        font-size: 18px;
    }

    .arrow_box:after {
        left: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 100;
        position: absolute;
        pointer-events: none;
        border-color: rgba(136, 183, 213, 0);
        border-left-color: #88b7d5;
        border-width: 34px;
        margin-top: -34px;
    }

    .header {
        background: green;
        padding: 55px 45px 35px;
    }

    input {
        margin-bottom: 20px;
        color: #777;
        font-size: 20px;
    }

    .btn {
        font-size: 20px;
    }
}

