<div class="container leadership-style" data-hj-masked>

    <div class="account-menu">
        <!-- Single button -->
        <div class="btn-group dashboard pull-right" dropdown is-open="status.isopen">
          <a href="" dropdown-toggle ng-disabled="disabled">
            {{ $root.currentUser.employee.full_name }}
          </a>
          <ul class="dropdown-menu centered" dropdown-menu role="menu" aria-labelledby="single-button">
            <div class="dropdown-arrow"></div>
            <li role="menuitem"><a href="/logout">Sign out</a></li>
          </ul>
        </div>
    </div>

    <!-- Leadership Style request message -->
    <div ng-class="{'slide-up-active': hideRequestMessage}" class="alert alert-success slide-up" role="alert" ng-show="successRequestMessage">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <i class="fa fa-paper-plane sent-icon"></i>
        <h2 class="alert-title">Invitation<span ng-show="successRequestMessageRecipient.length>1">s</span> Sent!</h2>
        <p class="alert-message">
            <span ng-show="successRequestMessageRecipient.length>1">Invitations have been sent to</span>
            <span ng-show="successRequestMessageRecipient.length==1">An invitation has been sent to</span>
            <span ng-repeat="invitee in successRequestMessageRecipient"><span ng-show="$last && successRequestMessageRecipient.length > 1"> and </span>{{ invitee.email }}<span ng-show="!($last) && successRequestMessageRecipient.length > 2">, </span></span>.
        </p>
    </div>

    <div ng-show="index.showTakeQuizNotification" class="panel fade-in">
        <div>
            <div class="landing-form">
                <div class="header panel-header">
                    <h1>Find Your Fool</h1>
                    <h2>
                        <span class="hide-for-mobile">Discover your personal leadership style and uncover how it fits with your team.</span>
                        <span class="mobile-show">Discover your personal leadership style.</span>
                    </h2>
                </div>
                <div ng-if="index.myLeadershipStyle.teams.length==0">
                    <div class="arrow-container">
                        <div class="arrow_box">Step One</div>
                        <div class="arrow_label">Finish Your Quiz</div>
                    </div>
                    <div style="clear: both;"></div>
                    <div class="clearfix">
                        <div class="copy-box-left">
                            Over the years we've discovered there are four types of Fool needed to grow a successful business. Using a leadership assessment developed by our friends at Predictable Success we've been able to:
                        </div>

                        <div class="copy-box-right">
                            <ul>
                                <li style="margin-bottom: 10px;">Increase personal performance by matching the right leadership style to the right role.</li>
                                <li style="margin: 10px 0;">Maximize team performance by bringing together the right mixture of leadership styles at the appropriate time.</li>
                                <li style="margin: 10px 0;">Get to the root of team dysfunction by developing a shared vocabulary to address conflict.</li>
                                <li style="margin: 10px 0;">Improve the quality of decisions at every level of the organization.</li>
                            </ul>
                            <button class="btn btn-submit btn-block" style="margin-bottom: 15px;" ng-click="index.takeQuiz(index.myLeadershipStyle)">Finish Your Quiz</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel fade-in" ng-if="index.myLeadershipStyle.scores.length > 0 && index.myLeadershipStyle.teams.length==0">
        <div class="panel-header complete">
            <div class="panel-header-avatar">
                <employee-avatar size="large" employee="index.myLeadershipStyle.employee"></employee-avatar>
            </div>
            <div class="panel-header-title sub-title">
                <h2>You</h2>
                <h3>
                    <span ng-repeat="score in index.myLeadershipStyle.scores | orderBy : 'score' : true">
                        <span ng-if="$first">{{score.style_verbose}} - {{score.score}},</span>
                        <span ng-if="!$first && !$last">{{score.style_verbose}} - {{score.score}},</span>
                        <span ng-if="$last">{{score.style_verbose}} - {{score.score}}</span>
                    </span>
                </h3>
            </div>
        </div>
        <div>
            <div class="landing-form">
                <div class="arrow-container">
                    <div class="arrow_box step_complete">Step One</div>
                    <div class="arrow_label">Read Your Results</div>
                </div>

                <div class="description-container">
                    <div ng-bind-html="index.myLeadershipStyle.description.description"></div>
                </div>
                <div ng-if="index.myLeadershipStyle.teams.length==0">
                    <div class="arrow-container">
                        <div class="arrow_box step_complete">Step Two</div>
                        <div class="arrow_label">Get Your Team Report</div>
                    </div>
                    <div style="clear: both;"></div>
                    <div class="clearfix">
                        <div style="padding-top: 20px">
                            <div class="copy-box-left">
                                Now that you know your leadership style the next step is to discover your team mate's style. Sign up today to get a detailed bespoke report that will show you:
                            </div>

                            <div class="copy-box-right">
                                <ul>
                                    <li style="margin-bottom: 10px;">Your team's ability to make and execute high quality decisions.</li>
                                    <li style="margin: 10px 0;">Which team mates have a natural tendency to butt heads.</li>
                                    <li style="margin: 10px 0;">What style you need to increase in your team to improve performance.</li>
                                    <li style="margin: 10px 0;">The overall culture of your team.</li>
                                    <li style="margin: 10px 0;">How aligned your team is to the Motley Fool team.</li>
                                </ul>
                                <div class="centered" style="margin: 15px 0;"><span style="color: #7f8c8d; font-size: 16px; font-weight: 700;">INVESTMENT | $199 (Up to 10 team members)</span></div>
                                <form action="/account/payment" method="POST" id="paymentForm">
                                <input type="hidden" name="csrfmiddlewaretoken" ng-value="index.myLeadershipStyle.csrf_token" >

                                <button class="btn btn-submit btn-block" id="stripePay" style="margin-bottom: 15px;" type="submit">Sign up for a Team Analysis</button>
                                <input type="hidden" id="stripeToken" name="stripeToken" value="" />
                                <input type="hidden" id="stripeEmail" name="stripeEmail" value="" />
                                </form>

                                <stripe-payments key="index.myLeadershipStyle.stripe_key"></stripe-payments>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="pt-main" class="pt-perspective" ng-repeat="team in index.myLeadershipStyle.teams | orderBy:'customer_id'" ng-if="$first">
        <div class="pt-page" animate-page-transition="index.page" page="0" scrolltop="true" in-class="pt-page-moveFromLeftFade" out-class="pt-page-moveToLeftFade">
            <div class="panel fade-in clearfix" ng-if="!team.requested_report">
                <div class="panel-header complete">
                    <h3 class="modal-title sub-title">Your Team</h3>
                </div>
                <div class="team-summary">
                    <div class="team-summary-chart">
                        <h2 class="chart-title centered">Team Averages</h2>
                        <canvas id="pie" class="chart chart-doughnut pull-right" chart-data="team.chartData" chart-labels="team.chartLabels" chart-options="team.chartOptions" chart-colors="team.chartColors" chart-click="team.chartClick"></canvas>
                    </div>
                    <div class="team-summary-description" style="position: relative;">
                        <div class="pt-perspective fade-in">
                            <div class="pt-page" animate-page-transition="index.tease.id" page="tease.id" scrolltop="false" ng-repeat="tease in index.teases" ng-bind-html="tease.tease" in-class="pt-page-scaleUpCenter pt-page-delay400" out-class="pt-page-scaleDownCenter"></div>
                            <div ng-if="index.tease" style="opacity: 0" ng-bind-html="index.tease.tease"></div>
                            <div ng-if="!index.tease">
                                <div ng-if="!team.requested_report" style="padding-left: 20px;padding-right: 20px">
                                    <h2 class="leadership-style-title">Get YOUR Team Report</h2>
                                    <p class="leadership-style-description">Your invitations have been sent. You can see their progress below.  When the members of your team have completed the quiz, or you are ready to send your team’s data along for your one-time, customized report, click the button below.</p>
                                    <button ng-disabled="!team.can_request_report" ng-click="index.requestTeamReport(team.id, $index)" class="btn btn-success" style="margin-top: 10px;width:100%" type="submit">Get YOUR Team Report</button>
                                    <p class="centered" style="color: #aaa;" ng-if="!team.can_request_report">Before we can generate YOUR Team Report at least 6 of your Team Members need to complete their Leadership Style quiz.</p>
                                </div>
                                <div ng-if="team.requested_report && !team.received_report">
                                    <h3 class="modal-title">Your Team Report</h3>
                                    <p>We are working on your team report. Please allow 3-5 business days.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="panel-footer">
                    <span class="glyphicon-regular glyphicons-sorting" style="vertical-align: middle; color: #aaa; margin-right: 10px"></span>
                    <button class="btn btn-sort btn-visionary" ng-click="index.sortTeamMembers(team, index.orderByVisionary)" ng-class="{'btn-active': index.currentOrder==0}">
                        <span class="mobile-show">V</span>
                        <span class="hide-for-mobile">Visionary</span>
                    </button>
                    <button class="btn btn-sort btn-operator" ng-click="index.sortTeamMembers(team, index.orderByOperator)" ng-class="{'btn-active': index.currentOrder==1}">
                        <span class="mobile-show">O</span>
                        <span class="hide-for-mobile">Operator</span>
                    </button>
                    <button class="btn btn-sort btn-processor" ng-click="index.sortTeamMembers(team, index.orderByProcessor)" ng-class="{'btn-active': index.currentOrder==2}">
                        <span class="mobile-show">P</span>
                        <span class="hide-for-mobile">Processor</span>
                    </button>
                    <button class="btn btn-sort btn-synergist" ng-click="index.sortTeamMembers(team, index.orderBySynergist)" ng-class="{'btn-active': index.currentOrder==3}">
                        <span class="mobile-show">S</span>
                        <span class="hide-for-mobile">Synergist</span>
                    </button>
                </div>

            </div>
            <div class="invite-360" style="height: 25px;">
                <h4 ng-if="!team.is_team_full" class="header"><a href="" class="pull-right" ng-click="index.invite(team.id, team.remaining_invites, team.team_members.length)">+ Invite more team members</a></h4>
            </div>
            <div style="position: relative;">
                <div style="position: absolute;width: 100%;">
                    <ul class="isotope table-like">
                        <li ng-repeat="team_member in team.team_members  | orderBy:'full_name'" ng-click="index.gotoPage(team_member.id)" ng-style="{top: (((team_member.index) * 155) + 'px')}" ng-class="{'incomplete': !team_member.leadership_style || !team_member.leadership_style.completed}" >
                            <div class="clearfix panel-header" style="width: 100%; background-color: transparent">
                                <div class="panel-header-avatar">
                                    <employee-avatar size="large" employee="team_member"></employee-avatar>
                                </div>
                                <div class="panel-header-title" style="margin-top: -5px">
                                    <div class="pull-right hide-for-mobile">
                                        <span ng-repeat="score in team_member.leadership_style.scores | orderBy : 'score' : true">
                                            <p style="margin-bottom: 5px;">
                                                <span class="sub-title" style="font-size: 18px" ng-class="{'highligh-sort':score.style==index.currentOrder, 'dim-sort':(index.currentOrder!=null && score.style!=index.currentOrder)}">{{score.style_verbose}} - {{score.score}}</span>
                                            </p>
                                        </span>
                                    </div>
                                    <div>
                                        <h3 class="modal-title" style="color: #fff;margin-bottom: 8px;">
                                            {{ team_member.full_name }}
                                        </h3>
                                    </div>
                                    <div ng-if="!team_member.leadership_style || !team_member.leadership_style.completed">
                                        <h3 class="modal-title sub-title" style="margin-bottom: 0;" ng-if="!team_member.leadership_style">
                                            0% Completed
                                        </h3>
                                        <h3 class="modal-title sub-title" style="margin-bottom: 0;" ng-if="team_member.leadership_style">
                                            {{ team_member.leadership_style.percentage_complete }}% Completed
                                        </h3>
                                    </div>
                                    <div style="display: block" ng-if="team_member.leadership_style && team_member.leadership_style.completed">
                                        <h3 class="modal-title sub-title" style="margin-bottom: 0;">
                                            {{ team_member.leadership_style.description.name }}
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pt-page" animate-page-transition="index.page" scrolltop="true" page="team_member.id" in-class="pt-page-moveFromRightFade" out-class="pt-page-moveToRightFade" ng-repeat="team_member in team.team_members">
            <div ng-include="'/static/angular/leadership-style/partials/leadership-style.html'"></div>
        </div>
    </div>
</div>

<style>

    .vertical-align-text {
    display: table-cell;
    vertical-align: middle;
    height:50px;
    color: #333333;
}
.employee-happiness-container {margin: 0}
.vertical-align-container {
    display: table;
}
    /* ---- isotope ---- */

.isotope {
  background: #DDD;
  max-width: 1200px;
}

/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- vertical table-like ---- */

.table-like {
  list-style: none;
  margin: 0;
  padding: 0;
}

.table-like > li {
    width: 100%;
    position: absolute;
    clear: both;
    background-color: #75b9e7;
    padding: 20px;
    box-shadow: 3px 3px 2px #888888;
    color: #DDD;
    /* Top: 0; this will be changed for every single list item by AngularJS */
    top:0;
    /* Item height; hold this in sync with template file */
    height: 128px;
    /*  Simple transition */
    -webkit-transition: top .7s ease-in-out;
    -moz-transition: top .7s ease-in-out;
    transition: top .7s ease-in-out;
    cursor: pointer;
}

.table-like > li:hover {
    background-color: #3498db;
}

.table-like > li.incomplete:hover {
    background-color: #aaa;
}

.table-like > li.header {
    border-top: 0px;
}

/* clearfix */
.table-like > li:after {
  display: block;
  content: '';
  clear: both;
}

.table-like > li > * {
  float: left;
  padding: 5px 4px;
  font-size: 18px;
}
.pt-perspective {
	position: relative;
	width: 100%;
	height: 100%;
	perspective: 1200px;
	transform-style: preserve-3d;
}

.pt-page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
}

.pt-page-current,
.no-js .pt-page {
	visibility: visible;
}

.no-js body {
	overflow: auto;
}

.pt-page-ontop {
	z-index: 999;
}

.btn-employee {
    font-size: 25px;
    color: #aaa;
    border: 5px solid #aaa;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
}
.btn-employee span.fa {
    font-size: 35px;
    vertical-align: middle !important;
}
.btn-employee span.btn-label {
    display: inline-block;
    vertical-align: middle;
}
.btn-employee:hover {
    color: #aaa;
    opacity: .5;
}
.btn-employee:focus {
    color: #aaa;
}

.btn-sort {
    color: #fff;
    border: None;
}
.btn-sort:hover {
    color: #fff;
    opacity: .5;
}
.btn-sort:focus {
    color: #fff;
}
.btn-visionary {
    background-color: #d65335;
}
.btn-visionary:hover {
    background-color: #d65335;
}
.btn-operator {
    background-color: #51a9b7;
}
.btn-operator:hover {
    background-color: #51a9b7;
}
.btn-processor {
    background-color: #f7ca18;
}
.btn-processor:hover {
    background-color: #f7ca18;
}
.btn-synergist {
    background-color: #69b63b;
}
.btn-synergist:hover {
    background-color: #69b63b;
}
.btn-active {
    outline: 8px auto rgb(97, 157, 215);
    outline-offset: -2px;
}
.glyphicons-sorting:before {
    content: "\e404";
}
.highligh-sort {
    font-weight: 500;
}
.dim-sort {
    opacity: .4;
}
.sub-title {
    -webkit-transition: opacity .7s ease-in;
    -moz-transition: opacity .7s ease-in;
    transition: opacity .7s ease-in-out;
}
</style>