<div class="container leadership-style" data-hj-masked>

    <div class="account-menu">
        <!-- Single button -->
        <div class="btn-group dashboard pull-right" dropdown is-open="status.isopen">
          <a href="" dropdown-toggle ng-disabled="disabled">
            {{ $root.currentUser.employee.full_name }}
          </a>
          <ul class="dropdown-menu centered" dropdown-menu role="menu" aria-labelledby="single-button">
            <div class="dropdown-arrow"></div>
            <li role="menuitem"><a href="/logout">Sign out</a></li>
          </ul>
        </div>
    </div>

    <!-- Leadership Style request message -->
    <div ng-class="{'slide-up-active': hideRequestMessage}" class="alert alert-success slide-up" role="alert" ng-show="successRequestMessage">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <i class="fa fa-paper-plane sent-icon"></i>
        <h2 class="alert-title">Invitation<span ng-show="successRequestMessageRecipient.length>1">s</span> Sent!</h2>
        <p class="alert-message">
            <span ng-show="successRequestMessageRecipient.length>1">Invitations have been sent to</span>
            <span ng-show="successRequestMessageRecipient.length==1">An invitation has been sent to</span>
            <span ng-repeat="invitee in successRequestMessageRecipient"><span ng-show="$last && successRequestMessageRecipient.length > 1"> and </span>{{ invitee.email }}<span ng-show="!($last) && successRequestMessageRecipient.length > 2">, </span></span>.
        </p>
    </div>

    <div ng-show="index.showTakeQuizNotification" ng-class="{'slide-up-active': hideMessage}" class="alert alert-success slide-up" role="alert">
        <a class="btn btn-success btn-feedback pull-right" ng-click="index.takeQuiz(index.myLeadershipStyle)" type="button">
            <i class="fa fa-comment"></i>
            <span ng-if="index.myLeadershipStyle.answers.length>0" class="hide-for-mobile">Finish the </span>
            Quiz
        </a>
        <h2 class="alert-title">Take the Quiz!</h2>
        <div class="alert-message" style="padding-left:0; padding-top: 10px">
            <div>
                <div class="comment-text">
                    You have a natural leadership style. With your own strengths and weaknesses. Discover who you are and how to unlock your best self.
                </div>
            </div>
        </div>
    </div>

    <div class="panel fade-in" ng-if="index.myLeadershipStyle.scores.length > 0 && index.myLeadershipStyle.teams.length==0">
        <div class="panel-header complete">
            <div class="avatar-container col-xs-1" style="margin-right: 25px">
                <employee-avatar size="large" employee="index.myLeadershipStyle.employee"></employee-avatar>
            </div>
            <h3 class="modal-title sub-title">You</h3>
            <h3 class="modal-title">
                <span ng-repeat="score in index.myLeadershipStyle.scores | orderBy : 'score' : true">
                    <span class="sub-title" ng-if="$first">{{score.style_verbose}} - {{score.score}},</span>
                    <span class="sub-title" ng-if="!$first && !$last">{{score.style_verbose}} - {{score.score}},</span>
                    <span class="sub-title" ng-if="$last">{{score.style_verbose}} - {{score.score}}</span>
                </span>
            </h3>
        </div>
        <div>
            <div class="landing-form" style="padding-top: 26px; margin-left: -26px;">
                <div class="arrow_box step_complete" style="float: left; text-transform: uppercase; font-size: 22px; font-weight: bold;">Step One</div>
                <div style="margin-left: 300px; margin-top: 24px; font-size: 22px; text-transform: uppercase; font-weight: bold;">Read Your Results</div>
            </div>
            <div style="padding-top: 60px;">
                <div ng-bind-html="index.myLeadershipStyle.description.description"></div>
            </div>
            <div class="landing-form">
                <div ng-if="index.myLeadershipStyle.teams.length==0">
                    <div style="padding-top: 5px; margin-left: -26px;">
                        <div class="arrow_box step_complete" style="float: left; text-transform: uppercase; font-size: 22px; font-weight: bold;">Step Two</div>
                        <div style="margin-left: 300px; margin-top: 24px; font-size: 22px; text-transform: uppercase; font-weight: bold;">Get Your Team Report</div>
                    </div>
                    <div style="clear: both;"></div>
                    <div class="clearfix">
                        <div style="width: 50%; float: left; font-size: 22px; font-weight: 500; color: #aaa; padding: 50px 20px 20px 40px; line-height: 28px;">
                            Now that you know your leadership style the next step is to discover your team mate's style. Sign up today to get a detailed bespoke report that will show you:
                        </div>

                        <div style="width: 50%; float: right; padding: 50px 20px 20px 20px">
                            <ul style="list-style-type: disc; border-bottom: solid 1px #aaa;padding-bottom: 15px;font-size: 15px; font-weight:500; color:#7f8c8d;">
                                <li style="margin-bottom: 10px;">Your team's ability to make and execute high quality decisions.</li>
                                <li style="margin: 10px 0;">Which team mates have a natural tendency to butt heads.</li>
                                <li style="margin: 10px 0;">What style you need to increase in your team to improve performance.</li>
                                <li style="margin: 10px 0;">The overall culture of your team.</li>
                                <li style="margin: 10px 0;">How aligned your team is to the Motley Fool team.</li>
                            </ul>
                            <div class="centered" style="margin: 15px 0;"><span style="color: #7f8c8d; font-size: 16px; font-weight: 700;">INVESTMENT | $199 (Up to 10 team members)</span></div>
                            <form action="/account/payment" method="POST" id="paymentForm">
                            <input type="hidden" name="csrfmiddlewaretoken" ng-value="index.myLeadershipStyle.csrf_token">

                            <button class="btn btn-success btn-block" id="stripePay" style="margin-bottom: 15px;" type="submit">Sign up for a Team Analysis</button>
                            <input type="hidden" id="stripeToken" name="stripeToken" value="" />
                            <input type="hidden" id="stripeEmail" name="stripeEmail" value="" />
                            </form>

                            <script>
                                $(function () {
                                    var handler = StripeCheckout.configure({
                                        key: '{{index.myLeadershipStyle.stripe_key}}',
                                        locale: 'auto',
                                        token: function(token) {
                                            var $stripeToken = $('#stripeToken');
                                            var $stripeEmail = $('#stripeEmail');

                                            $stripeToken.val(token.id);
                                            $stripeEmail.val(token.email);

                                            var $paymentForm = $('#paymentForm');
                                            $paymentForm.submit();
                                        }
                                    });

                                    document.getElementById('stripePay').addEventListener('click', function(e) {
                                        // Open Checkout with further options:
                                        handler.open({
                                            name: 'The Motley Fool LLC',
                                            description: 'Predictable Success for $199',
                                            amount: 19900
                                        });

                                        e.preventDefault();
                                    });

                                    // Close Checkout on page navigation:
                                    window.addEventListener('popstate', function() {
                                        handler.close();
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-repeat="team in index.myLeadershipStyle.teams | orderBy:'customer_id'">
        <div ng-if="team.owner.id==index.myLeadershipStyle.employee.id">
            <div class="panel fade-in" ng-if="!team.requested_report">
                <h3 class="modal-title">Get YOUR Team Report</h3>
                <p>Your invitations have been sent. You can see their progress below.  When the members of your team have completed the quiz, or you are ready to send your team’s data along for your one-time, customized report, click the button below.</p>
                <button ng-disabled="!team.can_request_report" ng-click="index.requestTeamReport(team.id, $index)" class="btn btn-success" style="margin-top: 10px;width:100%" type="submit">Get YOUR Team Report</button>
                <p class="centered" style="color: #aaa;" ng-if="!team.can_request_report">Before we can generate YOUR Team Report at least 6 of your Team Members need to complete their Leadership Style quiz.</p>
            </div>
            <div class="panel fade-in" ng-if="team.requested_report && !team.received_report">
                <h3 class="modal-title">Your Team Report</h3>
                <p>We are working on your team report. Please allow 3-5 business days.
            </div>
            <div class="invite-360" style="height: 25px;">
                <h4 ng-if="!team.is_team_full" class="header"><a href="" class="pull-right" ng-click="index.invite(team.id, team.remaining_invites, team.team_members.length)">+ Invite more team members</a></h4>
            </div>
        </div>
        <div class="panel fade-in" ng-if="$first && index.myLeadershipStyle.scores.length" ng-init="collapse=true">
            <div class="panel-header complete" style="min-height: 55px">
                <div class="avatar-container col-xs-1" style="margin-right: 25px">
                    <employee-avatar size="large" employee="index.myLeadershipStyle.employee"></employee-avatar>
                </div>
                <h3 class="modal-title" style="color: #fff;">You
                    <i class="fa fa-chevron-down pull-right collapse-toggle" ng-show="!collapse" ng-click="collapse=!collapse"></i>
                    <i class="fa fa-chevron-right pull-right collapse-toggle" ng-show="collapse" ng-click="collapse=!collapse"></i>
                </h3>
                <h3 class="modal-title">
                    <span ng-repeat="score in index.myLeadershipStyle.scores | orderBy : 'score' : true">
                        <span class="sub-title" ng-if="$first">{{score.style_verbose}} - {{score.score}},</span>
                        <span class="sub-title" ng-if="!$first && !$last">{{score.style_verbose}} - {{score.score}},</span>
                        <span class="sub-title" ng-if="$last">{{score.style_verbose}} - {{score.score}}</span>
                    </span>
                </h3>
            </div>
            <div collapse="collapse" style="padding-top: 60px;">
                <div ng-bind-html="index.myLeadershipStyle.description.description"></div>
            </div>
        </div>

        <div class="panel fade-in" ng-repeat="team_member in team.team_members  | orderBy:'full_name'" ng-if="team_member.leadership_style.id != index.myLeadershipStyle.id" ng-init="team_member.collapse=true">
            <div class="panel-header" ng-class="{'complete': team_member.leadership_style.completed, 'incomplete': !team_member.leadership_style.completed}" style="min-height: 55px">
                <div class="avatar-container col-xs-1" style="margin-right: 25px">
                    <employee-avatar size="large" employee="team_member"></employee-avatar>
                </div>
                <h3 class="modal-title" style="color: #fff;">
                    {{ team_member.full_name }}
                    <span ng-if="team_member.leadership_style && team_member.leadership_style.completed">
                        <i class="fa fa-chevron-down pull-right collapse-toggle" ng-show="!team_member.collapse" ng-click="team_member.collapse=!team_member.collapse"></i>
                        <i class="fa fa-chevron-right pull-right collapse-toggle" ng-show="team_member.collapse" ng-click="team_member.collapse=!team_member.collapse"></i>
                    </span>
                </h3>
                <div ng-if="!team_member.leadership_style || !team_member.leadership_style.completed">
                    <h3 class="modal-title sub-title" ng-if="!team_member.leadership_style">
                        0% Completed
                    </h3>
                    <h3 class="modal-title sub-title" ng-if="team_member.leadership_style">
                        {{ team_member.leadership_style.percentage_complete }}% Completed
                    </h3>
                </div>
                <div ng-if="team_member.leadership_style && team_member.leadership_style.completed">
                    <h3 class="modal-title">
                        <span ng-repeat="score in team_member.leadership_style.scores | orderBy : 'score' : true">
                            <span class="sub-title" ng-if="$first">{{score.style_verbose}} - {{score.score}},</span>
                            <span class="sub-title" ng-if="!$first && !$last">{{score.style_verbose}} - {{score.score}},</span>
                            <span class="sub-title" ng-if="$last">{{score.style_verbose}} - {{score.score}}</span>
                        </span>
                    </h3>
                </div>
            </div>
            <div collapse="team_member.collapse" ng-if="team_member.leadership_style && team_member.leadership_style.completed" style="padding-top: 60px;">
                <div ng-bind-html="team_member.leadership_style.description.description"></div>
            </div>
        </div>
    </div>
</div>