<div class="container leadership-style" data-hj-masked>
    <!-- Leadership Style request message -->
    <div ng-class="{'slide-up-active': hideRequestMessage}" class="alert alert-success slide-up" role="alert" ng-show="successRequestMessage">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <i class="fa fa-paper-plane sent-icon"></i>
        <h2 class="alert-title">Invitation<span ng-show="successRequestMessageRecipient.length>1">s</span> Sent!</h2>
        <p class="alert-message">
            Invitations have been sent to
            <span ng-repeat="employee in successRequestMessageRecipient">{{ employee.full_name }}{{$last ? '' : ($index==successRequestMessageRecipient.length-2) ? ' and ' : ', '}}</span>.
        </p>
    </div>

    <div ng-show="index.showTakeQuizNotification" ng-class="{'slide-up-active': hideMessage}" class="alert alert-success slide-up" role="alert">
        <a class="btn btn-success btn-feedback pull-right" ng-click="index.takeQuiz(index.myLeadershipStyle)" type="button">
            <i class="fa fa-comment"></i>
            <span ng-if="index.myLeadershipStyle.answers.length>0" class="hide-for-mobile">Finish the </span>
            Quiz
        </a>
        <h2 class="alert-title">Take the Quiz!</h2>
        <div class="alert-message" style="padding-left:0; padding-top: 10px">
            <div>
                <div class="comment-text">
                    You have a natural leadership style. With your own strengths and weaknesses. Discover who you are and how to unlock your best self.
                </div>
            </div>
        </div>
    </div>

    <div class="panel fade-in" ng-if="index.myLeadershipStyle.scores.length > 0 && index.teamsIOwn==0" >
        <h3 class="modal-title panel-title">Your Results</h3>

        <div ng-bind-html="index.myLeadershipStyle.tease.description"></div>
        <div class="leadership-style-scores">
            <div class="well">
                <h3 class="leadership-style-title">Here's how you scored</h3>
                <p ng-repeat="score in index.myLeadershipStyle.scores | orderBy:'-score'"><strong>{{ score.style_verbose }}</strong> - {{ score.score }} out of 960</p>
            </div>
            <div ng-if="index.teamsIOwn.length==0">
                <p class="leadership-style-description">[INSERT COPY HERE]</p>
                <a href="/account/payment" class="btn btn-success btn-block call-to-action" style="margin-bottom: 15px;" type="submit">Invite up to 8 Team members for just $$$</a>
            </div>
        </div>

    </div>
    <div ng-repeat="team in index.teamsIOwn | orderBy:'customer_id'">
        <h2 ng-if="team.name" style="color: #aaa;">{{ team.name }}
            <button ng-click="index.invite(team.id)" class="btn btn-success pull-right" style="margin-top: -10px;" type="submit">Invite More Team Members</button>
        </h2>
        <h2 ng-if="!team.name" style="color: #aaa;margin-bottom:25px">Give Your Team a Name
            <span class="fa fa-pencil"></span>
            <button ng-click="index.invite(team.id)" class="btn btn-success pull-right" style="margin-top: -10px;" type="submit">Invite More Team Members</button>
        </h2>

        <div class="panel fade-in" ng-if="$first && index.myLeadershipStyle.scores.length" >
            <div style="min-height: 55px;">
                <div class="avatar-container col-xs-1" style="margin-right: 25px">
                    <employee-avatar size="large" employee="index.myLeadershipStyle.employee"></employee-avatar>
                </div>
                <h3 class="modal-title">You
                    <i class="fa fa-chevron-down pull-right collapse-toggle" ng-show="!collapse" ng-click="collapse=!collapse"></i>
                    <i class="fa fa-chevron-right pull-right collapse-toggle" ng-show="collapse" ng-click="collapse=!collapse"></i>
                </h3>
                <h3 class="modal-title sub-title {{index.myLeadershipStyle.tease.style_verbose}}">
                {{ index.myLeadershipStyle.tease.style_verbose }}
                </h3>
            </div>
            <div collapse="collapse" style="padding-top: 8px;">
                <div ng-bind-html="index.myLeadershipStyle.tease.description"></div>
                <div class="leadership-style-scores">
                    <div class="well">
                        <h3 class="leadership-style-title">Scores</h3>
                        <p ng-repeat="score in index.myLeadershipStyle.scores | orderBy:'-score'"><strong>{{ score.style_verbose }}</strong> - {{ score.score }} out of 960</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel fade-in" ng-repeat="team_member in team.team_members  | orderBy:'full_name'" ng-if="team_member.leadership_style.id != index.myLeadershipStyle.id" ng-init="team_member.collapse=true">
            <div style="min-height: 55px;">
                <div class="avatar-container col-xs-1" style="margin-right: 25px">
                    <employee-avatar size="large" employee="team_member"></employee-avatar>
                </div>
                <h3 class="modal-title">
                    {{ team_member.full_name }}
                    <span ng-if="team_member.leadership_style && team_member.leadership_style.completed">
                        <i class="fa fa-chevron-down pull-right collapse-toggle" ng-show="!team_member.collapse" ng-click="team_member.collapse=!team_member.collapse"></i>
                        <i class="fa fa-chevron-right pull-right collapse-toggle" ng-show="team_member.collapse" ng-click="team_member.collapse=!team_member.collapse"></i>
                    </span>
                </h3>
                <div ng-if="!team_member.leadership_style || !team_member.leadership_style.completed">
                    <h3 class="modal-title sub-title" ng-if="!team_member.leadership_style">
                        0% Completed
                    </h3>
                    <h3 class="modal-title sub-title" ng-if="team_member.leadership_style">
                        {{ team_member.leadership_style.percentage_complete }}% Completed
                    </h3>
                </div>
                <div ng-if="team_member.leadership_style && team_member.leadership_style.completed">
                    <h3 class="modal-title sub-title {{team_member.leadership_style.tease.style_verbose}}">
                    {{ team_member.leadership_style.tease.style_verbose }}
                    </h3>
                </div>
            </div>
            <div collapse="team_member.collapse" ng-if="team_member.leadership_style && team_member.leadership_style.completed" style="padding-top: 8px;">
                <div ng-bind-html="team_member.leadership_style.tease.description"></div>
                <div class="leadership-style-scores">
                    <div class="well">
                        <h3 class="leadership-style-title">Scores</h3>
                        <p ng-repeat="score in team_member.leadership_style.scores | orderBy:'-score'"><strong>{{ score.style_verbose }}</strong> - {{ score.score }} out of 960</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>