<div class="panel clearfix" ng-swipe-right="index.gotoPage(0)">
    <div ng-if="!team_member.leadership_style.completed">
        <div class="panel-header incomplete" >
            <div class="panel-header-avatar">
                <employee-avatar size="large" employee="team_member"></employee-avatar>
            </div>
            <div class="panel-header-title sub-title">
                <h2>{{ team_member.full_name }}</h2>
            </div>
        </div>
        <div class="description-container centered">
            <p class="leadership-style-title" style="color: #aaa !important;margin-left: 20px;margin-right: 20px;" ng-if="!team_member.leadership_style">
                {{ team_member.full_name }} hasn't started their quiz yet.
            </p>
            <p class="leadership-style-description" ng-if="team_member.leadership_style.percentage_complete>0">
                {{ team_member.full_name }} has completed {{ team_member.leadership_style.percentage_complete }}% of their quiz.
            </p>
            <div ng-if="$root.currentUser.employee.id==team.owner.id" style="width:320px; margin-left: auto;margin-right: auto;">
                <button ng-click="index.remind(team_member)" class="btn btn-employee" style="display: block;"><span class="fa fa-exclamation-circle"></span> <span class="btn-label">Send a reminder</span></button>
                <button ng-click="index.discard(team_member, team.id)" class="btn btn-employee" style="display: block;"><span class="fa fa-trash"></span> <span class="btn-label">Discard this invite</span></button>
            </div>
        </div>
        <div style="margin-bottom: 30px;margin-top: 50px;">
            <button class="btn btn-submit" style="font-size: 18px;margin-left: auto;margin-right: auto;display: block;" ng-click="index.gotoPage(0)">Back to Team Results</button>
        </div>
    </div>
    <div ng-if="team_member.leadership_style.completed">
        <div class="panel-header complete" >
            <div class="panel-header-avatar">
                <employee-avatar size="large" employee="team_member"></employee-avatar>
            </div>
            <div class="panel-header-title sub-title">
                <h2>{{ team_member.full_name }}</h2>
                <h3>
                    <span ng-repeat="score in team_member.leadership_style.scores | orderBy : 'score' : true">
                        <span class="sub-title" ng-if="$first">{{score.style_verbose}} - {{score.score}},</span>
                        <span class="sub-title" ng-if="!$first && !$last">{{score.style_verbose}} - {{score.score}},</span>
                        <span class="sub-title" ng-if="$last">{{score.style_verbose}} - {{score.score}}</span>
                    </span>
                </h3>
            </div>
        </div>
        <div class="description-container">
            <div ng-bind-html="team_member.leadership_style.description.description"></div>
        </div>
        <div style="margin-bottom: 30px">
            <button class="btn btn-submit" style="font-size: 18px;margin-left: auto;margin-right: auto;display: block;" ng-click="index.gotoPage(0)">See Your Team Results</button>
        </div>
    </div>
</div>
