{% extends "layouts/blank.html" %}
{% load humanize %}
{% load staticfiles %}

{% block title %}Team Insight Survey{% endblock title %}

{% block content %}
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<style type="text/css">

body {
	background: #f1f1f1;
}
.container-fluid {
  padding-left: 45px;
  padding-right: 0;
}
.container-fluid  .row {
	margin-left: 0;
	margin-right: 0;
}
.container-fluid .container-inner {
	max-width: 1100px;
	margin: 0 auto;
}

.insights {
	background-color: #fff;
}

.get-started {
	padding: 25px;
}
.insights-logo {
  width: 150px;
  margin-top: 25px;
}
.signup-link {
	margin: 20px 0 0;
}

.screenshot img {
	width:100%; 
	padding-left: 30px;
	margin-top:40px;
	vertical-align: bottom;	
}

h1 {
  font-size: 55px;
  line-height: 60px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-top: 85px;
}
}
.modal-title {
  font-size: 26px;
  margin-bottom: 15px;
  font-weight: bold;
}
.subhead {
font-size: 17px;
  max-width: 700px;
  margin: 0 auto;
  color: #666;
  margin-bottom: 45px;
  line-height: 22px;
}

.btn, .btn:active, .btn:focus {
  font-size: 18px;
  border-radius: 5px;
  padding: 12px 30px;
  background-color: #2ab58c;
  border: none;
  margin-top: 5px;
}
.btn:hover {
  	background-color: #2ab58c;
  	opacity: .8;
  	bo
}

.text-align-right {
	text-align: right;
	margin: 0;
  	padding: 0;
}


form label {
	display: none;
}


.email-form {
	width: 250px;
}

</style>
<div class="container-fluid insights">
	<div class="container-inner">
		<a class="pull-right signup-link" href="mailto:scoutmap@fool.com">Comments or questions?</a>
		<div class="row">
			<div class="col-lg-4 get-started">
				<img src="{% static 'images/logo-dark.png' %}" alt="Insights logo" class="insights-logo" />
				<h1>Elevate your team.</h1>
				<p class="subhead">
					Send your team a quick two question survey, and we'll deliver your Insight Dashboard. It's time to take your team to the next level with Scoutmap.
				</p>
				<form method="POST" class="email-form">
		  			{% csrf_token %}
		  			{{ form.as_p }}	
		  			<button type="submit" class="btn btn-primary btn-block">Get started <i class="fa fa-arrow-right"></i></button>
				</form>	
			</div>
			<div class="col-lg-8 text-align-right screenshot">	
				<img src="{% static 'images/insights/screenshot.jpg' %}" alt="Screenshot" />
			</div>		
		</div>	
	</div>	
</div>   
{% endblock %}