<div id="feedback" class="container checkin">
    <div>
        <h1>Competency Framework
            <div class="button-group">
                <button class="btn btn-success btn-feedback" ng-click="qualitiesReport.requestPerception(0)" type="button"><i class="fa fa-comment"></i> Ask</button>
                <button class="btn btn-success btn-feedback" ng-click="qualitiesReport.giveUnsolicited()" type="button"><i class="fa fa-pencil"></i> Give</button>
            </div>
        </h1>
    </div>

    <!-- Perception request message -->
    <div ng-class="{'slide-up-active': hideRequestMessage}" class="alert alert-success slide-up" role="alert" ng-show="successRequestMessage">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <i class="fa fa-paper-plane sent-icon"></i>
        <h2 class="alert-title">Request<span ng-show="successRequestMessageRecipient.length>1">s</span> Sent!</h2>
        <p class="alert-message">
            Your request has been sent to
            <span ng-repeat="employee in successRequestMessageRecipient">{{ employee.full_name }}{{$last ? '' : ($index==successRequestMessageRecipient.length-2) ? ' and ' : ', '}}</span>.
        </p>
    </div>

    <div class="alert alert-success slide-up" role="alert" ng-repeat="prompt in qualitiesReport.unsolicited_prompts">
        <a class="btn btn-success btn-feedback pull-right" ng-href="#/qualities/perception/submission/{{prompt.id}}/self" type="button">
            Start
        </a>
        <i class="glyphicon-regular glyphicon-dumbell sent-icon alert-success"></i>
        <h2 class="alert-title">You've Been Recognized!</h2>
        <p class="alert-message">
            Your peers have recognized you for {{ prompt.name }}. You're just one step away from uncovering your awesome sauce. Before we show you the goods we first need you to complete this quick self assessment.
        </p>
    </div>

    <div class="alert alert-info slide-up" role="alert" ng-repeat="prompt in qualitiesReport.solicited_prompts">
        <a class="btn btn-info btn-feedback pull-right" ng-href="#/qualities/perception/submission/{{prompt.id}}/self" type="button">
            Start
        </a>
        <i class="fa fa-exclamation-circle sent-icon alert-info"></i>
        <h2 class="alert-title">While you are waiting...</h2>
        <p class="alert-message">
            While you are waiting to hear back from your peeps give us the deets on how you see yourself regarding {{ prompt.name }}. Having this information will help us help you better identify your current and future Super Powers.
        </p>
    </div>

    <div class="panel panel-empty fade-in" ng-show="qualitiesReport.showEmptyScreen">
        <img class="grumpycat" src="../static/images/grumpycat.png" alt="Grumpy Cat" />
        <h2>"Mmmmeeh... i see you don't have any activity yet. Use the buttons above to get started."
        </h2>
    </div>

    <div class="qualities panel" ng-show="!qualitiesReport.showEmptyScreen">
        <h2 class="panel-title ng-binding">Super Powers</h2>

        <div style="margin-top: 30px;">
            <div class="wrapper">
                <div ng-repeat="quality in qualitiesReport.qualities | filter:{type:'shared'} | orderBy:['-count', 'name']" class="quality well well-sm" ng-init="collapse=true" ng-class="{'is-expanded': !collapse, 'quality-shared': quality.type=='shared', 'quality-blind': quality.type=='blind', 'quality-hidden': quality.type=='hidden'}" ng-click="collapse=!collapse;qualitiesReport.resizeLayout($event, collapse)">
                    <div class="quality-label quality-content" style="width: 100%;">
                        <h4><strong>{{ quality.name }}</strong> <span class="badge pull-right" ng-class="{'quality-badge-shared': quality.type=='shared', 'quality-badge-blind': quality.type=='blind', 'quality-badge-hidden': quality.type=='hidden'}">{{ quality.count }}</span></h4>
                        <div collapse="collapse">
                            <div ng-bind-html="quality.description" style="margin-top:5px;"></div>
                            <div style="margin-top: 10px; min-height: 42px">
                                <img ng-attr-title="{{perception.reviewer.full_name}}" ng-repeat="perception in quality.perceptions" ng-src="{{perception.reviewer.avatar_small}}" class="tiny-headshot"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="qualities panel" ng-show="!qualitiesReport.showEmptyScreen">
        <h2 class="panel-title ng-binding">Blind Spots</h2>

        <div style="margin-top: 30px;">
            <div class="wrapper">
                <div ng-repeat="quality in qualitiesReport.qualities | filter:{type:'blind'} | orderBy:['-count', 'type', 'name']" class="quality well well-sm" ng-init="collapse=true" ng-class="{'is-expanded': !collapse, 'quality-shared': quality.type=='shared', 'quality-blind': quality.type=='blind', 'quality-hidden': quality.type=='hidden'}" ng-click="collapse=!collapse;qualitiesReport.resizeLayout($event, collapse)">
                    <div class="quality-label quality-content" style="width: 100%;">
                        <h4><strong>{{ quality.name }}</strong> <span class="badge pull-right" ng-class="{'quality-badge-shared': quality.type=='shared', 'quality-badge-blind': quality.type=='blind', 'quality-badge-hidden': quality.type=='hidden'}">{{ quality.count }}</span></h4>
                        <div collapse="collapse">
                            <div ng-bind-html="quality.description" style="margin-top:5px;"></div>
                            <div style="margin-top: 10px; min-height: 42px">
                                <img ng-attr-title="{{perception.reviewer.full_name}}" ng-repeat="perception in quality.perceptions" ng-src="{{perception.reviewer.avatar_small}}" class="tiny-headshot"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="qualities panel" ng-show="!qualitiesReport.showEmptyScreen">
        <h2 class="panel-title ng-binding">Proving Grounds</h2>

        <div style="margin-top: 30px;">
            <div class="wrapper">
                <div ng-repeat="quality in qualitiesReport.qualities | filter:{type:'hidden'} | orderBy:['-count', 'type', 'name']" class="quality well well-sm" ng-init="collapse=true" ng-class="{'is-expanded': !collapse, 'quality-shared': quality.type=='shared', 'quality-blind': quality.type=='blind', 'quality-hidden': quality.type=='hidden'}" ng-click="collapse=!collapse;qualitiesReport.resizeLayout($event, collapse)">
                    <div class="quality-label quality-content" style="width: 100%;">
                        <h4><strong>{{ quality.name }}</strong> <span class="badge pull-right" ng-class="{'quality-badge-shared': quality.type=='shared', 'quality-badge-blind': quality.type=='blind', 'quality-badge-hidden': quality.type=='hidden'}">{{ quality.count }}</span></h4>
                        <div collapse="collapse">
                            <div ng-bind-html="quality.description" style="margin-top:5px;"></div>
                            <div style="margin-top: 10px; min-height: 42px">
                                <img ng-attr-title="{{perception.reviewer.full_name}}" ng-repeat="perception in quality.perceptions" ng-src="{{perception.reviewer.avatar_small}}" class="tiny-headshot"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>