<div 
    tabindex="-1" 
    role="dialog" 
    class="modal send-request-modal fade zoom"
    data-backdrop="static"  
    data-keyboard="false">

    <div class="modal-dialog">
        <div class="modal-content">
            <a class="close" href="" ng-click="assessQualities.goTo('qualities/perception/my')" data-dismiss="modal">&times;</a>
            <form id="feedback-modal-panel-1" novalidate="novalidate" ng-show="assessQualities.panel_index==0">
                <div class="form-group">
                    <div class="modal-body">
                        <h3 class="modal-title">Whose strengths are we talking about?</h3>
                        <p style="margin:-10px 0 30px;color:#888;">Select someone you work with on a regular basis, or who you've worked with recently.</p>
                        <ui-select
                            id="to"
                            ng-model="assessQualities.subject"
                            reset-search-input="false"
                            theme="selectize"
                            style="max-width:300px;"
                            >
                            <ui-select-match placeholder="Type an employee's name">
                                {{ $select.selected.full_name }}
                            </ui-select-match>
                            <ui-select-choices repeat="employee in assessQualities.employees | filter: {full_name: $select.search} | orderBy:'full_name'">
                                <span class="tiny-headshot">
                                    <img ng-src="{{ employee.avatar_small }}" alt="{{ employee.full_name }}'s avatar" />
                                </span>
                                <div class="names" ng-bind-html="employee.full_name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="assessQualities.goTo('qualities/perception/my')" class="btn btn-light pull-left">Cancel</button>
                    <button type="button" ng-click="assessQualities.stepNext()" ng-disabled="!assessQualities.subject" class="btn btn-success">Pick a Category &rarr;</button>
                </div>
            </form>
            <form id="feedback-modal-panel-2" novalidate="novalidate" ng-show="assessQualities.panel_index==1">
                <div class="form-group">
                    <div class="modal-body">

                            <h3 class="modal-title">And what kind of strengths?</h3>
                            <p style="margin:-10px 0 30px;color:#888;">Pick the type of role or responsibility they played on your project or team.</p>
                            <ui-select
                                id="to"
                                ng-model="assessQualities.cluster"
                                on-select="assessQualities.getCluster(assessQualities.cluster.id)"
                                reset-search-input="false"
                                theme="selectize"
                                style="max-width:300px;"
                                >
                                <ui-select-match placeholder="Pick a Category">
                                    {{ $select.selected.name }}
                                </ui-select-match>
                                <ui-select-choices repeat="cluster in assessQualities.clusters | filter: {name: $select.search} | orderBy:'name'">
                                    <div class="names" ng-bind-html="cluster.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="assessQualities.stepBack()" class="btn btn-light">&larr; Back</button>
                    <button type="button" ng-click="assessQualities.goTo('qualities/perception/my')"  class="btn btn-light pull-left">Cancel</button>
                    <button type="button"  ng-disabled="!assessQualities.cluster" class="btn btn-success" data-dismiss="modal"><i class="fa fa-pencil"></i> Get Started</button>
                </div>
            </form>
        </div>
    </div>                  
</div>
<script type="text/javascript">
    /* Auto luanch the modal */
    $(function() {
        $('.send-request-modal').delay(750).queue(function(){ $(this).modal('show').dequeue(); });
    });
</script>