<form id="feedback-modal" novalidate="novalidate">
    <a class="close" ng-click="request.cancel()" data-dismiss="modal">&times;</a>
    <div class="form-group">
        <div class="modal-body">
            <panel class="checkin">

                <h3 class="modal-title">Who would you like to check in with?</h3>
                <div class="checkin-host well well-sm" ng-class="{'checkin-host-selected': request.selectedEmployee==request.currentCoach, 'checkin-host':request.selectedEmployee!=request.currentCoach}" ng-click="request.selectedEmployee=request.currentCoach" ng-show="customer.show_coaches">
                    <i class="fa fa-check-circle-o selected-icon pull-right" ng-show="request.selectedEmployee==request.currentCoach"></i>
                    <div class="large-headshot pull-left" style="display:inline-block">
                        <img ng-src="{{request.currentCoach.avatar}}" alt="{{request.currentCoach.full_name}}" class="headshot-image">
                    </div>
                    <div class="checkin-host-label" ng-if="!request.currentCoach">
                        <p>
                            You currently don't have a Coach. <br />Please <a href="" class="underlined" ng-click="request.changeCoach()">select a coach</a>.
                        </p>
                    </div>
                    <div class="checkin-host-label" ng-if="request.currentCoach">
                        <p>Your Coach</p>
                        <h3><strong>{{request.currentCoach.full_name}}</strong></h3>
                        <p><a href="" ng-show="false" class="underlined" ng-click="request.changeCoach()">Change your coach</a>
                            <span ng-show="true"><span class="underlined">Change your coach</span> (Coming soon!)</span>
                        </p>
                    </div>
                </div>
                <div class="checkin-host well well-sm" ng-class="{'checkin-host-selected': request.selectedEmployee==request.teamLead, 'checkin-host':request.selectedEmployee!=request.teamLead}" ng-click="request.selectedEmployee=request.teamLead">
                    <i class="fa fa-check-circle-o selected-icon pull-right" ng-show="request.selectedEmployee==request.teamLead"></i>
                    <div class="large-headshot pull-left" style="display:inline-block">
                        <img ng-src="{{request.teamLead.avatar}}" alt="{{request.teamLead.full_name}}" class="headshot-image">
                    </div>
                    <div class="checkin-host-label" ng-show="request.teamLead">
                        <p>Your Team Lead</p>
                        <h3><strong>{{request.teamLead.full_name}}</strong></h3>
                    </div>
                </div>

            </panel>    
        </div>    
        <div class="modal-footer">
            <button type="button" ng-click="request.cancel()" data-dismiss="modal" class="btn btn-light pull-left">Cancel</button>
            <button ng-disabled="request.selectedEmployee==null" type="button" class="btn btn-success" ng-click="request.sendCheckInRequest()">Submit Request</button>
        </div>
    </div>
</form>