<div class="modal-body daily-digest-modal">
    <button ng-click="saveInfo.close()" class="close">&times;</button>
	<h3 class="modal-title">
        <span>About Saving</span>
    </h3>
    <p>A draft of your check-in has been saved. You can get back to it on from the Check-Ins menu.</p>
    <p>When you are ready you can send it to {{ saveInfo.employeeName }} by clicking the 'Send to {{ saveInfo.employeeName }}' button in the check-in.</p>
</div>
<div class="modal-footer">
    <label class="control-label pull-left">
        Don't show this again
        <input type="checkbox" ng-model="saveInfo.dontShowThisAgain"/>
    </label>
    <button type="button" ng-click="saveInfo.close()" class="btn btn-light">Got it, thanks!</button>
</div>