<div ng-cloak class="panel feedback-welcome-panel" ng-show="!feedback.myRecentlySentRequests.length">
    <div class="row">
        <div class="col-md-8">
            <h1 class="feedback-welcome-title">Welcome to 360 Feedback!</h1>
            <p class="get-started-text">
                Hi Fools, 
                <br />
                Here’s where you can give and get 360 Feedback from your fellow Fools.
                As in the past, this process is optional and private: Your feedback will only be
                visible to the coach that you choose to see it.  Feedback you submit will go only
                to that person’s coach, who will see your name.   We encourage all Fools to get
                some input from others on how they can double down on their strengths.
                
                <br />
                <img src="https://media.licdn.com/media/p/4/000/17a/1f4/0c0b3bd.jpg" style="width:40px;border-radius:50px;"/>
                &mdash;Kara Chambers
            </p>
            <h2 class="get-started-title">Get started</h2>
            <div class="get-started-btns">
                <button class="btn btn-success btn-lg" ng-click="feedback.requestFeedback()" type="button">
                    Ask for Feedback
                </button>
                <button class="btn btn-success btn-lg" ng-click="feedback.giveUnsolicitedFeedback()" type="button">
                    Give Feedback
                </button>
            </div>
        </div> 
        <div class="col-md-4 welcome-image">
            <img src="../static/images/bubbles-alpha.png" style="width:100%; margin-bottom:35px; opacity:.4;"/>
        </div>                   
    </div> 
</div>