<div ng-cloak class="panel feedback-welcome-panel" ng-show="!feedback.myRecentlySentRequests.length">
    <div class="row">
        <div class="col-md-8">
            <h1 class="feedback-welcome-title">Welcome to 360 Feedback!</h1>
            <p class="get-started-text" ng-bind-html="feedback.welcome">

            </p>
            <h2 class="get-started-title">Get started</h2>
            <div class="get-started-btns">
                <button class="btn btn-success btn-lg" ng-click="feedback.requestFeedback()" type="button">
                    Ask for Feedback
                </button>
                <button class="btn btn-success btn-lg" ng-click="feedback.giveUnsolicitedFeedback()" type="button">
                    Give Feedback
                </button>
            </div>
        </div> 
        <div class="col-md-4 welcome-image">
            <img src="../static/images/bubbles-alpha.png" style="width:100%; margin-bottom:35px; opacity:.4;"/>
        </div>                   
    </div> 
</div>