<div class="panel panel-default" ng-show="report.undelivered_feedback.length > 0">
    <div class="panel-heading">
        <h3 class="panel-title">Undelivered feedback for {{ report.employee.full_name }}</h3>
    </div>
    <div class="panel-body">
        <div class="panel panel-default" ng-repeat="feedback in report.undelivered_feedback">
            <div class="panel-heading clearfix">
                <h4 class="panel-title pull-left">
                    From: {{ feedback.reviewer }}
                    {{ feedback.confidentiality == 1 ? "(has requested confidentiality)" : "" }}
                </h4>
                <div class="btn-group-sm pull-right">
                    <button class="btn btn-default" type="button" ng-click="markDelivered(feedback)">
                        Release
                    </button>
                </div>
            </div>
            <div class="panel-body">
                <div>
                    <h4>How is {{  feedback.employee.full_name }} awesome?</h4>

                    <div>
                        {{ feedback.excels_at }}
                    </div>
                </div>
                <div>
                    <h4>Where can {{ feedback.employee.full_name }} be more awesome?</h4>

                    <div>
                        {{ feedback.could_improve_on }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default" ng-show="report.undelivered_feedback.length == 0">
    <div class="panel-heading">There is no undelivered feedback for {{ report.employee.full_name }}</div>
</div>

<div class="panel panel-default" ng-show="report.delivered_feedback.length > 0">
    <div class="panel-heading">
        <h3 class="panel-title">Delivered feedback for {{ report.employee.full_name }}</h3>
    </div>
    <div class="panel-body">
        <div class="panel panel-default" ng-repeat="feedback in report.delivered_feedback">
            <div class="panel-heading">
                {{ feedback.reviewer }}
                {{ feedback.confidentiality == 1 ? "(has requested confidentiality)" : "" }}
            </div>
            <div class="panel-body">
                <div>
                    <h4>How is {{ report.employee.full_name }} awesome?</h4>

                    <div>
                        {{ feedback.excels_at }}
                    </div>
                </div>
                <div>
                    <h4>Where can {{ report.employee.full_name }} be more awesome?</h4>

                    <div>
                        {{ feedback.could_improve_on }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default" ng-show="report.delivered_feedback.length == 0">
    <div class="panel-heading">There is no delivered feedback for {{ report.employee.full_name }}</div>
</div>
