
<div class="container">
    <div class="row">
        <div ng-class="feedbackWorksheet.progressReport.solicited_submissions.length==0 && 
            feedbackWorksheet.progressReport.unanswered_requests.length==0 && 
            feedbackWorksheet.progressReport.unsolicited_submissions.length==0 ? 'col col-md-8 col-md-offset-2' : 'col col-md-12'">
	       <p class="pull-right show-for-print"><strong>Coach: {{ currentUser.employee.full_name }}</strong></p> 
           <h1><span class="hide-for-print"><a ng-href="#/my-coachees">Coaching</a> &raquo;</span> Feedback for {{ feedbackWorksheet.progressReport.employee.full_name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-5 hide-for-print">
			<div class="panel" ng-show="feedbackWorksheet.progressReport.solicited_submissions.length>0">
				<h3 class="panel-title">Feedback Submissions</h3>
				<table class="table" style="margin-bottom:0">
					<thead>
				        <tr>
				          <th class="width-65-percent">From</th>
				          <th class="width-30-percent">Submitted</th>
				          <th></th>
				        </tr>
		      		</thead>
		      		<tbody>
						<tr ng-repeat="submission in feedbackWorksheet.progressReport.solicited_submissions | orderBy:'-feedback_date' ">
							<td>
								<span class="tiny-headshot">
									<img ng-src="{{ submission.reviewer.avatar_small }}" alt="{{ submission.reviewer.full_name }}'s avatar" />
								</span> 					
								<strong>{{ submission.reviewer.full_name }}</strong> <span ng-show="{{ submission.anonymous }}">(Anonymous)</span>
							</td>
							<td>{{ submission.feedback_date | fromNow }}</td>
							<td>
								<a ng-href="#/feedback/submission/{{ submission.id }}/process" class="btn btn-sm btn-success pull-right">View</a>
							</td>
						</tr>
		      		</tbody>
				</table>	
            </div>
            <div class="panel" ng-show="feedbackWorksheet.progressReport.unsolicited_submissions.length>0">    
				<h3 class="panel-title">Unsolicited Feedback</h3>
				<table class="table" style="margin-bottom:0">
					<thead>
				        <tr>
				          <th class="width-65-percent">From</th>
				          <th class="width-30-percent">Submitted</th>
				          <th></th>
				        </tr>
		      		</thead>
		      		<tbody>
						<tr ng-repeat="submission in feedbackWorksheet.progressReport.unsolicited_submissions">
							<td>
								<span class="tiny-headshot">
									<img ng-src="{{ submission.reviewer.avatar_small }}" alt="{{ submission.reviewer.full_name }}'s avatar" />
								</span> 	
								<strong>{{ submission.reviewer.full_name }}</strong>
							</td>
							<td>
								{{ submission.feedback_date | fromNow }}
							</td>
							<td>
								<a ng-href="#/feedback/submission/{{ submission.id }}/process" class="btn btn-sm btn-success pull-right">View</a>
							</td>
						</tr>
		      		</tbody>
				</table>	
            </div>
            <div class="panel" ng-show="feedbackWorksheet.progressReport.unanswered_requests.length>0">    
                <h3 class="panel-title">Unanswered Requests</h3>
                <table class="table" style="margin-bottom:0">
                    <thead>
                        <tr>
                          <th class="width-65-percent">From</th>
                          <th class="width-30-percent">Sent</th>
                          <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="request in feedbackWorksheet.progressReport.unanswered_requests">
                            <td>
                                <span class="tiny-headshot">
                                    <img ng-src="{{ request.reviewer.avatar_small }}" alt="{{ request.reviewer.full_name }}'s avatar" />
                                </span>
                                <strong>{{ request.reviewer.full_name }}</strong>
                            </td>
                            <td class="timeago">
                                {{ request.request_date | fromNow }}
                            </td>
                        </tr>
                    </tbody>
                </table>
			</div>	
        </div>   	

        <div ng-class="feedbackWorksheet.progressReport.solicited_submissions.length==0 && 
        feedbackWorksheet.progressReport.unanswered_requests.length==0 && 
        feedbackWorksheet.progressReport.unsolicited_submissions.length==0 ? 'col col-md-8 col-md-offset-2' : 'col col-md-7'" class="full-width-column-print">
            <div ng-include="'/static/angular/partials/feedback/_widgets/digest_for_coaches.html'"></div>
        </div>
    </div>    
</div>

<style>
    /* Use this class to hide elements intented for printing only */
    .show-for-print {
        display: none;
    }

    /* Print styles */
    @media print {
        .hide-for-print, nav, .btn, .account-menu {
            display: none;
        }
        .full-width-column-print {
            width: 100%;
        }
        .show-for-print {
            display: block;
        }
        .container {
            padding: 0;
        }
        .page-break { 
            display: block; 
            page-break-before: always; 
            padding-top: 45px;
        }
    }
</style>