<div class="container">
	<h1>Feedback for <!-- Employee Name --></h1>
	<div class="panel">
		<ul class="nav nav-tabs" role="tablist">
	    	<li role="presentation" class="active">
	    		<a href="#submissions" 
	    			aria-controls="submissions" 
	    			role="tab" 
	    			data-toggle="tab">Feedback Submissions
	    		</a>
	    	</li>
	    	<li role="presentation">
	    		<a href="#unsolicited" 
	    			aria-controls="unsolicited" 
	    			role="tab" 
	    			data-toggle="tab">Unsolicited Feedback Submissions
	    		</a>
	    	</li>
	    	<li role="presentation">
	    		<a href="#outstanding" 
	    			aria-controls="outstanding" 
	    			role="tab" 
	    			data-toggle="tab">Outstanding Requests
	    		</a>
	    	</li>
	  	</ul>
	  	<div class="tab-content">
	    	<div role="tabpanel" class="tab-pane active" id="submissions">
	    		<table class="table table-striped">
					<thead>
				        <tr>
				          <th>From</th>
				          <th>Anonymous</th>
				          <th>Date</th>
				          <th></th>
				        </tr>
		      		</thead>
		      		<tbody>
		      			<!-- Feedback Submissions Data -->
		      		</tbody>
				</table>
	    	</div>
	    	<div role="tabpanel" class="tab-pane" id="unsolicited">
	    		<table class="table table-striped">
					<thead>
				        <tr>
				          <th>From</th>
				          <th>Anonymous</th>
				          <th>Date</th>
				          <th></th>
				        </tr>
		      		</thead>
		      		<tbody>
		      			<!-- Unsolicited Feedback Submissions Data -->
		      		</tbody>
				</table>
	    	</div>
	    	<div role="tabpanel" class="tab-pane" id="outstanding">	    		
	    		<table class="table table-striped">
					<thead>
				        <tr>
				          <th>From</th>
				          <th>Anonymous</th>
				          <th>Date</th>
				          <th></th>
				        </tr>
		      		</thead>
		      		<tbody>
		      			<!-- Outstanding Requests Data -->
		      		</tbody>
				</table>
			</div>
	  	</div>
	</div>
	<h2>Feedback Digest</h2>
	<div class="panel">
		<form>
			<h3>In what areas...</h3>
			<div><!-- Feedback --></div>
			<h3>In what areas...</h3>
			<div><!-- Feedback --></div>

			<h2>Your Feedback Summary for <!-- Employee Name --></h2>
			<textarea class="form-control"></textarea>
			<button class="btn-primary pull-right">Send to <!-- Employee Name --></button>
			<button class="btn-default">Save</button>
			<button class="btn-default">Print</button>
		</form>	
	</div>	  	
</div>