<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1><a href="#/feedback">Feedback</a> &raquo; for {{ processFeedback.submission.subject.full_name }}</h1>
            <div class="panel activity" style="min-height:auto">
                <form name="processFeedback.form">
                    <div class="panel-body">
                        <div class="activity-items">
                            <div class="activity-item">
                                <h2 class="panel-title">{{ processFeedback.questions.excelsAtQuestion }}</h2>
                                <div class="activity-header">
                                    <div class="activity-owner-avatar-container">
                                        <span class="medium-headshot">
                                            <img ng-src="{{ processFeedback.submission.reviewer.avatar_small }}" class="headshot-image">
                                        </span>
                                    </div>
                                    <div class="activity-description">
                                        <span class="activity-title-employee-name">{{ processFeedback.submission.reviewer.full_name }}</span> said
                                        <span class="timestamp" data-toggle="tooltip" data-placement="top" title="{{ event.date | date:'MMM d, yyyy h:mma' }}">{{ processFeedback.submission.feedback_date | fromNow }}</span>
                                        <span ng-show="processFeedback.submission.anonymous" class="tag tag-anonymous pull-right">Anonymous</span>
                                    </div>
                                </div>
                                <div class="feedback-activity-comment comment-text">
                                    <span ng-bind-html="processFeedback.submission.excels_at | new_line"></span>
                                    <div ng-show="processFeedback.submission.excels_at_helpful.date" style="background:#f1f1f1;padding:20px; margin-top:25px">
                                        <div class="activity-header">
                                            <div class="activity-owner-avatar-container">
                                                <span class="medium-headshot"><img class="headshot-image" ng-src="{{ processFeedback.submission.subject.avatar_small }}" alt="{{ processFeedback.submission.subject.full_name }}'s avatar" /></span>
                                            </div>
                                        </div>               
                                        <div class="activity-description">
                                            <strong>{{ processFeedback.submission.subject.full_name }}</strong> said {{ processFeedback.submission.excels_at_helpful.date | fromNow }}  <div class="helpfulness-tag">{{ processFeedback.submission.excels_at_helpful.helpfulness_verbose }}</div>
                                            <p style="margin: 15px 0 15px 68px;">{{ processFeedback.submission.excels_at_helpful.reason }}</p>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                            <div class="activity-item">
                                <h2 class="panel-title">{{ processFeedback.questions.couldImproveOnQuestion }}</h2>
                                <div class="activity-header">
                                    <div class="activity-owner-avatar-container">
                                        <span class="medium-headshot">
                                            <img ng-src="{{ processFeedback.submission.reviewer.avatar_small }}" class="headshot-image">
                                        </span>
                                    </div>
                                    <div class="activity-description">
                                        <span class="activity-title-employee-name">{{ processFeedback.submission.reviewer.full_name }}</span> said
                                        <span class="timestamp" data-toggle="tooltip" data-placement="top" title="{{ event.date | date:'MMM d, yyyy h:mma' }}">{{ processFeedback.submission.feedback_date | fromNow }}</span>
                                        <span ng-show="processFeedback.submission.anonymous" class="tag tag-anonymous pull-right">Anonymous</span>
                                    </div>
                                </div>

                                <div class="feedback-activity-comment comment-text">
                                    <span ng-bind-html="processFeedback.submission.could_improve_on | new_line"></span>
                                    <div ng-show="processFeedback.submission.could_improve_on_helpful.date" style="background:#f1f1f1;padding:20px; margin-top:25px">
                                        <div class="activity-header">
                                            <div class="activity-owner-avatar-container">
                                                <span class="medium-headshot"><img class="headshot-image" ng-src="{{ processFeedback.submission.subject.avatar_small }}" alt="{{ processFeedback.submission.subject.full_name }}'s avatar" /></span>
                                            </div>
                                        </div>               
                                        <div class="activity-description">
                                            <strong>{{ processFeedback.submission.subject.full_name }}</strong> said {{ processFeedback.submission.could_improve_on_helpful.date | fromNow }}
                                            <div class="helpfulness-tag">{{ processFeedback.submission.could_improve_on_helpful.helpfulness_verbose }}</div>
                                            <p style="margin: 15px 0 15px 68px;">{{ processFeedback.submission.could_improve_on_helpful.reason }}</p>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default pull-left" type="button" ng-click="processFeedback.back()">&larr; Back</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>