<div class="container">

    <!-- Welcome --> 
    <div style="margin-bottom: 65px">
        <div class="panel">
            <div class="feedback-reports-container row" style="max-width:900px; margin:40px;">
                <div class="col-sm-8">
                    <h1 class="comment-title-employee-name">Foolish 360 Feedback</h1>
                    <p class="get-started-text">
                        Hi Fools, we hope you like our new feedback app. 
                        It's a safe place to ask for and give feedback. 
                        You can do it whenever, with whomever, and about whatever you'd like. 
                        The best part is, it's still just between you and your coach. &mdash;Kara Chambers            
                    </p>
                    <h2>Get started!</h2>
                    <div class="feedback-report-item">
                        <button class="btn btn-success btn-lg" ng-click="feedback.requestFeedback()" type="button">
                            Ask for Feedback
                        </button>
                        <button class="btn btn-success btn-lg" ng-click="feedback.giveUnsolicitedFeedback()" type="button">
                            Give Feedback
                        </button>
                    </div>
                </div> 
                <div class="col-sm-4">
                    <img src="../static/images/bubbles-alpha.png" style="width:100%; margin-bottom:35px"/>
                </div>                   
            </div> 
        </div>
    </div>

    <div style="margin-bottom: 65px">
        <h1>People who want feedback from me</h1>
        <div class="panel">
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th style="width:30%">Person</th>
                      <th>Sent</th>
                      <th>Where they'd like feedback</th>
                      <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="request in feedback.feedbackRequests | orderBy:'request.requester.full_name'">
                        <td>
                            <span class="tiny-headshot">
                                <img ng-src="{{ request.requester.avatar_small }}" alt="{{ request.requester.full_name }}'s avatar" />
                            </span>  
                            {{ request.requester.full_name }}
                        </td>
                        <td>
                            {{ request.request_date | fromNow }}
                        </td>
                        <td>
                            {{ request.message }}
                        </td>    
                        <td>
                            <a class="btn btn-default pull-right" ng-href="#/feedback/request/{{ request.id }}/reply/" type="button">
                                Give Feedback
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <div class="pull-right">
            <button class="btn btn-default" ng-click="feedback.requestFeedback()" type="button">
                Ask for Feedback
            </button>        
            <button class="btn btn-default" ng-click="feedback.giveUnsolicitedFeedback()" type="button">
                Give Feedback
            </button>
        </div>
        <h1>People I've asked for feedback</h1>
        <div class="panel">
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th style="width:30%">Person</th>
                      <th>Sent</th>
                      <th>Completed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="request in feedback.myRecentlySentRequests | reverse">
                        <td>
                            <span class="tiny-headshot">
                                <img ng-src="{{ request.reviewer.avatar_small }}" alt="{{ request.reviewer.full_name }}'s avatar" />
                            </span>  
                            {{ request.reviewer.full_name }}
                        </td>
                        <td>
                            {{ request.request_date | fromNow }}
                        </td>
                        <td>
                            {{ request.has_been_answered }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>    


</div>

<style>


.comment-title-employee-name {
    font-size: 38px;
}
.get-started-text {
    font-size: 18px;
    line-height: 24px;
    color: #777;
    margin-bottom: 55px;
}



.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
}
.feedback-reports-container {
    margin-top: 30px;
    margin-bottom: 30px;
}
.feedback-report {
    margin-top: 25px;
    padding-top: 25px;
    text-align: center;
}
.feedback-report-item {
    margin-top: 15px;
    padding-top: 15px;

}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
    margin-top: -8%;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    max-width: 475px;
}
.modal-body {
    padding: 40px 30px;
}

/* Select 2 fixes */
.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
    background-color: rgb(240, 248, 255);
}
.ui-select-match-close {
    margin: 0;
}
.btn-xs, .btn-group-xs > .btn {
    font-size: 14px;
    line-height: 1.5;
}
.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
    font-size: 22px;
}

</style>