<div id="feedback" class="container" data-hj-masked>
    <div class="pull-right">
        <h2 class="panel-title" style="margin-bottom:0">{{ feedback.digest.delivery_date | date:'longDate' }}</h2>
        <span style="color: #aaa;font-style: italic;">Delivered by: {{ feedback.digest.delivered_by.full_name }}</span>
    </div>    
    <h1 class="page-title">
        <a href="" ng-click="feedback.goTo('feedback')">Feedback</a>
        <span>&raquo; for</span>
        <span data-hj-masked>{{ feedback.digest.subject.full_name }}</span>
    </h1>
    <div style="padding-top:20px">
        <div class="panel">
            <div ng-show="feedback.digest.summary">
                <h3 class="panel-title">Summary from your Coach</h3>
                <p style="white-space: pre-line;">{{ feedback.digest.summary }}</p>
            </div>
            <br/>
            <h3 class="panel-title" >{{ feedback.questions.excelsAtQuestion }}</h3>
            <table class="table table-striped" style="margin-bottom:45px">
                <thead>
                    <tr>
                      <th style="width:15%"></th>
                      <th class="centered" style="width:65%"></th>
                      <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="submission in feedback.digest.submissions" ng-show="submission.excels_at">
                        <td ng-show="!submission.anonymous" class="centered">
                            <span class="large-headshot" style="margin: 10px auto 5px;">
                                <img class="headshot-image" ng-src="{{ submission.reviewer.avatar_small }}" alt="{{ submission.reviewer.full_name }}'s avatar" />
                            </span>
                            <strong>{{ submission.reviewer.full_name }}</strong>
                        </td>
                        <td ng-show="submission.anonymous" class="centered">
                            <span class="large-headshot" style="margin: 10px auto 5px;">
                                <img src="//hippoculture.s3.amazonaws.com/media/avatars/geneRick.jpg"/>
                            </span>
                            <strong>Anonymous</strong>
                        </td>
                        <td style="padding:20px">
                            <span ng-bind-html="submission.excels_at | new_line"></span>
                            <div class="helpfulness">
                                <div ng-show="!submission.excels_at_helpful.date">
                                    <label>Was this feedback helpful?</label>
                                    <select ng-model="submission.excels_at_helpful.helpfulness" class="form-control" style="margin: 5px 0 0;width:200px;">
                                        <option value="">--select--</option>
                                        <option value="3">Very helpful</option>
                                        <option value="2">Helpful</option>
                                        <option value="1">Somewhat helpful</option>
                                    </select><div ng-show="submission.excels_at_helpful.helpfulness">
                                        <label>Explain why (optional, but appreciated)</label>
                                        <textarea ng-model="submission.excels_at_helpful.reason" class="form-control" style="margin: 5px 0 0;height:100px"></textarea>
                                        <button ng-click="feedback.updateExcelsAtHelpfulness(submission)" class="btn btn-success">Send to <span ng-show="submission.anonymous">Anonymous</span> <span ng-show="!submission.anonymous">{{ submission.reviewer.first_name }}</span></button>
                                    </div>
                                </div>
                                <div ng-show="submission.excels_at_helpful.date">
                                    <div class="comment-text">
                                        <div ng-show="submission.excels_at_helpful.date" style="background:#fff;padding:20px; margin-top:25px">
                                            <div class="activity-header pull-left">
                                                <div class="activity-owner-avatar-container">
                                                    <span class="medium-headshot"><img class="headshot-image" ng-src="{{ submission.subject.avatar_small }}" alt="{{ submission.subject.full_name }}'s avatar" /></span>
                                                </div>
                                            </div>               
                                            <div class="activity-description" style="margin: 0 0 15px 68px;">
                                                <strong>{{ submission.subject.full_name }}</strong> said {{ submission.excels_at_helpful.date | fromNow }}
                                                <div class="helpfulness-tag">👍 {{ submission.excels_at_helpful.helpfulness_verbose }}</div>

                                                <p style="margin-top:15px;">{{ submission.excels_at_helpful.reason }}</p>
                                            </div>
                                        </div>
                                    </div>   
                                </div>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <h3 class="panel-title">{{ feedback.questions.couldImproveOnQuestion }}</h3>
            <table class="table table-striped" style="margin-bottom:45px">
                <thead>
                    <tr>
                      <th style="width:15%"></th>
                      <th class="centered" style="width:65%"></th>
                      <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="submission in feedback.digest.submissions" ng-show="submission.could_improve_on">
                        <td ng-show="!submission.anonymous" class="centered">
                            <span class="large-headshot" style="margin: 10px auto 5px;">
                                <img class="headshot-image" ng-src="{{ submission.reviewer.avatar_small }}" alt="{{ submission.reviewer.full_name }}'s avatar" />
                            </span>
                            <strong>{{ submission.reviewer.full_name }}</strong>
                        </td>
                        <td ng-show="submission.anonymous" class="centered">
                                <span class="large-headshot" style="margin: 10px auto 5px;">
                                    <img src="//hippoculture.s3.amazonaws.com/media/avatars/geneRick.jpg"/>
                                </span>
                            <strong>Anonymous</strong>
                        </td>
                        <td style="padding:20px">
                            <span ng-bind-html="submission.could_improve_on | new_line"></span>
                            <div class="helpfulness">
                                <div ng-show="!submission.could_improve_on_helpful.date">
                                    <label>Was this feedback helpful?</label>
                                    <select ng-model="submission.could_improve_on_helpful.helpfulness" class="form-control" style="margin: 5px 0 0;width:200px;">
                                        <option value="">--select--</option>
                                        <option value="3">Very helpful</option>
                                        <option value="2">Helpful</option>
                                        <option value="1">Somewhat helpful</option>
                                    </select><div ng-show="submission.could_improve_on_helpful.helpfulness">
                                        <label>Explain why (optional, but appreciated)</label>
                                        <textarea ng-model="submission.could_improve_on_helpful.reason" class="form-control" style="margin: 5px 0 0;height:100px"></textarea>
                                        <button ng-click="feedback.updateCouldImproveOnWasHelpful(submission)" class="btn btn-success">Send to <span ng-show="submission.anonymous">Anonymous</span> <span ng-show="!submission.anonymous">{{ submission.reviewer.first_name }}</span></button>
                                    </div>
                                </div>
                                <div ng-show="submission.could_improve_on_helpful.date">
                                    <div class="comment-text">
                                        <div ng-show="submission.could_improve_on_helpful.date" style="background:#fff;padding:20px; margin-top:25px">
                                            <div class="activity-header pull-left">
                                                <div class="activity-owner-avatar-container">
                                                    <span class="medium-headshot"><img class="headshot-image" ng-src="{{ submission.subject.avatar_small }}" alt="{{ submission.subject.full_name }}'s avatar" /></span>
                                                </div>
                                            </div>               
                                            <div class="activity-description" style="margin: 0 0 15px 68px;">
                                                <strong>{{ submission.subject.full_name }}</strong> said {{ submission.could_improve_on_helpful.date | fromNow }}
                                                <div class="helpfulness-tag">👍 {{ submission.could_improve_on_helpful.helpfulness_verbose }}</div>

                                                <p style="margin-top:15px;">{{ submission.could_improve_on_helpful.reason }}</p>
                                            </div>
                                        </div>
                                    </div>   
                                </div>         
                            </div>
                        </td>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br/>
            <button class="btn btn-default" type="button" ng-click="feedback.goTo('feedback')">&larr; Back</button>
            <button class="btn btn-success pull-right" type="button" ng-click="feedback.shareDigest()"><i class="fa fa-paper-plane"></i> Share</button>
            <button class="btn btn-default pull-right" type="button" ng-click="feedback.printDigest()">Print</button>
        </div>
    </div>
</div>