<div id="feedback" class="container" data-hj-masked>
    <div class="pull-right">
        <h2 class="panel-title" style="margin-bottom:0">{{ feedback.digest.delivery_date | date:'longDate' }}</h2>
        <span style="color: #aaa;font-style: italic;">Delivered by: {{ feedback.digest.delivered_by.full_name }}</span>
    </div>    
    <h1 class="page-title">
        <a href="" ng-click="feedback.goTo('feedback')">Feedback</a>
        <span>&raquo; for</span>
        <span data-hj-masked>{{ feedback.digest.subject.full_name }}</span>
    </h1>
    <div style="padding-top:20px">
        <div class="panel">
            <div ng-show="feedback.digest.summary">
                <h3 class="panel-title">Summary from your Coach</h3>
                <p style="white-space: pre-line;">{{ feedback.digest.summary }}</p>
            </div>
            <br/>
            <h3 class="panel-title" >{{ feedback.questions.excelsAtQuestion }}</h3>
            <table class="table table-striped" style="margin-bottom:45px">
                <thead>
                    <tr>
                      <th style="width:15%"></th>
                      <th class="centered" style="width:65%"></th>
                      <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="submission in feedback.digest.submissions" ng-show="submission.excels_at">
                        <td ng-show="!submission.anonymous" class="centered">
                            <span class="large-headshot" style="margin: 10px auto 5px;">
                                <img class="headshot-image" ng-src="{{ submission.reviewer.avatar_small }}" alt="{{ submission.reviewer.full_name }}'s avatar" />
                            </span>
                            <strong>{{ submission.reviewer.full_name }}</strong>
                        </td>
                        <td ng-show="submission.anonymous" class="centered">
                                <span class="large-headshot" style="margin: 10px auto 5px;">
                                    <img src="//hippoculture.s3.amazonaws.com/media/avatars/geneRick.jpg"/>
                                </span>
                            <strong>Anonymous</strong>
                        </td>
                        <td style="white-space: pre-line; padding:20px">{{ submission.excels_at }} 
                            <div class="helpfulness">
                                <label>Was this feedback helpful?</label>
                                
                                <select ng-model="helpfulness" class="form-control" style="margin: 5px 0 0;width:200px;">
                                    <option value="">--select--</option>
                                    <option value="5">Extremely helpful</option>
                                    <option value="4">Very helpful</option>
                                    <option value="3">Somewhat helpful</option>
                                    <option value="2">Slightly helpful</option>
                                </select>  
                                <a href="">Who will see this?</a>

                                <div ng-show="helpfulness">
                                    hi

                                </div>    

                                <button type="button" class="hide" ng-class="{ishelpful: submission.excels_at_was_helpful == true}" ng-model="submission.id.excels_at_was_helpful" ng-click="feedback.updateExcelsAtHelpfulness(submission)" class="btn btn-default btn-sm"><i class="fa fa-thumbs-up"></i></button>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <h3 class="panel-title">{{ feedback.questions.couldImproveOnQuestion }}</h3>
            <table class="table table-striped" style="margin-bottom:45px">
                <thead>
                    <tr>
                      <th style="width:15%"></th>
                      <th class="centered" style="width:65%"></th>
                      <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="submission in feedback.digest.submissions" ng-show="submission.could_improve_on">
                        <td ng-show="!submission.anonymous" class="centered">
                            <span class="large-headshot" style="margin: 10px auto 5px;">
                                <img class="headshot-image" ng-src="{{ submission.reviewer.avatar_small }}" alt="{{ submission.reviewer.full_name }}'s avatar" />
                            </span>
                            <strong>{{ submission.reviewer.full_name }}</strong>
                        </td>
                        <td ng-show="submission.anonymous" class="centered">
                                <span class="large-headshot" style="margin: 10px auto 5px;">
                                    <img src="//hippoculture.s3.amazonaws.com/media/avatars/geneRick.jpg"/>
                                </span>
                            <strong>Anonymous</strong>
                        </td>
                        <td style="white-space: pre-line;padding:20px">{{ submission.could_improve_on }} 
                            <div class="helpfulness">Was this feedback helpful? <button type="button" ng-class="{ishelpful: submission.could_improve_on_was_helpful == true}" ng-click="feedback.updateCouldImproveOnWasHelpful(submission)" class="btn btn-default btn-sm"><i class="fa fa-thumbs-up"></i></button></div>
                        </td>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br/>
            <button class="btn btn-default" type="button" ng-click="feedback.goTo('feedback')">&larr; Back</button>
            <button class="btn btn-success pull-right" type="button" ng-click="feedback.shareDigest()"><i class="fa fa-paper-plane"></i> Share</button>
            <button class="btn btn-default pull-right" type="button" ng-click="feedback.printDigest()">Print</button>
        </div>
    </div>
</div>