<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>Feedback for {{ processFeedback.submission.subject.full_name }}</h1>
			<div class="panel activity" style="min-height:auto">
                <form name="processFeedback.form">
                    <div class="panel-body">
                        <div class="activity-items">
                            <div class="activity-item">
                                <h2 class="panel-title">{{ processFeedback.questions.excelsAtQuestion }} <span class="focus-areas" ng-show="processFeedback.submission.message">Please consider these areas: {{ processFeedback.submission.message }}</span></h2>
                                <div class="activity-header">
                                    <div class="activity-owner-avatar-container">
                                        <span class="medium-headshot">
                                            <img ng-src="{{ processFeedback.submission.reviewer.avatar_small }}" class="headshot-image">
                                        </span>
                                    </div>
                                    <div class="activity-description">
                                        <span class="activity-title-employee-name">{{ processFeedback.submission.reviewer.full_name }}</span>
                                        <span class="time timestamp" data-toggle="tooltip" data-placement="top" title="{{ event.date | date:'MMM d, yyyy h:mma' }}">{{ processFeedback.submission.feedback_date | fromNow }}</span>
                                        <span ng-show="processFeedback.submission.anonymous" class="tag tag-anonymous pull-right">Anonymous</span>
                                    </div>
                                </div>
                                <div class="comment-copy" style="padding-top: 15px">
                                    <div class="activity-comment comment-text" ng-class="{'comment-disabled': processFeedback.submission.excels_at_summarized.length}" >{{ processFeedback.submission.excels_at }}</div>
                                </div>
                                <div class="comment-editor" ng-show="!processFeedback.submission.has_been_delivered || processFeedback.submission.excels_at_summarized.length">
                                    <div class="comment-reply-copy" style="padding: 10px; background-color: #efefef; border-radius: 5px">
                                        <span style="margin: 0 0 10px 10px">Summarize</span>
                                        <textarea ng-show="!processFeedback.submission.has_been_delivered" placeholder="If {{ processFeedback.submission.reviewer.first_name }} has asked that you summarize their feedback you can do that here." name="excels_at_summarized" ng-model="processFeedback.submission.excels_at_summarized" class="form-control msd-elastic" style="margin: 5px; width: 98%;" rows="1"></textarea>
                                        <div ng-show="processFeedback.submission.has_been_delivered">
                                            <div class="comment-summarized">{{ processFeedback.submission.excels_at_summarized }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="activity-item">
                                <h2 class="panel-title">{{ processFeedback.questions.couldImproveOnQuestion }} <span class="focus-areas" ng-show="processFeedback.submission.message">Please consider these areas: {{ processFeedback.submission.message }}</span></h2>
                                <div class="activity-header">
                                    <div class="activity-owner-avatar-container">
                                        <span class="medium-headshot">
                                            <img ng-src="{{ processFeedback.submission.reviewer.avatar_small }}" class="headshot-image">
                                        </span>
                                    </div>
                                    <div class="activity-description">
                                        <span class="activity-title-employee-name">{{ processFeedback.submission.reviewer.full_name }}</span>
                                        <span class="time timestamp" data-toggle="tooltip" data-placement="top" title="{{ event.date | date:'MMM d, yyyy h:mma' }}">{{ processFeedback.submission.feedback_date | fromNow }}</span>
                                        <span ng-show="processFeedback.submission.anonymous" class="tag tag-anonymous pull-right">Anonymous</span>
                                    </div>
                                </div>
                                <div class="comment-copy" style="padding-top: 15px">
                                    <div class="activity-comment comment-text" ng-class="{'comment-disabled': processFeedback.submission.could_improve_on_summarized.length}">{{ processFeedback.submission.could_improve_on }}</div>
                                </div>
                                <div class="comment-editor" ng-show="!processFeedback.submission.has_been_delivered || processFeedback.submission.could_improve_on_summarized.length">
                                    <div class="comment-reply-copy" style="padding: 10px; background-color: #efefef; border-radius: 5px">
                                        <span style="margin: 0 0 10px 10px">Summarize</span>
                                        <textarea ng-show="!processFeedback.submission.has_been_delivered" placeholder="If {{ processFeedback.submission.reviewer.first_name }} has asked that you summarize their feedback you can do that here." name="could_improve_on_summarized" ng-model="processFeedback.submission.could_improve_on_summarized" msd-elastic class="form-control" style="min-height: 15px; margin: 5px; width: 98%;" rows="1"></textarea>
                                        <div ng-show="processFeedback.submission.has_been_delivered">

                                            <div class="comment-summarized">{{ processFeedback.submission.could_improve_on_summarized }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button ng-show="processFeedback.submission.has_been_delivered" class="btn btn-success pull-right" type="button" ng-click="processFeedback.back()">&larr; Back</button>
                            <button ng-show="!processFeedback.submission.has_been_delivered"class="btn btn-default" type="button" ng-click="processFeedback.close()">&larr; Back</button>
                            <button ng-show="!processFeedback.submission.has_been_delivered && !processFeedback.submission.has_digest" class="btn btn-success pull-right" type="button" ng-click="processFeedback.addToDigest()">Add</button>
                            <button ng-show="!processFeedback.submission.has_been_delivered && processFeedback.submission.has_digest" class="btn btn-success pull-right" type="button" ng-click="processFeedback.removeFromDigest()">Remove</button>

                            <button ng-show="!processFeedback.submission.has_been_delivered" ng-disabled="processFeedback.form.$pristine" class="btn btn-default pull-right" type="button" ng-click="processFeedback.save()" style="margin-right:5px;">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>