<div ng-controller="RequestFeedbackCtrl">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">
            <span>Ask for Feedback</span>
        </h1>
    </md-toolbar>
    <div layout="column" layout-margin layout-fill layout-padding>
        <div>
            <section>
                <md-subheader class="md-primary">People you've already asked for feedback:</md-subheader>
                <div>
                    <span ng-repeat="request in pendingRequests">
                        {{ $last ? 'and ' : '' }}{{ request.reviewer.full_name }}{{ $last ? '' : ', ' }}
                    </span>
                </div>
            </section>

            <section>
                <md-subheader class="md-primary">To:</md-subheader>
                <md-input-container>
                    <ui-select
                            multiple
                            ng-model="search.selectedReviewers"
                            reset-search-input="true"
                            theme="bootstrap"
                            style="width:50%"
                            >
                        <ui-select-match placeholder="Select some people...">{{$item.full_name}}</ui-select-match>
                        <ui-select-choices
                                repeat="reviewer in potentialReviewers | propsFilter: {full_name: $select.search}">
                            <div ng-bind-html="reviewer.full_name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </md-input-container>
            </section>
        </div>
        <div>
                <md-button ng-click="submit()" class="md-raised md-primary">Ask for feedback!</md-button>
        </div>
    </div>
</div>