<div class="container">
    <h1><a href="" ng-click="submitFeedback.goTo('feedback')">Feedback</a> &raquo;</span> for {{ submitFeedback.subject.full_name }}</h1>
    <div class="row">
        <div class="col-md-8">
            <div class="panel">
                <sm-feedback-submission-form feedback="submitFeedback.feedback" message="submitFeedback.feedbackRequest.message" subject="submitFeedback.subject" questions="submitFeedback.questions" submit="submitFeedback.submitFeedback(form)" cancel="submitFeedback.cancel()" toggle="submitFeedback.toggleAnonymous(submitFeedback.feedback.anonymous, submitFeedback.subject)"/>
            </div>
        </div> 
         <div class="col-md-4"> 
            <div class="panel fade-in-long-delay">
                <div class="panel-body">
                    <h2 class="panel-title">Feedback Tips</h2>
                    <div ng-bind-html="customer.feedback_tips"></div>
                </div>
            </div>  
        </div>             
    </div>    
</div>

<script type="text/javascript">   
    $(document).ready(function(){

        /* TODO: move to angular */
        setTimeout(function(){

            /* Start carousel */
            $('.carousel').carousel({
              interval: 20000
            });
            $('.control-next').bind('click', function(e) { /* Next tip */
                e.preventDefault();
                $('.carousel').carousel('next');
            });
            $('.control-prev').bind('click', function(e) { /* Prev tip */
                e.preventDefault();
                $('.carousel').carousel('prev');
            });

            $('.form-control').focus(function() {
                $('.carousel').carousel('pause');
                console.log('Carousel Paused');
            });
            $('.form-control').blur(function() {
                $('.carousel').carousel('cycle');
                console.log('Carousel Start');
            });

        }, 2000);
        $('.carousel').carousel('cycle');
    });    
</script>

<style>
    .form-group {margin-bottom: 15px;}
    .form-control {margin-top: 10px;}
    .form-group label {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .form-group textarea {
        margin-bottom: 35px;
    }
    .feedback-message {margin-top: 15px;margin-bottom: 15px;}
</style>
