<div class="panel panel-default">
    <div class="panel-heading">
        Feedback for {{ submitFeedback.subject.full_name }}
    </div>
    <div ng-if="submitFeedback.feedbackRequest.message">
        <h2>Here are specific areas I'm like feedback on:</h2>
        <p>{{ submitFeedback.feedbackRequest.message }}</p>
    </div>
    <form name="respondToFeedbackForm" novalidate="novalidate">
        <div class="panel-body">
            <div class="form-group">
                <label class="control-label">In what area do you think I'm awesome?</label>
                <textarea class="form-control" cols="30" rows="5" ng-model="submitFeedback.excels_at"></textarea>
            </div>
            <div class="form-group">
                <label class="control-label">How do you think I can be even more awesome?</label>
                <textarea class="form-control" cols="30" rows="5" ng-model="submitFeedback.could_improve_on"></textarea>
            </div>
            <div class="form-group">
                <input type="checkbox" ng-model="submitFeedback.anonymous"/>
                <label class="control-label">Make my feedback anonymous to {{ submitFeedback.subject.full_name }}</label>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="button" ng-click="submitFeedback.submitFeedback(respondToFeedbackForm)">Submit Feedback</button>
                <button class="btn btn-default" type="button" ng-click="submitFeedback.cancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>