<div class="panel panel-default">
    <div class="panel-heading">
        <span ng-show="hasTodos === false">No one has asked you for feedback</span>
        <span ng-show="hasTodos === true">These people have asked you for feedback</span>
    </div>
    <div class="panel-body">
        <div class="list-group" ng-show="hasTodos === true">
            <a class="list-group-item clearfix" ng-repeat="request in todos" ng-href="#/submit/{{ request.id }}">
                <p class="list-group-item-text">{{ request.request_date | date: 'longDate' }}</p>
                <h4 class="list-group-item-heading pull-left">
                    {{ request.requester.full_name }}
                </h4>

                <div class="btn-group-sm pull-right">
                    <button class="btn btn-default" type="button" ng-click="decline(request)">
                        Decline
                    </button>
                </div>
            </a>
        </div>
        <a class="btn btn-primary" href="#/submit/unsolicited/">Submit unsolicited feedback</a>
    </div>
</div>