<div class="panel panel-default">
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span ng-show="hasTodos === false">No one has asked you for feedback</span>
                <span ng-show="hasTodos === true">These people have asked you for feedback</span>
            </div>
            <div class="list-group" ng-show="hasTodos === true">
                <a class="list-group-item" ng-repeat="item in todos" ng-href="#/todo/{{ item.id }}">
                    {{ item.requester.full_name }}
                </a>
            </div>
        </div>
        <a class="btn btn-default" href="#/submit/">Submit unsolicited feedback</a>
    </div>
</div>
