<div class="panel panel-default">
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-heading">Who would you like to give feedback to?</div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <ui-select
                                id="to"
                                ng-model="search.selectedEmployee"
                                reset-search-input="false"
                                theme="bootstrap"
                                style="width:50%"
                                >
                            <ui-select-match placeholder="Type an employee's name">
                                {{ $select.selected.full_name }}</ui-select-match>
                            <ui-select-choices
                                    repeat="employee in employees | propsFilter: {full_name: $select.search}">
                                <div ng-bind-html="employee.full_name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div ng-include="'/static/angular/partials/feedback/_feedback_questions.html'"></div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="button" ng-click="submit()">Submit</button>
                        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>