<div class="panel panel-default">
    <div class="panel-heading">Submit feedback</div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label for="to">Who would you like to give feedback to?</label>
                <ui-select
                        id="to"
                        ng-model="search.selectedEmployee"
                        reset-search-input="false"
                        theme="bootstrap"
                        style="width:50%"
                        >
                    <ui-select-match placeholder="Type an employee's name">
                        {{ $select.selected.full_name }}</ui-select-match>
                    <ui-select-choices
                            repeat="employee in employees | propsFilter: {full_name: $select.search}">
                        <div ng-bind-html="employee.full_name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group" ng-show="search.selectedEmployee">
                <label class="control-label">What does {{ search.selectedEmployee.full_name }} excel at?</label>
                <textarea class="form-control" cols="30" rows="5" ng-model="feedback.excels_at"></textarea>
            </div>
            <div class="form-group" ng-show="search.selectedEmployee">
                <label class="control-label">What could {{ search.selectedEmployee.full_name }} improve on?</label>
                <textarea class="form-control" cols="30" rows="5" ng-model="feedback.could_improve_on"></textarea>
            </div>
            <div class="form-group" ng-show="search.selectedEmployee">
                <button class="btn btn-primary" type="button" ng-click="submit()">Submit</button>
                <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>
