<form id="feedback-modal" novalidate="novalidate">
    <a class="close" ng-click="request.cancel()" data-dismiss="modal">&times;</a>
    <div class="form-group" ng-show="request.panel_index==0">
        <div class="modal-body">
            <panel>
                <h3 class="modal-title">Who would you like feedback from?</h3>
                <p style="margin:-10px 0 40px;color:#888;">You can select multiple people by clicking into the input after making each selection.</p>
                <ui-select
                        id="to"
                        multiple
                        ng-model="request.selectedReviewers"
                        reset-search-input="true"
                        theme="bootstrap"
                        >
                    <ui-select-match placeholder="Type an employee name">{{$item.full_name}}</ui-select-match>
                    <ui-select-choices
                            repeat="reviewer in request.potentialReviewers | filter: {full_name: $select.search}">
                        <div ng-bind-html="reviewer.full_name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </panel>    
        </div>    
        <div class="modal-footer">
            <button ng-show="request.panel_index>0" type="button" ng-click="request.stepBack()" class="btn btn-default">Back</button>
            <button type="button" ng-click="request.cancel()" class="btn btn-default pull-left">Cancel</button>
            <button ng-show="request.panel_index<3" ng-disabled="request.selectedReviewers.length==0" type="button" class="btn btn-success" ng-click="request.stepNext()">Next &rarr;</button>
        </div>
    </div>
    <div class="form-group" ng-show="request.panel_index==1"> 
        <div class="modal-body">
            <panel>
                <h3 class="modal-title">Here are the questions we will ask <span class="selected-requested-people" ng-repeat="reviewer in request.selectedReviewers">{{ reviewer.full_name }}<span ng-show="!$last">, </span></span></h3>
                <p>
                    <ol class="modal-question-list">
                        <li>In what areas are you awesome?</li>
                        <li>How can you be even more awesome?</li>
                    </ol>
                </p>
                <p>If you'd like you can add a few notes below on specific areas you'd like feedback on. (this is optional)</p>
                <textarea
                    ng-model="request.message"
                    msd-elastic
                    class="form-control edit-textarea">
                </textarea>
            </panel>
        </div> 
        <div class="modal-footer">
            <button ng-show="request.panel_index>0" type="button" ng-click="request.stepBack()" class="btn btn-default">Back</button>
            <button type="button" ng-click="request.cancel()" class="btn btn-default pull-left">Cancel</button>
            <button ng-show="request.panel_index<3" ng-disabled="request.selectedReviewers.length==0" type="button" class="btn btn-success" ng-click="request.stepNext()">Next &rarr;</button>
        </div>
    </div>    
    <div class="form-group" ng-show="request.panel_index==2">    
        <div class="modal-body">
            <panel>
                <h3 class="modal-title">Feedback Delivery</h3>
                <p class="centered" style="font-size: 14px;">Your current coach {{ request.currentCoach.full_name }} will deliver your feeback.</p>
                <span class="xxxlarge-headshot">
                    <img ng-src="{{request.currentCoach.avatar}}" alt="{{request.currentCoach.full_name}}" class="headshot-image">
                </span>
                <h3 class="centered"><strong>{{request.currentCoach.full_name}}</strong></h3>
                <p class="centered" style="margin-top:5px"><a ng-click="request.changeCoach()">Select a different coach</a></p>
            </panel>
        </div>
        <div class="modal-footer">
            <button ng-show="request.panel_index>0" type="button" ng-click="request.stepBack()" class="btn btn-default">Back</button>
            <button type="button" ng-click="request.cancel()" class="btn btn-default pull-left">Cancel</button>
            <button ng-show="request.panel_index<3" ng-disabled="request.selectedReviewers.length==0" type="button" class="btn btn-success" ng-click="request.sendFeedbackRequests()">Submit</button>
        </div>
    </div>   
</form>