<form novalidate="novalidate">
    <div>
        <button ng-click="request.cancel()" class="close">&times;</button>
        <div class="modal-body">

            <div class="form-group">
                <panel ng-show="request.panel_index==0">
                    <h3 class="modal-title">Who would you like feedback from?</h3>
                    <ui-select
                            id="to"
                            multiple
                            ng-model="request.selectedReviewers"
                            reset-search-input="true"
                            theme="bootstrap"
                            >
                        <ui-select-match placeholder="Type an employee name">{{$item.full_name}}</ui-select-match>
                        <ui-select-choices
                                repeat="reviewer in request.potentialReviewers | filter: {full_name: $select.search}">
                            <div ng-bind-html="reviewer.full_name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </panel>
                <panel ng-show="request.panel_index==1">
                    <h3 class="modal-title">Here are the questions we will ask</h3>
                    <span ng-repeat="reviewer in request.selectedReviewers">{{ reviewer.full_name }}<span ng-show="!$last">, </span></span>
                    <p>
                        <ol style="list-style-type:decimal;list-style-position: inside;">
                            <li>In what areas do you think I'm awesome?</li>
                            <li>How do you think I can be even more awesome?</li>
                        </ol>
                    </p>
                    <p>Feel free to add a few notes below on specific areas you'd like feedback on.</p>
                    <textarea
                        ng-model="request.message"
                        msd-elastic
                        class="form-control edit-textarea">
                    </textarea>
                </panel>
                <panel ng-show="request.panel_index==2">
                    <h3 class="modal-title">Feedback Delivery</h3>
                    <p class="centered" style="font-size: 14px;">Your current coach {{ request.currentCoach.full_name }} will deliver your feeback.</p>
                    <span class="xxxlarge-headshot">
                        <img ng-src="{{request.currentCoach.avatar}}" alt="{{request.currentCoach.full_name}}" class="headshot-image">
                    </span>
                    <h3 class="centered">{{request.currentCoach.full_name}}</h3>
                    <p class="centered"><a ng-click="request.changeCoach()">Select a different coach</a></p>
                </panel>
                <panel ng-show="request.panel_index==3">
                    <h3 class="modal-title">Submit</h3>
                    <p class="centered" style="font-size: 14px;">You'll receive your feedback from coach {{ request.currentCoach.full_name }} once your requested Fools have responded.</p>
                    <p class="centered"><button type="button" ng-click="request.sendFeedbackRequests()" class="btn btn-success">Submit</button></p>
                </panel>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-show="request.panel_index>0" type="button" ng-click="request.stepBack()" class="btn btn-default">Back</button>
            <button ng-show="request.panel_index<3" type="button" ng-click="request.cancel()" class="btn btn-default pull-left">Cancel</button>
            <button ng-show="request.panel_index<3" ng-disabled="request.selectedReviewers.length==0" type="button" class="btn btn-info" ng-click="request.stepNext()">Next</button>

        </div>
    </div>
</form>