<div 
    tabindex="-1" 
    role="dialog" 
    class="modal send-request-modal fade zoom"
    data-backdrop="static"  
    data-keyboard="false">

    <div class="modal-dialog">
        <div class="modal-content">
            <form id="feedback-modal" novalidate="novalidate">
                <a ng-show="submitFeedback.subject" class="close" href="#/feedback" data-dismiss="modal">&times;</a>
                <div class="modal-body">
                    <h3 class="modal-title">Who do you want to give feedback to?</h3>
                    <p style="margin:-10px 0 30px;color:#888;">Select someone you work with on a regular basis, or who you've worked with recently.</p>
                    <ui-select
                        id="to"
                        ng-model="submitFeedback.subject"
                        reset-search-input="false"
                        theme="selectize"
                        style="max-width:300px;"
                        >
                        <ui-select-match placeholder="Type an employee's name">
                            {{ $select.selected.full_name }}
                        </ui-select-match>
                        <ui-select-choices repeat="employee in submitFeedback.employees | filter: {full_name: $select.search} | orderBy:'full_name'">                        
                            <span class="tiny-headshot">
                                <img ng-src="{{ employee.avatar_small }}" alt="{{ employee.full_name }}'s avatar" />
                            </span> 
                            <div class="names" ng-bind-html="employee.full_name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-show="!submitFeedback.subject" ng-click="submitFeedback.goTo('feedback')" class="btn btn-light pull-left">Cancel</button>
                    <button type="button" ng-show="submitFeedback.subject" data-dismiss="modal"  class="btn btn-light pull-left">Cancel</button>
                    <button ng-disabled="!submitFeedback.subject" type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-pencil"></i> Give Feedback</button>
                </div>
            </form>  
        </div>
    </div>                  
</div>
<script type="text/javascript">
    /* Auto luanch the modal */
    $(function() {
        $('.send-request-modal').delay(750).queue(function(){ $(this).modal('show').dequeue(); });
    });
</script>