<form name="changeDevelopmentLeadForm" novalidate="novalidate">
    <div>
        <div class="modal-body">
            <h3 class="modal-title">Share this with...</h3>
            <div class="row">
                <div class="col-lg-12 form-group">
                    <p style="margin:-10px 0 30px;color:#888;">Pick the appropriate Team lead to share this with.</p>
                    <ui-select
                        id="developmentlead"
                        autofocus
                        ng-model="changeDevelopmentLead.newDevelopmentLead"
                        reset-search-input="true"
                        theme="selectize"
                        style="max-width:300px">

                        <ui-select-match placeholder="Type an employee name">{{$select.selected.full_name}}</ui-select-match>
                        <ui-select-choices
                            repeat="employee in changeDevelopmentLead.employees | filter: { full_name: $select.search } | orderBy: 'full_name'">
                            <div ng-bind-html="employee.full_name"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="changeDevelopmentLead.cancel()" class="btn btn-light pull-left">Cancel</button>
            <button type="button" class="btn btn-success" ng-click="changeDevelopmentLead.save(changeDevelopmentLeadForm)">Pick</button>
        </div>
    </div>
</form>